@{
    ViewData["Title"] = "PoblaciónEscuelaNaval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresnaPoblacionEscuelaNaval/Individual" style="text-decoration:none;">Población Escuela Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGenero" name="txtGenero" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimiento" name="txtFechaNacimiento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Talla" class="col-3 col-form-label">Talla</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTalla" name="txtTalla" placeholder="Talla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeso" name="txtPeso" placeholder="Peso" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimiento" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimiento" name="cbDepartamentoNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimiento" name="cbProvinciaNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimiento" name="cbDistritoNacimiento"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDomicilio" class="col-3 col-form-label"> Lugar Domicilio Actual </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoDomicilio" name="cbDepartamentoDomicilio"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaDomicilio" name="cbProvinciaDomicilio"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoDomicilio" name="cbDistritoDomicilio"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha de Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BecadoESNA" class="col-3 col-form-label">Becado a la ESNA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBecadoESNA" name="txtBecadoESNA" placeholder="Becado a la ESNA" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarProcedencia" class="col-3 col-form-label"> Lugar de Procedencia del Becado </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoProcedencia" name="cbDepartamentoProcedencia"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaProcedencia" name="cbProvinciaProcedencia"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoProcedencia" name="cbDistritoProcedencia"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioAcademico" class="col-3 col-form-label"><a href="~/AñoAcademicoEsna">Año académico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAnioAcademico" name="cbAnioAcademico"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SemestreAcademico" class="col-3 col-form-label">Semestre Académico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSemestreAcademico" name="txtSemestreAcademico" placeholder="Semestre Académico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRASEstudiante" class="col-3 col-form-label">Índice de Rendimiento Académico de Semestre (IRAS)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRASEstudiante" name="txtIRASEstudiante" placeholder="Índice de Rendimiento Académico de Semestre (IRAS)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaCaracterM" class="col-3 col-form-label">Nota Carácter Militar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaCaracterM" name="txtNotaCaracterM" placeholder="Nota Carácter Militar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaFormacionF" class="col-3 col-form-label">Nota Formación Física</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaFormacionF" name="txtNotaFormacionF" placeholder="Nota Formación Física" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaConducta" class="col-3 col-form-label">Nota Conducta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaConducta" name="txtNotaConducta" placeholder="Nota Conducta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRGS" class="col-3 col-form-label">Índice de Rendimiento General de Semestre (IRGS)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRGS" name="txtIRGS" placeholder="Índice de Rendimiento General de Semestre (IRGS)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRGS" class="col-3 col-form-label">ndice de Rendimiento General Acumulado de Semestre (IRGA)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRGS" name="txtIRGS" placeholder="ndice de Rendimiento General Acumulado de Semestre (IRGA)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrdenMerito" class="col-3 col-form-label">Orden Mérito</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrdenMerito" name="txtOrdenMerito" placeholder="Orden Mérito" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoTSemestre" class="col-3 col-form-label"><a href="~/ResultadoTerminoSemestre">Resultado al Término del Semestre</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultadoTSemestre" name="cbResultadoTSemestre"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CausasBaja" class="col-3 col-form-label"><a href="~/CausalBaja">Causas de Baja</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCausasBaja" name="cbCausasBaja"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAdmisionI" class="col-3 col-form-label"><a href="~/TipoAdmisionIngreso">Concurso de Admisión por el que Ingreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAdmisionI" name="cbTipoAdmisionI"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresnaPoblacionEscuelaNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGeneroe" name="txtGeneroe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimientoe" name="txtFechaNacimientoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Talla" class="col-3 col-form-label">Talla</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTallae" name="txtTallae" placeholder="Talla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPesoe" name="txtPesoe" placeholder="Peso" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimiento" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimientoe" name="cbDepartamentoNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimientoe" name="cbProvinciaNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimientoe" name="cbDistritoNacimientoe"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDomicilio" class="col-3 col-form-label"> Lugar Domicilio Actual </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoDomicilioe" name="cbDepartamentoDomicilioe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaDomicilioe" name="cbProvinciaDomicilioe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoDomicilioe" name="cbDistritoDomicilioe"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha de Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BecadoESNA" class="col-3 col-form-label">Becado a la ESNA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBecadoESNAe" name="txtBecadoESNAe" placeholder="Becado a la ESNA" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarProcedencia" class="col-3 col-form-label"> Lugar de Procedencia del Becado </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoProcedenciae" name="cbDepartamentoProcedenciae"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaProcedenciae" name="cbProvinciaProcedenciae"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoProcedenciae" name="cbDistritoProcedenciae"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioAcademico" class="col-3 col-form-label"><a href="~/AñoAcademicoEsna">Año académico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAnioAcademicoe" name="cbAnioAcademicoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SemestreAcademico" class="col-3 col-form-label">Semestre Académico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSemestreAcademicoe" name="txtSemestreAcademicoe" placeholder="Semestre Académico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRASEstudiante" class="col-3 col-form-label">Índice de Rendimiento Académico de Semestre (IRAS)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRASEstudiantee" name="txtIRASEstudiantee" placeholder="Índice de Rendimiento Académico de Semestre (IRAS)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaCaracterM" class="col-3 col-form-label">Nota Carácter Militar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaCaracterMe" name="txtNotaCaracterMe" placeholder="Nota Carácter Militar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaFormacionF" class="col-3 col-form-label">Nota Formación Física</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaFormacionFe" name="txtNotaFormacionFe" placeholder="Nota Formación Física" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaConducta" class="col-3 col-form-label">Nota Conducta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNotaConductae" name="txtNotaConductae" placeholder="Nota Conducta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRGS" class="col-3 col-form-label">Índice de Rendimiento General de Semestre (IRGS)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRGSe" name="txtIRGSe" placeholder="Índice de Rendimiento General de Semestre (IRGS)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IRGS" class="col-3 col-form-label">ndice de Rendimiento General Acumulado de Semestre (IRGA)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIRGSe" name="txtIRGSe" placeholder="ndice de Rendimiento General Acumulado de Semestre (IRGA)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrdenMerito" class="col-3 col-form-label">Orden Mérito</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrdenMeritoe" name="txtOrdenMeritoe" placeholder="Orden Mérito" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoTSemestre" class="col-3 col-form-label"><a href="~/ResultadoTerminoSemestre">Resultado al Término del Semestre</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultadoTSemestree" name="cbResultadoTSemestree"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CausasBaja" class="col-3 col-form-label"><a href="~/CausalBaja">Causas de Baja</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCausasBajae" name="cbCausasBajae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAdmisionI" class="col-3 col-form-label"><a href="~/TipoAdmisionIngreso">Concurso de Admisión por el que Ingreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAdmisionIe" name="cbTipoAdmisionIe"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresnaPoblacionEscuelaNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="/DiresnaPoblacionEscuelaNaval" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresnaPoblacionEscuelaNaval()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDiresnaPoblacionEscuelaNaval" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Género</th>
                <th>Fecha Nacimiento</th>
                <th>Talla</th>
                <th>Peso</th>
                <th>Lugar de Nacimiento</th>
                <th>Lugar Domicilio Actual</th>
                <th>Fecha de Ingreso</th>
                <th>Becado a la ESNA</th>
                <th>Lugar de Procedencia del Becado</th>
                <th>Año académico</th>
                <th>Semestre Académico</th>
                <th>Índice de Rendimiento Académico (IRAS)</th>
                <th>Nota Carácter Militar</th>
                <th>Nota Formación Física</th>
                <th>Nota Conducta</th>
                <th>Índice de Rendimiento General (IRGS)</th>
                <th>ndice de Rendimiento General Acumulado (IRGA)</th>
                <th>Orden Mérito</th>
                <th>Resultado al Término del Semestre</th>
                <th>Causas de Baja</th>
                <th>Concurso de Admisión por el que Ingreso</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresna/diresna-poblacionescuelanaval.js" asp-append-version="true"></script>
}
