@{
    ViewData["Title"] = "Kilometros Recorridos por Unidades Terrestres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardKilometroRecorridoUnidadTerrestre/Individual" style="text-decoration:none;">Kilometros Recorridos por Unidades Terrestres</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania" Capitania>Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoMovil" class="col-3 col-form-label"><a href="~/TipoVehiculoMovil">Unidad Movil Terrestre </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoVehiculoMovil" name="cbTipoVehiculoMovil"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculo" name="cbMarcaVehiculo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMovilTerrestre" class="col-3 col-form-label"><a href="~/UnidadMovilTerrestre">NRO PLACA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMovilTerrestre" name="cbUnidadMovilTerrestre"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioCaptura" class="col-3 col-form-label">Km Recorridos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Km Recorridos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreNaveExtranjera" class="col-3 col-form-label">Combustible Consumidos(Galones)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNombreNaveExtranjera" name="txtNombreNaveExtranjera" placeholder="Combustible Consumidos(Galones)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtMatriculaNaveExtranjera" name="txtMatriculaNaveExtranjera" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtPaisUbigeo" name="txtPaisUbigeo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardKilometroRecorridoUnidadTerrestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoMovil" class="col-3 col-form-label"><a href="~/TipoVehiculoMovil">Unidad Movil Terrestre </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoVehiculoMovile" name="cbTipoVehiculoMovile"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculoe" name="cbMarcaVehiculoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMovilTerrestre" class="col-3 col-form-label"><a href="~/UnidadMovilTerrestre">NRO PLACA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMovilTerrestree" name="cbUnidadMovilTerrestree"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioCaptura" class="col-3 col-form-label">Km Recorridos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioCapturae" name="txtAnioCapturae" placeholder="Km Recorridos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreNaveExtranjera" class="col-3 col-form-label">Combustible Consumidos(Galones)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNombreNaveExtranjerae" name="txtNombreNaveExtranjerae" placeholder="Combustible Consumidos(Galones)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtMatriculaNaveExtranjerae" name="txtMatriculaNaveExtranjerae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtPaisUbigeoe" name="txtPaisUbigeoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardKilometroRecorridoUnidadTerrestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardKilometroRecorridoUnidadTerrestre()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardKilometroRecorridoUnidadTerrestre">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardKilometroRecorridoUnidadTerrestre/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardKilometroRecorridoUnidadTerrestre" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania de Puerto</th>
                <th>Unidad Movil Terrestre </th>
                <th>Marca</th>
                <th>NRO PLACA</th>
                <th>Km Recorridos</th>
                <th>Combustible Consumidos(Galones)</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-kilometrorecorridouniterr.js" asp-append-version="true"></script>
}
