@{
    ViewData["Title"] = "Banda de Músicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComesclaBandaMusico/Individual" style="text-decoration:none;">Banda de Músicos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoComision" class="col-3 col-form-label"><a href="~/TipoComision">Tipo de Comisión</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoComision" name="cbTipoComision"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label"><a href="~/Evento">Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEvento" name="cbEvento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SolicitudDocumentoReferencia" class="col-3 col-form-label">Solicitud/Documento De Referencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitudDocumentoReferencia" name="txtSolicitudDocumentoReferencia" placeholder="Solicitud/Documento De Referencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionSolicitante" class="col-3 col-form-label">Institución/Dependencia Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInstitucionSolicitante" name="txtInstitucionSolicitante" placeholder="Institución/Dependencia Solicitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoComisionado" class="col-3 col-form-label"><a href="~/GrupoComisionado">Grupo Comisionado </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGrupoComisionado" name="cbGrupoComisionado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VestimentaUniforme" class="col-3 col-form-label">Vestimenta/Uniforme A Usar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVestimentaUniforme" name="txtVestimentaUniforme" placeholder="Vestimenta/Uniforme A Usar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreEvento" class="col-3 col-form-label">Nombre Del Evento A Cubrir</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreEvento" name="txtNombreEvento" placeholder="Nombre Del Evento A Cubrir" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugar" name="txtLugar" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraSalida" class="col-3 col-form-label">Fecha Y Hora De Salida</label>
                    <div class="col-md-9">
                        <input type="datetime" class="form-control form-control-sm" id="txtFechaHoraSalida" name="txtFechaHoraSalida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraInicio" class="col-3 col-form-label">Fecha Y Hora De Inicio</label>
                    <div class="col-md-9">
                        <input type="datetime" class="form-control form-control-sm" id="txtFechaHoraInicio" name="txtFechaHoraInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraTermino" class="col-3 col-form-label">Fecha Y Hora De Termino</label>
                    <div class="col-md-9">
                        <input type="datetime" class="form-control form-control-sm" id="txtFechaHoraTermino" name="txtFechaHoraTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RequerimientoMovilidad" class="col-3 col-form-label">Requerimiento De Movilidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtRequerimientoMovilidad" name="txtRequerimientoMovilidad" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Novedades/Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Novedades/Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesclaBandaMusico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoComision" class="col-3 col-form-label"><a href="~/TipoComision">Tipo de Comisión</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoComisione" name="cbTipoComisione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label"><a href="~/Evento">Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEventoe" name="cbEventoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SolicitudDocumentoReferencia" class="col-3 col-form-label">Solicitud/Documento De Referencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitudDocumentoReferenciae" name="txtSolicitudDocumentoReferenciae" placeholder="Solicitud/Documento De Referencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionSolicitante" class="col-3 col-form-label">Institución/Dependencia Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInstitucionSolicitantee" name="txtInstitucionSolicitantee" placeholder="Institución/Dependencia Solicitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoComisionado" class="col-3 col-form-label"><a href="~/GrupoComisionado">Grupo Comisionado </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGrupoComisionadoe" name="cbGrupoComisionadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VestimentaUniforme" class="col-3 col-form-label">Vestimenta/Uniforme A Usar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVestimentaUniformee" name="txtVestimentaUniformee" placeholder="Vestimenta/Uniforme A Usar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreEvento" class="col-3 col-form-label">Nombre Del Evento A Cubrir</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreEventoe" name="txtNombreEventoe" placeholder="Nombre Del Evento A Cubrir" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugare" name="txtLugare" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraSalida" class="col-3 col-form-label">Fecha Y Hora De Salida</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraSalidae" name="txtFechaHoraSalidae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraInicio" class="col-3 col-form-label">Fecha Y Hora De Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraInicioe" name="txtFechaHoraInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraTermino" class="col-3 col-form-label">Fecha Y Hora De Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraTerminoe" name="txtFechaHoraTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RequerimientoMovilidad" class="col-3 col-form-label">Requerimiento De Movilidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtRequerimientoMovilidade" name="txtRequerimientoMovilidade" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Novedades/Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Novedades/Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesclaBandaMusico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComesclaBandaMusico()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComesclaBandaMusico">Masiva</a>
            <a class="dropdown-item" href="~/ComesclaBandaMusico/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComesclaBandaMusico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo deComisión</th>
                <th>Evento</th>
                <th>Solicitud/Documento De Referencia</th>
                <th>Institución/Dependencia Solicitante</th>
                <th>Grupo Comisionado </th>
                <th>Vestimenta/Uniforme A Usar</th>
                <th>Nombre Del Evento A Cubrir</th>
                <th>Lugar</th>
                <th>Fecha Y Hora De Salida</th>
                <th>Fecha Y Hora De Inicio</th>
                <th>Fecha Y Hora De Termino</th>
                <th>Requerimiento De Movilidad</th>
                <th>Novedades/Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comescla/comescla-bandamusicocomescla.js" asp-append-version="true"></script>
}
