@{
    ViewData["Title"] = "Servicio Movilidad Comestre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComestreServicioMovilidadComestre/Individual" style="text-decoration:none;">Servicio de Apoyo con Movilidades</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaIni" class="col-3 col-form-label">Fecha de Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIni" name="txtFechaIni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha de Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTer" name="txtFechaTer" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Clase" class="col-3 col-form-label"><a href="~/ClaseVehiculo">Clase de Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClase" name="cbClase"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Marca" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarca" name="cbMarca"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Carroceria" class="col-3 col-form-label">Carroceria</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCarroceria" name="txtCarroceria" placeholder="Carroceria" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Placa" class="col-3 col-form-label">Placa de Rodaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlaca" name="txtPlaca" placeholder="Placa de Rodaje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Estado" class="col-3 col-form-label">Estado de Operatividad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstado" name="txtEstado" data-placeholder="Seleccione ...">
                            <option value="1">Operativo</option>
                            <option value="2">Operativo con Limitaciones</option>
                            <option value="3">Inoperativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreServicioMovilidadComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="" class="col-3 col-form-label"><a href="~/"></a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbe" name="cbe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIni" class="col-3 col-form-label">Fecha de Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInie" name="txtFechaInie" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha de Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTere" name="txtFechaTere" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Clase" class="col-3 col-form-label"><a href="~/ClaseVehiculo">Clase de Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClasee" name="cbClasee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Marca" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcae" name="cbMarcae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Carroceria" class="col-3 col-form-label">Carroceria</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCarroceriae" name="txtCarroceriae" placeholder="Carroceria" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Placa" class="col-3 col-form-label">Placa de Rodaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlacae" name="txtPlacae" placeholder="Placa de Rodaje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Estado" class="col-3 col-form-label">Estado de Operatividad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoe" name="txtEstadoe" data-placeholder="Seleccione ...">
                            <option value="1">Operativo</option>
                            <option value="2">Operativo con Limitaciones</option>
                            <option value="3">Inoperativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreServicioMovilidadComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComestreServicioMovilidadComestre()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComestreServicioMovilidadComestre">Masiva</a>
            <a class="dropdown-item" href="~/ComestreServicioMovilidadComestre/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComestreServicioMovilidadComestre" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Termino</th>
                <th>Dependencia</th>
                <th>Clase de Vehiculo</th>
                <th>Marca</th>
                <th>Carroceria</th>
                <th>Placa de Rodaje</th>
                <th>Estado de Operatividad</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comestre/comestre-serviciomovilidadcomestre.js" asp-append-version="true"></script>
}
