@{
    ViewData["Title"] = "Asignación Consumo Combustible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComfasAsignacionConsumoCombustible/Individual" style="text-decoration:none;">Asignación Consumo Combustible</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioAsignacion" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioAsignacion" name="txtAnioAsignacion" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Asignado A Unidad O Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadMaximaAlmacen" class="col-3 col-form-label">Cap. Máx. Almac</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCapacidadMaximaAlmacen" name="txtCapacidadMaximaAlmacen" placeholder="Cap. Máx. Almac" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Asignado" class="col-3 col-form-label">Asignado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAsignado" name="txtAsignado" placeholder="Asignado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoTotalAnualPuerto" class="col-3 col-form-label">Consumo Total Anual En Puerto</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumoTotalAnualPuerto" name="txtConsumoTotalAnualPuerto" placeholder="Consumo Total Anual En Puerto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoTotalAnualNavegacion" class="col-3 col-form-label">Consumo Total Anual En Navegación</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumoTotalAnualNavegacion" name="txtConsumoTotalAnualNavegacion" placeholder="Consumo Total Anual En Navegación" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasAsignacionConsumoCombustible">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioAsignacion" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioAsignacione" name="txtAnioAsignacione" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Asignado A Unidad O Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadMaximaAlmacen" class="col-3 col-form-label">Cap. Máx. Almac</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCapacidadMaximaAlmacene" name="txtCapacidadMaximaAlmacene" placeholder="Cap. Máx. Almac" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Asignado" class="col-3 col-form-label">Asignado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAsignadoe" name="txtAsignadoe" placeholder="Asignado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoTotalAnualPuerto" class="col-3 col-form-label">Consumo Total Anual En Puerto</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumoTotalAnualPuertoe" name="txtConsumoTotalAnualPuertoe" placeholder="Consumo Total Anual En Puerto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoTotalAnualNavegacion" class="col-3 col-form-label">Consumo Total Anual En Navegación</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumoTotalAnualNavegacione" name="txtConsumoTotalAnualNavegacione" placeholder="Consumo Total Anual En Navegación" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasAsignacionConsumoCombustible">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasAsignacionConsumoCombustible()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComfasAsignacionConsumoCombustible">Masiva</a>
            <a class="dropdown-item" href="~/ComfasAsignacionConsumoCombustible/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasAsignacionConsumoCombustible" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Unidad Asignado A Unidad O Dependencia</th>
                <th>Cap. Máx. Almac</th>
                <th>Asignado</th>
                <th>Consumo Total Anual En Puerto</th>
                <th>Consumo Total Anual En Navegación</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfas/comfas-asignacionconsumocombustible.js" asp-append-version="true"></script>
}
