@{
    ViewData["Title"] = "Servicio Funerario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/BienestarServicioFunerario/Individual" style="text-decoration:none;">Servicio Funerario</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaServicioLiturgico" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaServicioLiturgico" name="txtFechaServicioLiturgico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitante" name="txtDNISolicitante" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalSolicitante" class="col-3 col-form-label"><a href="~/PersonalSolicitante">Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalSolicitante" name="cbPersonalSolicitante"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionSolicitante" class="col-3 col-form-label"><a href="~/CondicionSolicitante">Condición del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionSolicitante" name="cbCondicionSolicitante"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalBeneficiado" class="col-3 col-form-label"><a href="~/PersonalBeneficiado">Beneficiario con la Atención</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalBeneficiado" name="cbPersonalBeneficiado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CategoriaPago" class="col-3 col-form-label"><a href="~/CategoriaPago">Categoría de Pago</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCategoriaPago" name="cbCategoriaPago"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioTramiteSepelion" class="col-3 col-form-label">Servicio Trámite Sepelio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioTramiteSepelion" name="txtServicioTramiteSepelion" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerAtaud" class="col-3 col-form-label">Servicio Alquiler de Ataúd</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerAtaud" name="txtServicioAlquilerAtaud" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioVentaAtaud" class="col-3 col-form-label">Servicio Venta de Ataúd</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioVentaAtaud" name="txtServicioVentaAtaud" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioCremacion" class="col-3 col-form-label">Servicio Cremación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioCremacion" name="txtServicioCremacion" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioSalonVelatorio" class="col-3 col-form-label">Servicio Salón Velatorio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioSalonVelatorio" name="txtServicioSalonVelatorio" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioCapillaArdiente" class="col-3 col-form-label">Servicio Capilla Ardiente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioCapillaArdiente" name="txtServicioCapillaArdiente" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroza" class="col-3 col-form-label">Servicio Alquiler Carroza</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarroza" name="txtServicioAlquilerCarroza" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroServicio" class="col-3 col-form-label">Servicio Alquiler Carro de Servicio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarroServicio" name="txtServicioAlquilerCarroServicio" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroFlores" class="col-3 col-form-label">Servicio Alquiler Carro de Flores</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarroFlores" name="txtServicioAlquilerCarroFlores" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoTotalServicio" class="col-3 col-form-label">Monto Total por Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoTotalServicio" name="txtMontoTotalServicio" placeholder="Monto Total por Servicios" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarServicioFunerario">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaServicioLiturgico" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaServicioLiturgicoe" name="txtFechaServicioLiturgicoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitantee" name="txtDNISolicitantee" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalSolicitante" class="col-3 col-form-label"><a href="~/PersonalSolicitante">Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalSolicitantee" name="cbPersonalSolicitantee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionSolicitante" class="col-3 col-form-label"><a href="~/CondicionSolicitante">Condición del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionSolicitantee" name="cbCondicionSolicitantee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalBeneficiado" class="col-3 col-form-label"><a href="~/PersonalBeneficiado">Beneficiario con la Atención</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalBeneficiadoe" name="cbPersonalBeneficiadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CategoriaPago" class="col-3 col-form-label"><a href="~/CategoriaPago">Categoría de Pago</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCategoriaPagoe" name="cbCategoriaPagoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioTramiteSepelion" class="col-3 col-form-label">Servicio Trámite Sepelio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioTramiteSepelione" name="txtServicioTramiteSepelione" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerAtaud" class="col-3 col-form-label">Servicio Alquiler de Ataúd</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerAtaude" name="txtServicioAlquilerAtaude" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioVentaAtaud" class="col-3 col-form-label">Servicio Venta de Ataúd</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioVentaAtaude" name="txtServicioVentaAtaude" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioCremacion" class="col-3 col-form-label">Servicio Cremación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioCremacione" name="txtServicioCremacione" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioSalonVelatorio" class="col-3 col-form-label">Servicio Salón Velatorio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioSalonVelatorioe" name="txtServicioSalonVelatorioe" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioCapillaArdiente" class="col-3 col-form-label">Servicio Capilla Ardiente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioCapillaArdientee" name="txtServicioCapillaArdientee" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroza" class="col-3 col-form-label">Servicio Alquiler Carroza</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarrozae" name="txtServicioAlquilerCarrozae" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroServicio" class="col-3 col-form-label">Servicio Alquiler Carro de Servicio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarroServicioe" name="txtServicioAlquilerCarroServicioe" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioAlquilerCarroFlores" class="col-3 col-form-label">Servicio Alquiler Carro de Flores</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioAlquilerCarroFlorese" name="txtServicioAlquilerCarroFlorese" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoTotalServicio" class="col-3 col-form-label">Monto Total por Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoTotalServicioe" name="txtMontoTotalServicioe" placeholder="Monto Total por Servicios" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarServicioFunerario">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarServicioFunerario" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarServicioFunerario()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblBienestarServicioFunerario" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha</th>
                <th>DNI</th>
                <th>Solicitante</th>
                <th>Condición del Personal</th>
                <th>Beneficiario con la Atención</th>
                <th>Categoría de Pago</th>
                <th>Servicio Trámite Sepelio</th>
                <th>Servicio Alquiler de Ataúd</th>
                <th>Servicio Venta de Ataúd</th>
                <th>Servicio Cremación</th>
                <th>Servicio Salón Velatorio</th>
                <th>Servicio Capilla Ardiente</th>
                <th>Servicio Alquiler Carroza</th>
                <th>Servicio Alquiler Carro de Servicio</th>
                <th>Servicio Alquiler Carro de Flores</th>
                <th>Monto Total por Servicios</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-serviciofunerario.js" asp-append-version="true"></script>
}
