@{
    ViewData["Title"] = "Naves Extranjeras Capturadas en Ámbito Marítimo, FluviaL, Lacustre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardNaveExtranjeraCapturada/Individual" style="text-decoration:none;">Naves Extranjeras Capturadas en Ámbito Marítimo, FluviaL, Lacustre</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label"> Fecha De Captura  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraCaptura" name="txtHoraCaptura" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCaptura" name="txtDiaCaptura" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesId" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesId" name="cbMesId"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveExtranjera" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveExtranjera" name="txtNombreNaveExtranjera" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveExtranjera" name="txtMatriculaNaveExtranjera" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre de Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito de Intervención</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="InfraccionesCometidas " class="col-3 col-form-label"> Infracciones Cometidas </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TenorInfracciones" class="col-3 col-form-label">Tenor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtTenorInfracciones" name="txtTenorInfracciones" placeholder="Tenor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ArticuloInfraccion" class="col-3 col-form-label">Artículo</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtArticuloInfraccion" name="txtArticuloInfraccion" placeholder="Artículo" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProcesoAdministrativo" class="col-3 col-form-label">Proceso Administrativo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcesoAdministrativo" name="txtProcesoAdministrativo" data-placeholder="Seleccione ...">
                            <option value="1">R/D</option>
                            <option value="2">R/C</option>
                            <option value="3">SUMARIA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones/Bandera</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones/Bandera" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNaveExtranjeraCapturada">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label"> Fecha De Captura  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraCapturae" name="txtHoraCapturae" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCapturae" name="txtDiaCapturae" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesId" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesIde" name="cbMesIde"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCapturae" name="txtAnioCapturae" placeholder="Año" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveExtranjera" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveExtranjerae" name="txtNombreNaveExtranjerae" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveExtranjerae" name="txtMatriculaNaveExtranjerae" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre de Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito de Intervención</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAmbitoNavee" name="cbAmbitoNavee"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="InfraccionesCometidas " class="col-3 col-form-label"> Infracciones Cometidas </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TenorInfracciones" class="col-3 col-form-label">Tenor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtTenorInfraccionese" name="txtTenorInfraccionese" placeholder="Tenor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ArticuloInfraccion" class="col-3 col-form-label">Artículo</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtArticuloInfraccione" name="txtArticuloInfraccione" placeholder="Artículo" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="ProcesoAdministrativo" class="col-3 col-form-label">Proceso Administrativo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcesoAdministrativoe" name="txtProcesoAdministrativoe" data-placeholder="Seleccione ...">
                            <option value="1">R/D</option>
                            <option value="2">R/C</option>
                            <option value="3">SUMARIA</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones/Bandera</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones/Bandera" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNaveExtranjeraCapturada">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardNaveExtranjeraCapturada()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardNaveExtranjeraCapturada">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardNaveExtranjeraCapturada/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardNaveExtranjeraCapturada" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania de Puerto</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Nombre</th>
                <th>Matricula</th>
                <th>Bandera</th>
                <th>Tipo</th>
                <th>Nombre de Unidad</th>
                <th>Ambito de Intervención</th>
                <th>Tenor</th>
                <th>Artículo</th>
                <th>Proceso Administrativo</th>
                <th>Observaciones/Bandera</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-naveextranjeracapturada.js" asp-append-version="true"></script>
}
