@{
    ViewData["Title"] = "Zarpe de Retorno de Naves Peruanas Capturadas en Aguas Internacionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardZarpeRetornoNavePeruana/Individual" style="text-decoration:none;">Zarpe de Retorno de Naves Peruanas Capturadas en Aguas Internacionales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Numero" class="col-3 col-form-label">Número</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumero" name="txtNumero" placeholder="Número" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="FechaZarpe" class="col-3 col-form-label">Fecha Del Zarpe</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraCaptura" name="txtHoraCaptura" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCaptura" name="txtDiaCaptura" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNave" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNave" name="txtNombreNave" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNave" name="txtMatriculaNave" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="AutoridadEmiteZarpe" class="col-3 col-form-label"><a href="~/AutoridadEmiteZarpe">Autoridad que Emite el Zarpe</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAutoridadEmiteZarpe" name="cbAutoridadEmiteZarpe"></select>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="FechaArribo" class="col-3 col-form-label">Fecha De Arribo</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraArribo" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraArribo" name="txtHoraArribo" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaArribo" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaArribo" name="txtDiaArribo" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesArribo" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesArribo" name="cbMesArribo"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioArribo" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioArribo" name="txtAnioArribo" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="PuertoDeArribo " class="col-3 col-form-label">Puerto De Arribo </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPeru" name="cbPuertoPeru"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="JefaturaCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jurisdicción(Capitanias)</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbJefaturaCapitania" name="cbJefaturaCapitania"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardZarpeRetornoNavePeruana">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Numero" class="col-3 col-form-label">Número</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroe" name="txtNumeroe" placeholder="Número" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="FechaZarpe" class="col-3 col-form-label">Fecha Del Zarpe</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraCapturae" name="txtHoraCapturae" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCapturae" name="txtDiaCapturae" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCapturae" name="txtAnioCapturae" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNave" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNavee" name="txtNombreNavee" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNavee" name="txtMatriculaNavee" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="AutoridadEmiteZarpe" class="col-3 col-form-label"><a href="~/AutoridadEmiteZarpe">Autoridad que Emite el Zarpe</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAutoridadEmiteZarpee" name="cbAutoridadEmiteZarpee"></select>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="FechaArribo" class="col-3 col-form-label">Fecha De Arribo</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraArribo" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraArriboe" name="txtHoraArriboe" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaArribo" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaArriboe" name="txtDiaArriboe" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesArribo" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesArriboe" name="cbMesArriboe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioArribo" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioArriboe" name="txtAnioArriboe" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header">
                        <label for="PuertoDeArribo " class="col-3 col-form-label">Puerto De Arribo </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPerue" name="cbPuertoPerue"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="JefaturaCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jurisdicción(Capitanias)</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbJefaturaCapitaniae" name="cbJefaturaCapitaniae"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardZarpeRetornoNavePeruana">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardZarpeRetornoNavePeruana()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardZarpeRetornoNavePeruana">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardZarpeRetornoNavePeruana/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardZarpeRetornoNavePeruana" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>JNumero</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Nombre</th>
                <th>Matricula</th>
                <th>Tipo</th>
                <th>Autoridad que Emite el Zarpe</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Puerto</th>
                <th>Jurisdicción(Capitanias)</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-zarperetornonaveperuana.js" asp-append-version="true"></script>
}
