@{
    ViewData["Title"] = "LicenciaArmasMenores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DialiLicArmasMenoresMilitar/Individual" style="text-decoration:none;">Certificados o Licencias de Posesión y uso de Armas Menores Otorgadas</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CodigoD" class="col-3 col-form-label">Código Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoD" name="txtCodigoD" placeholder="Código Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Solicitud" class="col-3 col-form-label">Solicitud Documento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSolicitud" name="txtSolicitud">
                            <option value="Solicitud via comando FUT (Personal actividad)">Solicitud vía comando FUT (Personal actividad)</option>
                            <option value="Solicitud via personal FUT (Personal disponibilidad retiro)">Solicitud vía personal FUT ( Personal disponibilidad retiro)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaS" class="col-3 col-form-label">Fecha Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaS" name="txtFechaS" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TramiteA" class="col-3 col-form-label"><a href="~/TramiteArmaMenor" style="text-decoration:none;">Trámite</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTramiteA" name="cbTramiteA"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionP" class="col-3 col-form-label"><a href="~/SituacionPersonalSolicitante" style="text-decoration:none;">Situacion Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionP" name="cbSituacionP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionAprov" class="col-3 col-form-label">Condicion Aprobrobación Licencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionAprov" name="txtCondicionAprov">
                            <option value="Evaluacion previa">Evaluación previa</option>
                            <option value="Silencio positivo">Silencio positivo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaO" class="col-3 col-form-label">Fecha Otorgamiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaO" name="txtFechaO"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nlicencia" class="col-3 col-form-label">Nro Licencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNlicencia" name="txtNlicencia" placeholder="Nro Licencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DialiLicArmasMenoresMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CodigoD" class="col-3 col-form-label">Código Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoDe" name="txtCodigoDe" placeholder="Código Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Solicitud" class="col-3 col-form-label">Solicitud Documento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSolicitude" name="txtSolicitude">
                            <option value="Solicitud via comando FUT (Personal actividad)">Solicitud vía comando FUT (Personal actividad)</option>
                            <option value="Solicitud via personal FUT (Personal disponibilidad retiro)">Solicitud Vía personal FUT ( Personal disponibilidad retiro)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaS" class="col-3 col-form-label">Fecha Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSe" name="txtFechaSe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TramiteA" class="col-3 col-form-label"><a href="~/TramiteArmaMenor" style="text-decoration:none;">Trámite Arma Menor</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTramiteAe" name="cbTramiteAe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionP" class="col-3 col-form-label"><a href="~/SituacionPersonalSolicitante" style="text-decoration:none;">Situacion Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionPe" name="cbSituacionPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionAprov" class="col-3 col-form-label">Condicion Aprobrobación Licencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionAprove" name="txtCondicionAprove">
                            <option value="Evaluacion previa">Evaluación previa</option>
                            <option value="Silencio positivo">Silencio positivo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaO" class="col-3 col-form-label">Fecha Otorgamiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaOe" name="txtFechaOe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nlicencia" class="col-3 col-form-label">Nro Licencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNlicenciae" name="txtNlicenciae" placeholder="Nro Licencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DialiLicArmasMenoresMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DialiLicArmasMenoresMilitar" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDialiLicArmasMenoresMilitar()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDialiLicArmasMenoresMilitar" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Código Documento</th>
                <th>Solicitud Documento</th>
                <th>Fecha Solicitud</th>
                <th>Tramite Arma Menor</th>
                <th>Situacion Personal</th>
                <th>Condicion Aprobrobación</th>
                <th>Fecha Otorgamiento</th>
                <th>Nro Licencia</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diali/diali-licenciaarmamenormilitar.js" asp-append-version="true"></script>
}
