@{
    ViewData["Title"] = "DependenciaSubordinado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DependenciaSubordinado" style="text-decoration:none;">Dependencia Subordinado</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Dependencia Subordinada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDependenciaSubordinado" name="txtDependenciaSubordinado" placeholder="Dependencia Subordinada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia" data-placeholder="Dependencia ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">               
                <div class="form-group row col-md-6">
                    <label  class="col-3 col-form-label">Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivel" name="cbNivel" data-placeholder="Nivel ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DependenciaSubordinado">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Dependencia Subordinada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDependenciaSubordinadoe" name="txtDependenciaSubordinadoe" placeholder="Dependencia Subordinada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae" data-placeholder="Dependencia ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivele" name="cbNivele" data-placeholder="Nivel ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DependenciaSubordinado">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDependenciaSubordinado()" />
    <table class="table table-striped" id="tblDependenciaSubordinados" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Codigo</th>
                <th>DependenciaSubordinado</th>
                <th>Nivel Dependencia</th>
                <th>Dependencia</th>
                <th>Descripcion</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/seguridad/dependenciasubordinado.js" asp-append-version="true"></script>
}