@{
    ViewData["Title"] = "Evaluación del Alistamiento de Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComescuamaEvaluacionAlistPersonal/Individual" style="text-decoration:none;">Evaluación del Alistamiento de Personal</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEvaluacion" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEvaluacion" name="txtFechaEvaluacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPersonal" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonal" name="txtDNIPersonal" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPPersonal" name="txtCIPPersonal" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label"><a href="~/Cargo">Cargo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCargo" name="cbCargo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitarEsperado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado-Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitarEsperado" name="cbGradoPersonalMilitarEsperado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaEsperado" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad-Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaEsperado" name="cbEspecialidadGenericaEsperado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitarActual" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado-Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitarActual" name="cbGradoPersonalMilitarActual"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaActual" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad-Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaActual" name="cbEspecialidadGenericaActual"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoJerarquico" class="col-3 col-form-label">Grado Jerárquico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoJerarquico" name="txtGradoJerarquico" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioExperiencia" class="col-3 col-form-label">Servicio o Experiencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioExperiencia" name="txtServicioExperiencia" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecializacionProfesional" class="col-3 col-form-label">Especialización Profesional Técnica</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEspecializacionProfesional" name="txtEspecializacionProfesional" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CursoProfesionalR" class="col-3 col-form-label">Cursos Profesionales Requeridos</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCursoProfesionalR" name="txtCursoProfesionalR" data-placeholder="Seleccione ...">
                            <option value="0.5">SI</option>
                            <option value="0.25">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalPuntaje" class="col-3 col-form-label">Puntaje Total Personal Evaluado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTotalPuntaje" name="txtTotalPuntaje" placeholder="Puntaje Total Personal Evaluado" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComescuamaEvaluacionAlistPersonal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEvaluacion" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEvaluacione" name="txtFechaEvaluacione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPersonal" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonale" name="txtDNIPersonale" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPPersonale" name="txtCIPPersonale" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label"><a href="~/Cargo">Cargo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCargoe" name="cbCargoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitarEsperado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado-Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitarEsperadoe" name="cbGradoPersonalMilitarEsperadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaEsperado" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad-Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaEsperadoe" name="cbEspecialidadGenericaEsperadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitarActual" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado-Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitarActuale" name="cbGradoPersonalMilitarActuale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaActual" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad-Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaActuale" name="cbEspecialidadGenericaActuale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoJerarquico" class="col-3 col-form-label">Grado Jerárquico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoJerarquicoe" name="txtGradoJerarquicoe" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ServicioExperiencia" class="col-3 col-form-label">Servicio o Experiencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtServicioExperienciae" name="txtServicioExperienciae" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecializacionProfesional" class="col-3 col-form-label">Especialización Profesional Técnica</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEspecializacionProfesionale" name="txtEspecializacionProfesionale" data-placeholder="Seleccione ...">
                            <option value="1">SI</option>
                            <option value="0.75">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CursoProfesionalR" class="col-3 col-form-label">Cursos Profesionales Requeridos</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCursoProfesionalRe" name="txtCursoProfesionalRe" data-placeholder="Seleccione ...">
                            <option value="0.5">SI</option>
                            <option value="0.25">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalPuntaje" class="col-3 col-form-label">Puntaje Total Personal Evaluado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTotalPuntajee" name="txtTotalPuntajee" placeholder="Puntaje Total Personal Evaluado" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComescuamaEvaluacionAlistPersonal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComescuamaEvaluacionAlistPersonal" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComescuamaEvaluacionAlistPersonal()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblComescuamaEvaluacionAlistPersonal" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Fecha</th>
                <th>DNI</th>
                <th>CIP</th>
                <th>Cargo</th>
                <th>Grado-Esperado</th>
                <th>Especialidad-Esperado</th>
                <th>Grado-Actual</th>
                <th>Especialidad-Actual</th>
                <th>Grado Jerárquico</th>
                <th>Servicio o Experiencia</th>
                <th>Especialización Profesional Técnica</th>
                <th>Cursos Profesionales Requeridos</th>
                <th>Puntaje Total Personal Evaluado</th>
                <th>Código Carga </th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comescuama/comescuama-evaluacionalistpersonal.js" asp-append-version="true"></script>
}
