@{
    ViewData["Title"] = "Cuadro de Plan Anual Recar Asignación Presupuestal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComfasPlanAnualRecaerAsignacionPresuestal/Individual" style="text-decoration:none;">Cuadro de Plan Anual Recar Asignación Presupuestal</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AsignadoProgramaAnual" class="col-3 col-form-label">Asignado Programa Anual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignadoProgramaAnual" name="txtAsignadoProgramaAnual" placeholder="Asignado Programa Anual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Bienes" class="col-3 col-form-label">Bienes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBienes" name="txtBienes" placeholder="Bienes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicios" class="col-3 col-form-label">Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtServicios" name="txtServicios" placeholder="Servicios" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AsignadoAnual" class="col-3 col-form-label">Asignado Anual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignadoAnual" name="txtAsignadoAnual" placeholder="Asignado Anual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GastosBienes" class="col-3 col-form-label">Gastos en Bienes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastosBienes" name="txtGastosBienes" placeholder="Gastos en Bienes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GastosServicios" class="col-3 col-form-label">Gastos en Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastosServicios" name="txtGastosServicios" placeholder="Gastos en Servicios" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasPlanAnualRecaerAsignacionPresuestal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AsignadoProgramaAnual" class="col-3 col-form-label">Asignado Programa Anual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignadoProgramaAnuale" name="txtAsignadoProgramaAnuale" placeholder="Asignado Programa Anual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Bienes" class="col-3 col-form-label">Bienes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBienese" name="txtBienese" placeholder="Bienes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicios" class="col-3 col-form-label">Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtServiciose" name="txtServiciose" placeholder="Servicios" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AsignadoAnual" class="col-3 col-form-label">Asignado Anual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignadoAnuale" name="txtAsignadoAnuale" placeholder="Asignado Anual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GastosBienes" class="col-3 col-form-label">Gastos en Bienes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastosBienese" name="txtGastosBienese" placeholder="Gastos en Bienes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GastosServicios" class="col-3 col-form-label">Gastos en Servicios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastosServiciose" name="txtGastosServiciose" placeholder="Gastos en Servicios" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasPlanAnualRecaerAsignacionPresuestal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasPlanAnualRecaerAsignacionPresuestal()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComfasPlanAnualRecaerAsignacionPresuestal">Masiva</a>
            <a class="dropdown-item" href="~/ComfasPlanAnualRecaerAsignacionPresuestal/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasPlanAnualRecaerAsignacionPresuestal" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Asignado Programa Anual</th>
                <th>Bienes</th>
                <th>Servicios</th>
                <th>Asignado Anual</th>
                <th>Gastos en Bienes</th>
                <th>Gastos en Servicios</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfas/comfas-plananualrecaerasignacionpresuestal.js" asp-append-version="true"></script>
}
