@{
    ViewData["Title"] = "Población Estudiantil Matriculados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/BienestarPoblacionEstudiantilMatriculados/Individual" style="text-decoration:none;">Población Estudiantil Matriculados</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIMatriculado" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIMatriculado" name="txtDNIMatriculado" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha de Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimiento" name="txtFechaNacimiento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoMatriculado" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoMatriculado" name="txtSexoMatriculado" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEducativa" class="col-3 col-form-label"><a href="~/InstitucionEducativa">Institución Educativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEducativa" name="cbInstitucionEducativa"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/NivelEstudio">Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudio" class="col-3 col-form-label">Grado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoEstudio" name="txtGradoEstudio" data-placeholder="Seleccione ...">
                            <option value="1°">1°</option>
                            <option value="2°">2°</option>
                            <option value="3°">3°</option>
                            <option value="4°">4°</option>
                            <option value="5°">5°</option>
                            <option value="6°">6°</option>
                            <option value="99">En cuna y jardín</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SeccionEstudio" class="col-3 col-form-label"><a href="~/SeccionEstudio">Sección</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSeccionEstudio" name="cbSeccionEstudio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecificacionEstudio" class="col-3 col-form-label">Especificar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecificacionEstudio" name="txtEspecificacionEstudio" placeholder="Especificar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CategoriaPago" class="col-3 col-form-label"><a href="~/CategoriaPago">Categoría de Pago</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCategoriaPago" name="cbCategoriaPago"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoEjercicioE" class="col-3 col-form-label"><a href="~/ResultadoEjercicioEducativo">Resultado Ejercicio Educativo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultadoEjercicioE" name="cbResultadoEjercicioE"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarPoblacionEstudiantilMatriculados">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIMatriculado" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIMatriculadoe" name="txtDNIMatriculadoe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha de Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimientoe" name="txtFechaNacimientoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoMatriculado" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoMatriculadoe" name="txtSexoMatriculadoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEducativa" class="col-3 col-form-label"><a href="~/InstitucionEducativa">Institución Educativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEducativae" name="cbInstitucionEducativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/NivelEstudio">Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudio" class="col-3 col-form-label">Grado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoEstudioe" name="txtGradoEstudioe" data-placeholder="Seleccione ...">
                            <option value="1°">1°</option>
                            <option value="2°">2°</option>
                            <option value="3°">3°</option>
                            <option value="4°">4°</option>
                            <option value="5°">5°</option>
                            <option value="6°">6°</option>
                            <option value="99">En cuna y jardín</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SeccionEstudio" class="col-3 col-form-label"><a href="~/SeccionEstudio">Sección</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSeccionEstudioe" name="cbSeccionEstudioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecificacionEstudio" class="col-3 col-form-label">Especificar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecificacionEstudioe" name="txtEspecificacionEstudioe" placeholder="Especificar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CategoriaPago" class="col-3 col-form-label"><a href="~/CategoriaPago">Categoría de Pago</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCategoriaPagoe" name="cbCategoriaPagoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoEjercicioE" class="col-3 col-form-label"><a href="~/ResultadoEjercicioEducativo">Resultado Ejercicio Educativo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultadoEjercicioEe" name="cbResultadoEjercicioEe"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarPoblacionEstudiantilMatriculados">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarPoblacionEstudiantilMatriculados" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarPoblacionEstudiantilMatriculados()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblBienestarPoblacionEstudiantilMatriculados" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Fecha de Nacimiento</th>
                <th>Género</th>
                <th>Institución Educativa</th>
                <th>Nivel</th>
                <th>Grado</th>
                <th>Sección</th>
                <th>Especificar</th>
                <th>Categoría de Pago</th>
                <th>Resultado Ejercicio Educativo</th>
                <th>CodigoCarga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-poblacionestudiantilmatriculado.js" asp-append-version="true"></script>
}
