@{
    ViewData["Title"] = "EvaluacionesAlistamientosEntrenamientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/EvaluacionAlistamientoEntrenamiento" style="text-decoration:none;">Evaluaciones Alistamientos Entrenamientos</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtNivel" class="col-3 col-form-label">Nivel Entrenamiento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivel" name="txtNivel" placeholder="Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoCapacidad" class="col-3 col-form-label">Código Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoCapacidad" name="txtCodigoCapacidad" placeholder="Código Capacidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtTipoCapacidad" class="col-3 col-form-label">Tipo Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoCapacidad" name="txtTipoCapacidad" placeholder="Tipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoEjercicio" class="col-3 col-form-label">Código Ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoEjercicio" name="txtCodigoEjercicio" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCalificativo" class="col-3 col-form-label">Calificativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificativo" name="txtCalificativo" placeholder="Calificativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFechaPeriodo" class="col-3 col-form-label">Fecha Periodo Evaluación Ejercicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaPeriodo" name="txtFechaPeriodo" placeholder="Fecha" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFechaRealizacion" class="col-3 col-form-label">Fecha Realización Ejercicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaRealizacion" name="txtFechaRealizacion" placeholder="Fecha" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtTiempo" class="col-3 col-form-label">Tiempo Vigencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTiempo" name="txtTiempo" placeholder="Tiempo Vigencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/EvaluacionAlistamientoEntrenamiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtNivele" class="col-3 col-form-label">Nivel Entrenamiento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivele" name="txtNivele" placeholder="Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoCapacidade" class="col-3 col-form-label">Código Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoCapacidade" name="txtCodigoCapacidade" placeholder="Código Capacidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtTipoCapacidade" class="col-3 col-form-label">Tipo Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoCapacidade" name="txtTipoCapacidade" placeholder="Tipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoEjercicioe" class="col-3 col-form-label">Código Ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoEjercicioe" name="txtCodigoEjercicioe" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCalificativoe" class="col-3 col-form-label">Calificativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificativoe" name="txtCalificativoe" placeholder="Calificativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFechaPeriodoe" class="col-3 col-form-label">Fecha Periodo Evaluación Ejercicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaPeriodoe" name="txtFechaPeriodoe" placeholder="Fecha" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFechaRealizacione" class="col-3 col-form-label">Fecha Realización Ejercicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaRealizacione" name="txtFechaRealizacione" placeholder="Fecha" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtTiempoe" class="col-3 col-form-label">Tiempo Vigencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTiempoe" name="txtTiempoe" placeholder="Tiempo Vigencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/EvaluacionAlistamientoEntrenamiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaEvaluacionAlistamientoEntrenamiento()" />
    <table class="table table-striped" id="tblEvaluacionAlistamientoEntrenamientos" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Nivel Entrenamiento</th>
                <th>Código Capacidad Operativa</th>
                <th>Tipo Capacidad Operativa</th>
                <th>CódigoE jercicio</th>
                <th>Calificativo</th>
                <th>Fecha Periodo Evaluación Ejercicio</th>
                <th>Fecha Realización Ejercicio</th>
                <th>Tiempo Vigencia</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/evaluacionalistamientoentrenamiento.js" asp-append-version="true"></script>
}
