@{
    ViewData["Title"] = "Ciberataques";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComciberdefCiberataque/Individual" style="text-decoration:none;">Ciberataques</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="IdentificadorCiberataque" class="col-3 col-form-label">Identificador </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIdentificadorCiberataque" name="txtIdentificadorCiberataque" placeholder="Identificador " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AccionAnteCiberataque" class="col-3 col-form-label"><a href="~/AccionAnteCiberataque">Acción </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAccionAnteCiberataque" name="cbAccionAnteCiberataque"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaCiberataques" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaCiberataques" name="txtFechaCiberataques" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCiberataque" class="col-3 col-form-label"><a href="~/TipoCiberataque">Tipo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoCiberataque" name="cbTipoCiberataque"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SeveridadCiberataque" class="col-3 col-form-label"><a href="~/SeveridadCiberAtaque">Severidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSeveridadCiberataque" name="cbSeveridadCiberataque"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComciberdefCiberataque">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="IdentificadorCiberataque" class="col-3 col-form-label">Identificador </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIdentificadorCiberataquee" name="txtIdentificadorCiberataquee" placeholder="Identificador " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AccionAnteCiberataque" class="col-3 col-form-label"><a href="~/AccionAnteCiberataque">Acción </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAccionAnteCiberataquee" name="cbAccionAnteCiberataquee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaCiberataques" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaCiberataquese" name="txtFechaCiberataquese" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCiberataque" class="col-3 col-form-label"><a href="~/TipoCiberataque">Tipo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoCiberataquee" name="cbTipoCiberataquee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SeveridadCiberataque" class="col-3 col-form-label"><a href="~/SeveridadCiberAtaque">Severidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSeveridadCiberataquee" name="cbSeveridadCiberataquee"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComciberdefCiberataque">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComciberdefCiberataque" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComciberdefCiberataque()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>

    <table class="table table-striped" id="tblComciberdefCiberataque" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Identificador </th>
                <th>Acción </th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Severidad</th>
                <th>Código Cargo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comciberdef/comciberdef-ciberataque.js" asp-append-version="true"></script>
}
