@{
    ViewData["Title"] = "Personal Afiliado Programa Salud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/IafasPersonalAfiliadoProgramaSalud/Individual" style="text-decoration:none;">Personal Afiliado a los Programas de Salud Basico, Oncológico y Segunda Capa</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">Documento Afiliado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDocumento" name="txtDocumento" placeholder="Documento Afiliado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SPNaval" class="col-3 col-form-label"><a href="~/SituacionPersonalNaval">Situacion Personal Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSPNaval" name="cbSPNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaAfi" class="col-3 col-form-label">Fecha de Afiliacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAfi" name="txtFechaAfi" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Parentesco" class="col-3 col-form-label"><a href="~/ParentescoAfiliado">Parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbParentesco" name="cbParentesco"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAfi" class="col-3 col-form-label"><a href="~/TipoAfiliacion">Tipo de Afiliacion</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAfi" name="cbTipoAfi"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvincia" name="cbProvincia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistrito" name="cbDistrito"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Zona" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZona" name="cbZona"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mantiene" class="col-3 col-form-label">Se Mantiene la Afiliacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMantiene" name="txtMantiene" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaDesa" class="col-3 col-form-label">Fecha de Desafiliacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDesa" name="txtFechaDesa" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label">Motivo de Desafiliacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivo" name="txtMotivo" data-placeholder="Seleccione ...">
                            <option value="1">Cuenta con otro seguro</option>
                            <option value="2">Cumplio mayoria de edad</option>
                            <option value="3">Solicitud voluntaria o renuncia</option>
                            <option value="4">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Forma" class="col-3 col-form-label"><a href="~/FormaContactoAfiliado">Forma de Comunicarse</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbForma" name="cbForma"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Oncologico" class="col-3 col-form-label">Activacion Seguro Oncologico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtOncologico" name="txtOncologico" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capa" class="col-3 col-form-label">Activacion Seguro Segunda Capa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCapa" name="txtCapa" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IafasPersonalAfiliadoProgramaSalud">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">Documento Afiliado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDocumentoe" name="txtDocumentoe" placeholder="Documento Afiliado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SPNaval" class="col-3 col-form-label"><a href="~/SituacionPersonalNaval">Situacion Personal Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSPNavale" name="cbSPNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaAfi" class="col-3 col-form-label">Fecha de Afiliacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAfie" name="txtFechaAfie" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Parentesco" class="col-3 col-form-label"><a href="~/ParentescoAfiliado">Parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbParentescoe" name="cbParentescoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAfi" class="col-3 col-form-label"><a href="~/TipoAfiliacion">Tipo de Afiliacion</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAfie" name="cbTipoAfie"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciae" name="cbProvinciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoe" name="cbDistritoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zona" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonae" name="cbZonae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mantiene" class="col-3 col-form-label">Se Mantiene la Afiliacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMantienee" name="txtMantienee" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaDesa" class="col-3 col-form-label">Fecha de Desafiliacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDesae" name="txtFechaDesae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label">Motivo de Desafiliacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivoe" name="txtMotivoe" data-placeholder="Seleccione ...">
                            <option value="1">Cuenta con otro seguro</option>
                            <option value="2">Cumplio mayoria de edad</option>
                            <option value="3">Solicitud voluntaria o renuncia</option>
                            <option value="4">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Forma" class="col-3 col-form-label"><a href="~/FormaContactoAfiliado">Forma de Comunicarse</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFormae" name="cbFormae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Oncologico" class="col-3 col-form-label">Activacion Seguro Oncologico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtOncologicoe" name="txtOncologicoe" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capa" class="col-3 col-form-label">Activacion Seguro Segunda Capa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCapae" name="txtCapae" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/IafasPersonalAfiliadoProgramaSalud" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaIafasPersonalAfiliadoProgramaSalud()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblIafasPersonalAfiliadoProgramaSalud" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Documento Afiliado</th>
                <th>Sexo</th>
                <th>Situacion Personal Naval</th>
                <th>Fecha de Afiliacion</th>
                <th>Parentesco</th>
                <th>Tipo de Afiliacion</th>
                <th>Distrito</th>
                <th>Provincia</th>
                <th>Zona Naval</th>
                <th>Se Mantiene la Afiliacion</th>
                <th>Fecha de Desafiliacion</th>
                <th>Motivo de Desafiliacion</th>
                <th>Forma de Comunicarse</th>
                <th>Activacion Seguro Oncologico</th>
                <th>Activacion Seguro Segunda Capa</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/iafas/iafas-personalafiliadoprogramasalud.js" asp-append-version="true"></script>
}
