@{
    ViewData["Title"] = "Usuarios - Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><a href="~/UsuarioPermiso" style="text-decoration:none;">Usuario - Permisos</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Usuario</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbUsuario" name="cbUsuario" placeholder="Usuario ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nivel Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" onchange="mostrarCombo();" id="cbNivel" name="cbNivel" placeholder="Dependencia ...">
                            <option value="1">2do Nivel</option>
                            <option value="2">3do Nivel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Flag</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="flag" name="flag" onchange="cambiarFormato()" placeholder="Seleccione ...">
                            <option value="1">Formato</option>
                            <option value="2">Mantenimiento</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="2do" style="display:none;">
                    <label class="col-3 col-form-label">Dependencia 2do Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" onchange="cambiarFormato()" name="cbDependencia" placeholder="Dependencia ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="3ro" style="display:none;">
                    <label class="col-3 col-form-label">Subordinada 3er Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciaSubordinado" onchange="cambiarFormato()" name="cbDependenciaSubordinado" data-placeholder="Dependencia Subordinado ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Menu</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFormato" name="cbFormato" placeholder="Formato ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Permiso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPermiso" name="cbPermiso" placeholder="Formato ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Estado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstado" name="txtEstado" placeholder="Formato ...">
                            <option value="1">Activo</option>
                            <option value="0">Desactivar</option>
                        </select>
                    </div>
                </div>              
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/FormatoReporte">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Usuario</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbUsuarioe" name="cbUsuarioe" placeholder="Usuario ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nivel Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" onchange="mostrarCombo();" id="cbNivel" name="cbNivel" placeholder="Dependencia ...">
                            <option value="1">2do Nivel</option>
                            <option value="2">3do Nivel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Flag</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="flag" name="flag" onchange="cambiarFormato()" placeholder="Seleccione ...">
                            <option value="1">Formato</option>
                            <option value="2">Mantenimiento</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="2do" style="display:none;">
                    <label class="col-3 col-form-label">Dependencia 2do Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" onchange="cambiarFormato()" name="cbDependencia" placeholder="Dependencia ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="3ro" style="display:none;">
                    <label class="col-3 col-form-label">Subordinada 3er Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciaSubordinado" onchange="cambiarFormato()" name="cbDependenciaSubordinado" placeholder="Dependencia Subordinado ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Menu</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFormato" name="cbFormato" placeholder="Formato ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Permiso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPermiso" name="cbPermiso" placeholder="Formato ..."></select>
                    </div>
                </div>
            </div>
             <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Estado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoe" name="txtEstadoe" placeholder="Formato ...">
                            <option value="1">Activo</option>
                            <option value="0">Desactivar</option>
                        </select>
                    </div>
                </div>              
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/FormatoReporte">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="loader" id="loader-6" style="display:none;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevoUsuarioPermiso()" />
    <table class="table table-striped" id="tblUsuarioPermisos" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Usuario</th>
                <th>Dependencia 2do Nivel</th>
                <th>Depedencia 3er Nivel</th>
                <th>Menu</th>
                <th>Permiso</th>
                <th>Estado</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts{
    <script src="/js/seguridad/usuariopermiso.js" asp-append-version="true"></script>
}
