@{
    ViewData["Title"] = "Archivo Publicación y Suscripciones de Artículos Científicos de C.T en Revistas Especializadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DincydetArchivoPublicaSuscripRevistas/Individual" style="text-decoration:none;">Archivo Publicación y Suscripciones de Artículos Científicos de C.T en Revistas Especializadas </a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NombreArticulo" class="col-3 col-form-label">Nombre Artículo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreArticulo" name="txtNombreArticulo" placeholder="Nombre Artículo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TpoArticulo" class="col-3 col-form-label">Tipo Artículo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTpoArticulo" name="txtTpoArticulo" data-placeholder="Seleccione ...">
                            <option value="PUBLICACIÓN">PUBLICACIÓN</option>
                            <option value="SUSCRIPCIÓN">SUSCRIPCIÓN</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasCT" class="col-3 col-form-label"><a href="~/AreaCT" style="text-decoration:none;">Áreas CT </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreasCT" name="cbAreasCT"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoPublicaSuscripRevistas">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NombreArticulo" class="col-3 col-form-label">Nombre Artículo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreArticuloe" name="txtNombreArticuloe" placeholder="Nombre Artículo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TpoArticulo" class="col-3 col-form-label">Tipo Artículo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTpoArticuloe" name="txtTpoArticuloe" data-placeholder="Seleccione ...">
                            <option value="PUBLICACIÓN">PUBLICACIÓN</option>
                            <option value="SUSCRIPCIÓN">SUSCRIPCIÓN</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasCT" class="col-3 col-form-label"><a href="~/AreaCT" style="text-decoration:none;">Áreas CT </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreasCTe" name="cbAreasCTe"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoPublicaSuscripRevistas">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/DincydetArchivoPublicaSuscripRevistas" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDincydetArchivoPublicaSuscripRevistas()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDincydetArchivoPublicaSuscripRevistas" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Nombre Artículo</th>
                <th>Tipo Artículo</th>
                <th>Area </th>
                <th>Código Carga </th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/dincydet/dincydet-archivopublicasuscriprevista.js" asp-append-version="true"></script>
}
