@{
    ViewData["Title"] = "Cuadro de Registro de Viajes al Extranjero e Interior del País, del Personal de la Fuerza de Superficie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComfasCuadroRegistroViaje/Individual" style="text-decoration:none;">Cuadro de Registro de Viajes al Extranjero e Interior del País, del Personal de la Fuerza de Superficie</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistro" name="txtFechaRegistro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonal" name="cbEspecialidadGenericaPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIPPersonal" name="txtCIPPersonal" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UbigeoOrigen" class="col-3 col-form-label">Origen</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtUbigeoOrigen" name="txtUbigeoOrigen" placeholder="Origen" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UbigeoDestino" class="col-3 col-form-label">Destino</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtUbigeoDestino" name="txtUbigeoDestino" placeholder="Destino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoDuracion" class="col-3 col-form-label">Tiempo de Duración</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoDuracion" name="txtTiempoDuracion" placeholder="Tiempo de Duración" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MedioViaje" class="col-3 col-form-label">Medio Viaje</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMedioViaje" name="txtMedioViaje" data-placeholder="Seleccione ...">
                            <option value="A">aéreo</option>
                            <option value="T">terrestre</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoAutorizacion" class="col-3 col-form-label">Documento de Autorización</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoAutorizacion" name="txtDocumentoAutorizacion" placeholder="Documento de Autorización" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoViaje" class="col-3 col-form-label">Motivo del Viaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMotivoViaje" name="txtMotivoViaje" placeholder="Motivo del Viaje" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasCuadroRegistroViaje">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistroe" name="txtFechaRegistroe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonale" name="cbEspecialidadGenericaPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIPPersonale" name="txtCIPPersonale" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UbigeoOrigen" class="col-3 col-form-label">Origen</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtUbigeoOrigene" name="txtUbigeoOrigene" placeholder="Origen" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UbigeoDestino" class="col-3 col-form-label">Destino</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtUbigeoDestinoe" name="txtUbigeoDestinoe" placeholder="Destino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoDuracion" class="col-3 col-form-label">Tiempo de Duración</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoDuracione" name="txtTiempoDuracione" placeholder="Tiempo de Duración" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MedioViaje" class="col-3 col-form-label">Medio Viaje</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMedioViajee" name="txtMedioViajee" data-placeholder="Seleccione ...">
                            <option value="A">aéreo</option>
                            <option value="T">terrestre</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoAutorizacion" class="col-3 col-form-label">Documento de Autorización</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoAutorizacione" name="txtDocumentoAutorizacione" placeholder="Documento de Autorización" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoViaje" class="col-3 col-form-label">Motivo del Viaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMotivoViajee" name="txtMotivoViajee" placeholder="Motivo del Viaje" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasCuadroRegistroViaje">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasCuadroRegistroViaje()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComfasCuadroRegistroViaje">Masiva</a>
            <a class="dropdown-item" href="~/ComfasCuadroRegistroViaje/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasCuadroRegistroViaje" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Fecha</th>
                <th>Grado</th>
                <th>Especilidad</th>
                <th>CIP</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Tiempo de Duración</th>
                <th>Medio Viaje</th>
                <th>Documento de Autorización</th>
                <th>Motivo del Viaje</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfas/comfas-cuadroregistroviaje.js" asp-append-version="true"></script>
}
