@{
    ViewData["Title"] = "ProgramasdeSegundaEspecializacióndelPersonalSuperiordelaMarina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DirespromPrograma2daEspecializacionS/Individual" style="text-decoration:none;">Programas de Segunda Especialización del Personal Superior de la Marina</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Edad" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdad" name="txtEdad" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicion" name="txtCondicion" data-placeholder="Seleccione ...">
                            <option value="1">Oficial MGP</option>
                            <option value="2">Invitado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución a la que Pertenece</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitar" name="cbEntidadMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalM" name="cbGradoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGP" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGP" name="cbEspecialidadGP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProcedenciaPS" class="col-3 col-form-label">Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcedenciaPS" name="txtProcedenciaPS" data-placeholder="Seleccione ...">
                            <option value="1">Escuela de Formación</option>
                            <option value="2">Universidades</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioPromocionPS" class="col-3 col-form-label">Año de Promoción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPromocionPS" name="txtAnioPromocionPS" placeholder="Año de Promoción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionG" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo">Programa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionG" name="cbProgramaEspecializacionG"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionE" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico">Programa Específico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionE" name="cbProgramaEspecializacionE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">FechaInicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">FechaTermino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">FechaRegistro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistro" name="txtFechaRegistro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadPrograma" class="col-3 col-form-label"><a href="~/ModalidadPrograma">Modalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbModalidadPrograma" name="cbModalidadPrograma"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoProgramaEstudios" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoProgramaEstudios" name="txtConcluyoProgramaEstudios" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivosNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivosNoConcluir" name="txtMotivosNoConcluir" data-placeholder="Seleccione ...">
                            <option value="1">Insuficiencia académica</option>
                            <option value="2">Problema de salud</option>
                            <option value="3">Cambio de colocación</option>
                            <option value="4">Fallecimiento</option>
                            <option value="5">Otros (Caso concluyó estudios)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionFinalO" class="col-3 col-form-label">Calificación Final Obtenida </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionFinalO" name="txtCalificacionFinalO" placeholder="Calificación Final Obtenida " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CertificacionTituloO" class="col-3 col-form-label">Certificación /título Obtenido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCertificacionTituloO" name="txtCertificacionTituloO" placeholder="Certificación /título Obtenido" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirespromPrograma2daEspecializacionS">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Edad" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdade" name="txtEdade" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicione" name="txtCondicione" data-placeholder="Seleccione ...">
                            <option value="1">Oficial MGP</option>
                            <option value="2">Invitado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución a la que Pertenece</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitare" name="cbEntidadMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMe" name="cbGradoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGP" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGPe" name="cbEspecialidadGPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProcedenciaPS" class="col-3 col-form-label">Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcedenciaPSe" name="txtProcedenciaPSe" data-placeholder="Seleccione ...">
                            <option value="1">Escuela de Formación</option>
                            <option value="2">Universidades</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioPromocionPS" class="col-3 col-form-label">Año de Promoción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPromocionPSe" name="txtAnioPromocionPSe" placeholder="Año de Promoción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionG" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo">Programa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionGe" name="cbProgramaEspecializacionGe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionE" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico">Programa Específico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionEe" name="cbProgramaEspecializacionEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">FechaInicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">FechaTermino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">FechaRegistro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistroe" name="txtFechaRegistroe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadPrograma" class="col-3 col-form-label"><a href="~/ModalidadPrograma">Modalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbModalidadProgramae" name="cbModalidadProgramae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoProgramaEstudios" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoProgramaEstudiose" name="txtConcluyoProgramaEstudiose" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivosNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivosNoConcluire" name="txtMotivosNoConcluire" data-placeholder="Seleccione ...">
                            <option value="1">Insuficiencia académica</option>
                            <option value="2">Problema de salud</option>
                            <option value="3">Cambio de colocación</option>
                            <option value="4">Fallecimiento</option>
                            <option value="5">Otros (Caso concluyó estudios)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionFinalO" class="col-3 col-form-label">Calificación Final Obtenida </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionFinalOe" name="txtCalificacionFinalOe" placeholder="Calificación Final Obtenida " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CertificacionTituloO" class="col-3 col-form-label">Certificación /título Obtenido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCertificacionTituloOe" name="txtCertificacionTituloOe" placeholder="Certificación /título Obtenido" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirespromPrograma2daEspecializacionS">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirespromPrograma2daEspecializacionS" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirespromPrograma2daEspecializacionS()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDirespromPrograma2daEspecializacionS" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Condición</th>
                <th>Institución a la que Pertenece</th>
                <th>Grado</th>
                <th>Especialidad</th>
                <th>Procedencia</th>
                <th>Año de Promoción</th>
                <th>Dependencia</th>
                <th>Zona Naval</th>
                <th>Programa</th>
                <th>Programa Específico</th>
                <th>FechaInicio</th>
                <th>FechaTermino</th>
                <th>FechaRegistro</th>
                <th>Modalidad</th>
                <th>Concluyó Programa de Estudios</th>
                <th>Motivos de no Concluir</th>
                <th>Calificación Final Obtenida </th>
                <th>Certificación /título Obtenido</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresprom/diresprom-programa2daespecializacions.js" asp-append-version="true"></script>
}
