@{
    ViewData["Title"] = "Solicitud de Créditos por Consumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/BienestarSolicitudCreditoConsumo/Individual" style="text-decoration:none;">Solicitud de Créditos por Consumo</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaSolicitudC" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitudC" name="txtFechaSolicitudC" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitante" name="txtDNISolicitante" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPSolicitante" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPSolicitante" name="txtCIPSolicitante" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitar" name="cbTipoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Personal Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioServicio" class="col-3 col-form-label">Años de Servicio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioServicio" name="txtAnioServicio" placeholder="Años de Servicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoSolicitud" class="col-3 col-form-label">Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoSolicitud" name="txtResultadoSolicitud" data-placeholder="Seleccione ...">
                            <option value="Aprobada">Aprobada</option>
                            <option value="Rechazada">Rechazada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadFinanciera" class="col-3 col-form-label"><a href="~/EntidadFinanciera">Entidad Financiera</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadFinanciera" name="cbEntidadFinanciera"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroCuotas" class="col-3 col-form-label">Número Cuotas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroCuotas" name="txtNumeroCuotas" placeholder="Número Cuotas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteCredito" class="col-3 col-form-label">Importe Crédito(soles)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteCredito" name="txtImporteCredito" placeholder="Importe Crédito(soles)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TasaInteresCredito" class="col-3 col-form-label">Tasa Interés Crédito por Consumo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTasaInteresCredito" name="txtTasaInteresCredito" placeholder="Tasa Interés Crédito por Consumo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarSolicitudCreditoConsumo">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaSolicitudC" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitudCe" name="txtFechaSolicitudCe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitantee" name="txtDNISolicitantee" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPSolicitante" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPSolicitantee" name="txtCIPSolicitantee" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitare" name="cbTipoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Personal Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioServicio" class="col-3 col-form-label">Años de Servicio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioServicioe" name="txtAnioServicioe" placeholder="Años de Servicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoSolicitud" class="col-3 col-form-label">Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoSolicitude" name="txtResultadoSolicitude" data-placeholder="Seleccione ...">
                            <option value="Aprobada">Aprobada</option>
                            <option value="Rechazada">Rechazada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadFinanciera" class="col-3 col-form-label"><a href="~/EntidadFinanciera">Entidad Financiera</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadFinancierae" name="cbEntidadFinancierae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroCuotas" class="col-3 col-form-label">Número Cuotas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroCuotase" name="txtNumeroCuotase" placeholder="Número Cuotas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteCredito" class="col-3 col-form-label">Importe Crédito(soles)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteCreditoe" name="txtImporteCreditoe" placeholder="Importe Crédito(soles)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TasaInteresCredito" class="col-3 col-form-label">Tasa Interés Crédito por Consumo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTasaInteresCreditoe" name="txtTasaInteresCreditoe" placeholder="Tasa Interés Crédito por Consumo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarSolicitudCreditoConsumo">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarSolicitudCreditoConsumo" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarSolicitudCreditoConsumo()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblBienestarSolicitudCreditoConsumo" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha</th>
                <th>DNI</th>
                <th>CIP</th>
                <th>Tipo de Personal</th>
                <th>Grado Personal Solicitante</th>
                <th>Años de Servicio</th>
                <th>Resultado de Solicitud</th>
                <th>Entidad Financiera</th>
                <th>Número Cuotas</th>
                <th>Importe Crédito(soles)</th>
                <th>Tasa Interés Crédito por Consumo</th>
                <th>CodigoCarga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-solicitudcreditoconsumo.js" asp-append-version="true"></script>
}
