@{
    ViewData["Title"] = "Archivo para Relaciones Bilaterales y Multilaterales por tipo de Reunión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/JemgemarArchivoRelacionTipoReunion/Individual" style="text-decoration:none;">Archivo para Relaciones Bilaterales y Multilaterales por tipo de Reunión</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CodigoReunion" class="col-3 col-form-label">Código de la reunión  </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoReunion" name="txtCodigoReunion" placeholder="Código de la reunión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo" style="text-decoration:none;">País</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPais" class="col-3 col-form-label">Condición de País</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionPais" name="txtCondicionPais" data-placeholder="Seleccione ...">
                            <option value="VISITA">VISITA</option>
                            <option value="SEDE">SEDE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroReunion" class="col-3 col-form-label">Número de la reunión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroReunion" name="txtNumeroReunion" placeholder="Número de la reunión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroParticipantes" class="col-3 col-form-label"> Número de participantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroParticipantes" name="txtNumeroParticipantes" placeholder="Número de participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroDias" class="col-3 col-form-label">Número de días</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroDias" name="txtNumeroDias" placeholder="Número de días" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Gastos" class="col-3 col-form-label"> Gastos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastos" name="txtGastos" placeholder=" Gastos " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosFirmados" class="col-3 col-form-label"> Acuerdos Firmados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFPersonal" name="txtAFPersonal" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFInteligencia" name="txtAFInteligencia" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFOperacionEntrenamiento" name="txtAFOperacionEntrenamiento" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFLogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFLogistica" name="txtAFLogistica" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFTelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFTelematica" name="txtAFTelematica" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFInstruccion" name="txtAFInstruccion" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFAccionCivica" name="txtAFAccionCivica" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFCienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFCienciaTecnologia" name="txtAFCienciaTecnologia" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFTerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFTerrorismoNarcotrafico" name="txtAFTerrorismoNarcotrafico" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFMedioAmbiente" name="txtAFMedioAmbiente" placeholder="Medio Ambiente" required>
                        </div>
                    </div>

                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosProgramados" class="col-3 col-form-label"> Acuerdos Programados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPPersonal" name="txtAPPersonal" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPInteligencia" name="txtAPInteligencia" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPOperacionEntrenamiento" name="txtAPOperacionEntrenamiento" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APLogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPLogistica" name="txtAPLogistica" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APTelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPTelematica" name="txtAPTelematica" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPInstruccion" name="txtAPInstruccion" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPAccionCivica" name="txtAPAccionCivica" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APCienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPCienciaTecnologia" name="txtAPCienciaTecnologia" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APTerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPTerrorismoNarcotrafico" name="txtAPTerrorismoNarcotrafico" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPMedioAmbiente" name="txtAPMedioAmbiente" placeholder="Medio Ambiente" required>
                        </div>
                    </div>

                </div>


                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosEjecutados" class="col-3 col-form-label"> Acuerdos Ejecutados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEPersonal" name="txtAEPersonal" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEInteligencia" name="txtAEInteligencia" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEOperacionEntrenamiento" name="txtAEOperacionEntrenamiento" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AELogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAELogistica" name="txtAELogistica" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AETelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAETelematica" name="txtAETelematica" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEInstruccion" name="txtAEInstruccion" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEAccionCivica" name="txtAEAccionCivica" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AECienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAECienciaTecnologia" name="txtAECienciaTecnologia" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AETerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAETerrorismoNarcotrafico" name="txtAETerrorismoNarcotrafico" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEMedioAmbiente" name="txtAEMedioAmbiente" placeholder="Medio Ambiente" required>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JemgemarArchivoRelacionTipoReunion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CodigoReunion" class="col-3 col-form-label">Código de la reunión  </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoReunione" name="txtCodigoReunione" placeholder="Código de la reunión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo" style="text-decoration:none;">País</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPais" class="col-3 col-form-label">Condición de País</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionPaise" name="txtCondicionPaise" data-placeholder="Seleccione ...">
                            <option value="VISITA">VISITA</option>
                            <option value="SEDE">SEDE</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroReunion" class="col-3 col-form-label">Número de la reunión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroReunione" name="txtNumeroReunione" placeholder="Número de la reunión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroParticipantes" class="col-3 col-form-label"> Número de participantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroParticipantese" name="txtNumeroParticipantese" placeholder="Número de participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroDias" class="col-3 col-form-label">Número de días</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroDiase" name="txtNumeroDiase" placeholder="Número de días" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Gastos" class="col-3 col-form-label"> Gastos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGastose" name="txtGastose" placeholder=" Gastos " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosFirmados" class="col-3 col-form-label"> Acuerdos Firmados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFPersonale" name="txtAFPersonale" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFInteligenciae" name="txtAFInteligenciae" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFOperacionEntrenamientoe" name="txtAFOperacionEntrenamientoe" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFLogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFLogisticae" name="txtAFLogisticae" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFTelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFTelematicae" name="txtAFTelematicae" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFInstruccione" name="txtAFInstruccione" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFAccionCivicae" name="txtAFAccionCivicae" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFCienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFCienciaTecnologiae" name="txtAFCienciaTecnologiae" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFTerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFTerrorismoNarcotraficoe" name="txtAFTerrorismoNarcotraficoe" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AFMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAFMedioAmbientee" name="txtAFMedioAmbientee" placeholder="Medio Ambiente" required>
                        </div>
                    </div>

                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosProgramados" class="col-3 col-form-label"> Acuerdos Programados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPPersonale" name="txtAPPersonale" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPInteligenciae" name="txtAPInteligenciae" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPOperacionEntrenamientoe" name="txtAPOperacionEntrenamientoe" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APLogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPLogisticae" name="txtAPLogisticae" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APTelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPTelematicae" name="txtAPTelematicae" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPInstruccione" name="txtAPInstruccione" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPAccionCivicae" name="txtAPAccionCivicae" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APCienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPCienciaTecnologiae" name="txtAPCienciaTecnologiae" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APTerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPTerrorismoNarcotraficoe" name="txtAPTerrorismoNarcotraficoe" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="APMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAPMedioAmbientee" name="txtAPMedioAmbientee" placeholder="Medio Ambiente" required>
                        </div>
                    </div>

                </div>


                <div class="divseccion">
                    <div class="card-header">
                        <label for="AcuerdosEjecutados" class="col-3 col-form-label"> Acuerdos Ejecutados  </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEPersonal" class="col-3 col-form-label"> Personal</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEPersonale" name="txtAEPersonale" placeholder=" Personal" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEInteligencia" class="col-3 col-form-label"> Inteligencia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEInteligenciae" name="txtAEInteligenciae" placeholder="Inteligencia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEOperacionEntrenamiento" class="col-3 col-form-label"> Operaciones / Entrenamiento</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEOperacionEntrenamientoe" name="txtAEOperacionEntrenamientoe" placeholder="Operaciones / Entrenamiento" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AELogistica" class="col-3 col-form-label">Logística / Material</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAELogisticae" name="txtAELogisticae" placeholder="Logística / Material" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AETelematica" class="col-3 col-form-label"> Telemática</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAETelematicae" name="txtAETelematicae" placeholder=" Telemática " required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEInstruccion" class="col-3 col-form-label"> Instrucción</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEInstruccione" name="txtAEInstruccione" placeholder=" Instrucción" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEAccionCivica" class="col-3 col-form-label">Acciones Cívicas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEAccionCivicae" name="txtAEAccionCivicae" placeholder="Acciones Cívica" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AECienciaTecnologia" class="col-3 col-form-label"> Ciencia y Tecnologia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAECienciaTecnologiae" name="txtAECienciaTecnologiae" placeholder=" Ciencia y Tecnologia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AETerrorismoNarcotrafico" class="col-3 col-form-label"> Terrorismo / NarcoTráfico</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAETerrorismoNarcotraficoe" name="txtAETerrorismoNarcotraficoe" placeholder=" Terrorismo / NarcoTráfico" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AEMedioAmbiente" class="col-3 col-form-label">Medio Ambiente</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAEMedioAmbientee" name="txtAEMedioAmbientee" placeholder="Medio Ambiente" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JemgemarArchivoRelacionTipoReunion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/JemgemarArchivoRelacionTipoReunion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaJemgemarArchivoRelacionTipoReunion()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblJemgemarArchivoRelacionTipoReunion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Código de la reunión </th>
                <th>País</th>
                <th>Condición de País </th>
                <th>Nro Reunion</th>
                <th>Nro Participantes</th>
                <th>Nro Dias</th>
                <th>Gastos </th>
                <th>Observaciones</th>
                <th>AF Personal</th>
                <th>AF Inteligencia</th>
                <th>AF Operacion Entrenamiento</th>
                <th>AF Logistica</th>
                <th>AF Telematica</th>
                <th>AF Instruccion </th>
                <th>AF Acción Civica</th>
                <th>AF Ciencia Tecnologia</th>
                <th>AF Terrorismo / Narcotrafico</th>
                <th>AF Medio Ambiente </th>
                <th>AP Personal</th>
                <th>AP Inteligencia</th>
                <th>AP Operación Entrenamiento</th>
                <th>AP Logistica</th>
                <th>AP Telematica</th>
                <th>AP Instrucción</th>
                <th>AP Accion Civica </th>
                <th>AP CienciaTecnologia</th>
                <th>AP Terrorismo / Narcotrafico</th>
                <th>AP MedioAmbiente</th>
                <th>AE Personal </th>
                <th>AE Inteligencia</th>
                <th>AE Operación Entrenamiento</th>
                <th>AE Logistica</th>
                <th>AE Telematica</th>
                <th>AE Instruccion </th>
                <th>AE Accion Civica</th>
                <th>AE Ciencia Tecnologia</th>
                <th>AE Terrorismo / Narcotrafico</th>
                <th>AE Medio Ambiente</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/jemgemar/jemgemar-archivorelaciontiporeunion.js" asp-append-version="true"></script>
}
