@{
    ViewData["Title"] = "Rendición Cuentas SubUnidades Ejecutoras Génerica Gastos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DirecomarRendicionCuentasSBEGastos/Individual" style="text-decoration:none;">Rendición de Cuentas por Sub Unidades Ejecutoras y Génerica de Gastos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SUE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">SUE</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSUE" name="cbSUE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Clasi" class="col-3 col-form-label"><a href="~/ClasificacionGenericaGasto">Codigo Clasif. Gen. Gastos</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClasi" name="cbClasi"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Entregado" class="col-3 col-form-label">Entregado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEntregado" name="txtEntregado" placeholder="Entregado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Rendido" class="col-3 col-form-label">Rendido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRendido" name="txtRendido" placeholder="Rendido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Saldo" class="col-3 col-form-label">Saldo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSaldo" name="txtSaldo" placeholder="Saldo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EncargadoInterno" class="col-3 col-form-label">Encargado Interno</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEncargadoInterno" name="txtEncargadoInterno" placeholder="Encargado Interno" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DeGastoEncargovengado" class="col-3 col-form-label">Gasto Encargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDeGastoEncargovengado" name="txtDeGastoEncargovengado" placeholder="Gasto Encargo" required>
                    </div>
                </div> 
                <div class="form-group row col-md-6">
                    <label for="EncargoOtorgado" class="col-3 col-form-label">Encargo Otorgado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEncargoOtorgado" name="txtEncargoOtorgado" placeholder="EncargoOtorgado" required>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirecomarRendicionCuentasSBEGastos">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SUE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">SUE</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSUEe" name="cbSUEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Clasi" class="col-3 col-form-label"><a href="~/ClasificacionGenericaGasto">Codigo Clasif. Gen. Gastos</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClasie" name="cbClasie"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Entregado" class="col-3 col-form-label">Entregado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEntregadoe" name="txtEntregadoe" placeholder="Entregado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Rendido" class="col-3 col-form-label">Rendido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRendidoe" name="txtRendidoe" placeholder="Rendido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Saldo" class="col-3 col-form-label">Saldo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSaldoe" name="txtSaldoe" placeholder="Saldo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EncargadoInterno" class="col-3 col-form-label">Encargado Interno</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEncargadoInternoe" name="txtEncargadoInternoe" placeholder="Encargado Interno" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DeGastoEncargovengado" class="col-3 col-form-label">Gasto Encargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDeGastoEncargovengadoe" name="txtDeGastoEncargovengadoe" placeholder="Gasto Encargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EncargoOtorgado" class="col-3 col-form-label"> Encargo Otorgado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEncargoOtorgadoe" name="txtEncargoOtorgadoe" placeholder=" Encargo Otorgado" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirecomarRendicionCuentasSBEGastos">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirecomarRendicionCuentasSBEGastos" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirecomarRendicionCuentasSBEGastos()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDirecomarRendicionCuentasSBEGastos" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>SUE</th>
                <th>Codigo Clasif. Gen. Gastos</th>
                <th>Entregado</th>
                <th>Rendido</th>
                <th>Saldo</th>
                <th>Encargado Interno</th>
                <th>Gasto Encargo</th>
                <th>Encargo Otorgado</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/direcomar/direcomar-rendicioncuentassbegastos.js" asp-append-version="true"></script>

}
