@{
    ViewData["Title"] = "Docentes de la Escuela Superior de Guerra Naval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresuvalDocenteEscuelaGuerraNaval/Individual" style="text-decoration:none;">Docentes de la Escuela Superior de Guerra Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalSuperior" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalSuperior" name="txtDNIPersonalSuperior" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal Docente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitar" name="cbTipoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboralDocente" class="col-3 col-form-label"><a href="~/CondicionLaboralDocente">Condición Laboral del Docente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionLaboralDocente" name="cbCondicionLaboralDocente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral">Régimen Laboral </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbRegimenLaboral" name="cbRegimenLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionDocente" class="col-3 col-form-label">Dedicación del Docente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionDocente" name="txtDedicacionDocente" data-placeholder="Seleccione ...">
                            <option value="Tiempo parcial">Tiempo parcial</option>
                            <option value="Tiempo completo">Tiempo completo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudioAlcanzado" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado">Nivel de Estudios</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEstudioAlcanzado" name="cbGradoEstudioAlcanzado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUniversitariaEspecialidad" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad">Carreras de Educación Superior</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCarreraUniversitariaEspecialidad" name="cbCarreraUniversitariaEspecialidad"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresuvalDocenteEscuelaGuerraNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalSuperior" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalSuperiore" name="txtDNIPersonalSuperiore" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal Docente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitare" name="cbTipoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboralDocente" class="col-3 col-form-label"><a href="~/CondicionLaboralDocente">Condición Laboral del Docente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionLaboralDocentee" name="cbCondicionLaboralDocentee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral">Régimen Laboral </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbRegimenLaborale" name="cbRegimenLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionDocente" class="col-3 col-form-label">Dedicación del Docente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionDocentee" name="txtDedicacionDocentee" data-placeholder="Seleccione ...">
                            <option value="Tiempo parcial">Tiempo parcial</option>
                            <option value="Tiempo completo">Tiempo completo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudioAlcanzado" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado">Nivel de Estudios</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEstudioAlcanzadoe" name="cbGradoEstudioAlcanzadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUniversitariaEspecialidad" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad">Carreras de Educación Superior</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCarreraUniversitariaEspecialidade" name="cbCarreraUniversitariaEspecialidade"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresuvalDocenteEscuelaGuerraNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiresuvalDocenteEscuelaGuerraNaval" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresuvalDocenteEscuelaGuerraNaval()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
    <table class="table table-striped" id="tblDiresuvalDocenteEscuelaGuerraNaval" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Tipo de Personal Docente</th>
                <th>Condición Laboral del Docente</th>
                <th>Régimen Laboral </th>
                <th>Dedicación del Docente</th>
                <th>Nivel de Estudios</th>
                <th>Carreras de Educación Superior</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresuval/diresuval-docenteescuelaguerranaval.js" asp-append-version="true"></script>
}
