@{
    ViewData["Title"] = "Zarpe de Retorno de Naves Extranjeras Capturadas en el Ambito Maritimo Fluvial y Lacustre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardZarpeRetornoNaveExtranjera/Individual" style="text-decoration:none;">Zarpe de Retorno de Naves Extranjeras Capturadas en el Ambito Maritimo Fluvial y Lacustre</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label"> Fecha Captura</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraCaptura" name="txtHoraCaptura" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCaptura" name="txtDiaCaptura" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Año" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveExtranjera" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveExtranjera" name="txtNombreNaveExtranjera" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveExtranjera" name="txtMatriculaNaveExtranjera" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre De Unidad / Interventor</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label">Casco De Unidad/ Interventor</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCascoUnidadNaval" name="txtCascoUnidadNaval" placeholder="Casco De Unidad/ Interventor" required>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarZarpe" class="col-3 col-form-label">Lugar Zarpe</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPeru" name="cbPuertoPeru"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaDelArribo " class="col-3 col-form-label"> Fecha Del Arribo </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraArribo" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraArribo" name="txtHoraArribo" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaArribo" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaArribo" name="txtDiaArribo" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesArribo" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesArribo" name="cbMesArribo"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioArribo" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioArribo" name="txtAnioArribo" placeholder="Año" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="PuertoDeDestino" class="col-3 col-form-label"> Puerto De Destino</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoDestino" class="col-3 col-form-label">Puerto</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtPuertoDestino" name="txtPuertoDestino" placeholder="Puerto" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisDestino" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisDestino" name="cbPaisDestino"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="ETA" class="col-3 col-form-label">ETA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtETA" name="txtETA" placeholder="ETA" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardZarpeRetornoNaveExtranjera">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label"> Fecha Captura</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraCaptura" name="txtHoraCaptura" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCaptura" name="txtDiaCaptura" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Año" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label">Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveExtranjera" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveExtranjerae" name="txtNombreNaveExtranjerae" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveExtranjera" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveExtranjerae" name="txtMatriculaNaveExtranjerae" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre De Unidad / Interventor</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label">Casco De Unidad/ Interventor</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCascoUnidadNavale" name="txtCascoUnidadNavale" placeholder="Casco De Unidad/ Interventor" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarZarpe" class="col-3 col-form-label">Lugar Zarpe</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPeru" name="cbPuertoPeru"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaDelArribo " class="col-3 col-form-label"> Fecha Del Arribo </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraArribo" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="time" class="form-control form-control-sm" id="txtHoraArriboe" name="txtHoraArriboe" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaArribo" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaArriboe" name="txtDiaArriboe" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MesArribo" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMesArriboe" name="cbMesArriboe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioArribo" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioArriboe" name="txtAnioArriboe" placeholder="Año" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="PuertoDeDestino" class="col-3 col-form-label"> Puerto De Destino</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoDestino" class="col-3 col-form-label">Puerto</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtPuertoDestinoe" name="txtPuertoDestinoe" placeholder="Puerto" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisDestino" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisDestinoe" name="cbPaisDestinoe"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ETA" class="col-3 col-form-label">ETA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtETAe" name="txtETAe" placeholder="ETA" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardZarpeRetornoNaveExtranjera">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardZarpeRetornoNaveExtranjera()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardZarpeRetornoNaveExtranjera">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardZarpeRetornoNaveExtranjera/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardZarpeRetornoNaveExtranjera" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania de Puerto</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Nombre</th>
                <th>Matricula</th>
                <th>Bandera</th>
                <th>Tipo</th>
                <th>Nombre De Unidad / Interventor</th>
                <th>Casco De Unidad/ Interventor</th>
                <th>Puerto</th>
                <th>Ambito</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Puerto</th>
                <th>Pais</th>
                <th>ETA</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-zarperetornonaveextranjera.js" asp-append-version="true"></script>
}
