@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza" style="text-decoration:none;">Siniestros Acuáticos y Activaciones de Radiobalizas</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza/Individual" class="btn btn-primary">Ir Carga Individual</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Jefatura De Distrito De Capitanias</th>
                                    <th>Capitania De Puerto</th>
                                    <th>Hora</th>
                                    <th>Fecha</th>
                                    <th>Tipo Nave/Persona</th>
                                    <th>Nombre</th>
                                    <th>Matrícula / Indicativo / Dni</th>
                                    <th>AB. / Edad</th>
                                    <th>Nacionalidad/Bandera</th>
                                    <th>Tipo De Siniestro Y/O Incidente</th>
                                    <th>Cuenta Con Radiobaliza</th>
                                    <th>Se Activó La Radiobaliza</th>
                                    <th>Tipo De Activación</th>
                                    <th>Tipo De Radiobaliza</th>
                                    <th>Codigo Hexadecimal</th>
                                    <th>Se Activóplan Debusqueda Y Rescate</th>
                                    <th>MN. Referencia Activación RCC</th>
                                    <th>MN. Referencia Desactiva RCC</th>
                                    <th>Tiempo Duración </th>
                                    <th>Latitud</th>
                                    <th>Longitud</th>
                                    <th>Ambito</th>
                                    <th>Rescatados</th>
                                    <th>Fallecidos</th>
                                    <th>Desaparecidos</th>
                                    <th>Total</th>
                                    <th>Participación Unidades Guardacostas Y/O Navales</th>
                                    <th>Participación Unidades Particulares</th>
                                    <th>Resumen Del Caso</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/comoperguard/comoperguard-siniestroacuaticoactivradiobaliza.js" asp-append-version="true"></script>
}