@{
    ViewData["Title"] = "Siniestros Acuáticos y Activaciones de Radiobalizas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza/Individual" style="text-decoration:none;">Siniestros Acuáticos y Activaciones de Radiobalizas</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania De Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FehcaOcurrido" class="col-3 col-form-label"> Fecha Ocurrió El Siniestro Y/O Incidente</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraSiniestro" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraSiniestro" name="txtHoraSiniestro" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="FechaSiniestro" class="col-3 col-form-label">Fecha</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control form-control-sm" id="txtFechaSiniestro" name="txtFechaSiniestro" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveersonaInvolucrada" class="col-3 col-form-label">Nave O Persona Involucrada</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo Nave/Persona</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Nombre" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matrícula / Indicativo / Dni</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNave" name="txtMatriculaNave" placeholder="Matrícula / Indicativo / Dni" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ABEdad" class="col-3 col-form-label">AB. / Edad</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtABEdad" name="txtABEdad" placeholder="AB. / Edad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad/Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="TipoSiniestro" class="col-3 col-form-label"><a href="~/TipoSiniestro">Tipo De Siniestro Y/O Incidente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoSiniestro" name="cbTipoSiniestro"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="SituacionRadiobaliza" class="col-3 col-form-label">Situación De La Radiobaliza</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="CuentaRadiobaliza" class="col-3 col-form-label">Cuenta Con Radiobaliza</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtCuentaRadiobaliza" name="txtCuentaRadiobaliza" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ActivoRadiobaliza" class="col-3 col-form-label">Se Activó La Radiobaliza</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtActivoRadiobaliza" name="txtActivoRadiobaliza" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoActivacionRadiobaliza" class="col-3 col-form-label">Tipo De Activación</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtTipoActivacionRadiobaliza" name="txtTipoActivacionRadiobaliza" data-placeholder="Seleccione ...">
                                <option value="1">REAL</option>
                                <option value="2">ACCIDENTAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoRadiobaliza" class="col-3 col-form-label"><a href="~/TipoRadiobaliza">Tipo De Radiobaliza</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoRadiobaliza" name="cbTipoRadiobaliza"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="CodigoHexadecimal" class="col-3 col-form-label">Codigo Hexadecimal</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtCodigoHexadecimal" name="txtCodigoHexadecimal" placeholder="Codigo Hexadecimal" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="PlanBusquedaRescate" class="col-3 col-form-label">Plan De Busqueda Y Rescate</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ActivoPlanBusqueda" class="col-3 col-form-label">Se Activóplan Debusqueda Y Rescate</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtActivoPlanBusqueda" name="txtActivoPlanBusqueda" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MNReferenciaActivacion" class="col-3 col-form-label">MN. Referencia Activación RCC</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMNReferenciaActivacion" name="txtMNReferenciaActivacion" placeholder="MN. Referencia Activación RCC" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MNReferenciaDesactiva" class="col-3 col-form-label">MN. Referencia Desactiva RCC</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMNReferenciaDesactiva" name="txtMNReferenciaDesactiva" placeholder="MN. Referencia Desactiva RCC" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TiempoDuracionHoras" class="col-3 col-form-label">Tiempo Duración </label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtTiempoDuracionHoras" name="txtTiempoDuracionHoras" placeholder="Tiempo Duración " required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDondeSiniestroncidente" class="col-3 col-form-label"> Lugar Donde Ocurrió El Siniestro Y/O Incidente</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacionNave" class="col-3 col-form-label">Latitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionNave" name="txtLatitudUbicacionNave" placeholder="Latitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacionNave" class="col-3 col-form-label">Longitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionNave" name="txtLongitudUbicacionNave" placeholder="Longitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                        </div>
                    </div>

                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="SituacionPersonasInvolucradas" class="col-3 col-form-label"> Situación Personas Involucradas</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasRescatadasVida" class="col-3 col-form-label">Rescatados</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasRescatadasVida" name="txtPersonasRescatadasVida" placeholder="Rescatados" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasFallecidas" class="col-3 col-form-label">Fallecidos</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasFallecidas" name="txtPersonasFallecidas" placeholder="Fallecidos" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasDesaparecida" class="col-3 col-form-label">Desaparecidos</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasDesaparecida" name="txtPersonasDesaparecida" placeholder="Desaparecidos" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TotalPersonas" class="col-3 col-form-label">Total</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtTotalPersonas" name="txtTotalPersonas" placeholder="Total" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Participación Unidades Guardacostas Y/O Navales</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadesParticulares" class="col-3 col-form-label">Participación Unidades Particulares</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUnidadesParticulares" name="txtUnidadesParticulares" placeholder="Participación Unidades Particulares" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResumenCaso" class="col-3 col-form-label">Resumen Del Caso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResumenCaso" name="txtResumenCaso" placeholder="Resumen Del Caso" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania De Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FehcaOcurrido" class="col-3 col-form-label"> Fecha Ocurrió El Siniestro Y/O Incidente</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraSiniestro" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraSiniestroe" name="txtHoraSiniestroe" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="FechaSiniestro" class="col-3 col-form-label">Fecha</label>
                        <div class="col-md-9">
                            <input type="date" class="form-control form-control-sm" id="txtFechaSiniestroe" name="txtFechaSiniestroe" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveersonaInvolucrada" class="col-3 col-form-label">Nave O Persona Involucrada</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo Nave/Persona</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Nombre" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombree" name="txtNombree" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matrícula / Indicativo / Dni</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNavee" name="txtMatriculaNavee" placeholder="Matrícula / Indicativo / Dni" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ABEdad" class="col-3 col-form-label">AB. / Edad</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtABEdade" name="txtABEdade" placeholder="AB. / Edad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad/Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="TipoSiniestro" class="col-3 col-form-label"><a href="~/TipoSiniestro">Tipo De Siniestro Y/O Incidente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoSiniestroe" name="cbTipoSiniestroe"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="SituacionRadiobaliza" class="col-3 col-form-label">Situación De La Radiobaliza</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="CuentaRadiobaliza" class="col-3 col-form-label">Cuenta Con Radiobaliza</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtCuentaRadiobalizae" name="txtCuentaRadiobalizae" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ActivoRadiobaliza" class="col-3 col-form-label">Se Activó La Radiobaliza</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtActivoRadiobalizae" name="txtActivoRadiobalizae" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoActivacionRadiobaliza" class="col-3 col-form-label">Tipo De Activación</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtTipoActivacionRadiobalizae" name="txtTipoActivacionRadiobalizae" data-placeholder="Seleccione ...">
                                <option value="1">REAL</option>
                                <option value="2">ACCIDENTAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoRadiobaliza" class="col-3 col-form-label"><a href="~/TipoRadiobaliza">Tipo De Radiobaliza</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoRadiobalizae" name="cbTipoRadiobalizae"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="CodigoHexadecimal" class="col-3 col-form-label">Codigo Hexadecimal</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtCodigoHexadecimale" name="txtCodigoHexadecimale" placeholder="Codigo Hexadecimal" required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="PlanBusquedaRescate" class="col-3 col-form-label">Plan De Busqueda Y Rescate</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ActivoPlanBusqueda" class="col-3 col-form-label">Se Activóplan Debusqueda Y Rescate</label>
                        <div class="col-md-9">
                            <select class="form-select form-select-sm" id="txtActivoPlanBusquedae" name="txtActivoPlanBusquedae" data-placeholder="Seleccione ...">
                                <option value="S">SI</option>
                                <option value="N">NO</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MNReferenciaActivacion" class="col-3 col-form-label">MN. Referencia Activación RCC</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMNReferenciaActivacione" name="txtMNReferenciaActivacione" placeholder="MN. Referencia Activación RCC" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MNReferenciaDesactiva" class="col-3 col-form-label">MN. Referencia Desactiva RCC</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMNReferenciaDesactivae" name="txtMNReferenciaDesactivae" placeholder="MN. Referencia Desactiva RCC" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TiempoDuracionHoras" class="col-3 col-form-label">Tiempo Duración </label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtTiempoDuracionHorase" name="txtTiempoDuracionHorase" placeholder="Tiempo Duración " required>
                        </div>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDondeSiniestroncidente" class="col-3 col-form-label"> Lugar Donde Ocurrió El Siniestro Y/O Incidente</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacionNave" class="col-3 col-form-label">Latitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionNavee" name="txtLatitudUbicacionNavee" placeholder="Latitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacionNave" class="col-3 col-form-label">Longitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionNavee" name="txtLongitudUbicacionNavee" placeholder="Longitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNavee" name="cbAmbitoNavee"></select>
                        </div>
                    </div>

                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="SituacionPersonasInvolucradas" class="col-3 col-form-label"> Situación Personas Involucradas</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasRescatadasVida" class="col-3 col-form-label">Rescatados</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasRescatadasVidae" name="txtPersonasRescatadasVidae" placeholder="Rescatados" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasFallecidas" class="col-3 col-form-label">Fallecidos</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasFallecidase" name="txtPersonasFallecidase" placeholder="Fallecidos" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PersonasDesaparecida" class="col-3 col-form-label">Desaparecidos</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtPersonasDesaparecidae" name="txtPersonasDesaparecidae" placeholder="Desaparecidos" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TotalPersonas" class="col-3 col-form-label">Total</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtTotalPersonase" name="txtTotalPersonase" placeholder="Total" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Participación Unidades Guardacostas Y/O Navales</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadesParticulares" class="col-3 col-form-label">Participación Unidades Particulares</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUnidadesParticularese" name="txtUnidadesParticularese" placeholder="Participación Unidades Particulares" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResumenCaso" class="col-3 col-form-label">Resumen Del Caso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResumenCasoe" name="txtResumenCasoe" placeholder="Resumen Del Caso" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardSiniestroAcuaticoActivRadiobaliza()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardSiniestroAcuaticoActivRadiobaliza/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardSiniestroAcuaticoActivRadiobaliza" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distrito De Capitanias</th>
                <th>Capitania De Puerto</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Tipo Nave/Persona</th>
                <th>Nombre</th>
                <th>Matrícula / Indicativo / Dni</th>
                <th>AB. / Edad</th>
                <th>Nacionalidad/Bandera</th>
                <th>Tipo De Siniestro Y/O Incidente</th>
                <th>Cuenta Con Radiobaliza</th>
                <th>Se Activó La Radiobaliza</th>
                <th>Tipo De Activación</th>
                <th>Tipo De Radiobaliza</th>
                <th>Codigo Hexadecimal</th>
                <th>Se Activóplan Debusqueda Y Rescate</th>
                <th>MN. Referencia Activación RCC</th>
                <th>MN. Referencia Desactiva RCC</th>
                <th>Tiempo Duración </th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Ambito</th>
                <th>Rescatados</th>
                <th>Fallecidos</th>
                <th>Desaparecidos</th>
                <th>Total</th>
                <th>Participación Unidades Guardacostas Y/O Navales</th>
                <th>Participación Unidades Particulares</th>
                <th>Resumen Del Caso</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-siniestroacuaticoactivradiobaliza.js" asp-append-version="true"></script>
}
