@{
    ViewData["Title"] = "Formatos Para Ingreso Datos Dirección Capacitación Personal Naval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DircapenIngresoDatosCapacitacionNaval/Individual" style="text-decoration:none;">Formatos para el Ingreso de Datos de la Dirección de Capacitación del Personal Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIP" name="txtCIP" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">                  
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoPersonal" name="cbTipoPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGrado" name="cbGrado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenerica" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Genérica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialidadGenerica" name="cbEspecialidadGenerica"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval" style="text-decoration:none;">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nivel" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico" style="text-decoration:none;">Programa Especializacion</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivel" name="cbNivel"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Programa" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo" style="text-decoration:none;">Especializacion Grupo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPrograma" name="cbPrograma"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">FechaInicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">FechaTérmino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Modalidad" class="col-3 col-form-label"><a href="~/TipoModalidad" style="text-decoration:none;">Modalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbModalidad" name="cbModalidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoPrograma" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoPrograma" name="txtConcluyoPrograma" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalCreditos" class="col-3 col-form-label">Total Créditos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTotalCreditos" name="txtTotalCreditos" placeholder="Total Créditos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivosNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivosNoConcluir" name="txtMotivosNoConcluir" data-placeholder="Seleccione ...">
                            <option value="1">Fallecimiento</option>
                            <option value="2">Alto Índice de inasistencia más 30%</option>
                            <option value="3">Negarse a rendir un examen o practica)</option>
                            <option value="4">Por cometer delitos o faltas sancionadas con rigor)</option>
                            <option value="5">Mala conducta habitual</option>
                            <option value="6">A su solicitud siempre y cuando el programa no tenga una duración mayor a 45 días</option>
                            <option value="7">Por razones del servicio)</option>
                            <option value="8">Por falta de destreza y/o actitud en la fase practica o exposición</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionFinal" class="col-3 col-form-label">Calificación Final Obtenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionFinal" name="txtCalificacionFinal" placeholder="Calificación Final Obtenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Diploma" class="col-3 col-form-label">Diploma</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDiploma" name="txtDiploma" placeholder="Diploma" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircapenIngresoDatosCapacitacionNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPe" name="txtCIPe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoPersonale" name="cbTipoPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoe" name="cbGradoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenerica" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Genérica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialidadGenericae" name="cbEspecialidadGenericae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval" style="text-decoration:none;">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nivel" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico" style="text-decoration:none;">Programa Especializacion</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivele" name="cbNivele"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Programa" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo" style="text-decoration:none;">Especializacion Grupo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbProgramae" name="cbProgramae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">FechaInicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">FechaTérmino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Modalidad" class="col-3 col-form-label"><a href="~/TipoModalidad" style="text-decoration:none;">Modalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbModalidade" name="cbModalidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoPrograma" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoProgramae" name="txtConcluyoProgramae" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalCreditos" class="col-3 col-form-label">Total Créditos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTotalCreditose" name="txtTotalCreditose" placeholder="Total Créditos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivosNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivosNoConcluire" name="txtMotivosNoConcluire" data-placeholder="Seleccione ...">
                            <option value="1">Fallecimiento</option>
                            <option value="2">Alto Índice de inasistencia más 30%</option>
                            <option value="3">Negarse a rendir un examen o practica)</option>
                            <option value="4">Por cometer delitos o faltas sancionadas con rigor)</option>
                            <option value="5">Mala conducta habitual</option>
                            <option value="6">A su solicitud siempre y cuando el programa no tenga una duración mayor a 45 días</option>
                            <option value="7">Por razones del servicio)</option>
                            <option value="8">Por falta de destreza y/o actitud en la fase practica o exposición</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionFinal" class="col-3 col-form-label">Calificación Final Obtenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionFinale" name="txtCalificacionFinale" placeholder="Calificación Final Obtenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Diploma" class="col-3 col-form-label">Diploma</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDiplomae" name="txtDiplomae" placeholder="Diploma" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircapenIngresoDatosCapacitacionNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DircapenIngresoDatosCapacitacionNaval" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDircapenIngresoDatosCapacitacionNaval()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
    <table class="table table-striped" id="tblDircapenIngresoDatosCapacitacionNaval" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>CIP</th>
                <th>DNI</th>
                <th>Sexo</th>
                <th>Tipo del Personal</th>
                <th>Grado</th>
                <th>Especialidad Genérica</th>
                <th>Dependencia</th>
                <th>Zona Naval </th>
                <th>Nivel del Programa</th>
                <th>Programa</th>
                <th>FechaInicio</th>
                <th>FechaTérmino</th>
                <th>Modalidad</th>
                <th>Concluyó Programa de Estudios</th>
                <th>Total Créditos</th>
                <th>Motivos de no Concluir</th>
                <th>Calificación Final Obtenida</th>
                <th>Diploma</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dircapen/dircapen-ingresodatoscapacitacionnaval.js" asp-append-version="true"></script>
}
