@{
    ViewData["Title"] = "Alistamiento de Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComzocuatroAlistamientoMaterial/Individual" style="text-decoration:none;">Alistamiento de Material</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>

            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativa" name="cbCapacidadOperativa"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadIntrinseca" class="col-3 col-form-label">Capacidad Intrinseca I Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadIntrinseca" name="txtCapacidadIntrinseca" placeholder="Capacidad Intrinseca I Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ponderado1N" class="col-3 col-form-label">Ponderación Capacidad Intrínseca I Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado1N" name="txtPonderado1N" placeholder="Ponderación Capacidad Intrínseca I Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Subclasificacion2" class="col-3 col-form-label">Sub-Clasificación II Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion2" name="txtSubclasificacion2" placeholder="Sub-Clasificación II Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ponderado2Nivel" class="col-3 col-form-label">Ponderación Capacidad Intrínseca II Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado2Nivel" name="txtPonderado2Nivel" placeholder="Ponderación Capacidad Intrínseca II Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Subclasificacion3" class="col-3 col-form-label">Sub-Clasificación III Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion3" name="txtSubclasificacion3" placeholder="Sub-Clasificación III Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Ponderación Capacidad Intrínseca III Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMaterialRequerido3N" name="cbAlistamientoMaterialRequerido3N"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequerido" name="txtRequerido" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativo" name="txtOperativo" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPorcentajeOperatividad" name="txtPorcentajeOperatividad" placeholder="Porcentaje Operatividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeFuncional" class="col-3 col-form-label">Porcentaje Funcional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="PorcentajeFuncional" name="PorcentajeFuncional" placeholder="Porcentaje Funcional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamientoParcial" class="col-3 col-form-label">Nivel De Alistamiento Parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamientoParcial" name="txtNivelAlistamientoParcial" placeholder="Nivel de Alistamiento Parcial" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzocuatroAlistamientoMaterial">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativae" name="cbCapacidadOperativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Alistamiento Material Requerido III</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMaterialRequerido3Ne" name="cbAlistamientoMaterialRequerido3Ne"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadIntrinseca" class="col-3 col-form-label">Capacidad Intrinseca I Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadIntrinsecae" name="txtCapacidadIntrinsecae" placeholder="Capacidad Intrinseca I Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ponderado1N" class="col-3 col-form-label">Ponderación Capacidad Intrínseca I Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado1Ne" name="txtPonderado1Ne" placeholder="Ponderación Capacidad Intrínseca I Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Subclasificacion2" class="col-3 col-form-label">Sub-Clasificación II Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion2e" name="txtSubclasificacion2e" placeholder="Sub-Clasificación II Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ponderado2Nivel" class="col-3 col-form-label">Ponderación Capacidad Intrínseca II Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado2Nivele" name="txtPonderado2Nivele" placeholder="Ponderación Capacidad Intrínseca II Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Subclasificacion3" class="col-3 col-form-label">Sub-Clasificación III Nivel</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion3e" name="txtSubclasificacion3e" placeholder="Sub-Clasificación III Nivel" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Ponderación Capacidad Intrínseca III Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMaterialRequerido3Ne" name="cbAlistamientoMaterialRequerido3Ne"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequeridoe" name="txtRequeridoe" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativoe" name="txtOperativoe" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPorcentajeOperatividade" name="txtPorcentajeOperatividade" placeholder="Porcentaje Operatividad" required>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PorcentajeFuncional" class="col-3 col-form-label">Porcentaje Funcional</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="PorcentajeFuncionale" name="PorcentajeFuncionale" placeholder="Nivel de Alistamiento Parcial" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamientoParcial" class="col-3 col-form-label">Nivel De Alistamiento Parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamientoParciale" name="txtNivelAlistamientoParciale" placeholder="Nivel de Alistamiento Parcial" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzocuatroAlistamientoMaterial">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzocuatroAlistamientoMaterial()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComzocuatroAlistamientoMaterial">Masiva</a>
            <a class="dropdown-item" href="~/ComzocuatroAlistamientoMaterial/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComzocuatroAlistamientoMaterial" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Capacidad Operativa</th>
                <th>Capacidad Intrinseca I Nivel</th>
                <th>Ponderación Capacidad Intrínseca I Nivel</th>
                <th>Sub-Clasificación II Nivel</th>
                <th>Ponderación Capacidad Intrínseca II Nivel</th>
                <th>Sub-Clasificación III Nivel</th>
                <th>Ponderación Capacidad Intrínseca III Nivel</th>
                <th>Requerido</th>
                <th>Operativo</th>
                <th>Porcentaje Operatividad</th>
                <th>Porcentaje Funcional</th>
                <th>Nivel De Alistamiento Parcial</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzocuatro/comzocuatro-alistamientomaterial.js" asp-append-version="true"></script>
}
