@{
    ViewData["Title"] = "Transmisión del programa radial “Embarcados”";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DimarTransmisionProgramaRadial/Individual" style="text-decoration:none;">Transmisión del programa radial “Embarcados”</a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaTransmision" class="col-3 col-form-label">Fecha de transmisión</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTransmision" name="txtFechaTransmision" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tipo o Tema de información emitida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitida" name="cbTipoInformacionEmitida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivo" name="cbPublicoObjetivo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Reproducciones" class="col-3 col-form-label">Reproducciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtReproducciones" name="txtReproducciones" placeholder="Reproducciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Oyentes" class="col-3 col-form-label">Oyentes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOyentes" name="txtOyentes" placeholder="Oyentes" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarTransmisionProgramaRadial">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaTransmision" class="col-3 col-form-label">Fecha de transmisión</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTransmisione" name="txtFechaTransmisione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tipo o Tema de información emitida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitidae" name="cbTipoInformacionEmitidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivoe" name="cbPublicoObjetivoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Reproducciones" class="col-3 col-form-label">Reproducciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtReproduccionese" name="txtReproduccionese" placeholder="Reproducciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Oyentes" class="col-3 col-form-label">Oyentes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOyentese" name="txtOyentese" placeholder="Oyentes" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarTransmisionProgramaRadial/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DimarTransmisionProgramaRadial" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDimarTransmisionProgramaRadial()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDimarTransmisionProgramaRadial" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha de transmisión</th>
                <th>Tipo o Tema de información emitida</th>
                <th>Público objetivo</th>
                <th>Reproducciones</th>
                <th>Oyentes</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dimar/dimar-transmisionprogramaradial.js" asp-append-version="true"></script>
}
