@{
    ViewData["Title"] = "Especialización y Perfeccionamiento del Personal Superior de la Marina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresuvalEspecializacionPerfeccPSuperior/Individual" style="text-decoration:none;">Especialización y Perfeccionamiento del Personal Superior de la Marina</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalSuperior" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalSuperior" name="txtDNIPersonalSuperior" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadAnios" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadAnios" name="txtEdadAnios" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCondicion" name="txtCondicion" placeholder="Condición" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución a la que Pertenece</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitar" name="cbEntidadMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonal" name="cbEspecialidadGenericaPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Procedencia" class="col-3 col-form-label">Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcedencia" name="txtProcedencia" data-placeholder="Seleccione ...">
                            <option value="Escuela de Formación">Escuela de Formación</option>
                            <option value="Universidades">Universidades</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioPromocion" class="col-3 col-form-label">Año de Promoción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPromocion" name="txtAnioPromocion" placeholder="Año de Promoción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionGrupo" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo">Programa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionGrupo" name="cbProgramaEspecializacionGrupo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionEspecifico" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico">Programa Específico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionEspecificacion" name="cbProgramaEspecializacionEspecificacion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha de Registro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistro" name="txtFechaRegistro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadEspecializacion" class="col-3 col-form-label">Modalidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtModalidadEspecializacion" name="txtModalidadEspecializacion" data-placeholder="Seleccione ...">
                            <option value="Presencial">Presencial</option>
                            <option value="Virtual">Virtual</option>
                            <option value="Presencial cada 2 años">Presencial cada 2 años</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoPrograma" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoPrograma" name="txtConcluyoPrograma" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivoNoConcluir" name="txtMotivoNoConcluir" data-placeholder="Seleccione ...">
                            <option value="Insuficiencia académica">Insuficiencia académica</option>
                            <option value="Problema de salud">Problema de salud</option>
                            <option value="Cambio de colocación">Cambio de colocación</option>
                            <option value="Fallecimiento">Fallecimiento</option>
                            <option value="Otros (Caso concluyó estudios)">Otros (Caso concluyó estudios)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionObtenida" class="col-3 col-form-label">Calificación Final Obtenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionObtenida" name="txtCalificacionObtenida" placeholder="Calificación Final Obtenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CertificacionObtenido" class="col-3 col-form-label">Certificación /título Obtenido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCertificacionObtenido" name="txtCertificacionObtenido" placeholder="Certificación /título Obtenido" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresuvalEspecializacionPerfeccPSuperior">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalSuperior" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalSuperiore" name="txtDNIPersonalSuperiore" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadAnios" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadAniose" name="txtEdadAniose" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCondicione" name="txtCondicione" placeholder="Condición" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución a la que Pertenece</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitare" name="cbEntidadMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonale" name="cbEspecialidadGenericaPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Procedencia" class="col-3 col-form-label">Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtProcedenciae" name="txtProcedenciae" data-placeholder="Seleccione ...">
                            <option value="Escuela de Formación">Escuela de Formación</option>
                            <option value="Universidades">Universidades</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioPromocion" class="col-3 col-form-label">Año de Promoción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPromocione" name="txtAnioPromocione" placeholder="Año de Promoción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionGrupo" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionGrupo">Programa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionGrupoe" name="cbProgramaEspecializacionGrupoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProgramaEspecializacionEspecifico" class="col-3 col-form-label"><a href="~/ProgramaEspecializacionEspecifico">Programa Específico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaEspecializacionEspecificacione" name="cbProgramaEspecializacionEspecificacione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha de Registro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistroe" name="txtFechaRegistroe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadEspecializacion" class="col-3 col-form-label">Modalidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtModalidadEspecializacione" name="txtModalidadEspecializacione" data-placeholder="Seleccione ...">
                            <option value="Presencial">Presencial</option>
                            <option value="Virtual">Virtual</option>
                            <option value="Presencial cada 2 años">Presencial cada 2 años</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcluyoPrograma" class="col-3 col-form-label">Concluyó Programa de Estudios</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcluyoProgramae" name="txtConcluyoProgramae" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoNoConcluir" class="col-3 col-form-label">Motivos de no Concluir</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivoNoConcluire" name="txtMotivoNoConcluire" data-placeholder="Seleccione ...">
                            <option value="Insuficiencia académica">Insuficiencia académica</option>
                            <option value="Problema de salud">Problema de salud</option>
                            <option value="Cambio de colocación">Cambio de colocación</option>
                            <option value="Fallecimiento">Fallecimiento</option>
                            <option value="Otros (Caso concluyó estudios)">Otros (Caso concluyó estudios)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificacionObtenida" class="col-3 col-form-label">Calificación Final Obtenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCalificacionObtenidae" name="txtCalificacionObtenidae" placeholder="Calificación Final Obtenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CertificacionObtenido" class="col-3 col-form-label">Certificación /título Obtenido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCertificacionObtenidoe" name="txtCertificacionObtenidoe" placeholder="Certificación /título Obtenido" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresuvalEspecializacionPerfeccPSuperior">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiresuvalEspecializacionPerfeccPSuperior" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresuvalEspecializacionPerfeccPSuperior()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
    <table class="table table-striped" id="tblDiresuvalEspecializacionPerfeccPSuperior" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Condición</th>
                <th>Institución a la que Pertenece</th>
                <th>Grado</th>
                <th>Especialidad</th>
                <th>Procedencia</th>
                <th>Año de Promoción</th>
                <th>Dependencia</th>
                <th>Zona Naval</th>
                <th>Programa</th>
                <th>Programa Específico</th>
                <th>Fecha Inicio</th>
                <th>Fecha Término</th>
                <th>Fecha de Registro</th>
                <th>Modalidad</th>
                <th>Concluyó Programa de Estudios</th>
                <th>Motivos de no Concluir</th>
                <th>Calificación Final Obtenida</th>
                <th>Certificación /título Obtenido</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresuval/diresuval-especializacionperfeccpsuperior.js" asp-append-version="true"></script>
}
