@{
    ViewData["Title"] = "AlistamientosRepuestosCriticos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/AlistamientoRepuestoCritico" style="text-decoration:none;">Alistamientos Repuestos Críticos</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodR" class="col-3 col-form-label">Código Repuesto Critico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodR" name="txtCodR" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistema" class="col-3 col-form-label">Sistema Repuesto Crítico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistema" name="cbSistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSubsistema" class="col-3 col-form-label">Subsistema Repuesto Crítico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubsistema" name="cbSubsistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipo" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipo" name="txtEquipo" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRepuesto" class="col-3 col-form-label">Repuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRepuesto" name="txtRepuesto" placeholder="Repuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistente" class="col-3 col-form-label">Existente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistente" name="txtExistente" placeholder="Existente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNecesario" class="col-3 col-form-label">Necesario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNecesario" name="txtNecesario" placeholder="Necesario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficiente" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficiente" name="txtCoeficiente" placeholder="Coeficiente" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoRepuestoCritico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodR" class="col-3 col-form-label">Código Repuesto Critico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodRe" name="txtCodRe" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistemae" class="col-3 col-form-label">Sistema Repuesto Crítico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistemae" name="cbSistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSubsistemae" class="col-3 col-form-label">Subsistema Repuesto Crítico</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubsistemae" name="cbSubsistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipoe" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoe" name="txtEquipoe" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRepuestoe" class="col-3 col-form-label">Repuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRepuestoe" name="txtRepuestoe" placeholder="Repuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistentee" class="col-3 col-form-label">Existente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistentee" name="txtExistentee" placeholder="Existente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNecesarioe" class="col-3 col-form-label">Necesario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNecesarioe" name="txtNecesarioe" placeholder="Necesario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficientee" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficientee" name="txtCoeficientee" placeholder="Coeficiente" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoRepuestoCritico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>


<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaAlistamientoRepuestoCritico()" />
    <table class="table table-striped" id="tblAlistamientoRepuestoCriticos" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Código Repuesto Critico</th>
                <th>Sistema Repuesto Crítico</th>
                <th>Subsistema Repuesto Crítico</th>
                <th>Equipo</th>
                <th>Repuesto</th>
                <th>Existente</th>
                <th>Necesario</th>
                <th>Coeficiente Ponderación</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/alistamientorepuestocritico.js" asp-append-version="true"></script>
}