@{
    ViewData["Title"] ="BajasenTiempodePaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperpacBajaTiempoPaz/Individual" style="text-decoration:none;">Bajas en Tiempo de Paz</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Militar que Realizó la Actividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamento" name="cbDepartamento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvincia" name="cbProvincia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistrito" name="cbDistrito"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonal">Jerarquía</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonal" name="cbGradoPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoBaja" class="col-3 col-form-label"><a href="~/TipoBaja">Tipo de Bajas</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoBaja" name="cbTipoBaja"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtMotivoBajaTiempoPaz" class="col-3 col-form-label">Motivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMotivoBajaTiempoPaz" name="txtMotivoBajaTiempoPaz" placeholder="Motivo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperpacBajaTiempoPaz">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Militar que Realizó la Actividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoe" name="cbDepartamentoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciae" name="cbProvinciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoe" name="cbDistritoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonal">Jerarquía</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonale" name="cbGradoPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoBaja" class="col-3 col-form-label"><a href="~/TipoBaja">Tipo de Bajas</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoBajae" name="cbTipoBajae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoBajaTiempoPaz" class="col-3 col-form-label">Motivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMotivoBajaTiempoPaze" name="txtMotivoBajaTiempoPaze" placeholder="Motivo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperpacBajaTiempoPaz">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComoperpacBajaTiempoPaz" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperpacBajaTiempoPaz()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblComoperpacBajaTiempoPaz" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Zona Militar que Realizó la Actividad</th>
                <th>Departamento</th>
                <th>Provincia </th>
                <th>Distrito</th>
                <th>Jerarquía</th>
                <th>Tipo de Bajas</th>
                <th>Motivo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperpac/comoperpac-bajatiempopaz.js" asp-append-version="true"></script>
}
