@{
    ViewData["Title"] = "Proceso de Selección y Contrataciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DircomatProcesoSeleccionContratacion/Individual" style="text-decoration:none;">Proceso de Selección y Contrataciones </a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroPAC" class="col-3 col-form-label">Nro PAC</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroPAC" name="txtNroPAC" placeholder="Nro PAC" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoSeleccion" class="col-3 col-form-label"><a href="~/TipoSeleccion">Tipo Selección</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoSeleccion" name="cbTipoSeleccion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadConvocante" class="col-3 col-form-label"><a href="~/EntidadConvocante">Entidad Convocante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEntidadConvocante" name="cbEntidadConvocante"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FuenteFin" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFuenteFin" name="cbFuenteFin"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObjetoContratacion" class="col-3 col-form-label"><a href="~/ObjetoContratacion">Objeto Contratación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbObjetoContratacion" name="cbObjetoContratacion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Moneda" class="col-3 col-form-label"><a href="~/Moneda">Moneda</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMoneda" name="cbMoneda"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoProcesoS" class="col-3 col-form-label">Monto Proceso Siacomar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoProcesoS" name="txtMontoProcesoS" placeholder="Monto Proceso Siacomar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubunidadE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">Subunidad Ejecutora</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubunidadE" name="cbSubunidadE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaTecnica" class="col-3 col-form-label"><a href="~/AreaTecnica">Área Técnica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreaTecnica" name="cbAreaTecnica"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaUsuaria" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Área Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreaUsuaria" name="cbAreaUsuaria"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MonedaReferencia" class="col-3 col-form-label"><a href="~/Moneda">Moneda Referencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMonedaRef" name="cbMonedaRef"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="ValorReferencia" class="col-3 col-form-label">Valor Referencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtValorReferencia" name="txtValorReferencia" placeholder="Valor Referencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObservacionProceso" class="col-3 col-form-label"><a href="~/ObservacionProceso">Observación Proceso</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbObservacionProceso" name="cbObservacionProceso"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaConvocatoria" class="col-3 col-form-label">Fecha Convocatoria</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaConvocatoria" name="txtFechaConvocatoria"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaBuenaPro" class="col-3 col-form-label">Fecha Buena Pro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaBuenaPro" name="txtFechaBuenaPro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MonedaAdjudicado" class="col-3 col-form-label"><a href="~/Moneda">Moneda Adjudicado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMonedaAdjud" name="cbMonedaAdjud"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoAdjudicado" class="col-3 col-form-label">Monto Adjudicado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtMontoAdjudicado" name="txtMontoAdjudicado" placeholder="Monto Adjudicado" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircomatProcesoSeleccionContratacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroPAC" class="col-3 col-form-label">Nro PAC</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroPACe" name="txtNroPACe" placeholder="Nro PAC" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoSeleccion" class="col-3 col-form-label"><a href="~/TipoSeleccion">Tipo Selección</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoSeleccione" name="cbTipoSeleccione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadConvocante" class="col-3 col-form-label"><a href="~/EntidadConvocante">Entidad Convocante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEntidadConvocantee" name="cbEntidadConvocantee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FuenteFin" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFuenteFine" name="cbFuenteFine"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObjetoContratacion" class="col-3 col-form-label"><a href="~/ObjetoContratacion">Objeto Contratación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbObjetoContratacione" name="cbObjetoContratacione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Moneda" class="col-3 col-form-label"><a href="~/Moneda">Moneda</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMonedae" name="cbMonedae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoProcesoS" class="col-3 col-form-label">Monto Proceso Siacomar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoProcesoSe" name="txtMontoProcesoSe" placeholder="Monto Proceso Siacomar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubunidadE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">Subunidad Ejecutora</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubunidadEe" name="cbSubunidadEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaTecnica" class="col-3 col-form-label"><a href="~/AreaTecnica">Área Técnica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreaTecnicae" name="cbAreaTecnicae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaUsuaria" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Área Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreaUsuariae" name="cbAreaUsuariae"></select>
                    </div>
                </div>
               <div class="form-group row col-md-6">
                    <label for="MonedaReferencia" class="col-3 col-form-label"><a href="~/Moneda">Moneda Referencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMonedaRefe" name="cbMonedaRefe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ValorReferencia" class="col-3 col-form-label">Valor Referencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtValorReferenciae" name="txtValorReferenciae" placeholder="Valor Referencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObservacionProceso" class="col-3 col-form-label"><a href="~/ObservacionProceso">Observación Proceso</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbObservacionProcesoe" name="cbObservacionProcesoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaConvocatoria" class="col-3 col-form-label">Fecha Convocatoria</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaConvocatoriae" name="txtFechaConvocatoriae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaBuenaPro" class="col-3 col-form-label">Fecha Buena Pro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaBuenaProe" name="txtFechaBuenaProe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MonedaAdjudicado" class="col-3 col-form-label"><a href="~/Moneda">Moneda Adjudicado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMonedaAdjude" name="cbMonedaAdjude"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoAdjudicado" class="col-3 col-form-label">Monto Adjudicado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtMontoAdjudicadoe" name="txtMontoAdjudicadoe" placeholder="Monto Adjudicado" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircomatProcesoSeleccionContratacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DircomatProcesoSeleccionContratacion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDircomatProcesoSeleccionContratacion()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDircomatProcesoSeleccionContratacion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Mes</th>
                <th>Nro PAC</th>
                <th>Tipo Selección</th>
                <th>Entidad Convocante</th>
                <th>Fuente Financiamiento</th>
                <th>Objeto Contratación</th>
                <th>Moneda</th>
                <th>Monto Proceso Siacomar</th>
                <th>Subunidad Ejecutora</th>
                <th>Área Técnica</th>
                <th>Área Usuaria</th>
                <th>Moneda Referencia</th>
                <th>Valor Referencia</th>
                <th>Observación Proceso</th>
                <th>Fecha Convocatoria</th>
                <th>Fecha Buena Pro </th>
                <th>Moneda Adjudicado</th>
                <th>Monto Adjudicado</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/dircomat/dircomat-procesoselecioncontrat.js" asp-append-version="true"></script>
}
