@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/DirintemarConsultaBibliograficas" style="text-decoration:none;">Consultas Bibliográficas</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/DirintemarConsultaBibliograficas/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/DirintemarConsultaBibliograficas/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Vista Previa</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Guardar Formato</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table class="table table-striped" id="tbData" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">
                                    <th>Código</th>
                                    <th>Fecha Consulta</th>
                                    <th>Libro Prestado Consulta</th>
                                    <th>Publicaciones Prestadas</th>
                                    <th>Revista Prestada</th>
                                    <th>Folleto Prestado</th>
                                    <th>Lectura Interna</th>
                                    <th>Referencia Bibliográfica</th>
                                    <th>Busqueda En Sistema</th>
                                    <th>Total Consulta Bibliográfica</th>
                                    <th>Usuarios o Lectores</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        function mostrarDatos() {
            const input = document.getElementById("inputExcel")
            const formData = new FormData()
            formData.append("ArchivoExcel", input.files[0])
            fetch("Formato/MostrarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    console.log(dataJson);
                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.nombreTemaEstudioInvestigacion),
                                $("<td>").text(item.tipoEstudioInvestigacion),
                                $("<td>").text(item.fechaInicio),
                                $("<td>").text(item.fechaTermino),
                                $("<td>").text(item.responsable),
                                $("<td>").text(item.solicitante)
                            )
                        )
                    })
                })
        }

        function enviarDatos() {
            const input = document.getElementById("inputExcel")
            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])
            fetch("Formato/EnviarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    alert(dataJson.mensaje);
                })
        }
    </script>
}