@{
    ViewData["Title"] = "Consultas Bibliográficas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirintemarConsultaBibliograficas" class="titulo" style="text-decoration:none;">Consultas Bibliográficas</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4 class="subtitulo">Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaConsulta" class="col-3 col-form-label">Fecha Consulta</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaConsulta" name="txtFechaConsulta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LibroPrestado" class="col-3 col-form-label">Libro Prestado Consulta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLibroPrestado" name="txtLibroPrestado" placeholder="Libro Prestado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicacionesP" class="col-3 col-form-label">Publicaciones Prestadas</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPublicacionesP" name="txtPublicacionesP" placeholder="Publicaciones Prestadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RevistaPrestada" class="col-3 col-form-label">Revista Prestada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRevistaPrestada" name="txtRevistaPrestada" placeholder="Revista Prestada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FolletoPrestado" class="col-3 col-form-label">Folleto Prestado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFolletoPrestado" name="txtFolletoPrestado" placeholder="Revista Prestada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LecturaInterna" class="col-3 col-form-label">Lectura Interna</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLecturaInterna" name="txtLecturaInterna" placeholder="Lectura Interna" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Referencia Bibliografica" class="col-3 col-form-label">Referencia Bibliográfica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtReferenciaBibli" name="txtReferenciaBibli" placeholder="Referencia Bibliográfica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BusquedaSistema" class="col-3 col-form-label">Busqueda En Sistema</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBusquedaSistema" name="txtBusquedaSistema" placeholder="Busqueda En Sistema" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsultaBibli" class="col-3 col-form-label">Total Consulta Bibliográfica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsultaBibli" name="txtConsultaBibli" placeholder="Total Consulta Bibliográfica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UsuariosLectores" class="col-3 col-form-label">Usuarios o Lectores</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUsuariosLectores" name="txtUsuariosLectores" placeholder="Usuarios o Lectores" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarConsultaBibliograficas">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaConsulta" class="col-3 col-form-label">Fecha Consulta</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaConsultae" name="txtFechaConsultae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LibroPrestado" class="col-3 col-form-label">Libro Prestado Consulta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLibroPrestadoe" name="txtLibroPrestadoe" placeholder="Libro Prestado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicacionesP" class="col-3 col-form-label">Publicaciones Prestadas</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPublicacionesPe" name="txtPublicacionesPe" placeholder="Publicaciones Prestadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RevistaPrestada" class="col-3 col-form-label">Revista Prestada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRevistaPrestadae" name="txtRevistaPrestadae" placeholder="Revista Prestada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FolletoPrestado" class="col-3 col-form-label">Folleto Prestado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFolletoPrestadoe" name="txtFolletoPrestadoe" placeholder="Revista Prestada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LecturaInterna" class="col-3 col-form-label">Lectura Interna</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLecturaInternae" name="txtLecturaInternae" placeholder="Lectura Interna" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Referencia Bibliografica" class="col-3 col-form-label">Referencia Bibliográfica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtReferenciaBiblie" name="txtReferenciaBiblie" placeholder="Referencia Bibliográfica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BusquedaSistema" class="col-3 col-form-label">Busqueda En Sistema</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtBusquedaSistemae" name="txtBusquedaSistemae" placeholder="Busqueda En Sistema" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsultaBibli" class="col-3 col-form-label">Total Consulta Bibliográfica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsultaBiblie" name="txtConsultaBiblie" placeholder="Total Consulta Bibliográfica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UsuariosLectores" class="col-3 col-form-label">Usuarios o Lectores</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUsuariosLectorese" name="txtUsuariosLectorese" placeholder="Usuarios o Lectores" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarConsultaBibliograficas">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarConsultaBibliograficas" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarConsultaBibliograficas()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarConsultaBibliograficas" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha Consulta</th>
                <th>Libro Prestado Consulta</th>
                <th>Publicaciones Prestadas</th>
                <th>Revista Prestada</th>
                <th>Folleto Prestado</th>
                <th>Lectura Interna</th>
                <th>Referencia Bibliográfica</th>
                <th>Busqueda En Sistema</th>
                <th>Total Consulta Bibliográfica</th>
                <th>Usuarios o Lectores</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/dirintemar/dirintemar-consultabibliografica.js" asp-append-version="true"></script>
}
