@{
    ViewData["Title"] = "Milla Navegada Combustible Hidrografia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DihidronavMillaNavegadaCombustibleHidrografia/Individual" style="text-decoration:none;">Millas navegadas y consumo de combustible de las unidades hidrográficas</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Orden" class="col-3 col-form-label">N° Orden</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrden" name="txtOrden" placeholder="N° Orden" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidad" name="cbUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Casco" class="col-3 col-form-label">Numero de Casco</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCasco" name="txtCasco" placeholder="Numero de Casco" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Milla" class="col-3 col-form-label">Milla</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtMilla" name="txtMilla" placeholder="Milla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Hora" class="col-3 col-form-label">Horas</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHora" name="txtHora" placeholder="Horas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Combustible" class="col-3 col-form-label">Combustible</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustible" name="txtCombustible" placeholder="Combustible" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DihidronavMillaNavegadaCombustibleHidrografia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Orden" class="col-3 col-form-label">N° Orden</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrdene" name="txtOrdene" placeholder="N° Orden" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidade" name="cbUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Casco" class="col-3 col-form-label">Numero de Casco</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCascoe" name="txtCascoe" placeholder="Numero de Casco" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Milla" class="col-3 col-form-label">Milla</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtMillae" name="txtMillae" placeholder="Milla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Hora" class="col-3 col-form-label">Horas</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHorae" name="txtHorae" placeholder="Horas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Combustible" class="col-3 col-form-label">Combustible</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustiblee" name="txtCombustiblee" placeholder="Combustible" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DihidronavMillaNavegadaCombustibleHidrografia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DihidronavMillaNavegadaCombustibleHidrografia" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDihidronavMillaNavegadaCombustibleHidrografia()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>
    <table class="table table-striped" id="tblDihidronavMillaNavegadaCombustibleHidrografia" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>N° Orden</th>
                <th>Unidad</th>
                <th>Numero de Casco</th>
                <th>Mes</th>
                <th>Milla</th>
                <th>Horas</th>
                <th>Combustible</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dihidronav/dihidronav-millanavegadacombustiblehidrografia.js" asp-append-version="true"></script>
}
