@{
    ViewData["Title"] = "Desarrollo de Acciones para Mejora de Clima Laboral del Personal Naval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DipermarDesarrolloAccionesClimaLaboral/Individual" style="text-decoration:none;">Desarrollo de Acciones para Mejora de Clima Laboral del Personal Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ProgramaACima" class="col-3 col-form-label"><a href="~/ActClimaLaboralGeneral">Programa Acciones Clima Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaACima" name="cbProgramaACima"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Actividad" class="col-3 col-form-label"><a href="~/ActClimaLaboralEspecifica">Actividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbActividad" name="cbActividad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tematica" class="col-3 col-form-label">Temática</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTematica" name="txtTematica" placeholder="Temática" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarActividad" class="col-3 col-form-label">Lugar Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugarActividad" name="txtLugarActividad" placeholder="Lugar Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha de Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha de Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroActividad" class="col-3 col-form-label">Número de horas de Actividad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroActividad" name="txtNumeroActividad" placeholder="Número de horas de Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalS" class="col-3 col-form-label">Número Personal Superior Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalS" name="txtNumeroPersonalS" placeholder="Número Personal Superior Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalSP" class="col-3 col-form-label">Número Personal Subalterno Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalSP" name="txtNumeroPersonalSP" placeholder="Número Personal Subalterno Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalM" class="col-3 col-form-label">Número Personal Marinería Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalM" name="txtNumeroPersonalM" placeholder="Número Personal Marinería Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalC" class="col-3 col-form-label">Número Personal Civil Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalC" name="txtNumeroPersonalC" placeholder="Número Personal Civil Participante" required>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarDesarrolloAccionesClimaLaboral">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ProgramaACima" class="col-3 col-form-label"><a href="~/ActClimaLaboralGeneral">Programa Acciones Clima Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProgramaACimae" name="cbProgramaACimae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Actividad" class="col-3 col-form-label"><a href="~/ActClimaLaboralEspecifica">Actividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbActividade" name="cbActividade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tematica" class="col-3 col-form-label">Temática</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTematicae" name="txtTematicae" placeholder="Temática" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarActividad" class="col-3 col-form-label">Lugar Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugarActividade" name="txtLugarActividade" placeholder="Lugar Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha de Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha de Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroActividad" class="col-3 col-form-label">Número de horas de Actividad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroActividade" name="txtNumeroActividade" placeholder="Número de horas de Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalS" class="col-3 col-form-label">Número Personal Superior Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalSe" name="txtNumeroPersonalSe" placeholder="Número Personal Superior Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalSP" class="col-3 col-form-label">Número Personal Subalterno Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalSPe" name="txtNumeroPersonalSPe" placeholder="Número Personal Subalterno Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalM" class="col-3 col-form-label">Número Personal Marinería Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalMe" name="txtNumeroPersonalMe" placeholder="Número Personal Marinería Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroPersonalC" class="col-3 col-form-label">Número Personal Civil Participante</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroPersonalCe" name="txtNumeroPersonalCe" placeholder="Número Personal Civil Participante" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarDesarrolloAccionesClimaLaboral">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">

    <p><a href="~/DipermarDesarrolloAccionesClimaLaboral" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDipermarDesarrolloAccionesClimaLaboral()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDipermarDesarrolloAccionesClimaLaboral" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Programa Acciones Clima Laboral</th>
                <th>Actividad</th>
                <th>Temática</th>
                <th>Lugar Actividad</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Termino</th>
                <th>Número de horas de Actividad</th>
                <th>Número Personal Superior Participante</th>
                <th>Dependencia</th>
                <th>Número Personal Subalterno Participante</th>
                <th>Número Personal Marinería Participante</th>
                <th>Número Personal Civil Participante</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dipermar/dipermar-desarrolloaccionesclimalaboral.js" asp-append-version="true"></script>

}
