@{
    ViewData["Title"] = "Segunda Especialidad Profesional y Tecnica Del Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiredumarSegEspecialidadPersonalSupSub/Individual" style="text-decoration:none;">Segunda Especialidad Profesional y Técnica del Personal Superior y Subalterno</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIP" name="txtCIP" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre</label>
                    <div class="col-md-9">
                         <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaN" name="txtFechaN"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                         <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                       <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoPersonal" name="txtTipoPersonal" data-placeholder="Seleccione ..."></select>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar</a></label>
                    <div class="col-md-9">
                         <select class="form-select form-select-sm" id="cbGradoPersonalM" name="cbGradoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaP" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Generica Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialidadGenericaP" name="cbEspecialidadGenericaP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoProgramaC" class="col-3 col-form-label">Tipo de programa de capacitación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoProgramaC" name="txtTipoProgramaC" data-placeholder="Seleccione ...">
                            <option value="Institucional">Institucional</option>
                            <option value="Extrainstitucional">Extrainstitucional</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisU" class="col-3 col-form-label"><a href="~/PaisUbigeo" style="text-decoration:none;">País Ubigeo </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPaisU" name="cbPaisU"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadaMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar" style="text-decoration:none;">Entidad Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEntidadaMilitar" name="cbEntidadaMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoEscuela" class="col-3 col-form-label"><a href="~/CodigoEscuela" style="text-decoration:none;">Codigo Escuela</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCodigoEscuela" name="cbCodigoEscuela"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MencionCurso" class="col-3 col-form-label">Mención Curso</label>
                    <div class="col-md-9">
                         <input type="text" class="form-control form-control-sm" id="txtMencionCurso" name="txtMencionCurso" placeholder="Mención Curso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Financiamiento" class="col-3 col-form-label">Financiamiento</label>
                    <div class="col-md-9">
                       <select class="form-select form-select-sm" id="txtFinanciamiento" name="txtFinanciamiento" data-placeholder="Seleccione ...">
                            <option value="Institución">Institución</option>
                            <option value="Propio">Propio</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIinicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIinicio" name="txtFechaIinicio"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha Registro </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistro" name="txtFechaRegistro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraCapacitacion" class="col-3 col-form-label">Horas Capacitación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraCapacitacion" name="txtHoraCapacitacion" placeholder="Hora Capacitación"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Calificacion" class="col-3 col-form-label">Calificación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCalificacion" name="txtCalificacion" data-placeholder="Seleccione ...">
                            <option value="Por actividad">Por actividad</option>
                            <option value="Por orientación">Por orientación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoTerminoC" class="col-3 col-form-label"><a href="~/MotivoTerminoCurso" style="text-decoration:none;">Motivo TerminoCurso</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivoTerminoC" name="cbMotivoTerminoC"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiredumarSegEspecialidadPersonalSupSub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPe" name="txtCIPe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre</label>
                    <div class="col-md-9">
                         <input type="text" class="form-control form-control-sm" id="txtNombree" name="txtNombree" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNe" name="txtFechaNe"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                         <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                       <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoPersonale" name="txtTipoPersonale" data-placeholder="Seleccione ..."></select>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar</a></label>
                    <div class="col-md-9">
                         <select class="form-select form-select-sm" id="cbGradoPersonalMe" name="cbGradoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaP" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Generica Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialidadGenericaPe" name="cbEspecialidadGenericaPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoProgramaC" class="col-3 col-form-label">Tipo de programa de capacitación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoProgramaCe" name="txtTipoProgramaCe" data-placeholder="Seleccione ...">
                            <option value="Institucional">Institucional</option>
                            <option value="Extrainstitucional">Extrainstitucional</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisU" class="col-3 col-form-label"><a href="~/PaisUbigeo" style="text-decoration:none;">País Ubigeo </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPaisUe" name="cbPaisUe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadaMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar" style="text-decoration:none;">Entidad Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEntidadaMilitare" name="cbEntidadaMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoEscuela" class="col-3 col-form-label"><a href="~/CodigoEscuela" style="text-decoration:none;">Codigo Escuela</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCodigoEscuelae" name="cbCodigoEscuelae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MencionCurso" class="col-3 col-form-label">Mención Curso</label>
                    <div class="col-md-9">
                         <input type="text" class="form-control form-control-sm" id="txtMencionCursoe" name="txtMencionCursoe" placeholder="Mención Curso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Financiamiento" class="col-3 col-form-label">Financiamiento</label>
                    <div class="col-md-9">
                       <select class="form-select form-select-sm" id="txtFinanciamientoe" name="txtFinanciamientoe" data-placeholder="Seleccione ...">
                            <option value="Institución">Institución</option>
                            <option value="Propio">Propio</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIinicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIinicioe" name="txtFechaIinicioe"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha Registro </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRegistroe" name="txtFechaRegistroe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraCapacitacion" class="col-3 col-form-label">Horas Capacitación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraCapacitacione" name="txtHoraCapacitacione" placeholder="Hora Capacitación"  required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Calificacion" class="col-3 col-form-label">Calificación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCalificacione" name="txtCalificacione" data-placeholder="Seleccione ...">
                            <option value="Por actividad">Por actividad</option>
                            <option value="Por orientación">Por orientación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoTerminoC" class="col-3 col-form-label"><a href="~/MotivoTerminoCurso" style="text-decoration:none;">Motivo TerminoCurso</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivoTerminoCe" name="cbMotivoTerminoCe"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiredumarSegEspecialidadPersonalSupSub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiredumarSegEspecialidadPersonalSupSub" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiredumarSegEspecialidadPersonalSupSub()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDiredumarSegEspecialidadPersonalSupSub" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>CIP</th>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Fecha Nacimiento</th>
                <th>Sexo</th>
                <th>Dependencia</th>
                <th>Tipo de personal</th>
                <th>Grado Personal Militar</th>
                <th>Especialidad Generica Personal</th>
                <th>Tipo de programa de capacitación</th>
                <th>País</th>
                <th>Entidad Militar</th>
                <th>Código Escuela</th>
                <th>Mención Curso</th>
                <th>Financiamiento</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Fecha Registro</th>
                <th>Hora Capacitación</th>
                <th>Calificación</th>
                <th>Motivo TerminoCurso</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diredumar/diredumar-segespecialidadpersonalsupsbu.js" asp-append-version="true"></script>
}
