@{
    ViewData["Title"] = "MantenimientoRealizadoDependencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DialiMantRealizadoDependencia/Individual" style="text-decoration:none;">Mantenimiento Realizado a las Unidades y Dependencia Navales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoUnidadM" class="col-3 col-form-label">Tipo Unidad Mantenimiento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoUnidadM" name="txtTipoUnidadM" data-placeholder="Seleccione ...">
                            <option value="Unidad naval">Unidad naval</option>
                            <option value="Dependencia">Dependencia</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaProgramada" class="col-3 col-form-label">Tarea Programada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaProgramada" name="txtTareaProgramada" placeholder="Tarea Programada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaEjecutada" class="col-3 col-form-label">Tarea Ejecutada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaEjecutada" name="txtTareaEjecutada" placeholder="Tarea Ejecutada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaNoE" class="col-3 col-form-label">Tarea No Ejecutada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaNoE" name="txtTareaNoE" placeholder="Tarea No Ejecutada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaP" class="col-3 col-form-label">TNE Falta Personal</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaP" name="txtTNEFaltaP" placeholder="TNE Falta Personal" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaT" class="col-3 col-form-label">TNE Falta Tiempo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaT" name="txtTNEFaltaT" placeholder="TNE Falta Tiempo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaR" class="col-3 col-form-label">TNE Falta Repuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaR" name="txtTNEFaltaR" placeholder="TNE Falta Repuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaM" class="col-3 col-form-label">TNE Falta Material</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaM" name="txtTNEFaltaM" placeholder="TNE Falta Material" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaPres" class="col-3 col-form-label">TNE Falta Presupuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaPres" name="txtTNEFaltaPres" placeholder="TNE Falta Presupuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaH" class="col-3 col-form-label">TNE Falta Herramienta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaH" name="txtTNEFaltaH" placeholder="TNE Falta Herramienta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaInst" class="col-3 col-form-label">TNE Falta Instrumento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaInst" name="txtTNEFaltaInst" placeholder="TNE Falta Instrumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaC" class="col-3 col-form-label">TNE Falta Conocimiento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaC" name="txtTNEFaltaC" placeholder="TNE Falta Conocimiento" required>
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DialiMantRealizadoDependencia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoUnidadM" class="col-3 col-form-label">Tipo Unidad Mantenimiento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoUnidadMe" name="txtTipoUnidadMe" data-placeholder="Seleccione ...">
                            <option value="Unidad naval">Unidad naval</option>
                            <option value="Dependencia">Dependencia</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes" style="text-decoration:none;">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaProgramada" class="col-3 col-form-label">Tarea Programada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaProgramadae" name="txtTareaProgramadae" placeholder="Tarea Programada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaEjecutada" class="col-3 col-form-label">Tarea Ejecutada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaEjecutadae" name="txtTareaEjecutadae" placeholder="Tarea Ejecutada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TareaNoE" class="col-3 col-form-label">Tarea No Ejecutada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTareaNoEe" name="txtTareaNoEe" placeholder="Tarea No Ejecutada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaP" class="col-3 col-form-label">TNE Falta Personal</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaPe" name="txtTNEFaltaPe" placeholder="TNE Falta Personal" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaT" class="col-3 col-form-label">TNE Falta Tiempo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaTe" name="txtTNEFaltaTe" placeholder="TNE Falta Tiempo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaR" class="col-3 col-form-label">TNE Falta Repuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaRe" name="txtTNEFaltaRe" placeholder="TNE Falta Repuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaM" class="col-3 col-form-label">TNE Falta Material</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaMe" name="txtTNEFaltaMe" placeholder="TNE Falta Material" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaPres" class="col-3 col-form-label">TNE Falta Presupuesto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaPrese" name="txtTNEFaltaPrese" placeholder="TNE Falta Presupuesto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaH" class="col-3 col-form-label">TNE Falta Herramienta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaHe" name="txtTNEFaltaHe" placeholder="TNE Falta Herramienta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaInst" class="col-3 col-form-label">TNE Falta Instrumento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaInste" name="txtTNEFaltaInste" placeholder="TNE Falta Instrumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TNEFaltaC" class="col-3 col-form-label">TNE Falta Conocimiento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTNEFaltaCe" name="txtTNEFaltaCe" placeholder="TNE Falta Conocimiento" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DialiMantRealizadoDependencia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DialiMantRealizadoDependencia" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDialiMantRealizadoDependencia()" />
    <div class="row align-items-start mb-4">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr/>
    <table class="table table-striped" id="tblDialiMantRealizadoDependencia" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Unidad Mantenimiento</th>
                <th>Nombre Unidad Dependencia</th>
                <th>Mes</th>
                <th>Tarea Programada</th>
                <th>Tarea Ejecutada</th>
                <th>Tarea No Ejecutada</th>
                <th>TNE Falta Personal</th>
                <th>TNE Falta Tiempo</th>
                <th>TNE Falta Repuesto</th>
                <th>TNE Falta Material</th>
                <th>TNE Falta Presupuesto</th>
                <th>TNE Falta Herramienta</th>
                <th>TNE Falta Instrumento</th>
                <th>TNE Falta Conocimiento</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts{
    <script src="/js/diali/diali-mantrealizadodependencia.js" asp-append-version="true"></script>
}
