@{
    ViewData["Title"] = "Consolidados de comisiones a ceremonias navales institucionales y extrainstitucionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DimarConsolidadoComisionCeremonia/Individual" style="text-decoration:none;">
        Consolidados de comisiones a ceremonias navales institucionales y extrainstitucionales
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaActividad" class="col-3 col-form-label">Fecha de actividad</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaActividad" name="txtFechaActividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Actividad" class="col-3 col-form-label">Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtActividad" name="txtActividad" placeholder="Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedida" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedida" name="cbUnidadMedida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivo" name="cbPublicoObjetivo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Costo" class="col-3 col-form-label">Costo (S/.)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCosto" name="txtCosto" placeholder="Costo (S/.)" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarConsolidadoComisionCeremonia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="FechaActividad" class="col-3 col-form-label">Fecha de actividad</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaActividade" name="txtFechaActividade" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Actividad" class="col-3 col-form-label">Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtActividade" name="txtActividade" placeholder="Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedida" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedidae" name="cbUnidadMedidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivoe" name="cbPublicoObjetivoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Costo" class="col-3 col-form-label">Costo (S/.)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCostoe" name="txtCostoe" placeholder="Costo (S/.)" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarConsolidadoComisionCeremonia/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DimarConsolidadoComisionCeremonia" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDimarConsolidadoComisionCeremonia()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDimarConsolidadoComisionCeremonia" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha de actividad</th>
                <th>Actividad</th>
                <th>Unidad de medida</th>
                <th>Público objetivo</th>
                <th>Costo (S/.)</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dimar/dimar-consolidadocomisionceremonia.js" asp-append-version="true"></script>
}
