@{
    ViewData["Title"] = "Alquiler de Areas y Salones de los Centros de Esparcimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/BienestarAlquilerAreaCentroEsparcimiento/Individual" style="text-decoration:none;">Alquiler de Areas y Salones de los Centros de Esparcimiento</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaVisitaC" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaVisitaC" name="txtFechaVisitaC" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIUsuario" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIUsuario" name="txtDNIUsuario" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UsuarioCentroE" class="col-3 col-form-label"><a href="~/UsuarioAlquilerCentroEsparcimiento">Tipo de Usuario</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUsuarioCentroE" name="cbUsuarioCentroE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClubEsparcimiento" class="col-3 col-form-label"><a href="~/ClubEsparcimiento">Centros de Esparcimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClubEsparcimiento" name="cbClubEsparcimiento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasSalonesClubE" class="col-3 col-form-label"><a href="~/AreaSalonClubEsparcimiento">Área y/o salón de Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreasSalonesClubE" name="cbAreasSalonesClubE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEvento" class="col-3 col-form-label"><a href="~/TipoEvento">Tipo Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoEvento" name="cbTipoEvento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraInicio" class="col-3 col-form-label">Hora de Inicio</label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtHoraInicio" name="txtHoraInicio" placeholder="Hora de Inicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraTermino" class="col-3 col-form-label">Hora de Término </label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtHoraTermino" name="txtHoraTermino" placeholder="Hora de Término " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroHoras" class="col-3 col-form-label">Nª horas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroHoras" name="txtNumeroHoras" placeholder="Nª horas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroInvitados" class="col-3 col-form-label">Número de Invitados</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroInvitados" name="txtNumeroInvitados" placeholder="Número de Invitados" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoFacturado" class="col-3 col-form-label">Monto Facturado S/</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoFacturado" name="txtMontoFacturado" placeholder="Monto Facturado S/" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarAlquilerAreaCentroEsparcimiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaVisitaC" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaVisitaCe" name="txtFechaVisitaCe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIUsuario" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIUsuarioe" name="txtDNIUsuarioe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UsuarioCentroE" class="col-3 col-form-label"><a href="~/UsuarioAlquilerCentroEsparcimiento">Tipo de Usuario</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUsuarioCentroEe" name="cbUsuarioCentroEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClubEsparcimiento" class="col-3 col-form-label"><a href="~/ClubEsparcimiento">Centros de Esparcimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClubEsparcimientoe" name="cbClubEsparcimientoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasSalonesClubE" class="col-3 col-form-label"><a href="~/AreaSalonClubEsparcimiento">Área y/o salón de Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreasSalonesClubEe" name="cbAreasSalonesClubEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEvento" class="col-3 col-form-label"><a href="~/TipoEvento">Tipo Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoEventoe" name="cbTipoEventoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraInicio" class="col-3 col-form-label">Hora de Inicio</label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtHoraInicioe" name="txtHoraInicioe" placeholder="Hora de Inicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraTermino" class="col-3 col-form-label">Hora de Término </label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtHoraTerminoe" name="txtHoraTerminoe" placeholder="Hora de Término " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroHoras" class="col-3 col-form-label">Nª horas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroHorase" name="txtNumeroHorase" placeholder="Nª horas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroInvitados" class="col-3 col-form-label">Número de Invitados</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroInvitadose" name="txtNumeroInvitadose" placeholder="Número de Invitados" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MontoFacturado" class="col-3 col-form-label">Monto Facturado S/</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoFacturadoe" name="txtMontoFacturadoe" placeholder="Monto Facturado S/" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarAlquilerAreaCentroEsparcimiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarAlquilerAreaCentroEsparcimiento" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarAlquilerAreaCentroEsparcimiento()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
    <table class="table table-striped" id="tblBienestarAlquilerAreaCentroEsparcimiento" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha</th>
                <th>Dni Usuario</th>
                <th>Tipo de Usuario</th>
                <th>Centros de Esparcimiento</th>
                <th>Área y/o salón de Esparcimiento</th>
                <th>Tipo Evento</th>
                <th>Hora de Inicio</th>
                <th>Hora de Término </th>
                <th>Nª horas</th>
                <th>Número de Invitados</th>
                <th>Monto Facturado S/</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-alquilerareacentroesparcimiento.js" asp-append-version="true"></script>
}
