@{
    ViewData["Title"] = "Home Page";
}
<div class="contenido.bien">
    <div style="text-align: center;">
    <img width="299" class="emblema" src="~/img/logo1.png" />
    </div>
    <div style="text-align: center;">
        <h1>
        Sistema  Información Estadística Marina de Guerra del Perú
        </h1>
        <h3>
        (SIESMAR)
        </h3>
    </div>
</div>
