@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>
            <a href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu" style="text-decoration:none;">
                Evaluación del alistamiento del entrenamiento
            </a>
        </h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Identificación unidad naval y/o dependencia de entrenamiento</th>
                                    <th>Nivel de entrenamiento</th>
                                    <th>Capacidad Operativa</th>
                                    <th>Tipo de capacidad operativa</th>
                                    <th>Código de ejercicio</th>
                                    <th>Ejercicio (descripción)</th>
                                    <th>Subejercicio (Aspectos específicos a evaluar)</th>
                                    <th>Peso de cada sub-ejercicio</th>
                                    <th>Calificación</th>
                                    <th>Fecha del periodo a evaluar el ejercicio</th>
                                    <th>Fecha de realización del ejercicio</th>
                                    <th>Tiempo de vigencia (Días)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/comflotflu/comflotflu-evaluacionalistamientoentrenamientocomflotflu.js" asp-append-version="true"></script>
}