@{
    ViewData["Title"] = "Evaluación del alistamiento del entrenamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu/Individual" style="text-decoration:none;">
        Evaluación del alistamiento del entrenamiento
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="cbUnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Identificación unidad naval y/o dependencia de entrenamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEntrenamiento" class="col-3 col-form-label">Nivel de entrenamiento</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtNivelEntrenamiento" name="txtNivelEntrenamiento">
                            <option value="I">INTERMEDIO</option>
                            <option value="A">AVANZADO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativa" name="cbCapacidadOperativa"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCapacidadOperativa" class="col-3 col-form-label">Tipo de capacidad operativa</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoCapacidadOperativa" name="txtTipoCapacidadOperativa">
                            <option value="1">Principal</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EjercicioEntrenamientoAspecto" class="col-3 col-form-label"><a href="~/EjercicioEntrenamientoAspecto">Sub-Ejercicio (Aspectos específicos a evaluar)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEjercicioEntrenamientoAspecto" name="cbEjercicioEntrenamientoAspecto"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoEjercicioEntrenamiento " class="col-3 col-form-label">Código de ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoEjercicioEntrenamiento" name="txtCodigoEjercicioEntrenamiento" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtDescEjercicioEntrenamiento" class="col-3 col-form-label">Ejercicio (Descripción)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescEjercicioEntrenamiento" name="txtDescEjercicioEntrenamiento" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAspectoEvaluacion" class="col-3 col-form-label">Subejercicio(Aspectos específicos a evaluar)
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAspectoEvaluacion" name="txtAspectoEvaluacion" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPeso" class="col-3 col-form-label">Peso de cada subejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeso" name="txtPeso" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificativoAsignadoEjercicio" class="col-3 col-form-label"><a href="~/CalificativoAsignadoEjercicio">Calificación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCalificativoAsignadoEjercicio" name="cbCalificativoAsignadoEjercicio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPeriodoEvaluar" class="col-3 col-form-label">Fecha del periodo a evaluar el ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPeriodoEvaluar" name="txtFechaPeriodoEvaluar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRealizacionEjercicio" class="col-3 col-form-label">Fecha de realización del ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRealizacionEjercicio" name="txtFechaRealizacionEjercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoVigencia" class="col-3 col-form-label">Tiempo de vigencia (Días)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoVigencia" name="txtTiempoVigencia" placeholder="Tiempo de vigencia (Días)" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="cbUnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Identificación unidad naval y/o dependencia de entrenamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEntrenamiento" class="col-3 col-form-label">Nivel de entrenamiento</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtNivelEntrenamientoe" name="txtNivelEntrenamientoe">
                            <option value="I">INTERMEDIO</option>
                            <option value="A">AVANZADO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativae" name="cbCapacidadOperativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCapacidadOperativa" class="col-3 col-form-label">Tipo de capacidad operativa</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoCapacidadOperativae" name="txtTipoCapacidadOperativae">
                            <option value="1">Principal</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EjercicioEntrenamientoAspecto" class="col-3 col-form-label"><a href="~/EjercicioEntrenamientoAspecto">Sub-Ejercicio (Aspectos específicos a evaluar)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEjercicioEntrenamientoAspectoe" name="cbEjercicioEntrenamientoAspectoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCodigoEjercicioEntrenamiento " class="col-3 col-form-label">Código de ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoEjercicioEntrenamientoe" name="txtCodigoEjercicioEntrenamientoe" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtDescEjercicioEntrenamiento" class="col-3 col-form-label">Ejercicio (Descripción)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescEjercicioEntrenamientoe" name="txtDescEjercicioEntrenamientoe" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAspectoEvaluacion" class="col-3 col-form-label">
                        Subejercicio(Aspectos específicos a evaluar)
                    </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAspectoEvaluacione" name="txtAspectoEvaluacione" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPeso" class="col-3 col-form-label">Peso de cada subejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPesoe" name="txtPesoe" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificativoAsignadoEjercicio" class="col-3 col-form-label"><a href="~/CalificativoAsignadoEjercicio">Calificación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCalificativoAsignadoEjercicioe" name="cbCalificativoAsignadoEjercicioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPeriodoEvaluar" class="col-3 col-form-label">Fecha del periodo a evaluar el ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPeriodoEvaluare" name="txtFechaPeriodoEvaluare" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRealizacionEjercicio" class="col-3 col-form-label">Fecha de realización del ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRealizacionEjercicioe" name="txtFechaRealizacionEjercicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoVigencia" class="col-3 col-form-label">Tiempo de vigencia (Días)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoVigenciae" name="txtTiempoVigenciae" placeholder="Tiempo de vigencia (Días)" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComflotfluEvaluacionAlistamientoEntrenamientoComflotflu()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu">Masiva</a>
            <a class="dropdown-item" href="~/ComflotfluEvaluacionAlistamientoEntrenamientoComflotflu/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComflotfluEvaluacionAlistamientoEntrenamientoComflotflu" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Identificación unidad naval y/o dependencia de entrenamiento</th>
                <th>Nivel de entrenamiento</th>
                <th>Capacidad Operativa</th>
                <th>Tipo de capacidad operativa</th>
                <th>Código de ejercicio</th>
                <th>Ejercicio (descripción)</th>
                <th>Subejercicio (Aspectos específicos a evaluar)</th>
                <th>Peso de cada sub-ejercicio</th>
                <th>Calificación</th>
                <th>Fecha del periodo a evaluar el ejercicio</th>
                <th>Fecha de realización del ejercicio</th>
                <th>Tiempo de vigencia (Días)</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comflotflu/comflotflu-evaluacionalistamientoentrenamientocomflotflu.js" asp-append-version="true"></script>
}
