@{
    ViewData["Title"] = "Personal Militar Retiro Baja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiperadmonPersonalMilitarRetiroBaja/Individual" style="text-decoration:none;">Personal Militar Retiro Baja</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonalM" name="cbGradoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialdadG" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Genérica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialdadG" name="cbEspecialdadG"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoBajaP" class="col-3 col-form-label"><a href="~/MotivoBajaPersonal" style="text-decoration:none;">MotivoBajaPersonal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivoBajaP" name="cbMotivoBajaP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaR" class="col-3 col-form-label">Fecha Retiro </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaR" name="txtFechaR" required>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiperadmonPersonalMilitarRetiroBaja">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonalMe" name="cbGradoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialdadG" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal" style="text-decoration:none;">Especialidad Genérica</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbEspecialdadGe" name="cbEspecialdadGe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MotivoBajaP" class="col-3 col-form-label"><a href="~/MotivoBajaPersonal" style="text-decoration:none;">MotivoBajaPersonal</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivoBajaPe" name="cbMotivoBajaPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaR" class="col-3 col-form-label">Fecha Retiro </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRe" name="txtFechaRe" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiperadmonPersonalMilitarRetiroBaja">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiperadmonPersonalMilitarRetiroBaja" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiperadmonPersonalMilitarRetiroBaja()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDiperadmonPersonalMilitarRetiroBaja" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Grado Personal Militar</th>
                <th>Sexo</th>
                <th>Especialidad Genérica</th>
                <th>MotivoBajaPersonal</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Retiro</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diperadmon/diperadmon-personalmilitarbaja.js" asp-append-version="true"></script>
}
