@{
    ViewData["Title"] = "Situación de Combustibles y Lubricantes (ACL)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComesclaAlistCombustibleLubricante/Individual" style="text-decoration:none;">Situación de Combustibles y Lubricantes (ACL)</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Tipo De Movilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoCombustibleLubricante2" class="col-3 col-form-label"><a href="~/AlistamientoCombustibleLubricante2">Alistamiento Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoCombustibleLubricante2" name="cbAlistamientoCombustibleLubricante2"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Articulo" class="col-3 col-form-label">Articulo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticulo" name="txtArticulo" placeholder="Articulo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Equipo" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipo" name="txtEquipo" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DescUnidadMedida" class="col-3 col-form-label">Unidad de Carga</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDescUnidadMedida" name="txtDescUnidadMedida" placeholder="Unidad de Carga" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCargo" name="txtCargo" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Aumento" class="col-3 col-form-label">Aumento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAumento" name="txtAumento" placeholder="Aumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Consumo" class="col-3 col-form-label">Consumo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumo" name="txtConsumo" placeholder="Consumo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Existencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExistencia" name="txtExistencia" placeholder="Existencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesclaAlistCombustibleLubricante">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Tipo De Movilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoCombustibleLubricante2" class="col-3 col-form-label"><a href="~/AlistamientoCombustibleLubricante2">Alistamiento Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoCombustibleLubricante2e" name="cbAlistamientoCombustibleLubricante2e"></select>
                    </div>
                </div>


                <div class="form-group row col-md-6">
                    <label for="Articulo" class="col-3 col-form-label">Articulo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticuloe" name="txtArticuloe" placeholder="Articulo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Equipo" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoe" name="txtEquipoe" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DescUnidadMedida" class="col-3 col-form-label">Unidad de Carga</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDescUnidadMedidae" name="txtDescUnidadMedidae" placeholder="Unidad de Carga" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCargoe" name="txtCargoe" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Aumento" class="col-3 col-form-label">Aumento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAumentoe" name="txtAumentoe" placeholder="Aumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Consumo" class="col-3 col-form-label">Consumo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConsumoe" name="txtConsumoe" placeholder="Consumo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Existencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExistenciae" name="txtExistenciae" placeholder="Existencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesclaAlistCombustibleLubricante">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComesclaAlistCombustibleLubricante()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComesclaAlistCombustibleLubricante">Masiva</a>
            <a class="dropdown-item" href="~/ComesclaAlistCombustibleLubricante/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComesclaAlistCombustibleLubricante" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo De Movilidad</th>
                <th>Articulo</th>
                <th>Equipo</th>
                <th>Unidad de Carga</th>
                <th>Cargo</th>
                <th>Aumento</th>
                <th>Consumo</th>
                <th>Existencia</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comescla/comescla-alistcombustiblelubricante.js" asp-append-version="true"></script>
}
