@{
    ViewData["Title"] = "Actividades Culturales Realizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DirintemarActividadCultural/Individual" style="text-decoration:none;">Actividades Culturales Realizadas</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoActividad" class="col-3 col-form-label"><a href="~/TipoActividadCultural" style="text-decoration:none;">Tipo Actividad Cultural</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoActividad" name="cbTipoActividad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Fecha Término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaT" name="txtFechaT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugar" name="txtLugar" placeholder="Lugar Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Auspiciadores" class="col-3 col-form-label">Auspiciadores</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAuspiciadores" name="txtAuspiciadores" placeholder="Auspiciadores" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NParticipantes" class="col-3 col-form-label">Número Participantes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNParticipantes" name="txtNParticipantes" placeholder="Número Participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Inversión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversion" name="txtInversion" placeholder="Inversión" required>
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarActividadCultural">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombree" name="txtNombree" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoActividad" class="col-3 col-form-label"><a href="~/TipoActividadCultural" style="text-decoration:none;">Tipo Actividad Cultural</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoActividade" name="cbTipoActividade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIe" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTe" class="col-3 col-form-label">Fecha Término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTe" name="txtFechaTe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar Actividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugare" name="txtLugare" placeholder="Lugar Actividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Auspiciadores" class="col-3 col-form-label">Auspiciadores</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAuspiciadorese" name="txtAuspiciadorese" placeholder="Auspiciadores" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NParticipantes" class="col-3 col-form-label">Número Participantes</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNParticipantese" name="txtNParticipantese" placeholder="Número Participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Inversión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversione" name="txtInversione" placeholder="Inversión" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarActividadCultural">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarActividadCultural" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarActividadCultural()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarActividadCultural" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Nombre Actividad</th>
                <th>Tipo Actividad</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Lugar Actividad</th>
                <th>Auspiciadores</th>
                <th>Número participantes</th>
                <th>Inversión</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dirintemar/dirintemar-actividadcultural.js" asp-append-version="true"></script>
}
