@{
    ViewData["Title"] = "Cubrimiento Vacantes de Grumetes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresgrumCubrimientoVacantesGrumete/Individual" style="text-decoration:none;">Cubrimiento de Vacantes de Grumetes</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroContingente" class="col-3 col-form-label">Número de Contingente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNumeroContingente" name="txtNumeroContingente" data-placeholder="Seleccione ...">
                            <option value="1">Primer contingente</option>
                            <option value="2">Segundo contingente</option>
                            <option value="3">Tercer contingente</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especialidad" class="col-3 col-form-label"><a href="~/EspecialidadGrumete">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidad" name="cbEspecialidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGenero" name="txtGenero" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroRequerido" class="col-3 col-form-label">Número Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroRequerido" name="txtNumeroRequerido" placeholder="Número Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivo" class="col-3 col-form-label">Número Efectivo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivo" name="txtNumeroEfectivo" placeholder="Número Efectivo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Deficit" class="col-3 col-form-label">Déficit</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDeficit" name="txtDeficit" placeholder="Déficit" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresgrumCubrimientoVacantesGrumete">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroContingente" class="col-3 col-form-label">Número de Contingente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNumeroContingentee" name="txtNumeroContingentee" data-placeholder="Seleccione ...">
                            <option value="1">Primer contingente</option>
                            <option value="2">Segundo contingente</option>
                            <option value="3">Tercer contingente</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especialidad" class="col-3 col-form-label"><a href="~/EspecialidadGrumete">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidade" name="cbEspecialidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGeneroe" name="txtGeneroe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroRequerido" class="col-3 col-form-label">Número Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroRequeridoe" name="txtNumeroRequeridoe" placeholder="Número Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivo" class="col-3 col-form-label">Número Efectivo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivoe" name="txtNumeroEfectivoe" placeholder="Número Efectivo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Deficit" class="col-3 col-form-label">Déficit</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDeficite" name="txtDeficite" placeholder="Déficit" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresgrumCubrimientoVacantesGrumete">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiresgrumCubrimientoVacantesGrumete" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresgrumCubrimientoVacantesGrumete()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDiresgrumCubrimientoVacantesGrumete" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Número de Contingente</th>
                <th>Especialidad</th>
                <th>Género</th>
                <th>Número Requerido</th>
                <th>Número Efectivo</th>
                <th>Déficit</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresgrum/diresgrum-cubrimientovacantesgrumete.js" asp-append-version="true"></script>
}
