@{
    ViewData["Title"] = "Archivo Actividades Trabajos de Investigación e Innovación Ejecución";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DincydetArchivoActividadEjecucion/Individual" style="text-decoration:none;">Archivo Actividades Trabajos de Investigación e Innovación Ejecución </a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Denominacion" class="col-3 col-form-label">Denominación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDenominacion" name="txtDenominacion" placeholder="Denominación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoTActividad" class="col-3 col-form-label">Tipo Trabajo Actividad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoTActividad" name="txtTipoTActividad" data-placeholder="Seleccione ...">
                            <option value="Investigación">Investigación</option>
                            <option value="Desarrollo">Desarrollo</option>
                            <option value="Innovación">Innovación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionActualA" class="col-3 col-form-label">Situación Actual Avance</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtSituacionActualA" name="txtSituacionActualA" placeholder="Situación Actual Avance" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FTesoroPublico" class="col-3 col-form-label">Financiamiento Tesoro Público</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFTesoroPublico" name="txtFTesoroPublico" step=".01" placeholder="Financiamiento Tesoro Público" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FRDRInversion" class="col-3 col-form-label">Financiamiento RDR Inversión</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFRDRInversion" name="txtFRDRInversion" step=".01" placeholder="Financiamiento RDR Inversión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FTransferencia" class="col-3 col-form-label">Financiamiento Transferencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFTransferencia" name="txtFTransferencia" step=".01" placeholder="Financiamiento Transferenci" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoActividadEjecucion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>  
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Denominacion" class="col-3 col-form-label">Denominación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDenominacione" name="txtDenominacione" placeholder="Denominación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoTActividad" class="col-3 col-form-label">Tipo Trabajo Actividad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoTActividade" name="txtTipoTActividade" data-placeholder="Seleccione ...">
                            <option value="Investigación">Investigación</option>
                            <option value="Desarrollo">Desarrollo</option>
                            <option value="Innovación">Innovación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionActualA" class="col-3 col-form-label">Situación Actual Avance</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtSituacionActualAe" name="txtSituacionActualAe" placeholder="Situación Actual Avance" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FTesoroPublico" class="col-3 col-form-label">Financiamiento Tesoro Público</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFTesoroPublicoe" name="txtFTesoroPublicoe" step=".01" placeholder="Financiamiento Tesoro Público" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FRDRInversion" class="col-3 col-form-label">Financiamiento RDR Inversión</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFRDRInversione" name="txtFRDRInversione" step=".01" placeholder="Financiamiento RDR Inversión" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FTransferencia" class="col-3 col-form-label">Financiamiento Transferencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtFTransferenciae" name="txtFTransferenciae" step=".01" placeholder="Financiamiento Transferenci" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoActividadEjecucion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/DincydetArchivoActividadEjecucion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDincydetArchivoActividadEjecucion()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDincydetArchivoActividadEjecucion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Denominación</th>
                <th>Tipo Trabajo Actividad</th>
                <th>Situación Actual Avance </th>
                <th>Financiamiento Tesoro Público</th>
                <th>Financiamiento RDR Inversión </th>
                <th>Financiamiento Transferencia </th>
                <th>Código Cargo </th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@section Scripts{
    <script src="/js/dincydet/dincydet-archivoactividadejecucion.js" asp-append-version="true"></script>
}
