@{
    ViewData["Title"] = "Campañas comunicacionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DimarCampañaComunicacional/Individual" style="text-decoration:none;">Campañas comunicacionales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ProductoDimar" class="col-3 col-form-label"><a href="~/ProductoDimar">Tipo Producto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProductoDimar" name="cbProductoDimar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPublicacion" class="col-3 col-form-label">Fecha de publicación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPublicacion" name="txtFechaPublicacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlataformaMedioPublicacion" class="col-3 col-form-label">Plataforma o medio de publicación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlataformaMedioPublicacion" name="txtPlataformaMedioPublicacion" placeholder="Plataforma o medio de publicación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tema de información</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitida" name="cbTipoInformacionEmitida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivo" name="cbPublicoObjetivo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadProducida" class="col-3 col-form-label">Cantidad producida / Tiraje</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadProducida" name="txtCantidadProducida" placeholder="Cantidad producida / Tiraje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia de difusión</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusion" name="cbFrecuenciaDifusion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CostoCampania" class="col-3 col-form-label">Costo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCostoCampania" name="txtCostoCampania" placeholder="Costo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarCampañaComunicacional">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="ProductoDimar" class="col-3 col-form-label"><a href="~/ProductoDimar">Tipo Producto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProductoDimare" name="cbProductoDimare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPublicacion" class="col-3 col-form-label">Fecha de publicación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPublicacione" name="txtFechaPublicacione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlataformaMedioPublicacion" class="col-3 col-form-label">Plataforma o medio de publicación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlataformaMedioPublicacione" name="txtPlataformaMedioPublicacione" placeholder="Plataforma o medio de publicación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tema de información</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitidae" name="cbTipoInformacionEmitidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivoe" name="cbPublicoObjetivoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadProducida" class="col-3 col-form-label">Cantidad producida / Tiraje</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadProducidae" name="txtCantidadProducidae" placeholder="Cantidad producida / Tiraje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia de difusión</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusione" name="cbFrecuenciaDifusione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CostoCampania" class="col-3 col-form-label">Costo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCostoCampaniae" name="txtCostoCampaniae" placeholder="Costo" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarCampañaComunicacional/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DimarCampañaComunicacional" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDimarCampañaComunicacional()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDimarCampañaComunicacional" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Producto</th>
                <th>Fecha de publicación</th>
                <th>Dependencia solicitante</th>
                <th>Plataforma o medio de publicación</th>
                <th>Tema de información</th>
                <th>Público objetivo</th>
                <th>Cantidad producida / Tiraje</th>
                <th>Frecuencia de difusión</th>
                <th>Costo</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dimar/dimar-campañacomunicacional.js" asp-append-version="true"></script>
}
