@{
    ViewData["Title"] = "Cuadro de Registro de Perdida o Robo de Tarjeta de Identidad Naval del Personal de la Fuerza de Superficie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComfasRegistroPerdidaRoboIdentificacion/Individual" style="text-decoration:none;">Cuadro de Registro de Perdida o Robo de Tarjeta de Identidad Naval del Personal de la Fuerza de Superficie</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInforme" class="col-3 col-form-label">Fecha de Informe</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInforme" name="txtFechaInforme" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonal" name="cbEspecialidadGenericaPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIPPersonal" name="txtCIPPersonal" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIncidente" class="col-3 col-form-label">Fecha Incidente</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIncidente" name="txtFechaIncidente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label">Motivo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivo" name="txtMotivo" data-placeholder="Seleccione ...">
                            <option value="R">Robo</option>
                            <option value="P">Pérdida</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeNavalReferencia" class="col-3 col-form-label">Mensaje Naval de Referencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeNavalReferencia" name="txtMensajeNavalReferencia" placeholder="Mensaje Naval de Referencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasRegistroPerdidaRoboIdentificacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInforme" class="col-3 col-form-label">Fecha de Informe</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInformee" name="txtFechaInformee" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadGenericaPersonal" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especilidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadGenericaPersonale" name="cbEspecialidadGenericaPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonal" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIPPersonale" name="txtCIPPersonale" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIncidente" class="col-3 col-form-label">Fecha Incidente</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIncidentee" name="txtFechaIncidentee" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label">Motivo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtMotivoe" name="txtMotivoe" data-placeholder="Seleccione ...">
                            <option value="R">Robo</option>
                            <option value="P">Pérdida</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeNavalReferencia" class="col-3 col-form-label">Mensaje Naval de Referencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeNavalReferenciae" name="txtMensajeNavalReferenciae" placeholder="Mensaje Naval de Referencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasRegistroPerdidaRoboIdentificacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasRegistroPerdidaRoboIdentificacion()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComfasRegistroPerdidaRoboIdentificacion">Masiva</a>
            <a class="dropdown-item" href="~/ComfasRegistroPerdidaRoboIdentificacion/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasRegistroPerdidaRoboIdentificacion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Fecha de Informe</th>
                <th>Grado</th>
                <th>Especilidad</th>
                <th>CIP</th>
                <th>Fecha Incidente</th>
                <th>Motivo</th>
                <th>Mensaje Naval de Referencia</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfas/comfas-registroperdidaroboidentificacion.js" asp-append-version="true"></script>
}
