@{
    ViewData["Title"] = "CoeficientesPonderadosARCs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/CoeficientePonderadoARC" style="text-decoration:none;">Coeficientes Ponderados ARC</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCapacidad" class="col-3 col-form-label">Capacidad Intrínseca</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidad" name="txtCapacidad" placeholder="Capacidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCLM" class="col-3 col-form-label">CLM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCLM" name="txtCLM" placeholder="CLM" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFM" class="col-3 col-form-label">FM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFM" name="txtFM" placeholder="FM" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCM" class="col-3 col-form-label">CM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCM" name="txtCM" placeholder="CM" required>
                    </div>
                </div>
                  <div class="form-group row col-md-6">
                    <label for="txtFT" class="col-3 col-form-label">FT</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFT" name="txtFT" placeholder="FT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAUX" class="col-3 col-form-label">AUX</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAUX" name="txtAUX" placeholder="AUX" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/CoeficientePonderadoARC">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCapacidade" class="col-3 col-form-label">Capacidad Intrínseca</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidade" name="txtCapacidade" placeholder="Capacidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCLMe" class="col-3 col-form-label">CLM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCLMe" name="txtCLMe" placeholder="CLMe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFMe" class="col-3 col-form-label">FM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFMe" name="txtFMe" placeholder="FMe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCMe" class="col-3 col-form-label">CM</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCMe" name="txtCMe" placeholder="CM" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtFTe" class="col-3 col-form-label">FT</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFTe" name="txtFTe" placeholder="FT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAUXe" class="col-3 col-form-label">AUX</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAUXe" name="txtAUXe" placeholder="AUX" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/CoeficientePonderadoARC">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaCoeficientePonderadoARC()" />
    <table class="table table-striped" id="tblCoeficientePonderadoARCs" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Capacidad Intrínseca</th>
                <th>CLM</th>
                <th>FM</th>
                <th>CM</th>
                <th>FT</th>
                <th>AUX</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/coeficienteponderadoARC.js" asp-append-version="true"></script>
}
