@{
    ViewData["Title"] = "Registo Incidente Informatico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirtelRegistroIncidenteInformatico/Individual" style="text-decoration:none;">Incidentes Informaticos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-13">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRe" class="col-3 col-form-label">Fecha del Incidente</label>
                    <div class="col-md-13">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRe" name="txtFechaRe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre de quien Reporta</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" placeholder="Nombre de quien Reporta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripcion del Incidente</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" name="txtDescripcion" placeholder="Descripcion del Incidente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInci" class="col-3 col-form-label"><a href="~/TipoIncidenteSGSI">Tipo Incidente</a></label>
                    <div class="col-md-13">
                        <select class="form-control form-select-sm" id="cbTipoInci" name="cbTipoInci"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nivel" class="col-3 col-form-label">Nivel Prioridad de Atencion</label>
                    <div class="col-md-13">
                        <select class="form-select form-select-sm" id="txtNivel" name="txtNivel" data-placeholder="Seleccione ...">
                            <option value="1">Inferior</option>
                            <option value="2">Bajo</option>
                            <option value="3">Medio</option>
                            <option value="4">Alto</option>
                            <option value="5">Superior</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Erradicacion" class="col-3 col-form-label">Estrategia de Erradicacion o Recuperacion</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtErradicacion" name="txtErradicacion" placeholder="Estrategia de Erradicacion o Recuperacion" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirtelRegistroIncidenteInformatico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-13">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRe" class="col-3 col-form-label">Fecha del Incidente</label>
                    <div class="col-md-13">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRee" name="txtFechaRee" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre de quien Reporta</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtNombree" name="txtNombree" placeholder="Nombre de quien Reporta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripcion del Incidente</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcione" name="txtDescripcione" placeholder="Descripcion del Incidente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInci" class="col-3 col-form-label"><a href="~/TipoIncidenteSGSI">Tipo Incidente</a></label>
                    <div class="col-md-13">
                        <select class="form-control form-select-sm" id="cbTipoIncie" name="cbTipoIncie"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nivel" class="col-3 col-form-label">Nivel Prioridad de Atencion</label>
                    <div class="col-md-13">
                        <select class="form-select form-select-sm" id="txtNivele" name="txtNivele" data-placeholder="Seleccione ...">
                            <option value="1">Inferior</option>
                            <option value="2">Bajo</option>
                            <option value="3">Medio</option>
                            <option value="4">Alto</option>
                            <option value="5">Superior</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Erradicacion" class="col-3 col-form-label">Estrategia de Erradicacion o Recuperacion</label>
                    <div class="col-md-13">
                        <input type="text" class="form-control form-control-sm" id="txtErradicacione" name="txtErradicacione" placeholder="Estrategia de Erradicacion o Recuperacion" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirtelRegistroIncidenteInformatico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirtelRegistroIncidenteInformatico" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirtelRegistroIncidenteInformatico()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDirtelRegistroIncidenteInformatico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Dependencia</th>
                <th>Fecha del Incidente</th>
                <th>Nombre de quien Reporta</th>
                <th>Descripcion del Incidente</th>
                <th>Tipo Incidente</th>
                <th>Nivel Prioridad de Atencion</th>
                <th>Estrategia de Erradicacion o Recuperacion</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dirtel/dirtel-registroincidenteinformatico.js" asp-append-version="true"></script>
}
