@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/IpecamarReporteQuejasSugerPServMilitar" style="text-decoration:none;"> Reporte de quejas, Denuncias, Solicitudes, Sugerencias, Consultas y Requerimientos del Personal del Servicio Militar</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/IpecamarReporteQuejasSugerPServMilitar/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/IpecamarReporteQuejasSugerPServMilitar/DownloadFile" class="btn btn-primary">Descargar Formato</a>

                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table class="table table-striped" id="tbData" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">
                                    <th>Fecha registro</th>
                                    <th>Dependencia</th>
                                    <th>Dirección General </th>
                                    <th>Zona Naval </th>
                                    <th>Tipo de novedad</th>
                                    <th>Situación del personal </th>
                                    <th>Categoría</th>
                                    <th>Acción Tomada</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/ipecamar/ipecamar-reportequejassugerpservmilitar.js" asp-append-version="true"></script>
}