@{
    ViewData["Title"] = "ReporteQuejasDenunciasSolicitudesSugerenciasConsultasyRequerimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/IpecamarReporteQuejasSugerPServMilitar/Individual" style="text-decoration:none;">Reporte de quejas, Denuncias, Solicitudes, Sugerencias, Consultas y Requerimientos del Personal del Servicio Militar</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha registro</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFechaRegistro" name="cbFechaRegistro"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ComandanciaDep" class="col-3 col-form-label"><a href="~/ComandanciaDependencia">Dirección General</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbComandanciaDep" name="cbComandanciaDep"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanaval" name="cbZonanaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoNovedad" class="col-3 col-form-label"><a href="~/TipoNovedad">Tipo de novedad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoNovedad" name="cbTipoNovedad"></select>
                    </div>
                </div>               
                <div class="form-group row col-md-6">
                    <label for="SituacionPersonal" class="col-3 col-form-label">Situación del personal</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionPersonal" name="cbSituacionPersonal">
                            <option value="Personal Militar">Personal Militar</option>
                            <option value="Personal Civil">Personal Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Categoria" class="col-3 col-form-label">Categoría</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCategoria" name="cbCategoria">
                            <option value="Titular">Titular</option>
                            <option value="Familiar">Familiar</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AccionTomada" class="col-3 col-form-label">Acción Tomada</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAccionTomada" name="cbAccionTomada">
                            <option value="Atendido">Atendido</option>
                            <option value="En proces">En proceso</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IpecamarReporteQuejasSugerPServMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaRegistro" class="col-3 col-form-label">Fecha registro</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFechaRegistroe" name="cbFechaRegistroe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ComandanciaDep" class="col-3 col-form-label"><a href="~/ComandanciaDependencia">Dirección General</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbComandanciaDepe" name="cbComandanciaDepe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanavale" name="cbZonanavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoNovedad" class="col-3 col-form-label"><a href="~/TipoNovedad">Tipo de novedad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoNovedade" name="cbTipoNovedade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPersonal" class="col-3 col-form-label">Situación del personal</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionPersonale" name="cbSituacionPersonale">
                            <option value="Personal Militar">Personal Militar</option>
                            <option value="Personal Civil">Personal Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Categoria" class="col-3 col-form-label">Categoría</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCategoriae" name="cbCategoriae">
                            <option value="Titular">Titular</option>
                            <option value="Familiar">Familiar</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AccionTomada" class="col-3 col-form-label">Acción Tomada</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAccionTomadae" name="cbAccionTomadae">
                            <option value="Atendido">Atendido</option>
                            <option value="En proces">En proceso</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IpecamarReporteQuejasSugerPServMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/IpecamarReporteQuejasSugerPServMilitar" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaIpecamarReporteQuejasSugerPServMilitar()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>
    <table class="table table-striped" id="tblIpecamarReporteQuejasSugerPServMilitar" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha registro</th>
                <th>Dependencia</th>
                <th>Dirección General </th>
                <th>Zona Naval </th>
                <th>Tipo de novedad</th>
                <th>Situación del personal </th>
                <th>Categoría</th>
                <th>Acción Tomada</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/ipecamar/ipecamar-reportequejassugerpservmilitar.js" asp-append-version="true"></script>

}
