@{
    ViewData["Title"] = "Representaición y/o Monumentos Historicos en el Pais Relacionados a la Marina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/DirintemarRepresMonumentoHistorico" style="text-decoration:none;">Representaición y/o Monumentos Historicos en el Pais Relacionados a la Marina</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/DirintemarRepresMonumentoHistorico/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/DirintemarRepresMonumentoHistorico/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Vista Previa</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Guardar Formato</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table class="table table-striped" id="tbData" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">                   
                                    <th>Tipo Representación Bien Histórico</th>
                                    <th>Denominación</th>
                                    <th>Tipo Material Bien Histórico</th>
                                    <th>Estado Conservación</th>
                                    <th>Nombre Escultor</th>
                                    <th>Entrega Inaguración</th>
                                    <th>Ubicación Representación</th>
                                    <th>Distrito</th>
                                    <th>Provincia </th>
                                    <th>Departamento</th>
                                    <th>País</th>
                                    <th>Custodio</th>
                                    <th>Referencia</th>
                                    <th>Inversión</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="/js/dirintemar/dirintemar-represmonumentohisto.js" asp-append-version="true"></script>
}