@{
    ViewData["Title"] = "Visita Registrada a los Museos Navales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirintemarVisitaMuseoNaval/Individual" style="text-decoration:none;">Visita Registrada a los Museos Navales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="MuseoNaval" class="col-3 col-form-label"><a href="~/MuseoNaval" style="text-decoration:none;">Museo Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-control-sm" id="cbMuseoNaval" name="cbMuseoNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PeriodoVisitaMuseo" class="col-3 col-form-label">Periodo Visita Museo Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeriodoVisitaMuseo" name="txtPeriodoVisitaMuseo" placeholder="Periodo Visita Museo Naval" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ninos" class="col-3 col-form-label">Niños</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNinos" name="txtNinos" placeholder="Cantidad Niños" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Adultos" class="col-3 col-form-label">Adultos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAdultos" name="txtAdultos" placeholder="Cantidad Adultos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiantesE" class="col-3 col-form-label">Estudiantes Escolares</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstudiantesE" name="txtEstudiantesE" placeholder="Cantidad Estudiantes Escolares" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiantesUniversitarios" class="col-3 col-form-label">Estudiantes Universitrarios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstudiantesUniversitarios" name="txtEstudiantesUniversitarios" placeholder="Cantidad Estudiantes Universitrarios" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Docente" class="col-3 col-form-label">Docente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocente" name="txtDocente" placeholder="Cantidad Docente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Militar" class="col-3 col-form-label">Militar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMilitar" name="txtMilitar" placeholder="Cantidad Militar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FamiliaNavalA" class="col-3 col-form-label">Famiilia Naval Adulto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFamiliaNavalA" name="txtFamiliaNavalA" placeholder="Cantidad Famiilia Naval Adulto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FamiliaNavalN" class="col-3 col-form-label">Familia Naval Niño</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFamiliaNavalN" name="txtFamiliaNavalN" placeholder="Cantidad Familia Naval Niño" required>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="PersonaDiscapacitada" class="col-3 col-form-label">Persona Discapacitada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPersonaDiscapacitada" name="txtPersonaDiscapacitada" placeholder="Cantidad Persona Discapacitada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AdultoMayor" class="col-3 col-form-label">Adulto Civil Mayor</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAdultoMayor" name="txtAdultoMayor" placeholder="Cantidad Adulto Civil Mayor" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Extranjeros" class="col-3 col-form-label">Extranjeros</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExtranjeros" name="txtExtranjeros" placeholder="Cantidad Extranjeros" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OtrosExtran" class="col-3 col-form-label">Otro Extranjeros</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOtrosExtran" name="txtOtrosExtran" placeholder="Cantidad Otro Extranjeros" required>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="NocheLima" class="col-3 col-form-label">Noches Lima</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNocheLima" name="txtNocheLima" placeholder="Cantidad Noches Lima" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalVisita" class="col-3 col-form-label">Total Visita</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTotalVisita" name="txtTotalVisita" placeholder="Total Visita" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RecaudacionT" class="col-3 col-form-label">Recaudación Total</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRecaudacionT" name="txtRecaudacionT" placeholder="Recaudación Total" required>
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarVisitaMuseoNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="MuseoNaval" class="col-3 col-form-label"><a href="~/MuseoNaval" style="text-decoration:none;">Museo Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-control-sm" id="cbMuseoNavale" name="cbMuseoNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PeriodoVisitaMuseo" class="col-3 col-form-label">Periodo Visita Museo Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeriodoVisitaMuseoe" name="txtPeriodoVisitaMuseoe" placeholder="Periodo Visita Museo Naval" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ninos" class="col-3 col-form-label">Niños</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNinose" name="txtNinose" placeholder="Cantidad Niños" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Adultos" class="col-3 col-form-label">Adultos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAdultose" name="txtAdultose" placeholder="Cantidad Adultos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiantesE" class="col-3 col-form-label">Estudiantes Escolares</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstudiantesEe" name="txtEstudiantesEe" placeholder="Cantidad Estudiantes Escolares" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiantesUniversitarios" class="col-3 col-form-label">Estudiantes Universitrarios</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstudiantesUniversitariose" name="txtEstudiantesUniversitariose" placeholder="Cantidad Estudiantes Universitrarios" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Docente" class="col-3 col-form-label">Docente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocentee" name="txtDocentee" placeholder="Cantidad Docente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Militar" class="col-3 col-form-label">Militar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMilitare" name="txtMilitare" placeholder="Cantidad Militar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FamiliaNavalA" class="col-3 col-form-label">Famiilia Naval Adulto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFamiliaNavalAe" name="txtFamiliaNavalAe" placeholder="Cantidad Famiilia Naval Adulto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FamiliaNavalN" class="col-3 col-form-label">Familia Naval Niño</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFamiliaNavalNe" name="txtFamiliaNavalNe" placeholder="Cantidad Familia Naval Niño" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonaDiscapacitada" class="col-3 col-form-label">Persona Discapacitada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPersonaDiscapacitadae" name="txtPersonaDiscapacitadae" placeholder="Cantidad Persona Discapacitada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AdultoMayor" class="col-3 col-form-label">Adulto Civil Mayor</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAdultoMayore" name="txtAdultoMayore" placeholder="Cantidad Adulto Civil Mayor" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Extranjeros" class="col-3 col-form-label">Extranjeros</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExtranjerose" name="txtExtranjerose" placeholder="Cantidad Extranjeros" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OtrosExtran" class="col-3 col-form-label">Otro Extranjeros</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOtrosExtrane" name="txtOtrosExtrane" placeholder="Cantidad Otro Extranjeros" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NocheLima" class="col-3 col-form-label">Noches Lima</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNocheLimae" name="txtNocheLimae" placeholder="Cantidad Noches Lima" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TotalVisita" class="col-3 col-form-label">Total Visita</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTotalVisitae" name="txtTotalVisitae" placeholder="Total Visita" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RecaudacionT" class="col-3 col-form-label">Recaudación Total</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRecaudacionTe" name="txtRecaudacionTe" placeholder="Recaudación Total" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarVisitaMuseoNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarVisitaMuseoNaval" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarVisitaMuseoNaval()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarVisitaMuseoNaval" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Museo Naval</th>
                <th>Periodo Visita Museo Naval </th>
                <th>Niños</th>
                <th>Adultos</th>
                <th>Estudiante Escolar </th>
                <th>Estudiante Universitario</th>
                <th>Docente </th>
                <th>Militar</th>
                <th>Familia Naval Adulto </th>
                <th>Familia Naval Niño </th>
                <th>Persona Discapacitada </th>
                <th>Adultos Civil Mayor </th>
                <th>Extranjera </th>
                <th>Otros Extranjero</th>
                <th>Noches Lima </th>
                <th>Total Visita</th>
                <th>Racaudación Total</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dirintemar/dirintemar-visitamuseonaval.js" asp-append-version="true"></script>
}
