@{
    ViewData["Title"] = "Evaluación del Alistamiento del Entrenamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComzocuatroEvaluacionAlistEntrenamiento/Individual" style="text-decoration:none;">Evaluación del Alistamiento del Entrenamiento</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Identificación Unidad Naval De Entrenamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEntrenamiento" class="col-3 col-form-label">Nivel De Entrenamiento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNivelEntrenamiento" name="txtNivelEntrenamiento" data-placeholder="Seleccione ...">
                            <option value="B">Básico</option>
                            <option value="I">Intermedio</option>
                            <option value="A">Avanzado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativa" name="cbCapacidadOperativa"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCapacidadOperativo" class="col-3 col-form-label">Tipo De Capacidad Operativa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoCapacidadOperativo" name="txtTipoCapacidadOperativo" data-placeholder="Seleccione ...">
                            <option value="1">Principal</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EjercicioEntrenamientoAspecto" class="col-3 col-form-label"><a href="~/EjercicioEntrenamientoAspecto">Código De Ejercicio </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEjercicioEntrenamientoAspecto" name="cbEjercicioEntrenamientoAspecto"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DescEjercicioEntrenamiento" class="col-3 col-form-label">Ejercicios(Descripción)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescEjercicioEntrenamiento" name="txtDescEjercicioEntrenamiento" placeholder="Ejercicios(Descripción)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AspectoEvaluacion" class="col-3 col-form-label">Sub-Ejercicio(Aspectos Especificos A Evaluar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAspectoEvaluacion" name="txtAspectoEvaluacion" placeholder="Sub-Ejercicio(Aspectos Especificos A Evaluar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso De Cada Sub-Ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeso" name="txtPeso" placeholder="Peso De Cada Sub-Ejercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificativoAsignadoEjercicio" class="col-3 col-form-label"><a href="~/CalificativoAsignadoEjercicio">Calificativo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCalificativoAsignadoEjercicio" name="cbCalificativoAsignadoEjercicio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuntajeObtenido" class="col-3 col-form-label">Puntaje Obtenido Por Ejercicio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPuntajeObtenido" name="txtPuntajeObtenido" placeholder="Puntaje Obtenido Por Ejercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPeriodoEvaluar" class="col-3 col-form-label">Fecha Del Periodo A Evaluar El Ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPeriodoEvaluar" name="txtFechaPeriodoEvaluar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRealizacionEjercicio" class="col-3 col-form-label">Fecha De Realización Del Ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRealizacionEjercicio" name="txtFechaRealizacionEjercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoVigencia" class="col-3 col-form-label">Tiempo De Vigencia(Días) </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoVigencia" name="txtTiempoVigencia" placeholder="Tiempo De Vigencia(Días) " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaCaducidadEjercicio" class="col-3 col-form-label">Fecha De Caducidad Del Ejercicio </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaCaducidadEjercicio" name="txtFechaCaducidadEjercicio" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzocuatroEvaluacionAlistEntrenamiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Identificación Unidad Naval De Entrenamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEntrenamiento" class="col-3 col-form-label">Nivel De Entrenamiento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNivelEntrenamientoe" name="txtNivelEntrenamientoe" data-placeholder="Seleccione ...">
                            <option value="B">Básico</option>
                            <option value="I">Intermedio</option>
                            <option value="A">Avanzado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativae" name="cbCapacidadOperativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoCapacidadOperativo" class="col-3 col-form-label">Tipo De Capacidad Operativa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoCapacidadOperativoe" name="txtTipoCapacidadOperativoe" data-placeholder="Seleccione ...">
                            <option value="1">Principal</option>
                            <option value="2">Secundaria</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EjercicioEntrenamientoAspecto" class="col-3 col-form-label"><a href="~/EjercicioEntrenamientoAspecto">Código De Ejercicio </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEjercicioEntrenamientoAspectoe" name="cbEjercicioEntrenamientoAspectoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DescEjercicioEntrenamiento" class="col-3 col-form-label">Ejercicios(Descripción)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescEjercicioEntrenamientoe" name="txtDescEjercicioEntrenamientoe" placeholder="Ejercicios(Descripción)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AspectoEvaluacion" class="col-3 col-form-label">Sub-Ejercicio(Aspectos Especificos A Evaluar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAspectoEvaluacione" name="txtAspectoEvaluacione" placeholder="Sub-Ejercicio(Aspectos Especificos A Evaluar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso De Cada Sub-Ejercicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPesoe" name="txtPesoe" placeholder="Peso De Cada Sub-Ejercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CalificativoAsignadoEjercicio" class="col-3 col-form-label"><a href="~/CalificativoAsignadoEjercicio">Calificativo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCalificativoAsignadoEjercicioe" name="cbCalificativoAsignadoEjercicioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuntajeObtenido" class="col-3 col-form-label">Puntaje Obtenido Por Ejercicio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPuntajeObtenidoe" name="txtPuntajeObtenidoe" placeholder="Puntaje Obtenido Por Ejercicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPeriodoEvaluar" class="col-3 col-form-label">Fecha Del Periodo A Evaluar El Ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPeriodoEvaluare" name="txtFechaPeriodoEvaluare" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaRealizacionEjercicio" class="col-3 col-form-label">Fecha De Realización Del Ejercicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaRealizacionEjercicioe" name="txtFechaRealizacionEjercicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoVigencia" class="col-3 col-form-label">Tiempo De Vigencia(Días) </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoVigenciae" name="txtTiempoVigenciae" placeholder="Tiempo De Vigencia(Días) " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaCaducidadEjercicio" class="col-3 col-form-label">Fecha De Caducidad Del Ejercicio </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaCaducidadEjercicioe" name="txtFechaCaducidadEjercicioe" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzocuatroEvaluacionAlistEntrenamiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzocuatroEvaluacionAlistEntrenamiento()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComzocuatroEvaluacionAlistEntrenamiento">Masiva</a>
            <a class="dropdown-item" href="~/ComzocuatroEvaluacionAlistEntrenamiento/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComzocuatroEvaluacionAlistEntrenamiento" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Identificación Unidad Naval De Entrenamiento</th>
                <th>Nivel De Entrenamiento</th>
                <th>Capacidad Operativa</th>
                <th>Tipo De Capacidad Operativa</th>
                <th>Código De Ejercicio </th>
                <th>Ejercicios(Descripción)</th>
                <th>Sub-Ejercicio(Aspectos Especificos A Evaluar)</th>
                <th>Peso De Cada Sub-Ejercicio</th>
                <th>Calificativo</th>
                <th>Puntaje Obtenido Por Ejercicio</th>
                <th>Fecha Del Periodo A Evaluar El Ejercicio</th>
                <th>Fecha De Realización Del Ejercicio</th>
                <th>Tiempo De Vigencia(Días) </th>
                <th>Fecha De Caducidad Del Ejercicio </th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzocuatro/comzocuatro-evaluacionalistentrenamiento.js" asp-append-version="true"></script>
}
