@{
    ViewData["Title"] = "Servicio Brindado Base Callao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComzodosServicioBrindadoBaseCallao/Individual" style="text-decoration:none;">Servicios Brindados por la Base Naval del Callao - COMBACA</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechas" name="txtFechas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Empresa" class="col-3 col-form-label">Empresa que se le brinda el Servicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEmpresa" name="txtEmpresa" placeholder="Empresa que se le brinda el Servicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicio" class="col-3 col-form-label"><a href="~/ServicioBrindado" style="text-decoration:none;">Servicio Brindado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbServicio" name="cbServicio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tiempo" class="col-3 col-form-label">Tiempo Empleado</label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtTiempo" name="txtTiempo" placeholder="Tiempo Empleado" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzodosServicioBrindadoBaseCallao">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechase" name="txtFechase" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Empresa" class="col-3 col-form-label">Empresa que se le brinda el Servicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEmpresae" name="txtEmpresae" placeholder="Empresa que se le brinda el Servicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicio" class="col-3 col-form-label"><a href="~/ServicioBrindado" style="text-decoration:none;">Servicio Brindado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbServicioe" name="cbServicioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tiempo" class="col-3 col-form-label">Tiempo Empleado</label>
                    <div class="col-md-9">
                        <input type="time" class="form-control form-control-sm" id="txtTiempoe" name="txtTiempoe" placeholder="Tiempo Empleado" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzodosServicioBrindadoBaseCallao">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComzodosServicioBrindadoBaseCallao" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzodosServicioBrindadoBaseCallao()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComzodosServicioBrindadoBaseCallao" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha</th>
                <th>Empresa que se le brinda el Servicio</th>
                <th>Servicio Brindado</th>
                <th>Tiempo Empleado</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzodos/comzodos-serviciobrindadobasecallao.js" asp-append-version="true"></script>
}
