@{
    ViewData["Title"] = "Recursos de Apelación y Reconsideración Presentados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DipermarRecursosApelacionReconsideracion/Individual" style="text-decoration:none;">Recursos de Apelación y Reconsideración Presentados</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumento" name="txtDocumento" placeholder="Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaD" name="txtFechaD" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia / domicilio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha de Ingreso del Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado/Grupoocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGrado" name="cbGrado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoRecurso" class="col-3 col-form-label">Tipo de recurso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoRecurso" name="txtTipoRecurso" data-placeholder="Seleccione ...">
                            <option value="Reconsideración">Reconsideración </option>
                            <option value="Apelación">Apelación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Asunto" class="col-3 col-form-label"><a href="~/AsuntoApelacionReconsideracion">Asunto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAsunto" name="cbAsunto"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" name="txtDescripcion" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Resultado" class="col-3 col-form-label"><a href="~/ResultadoApelacionReconsideracion">Resultado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultado" name="cbResultado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoResolutivo" class="col-3 col-form-label">Documento resolutivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoResolutivo" name="txtDocumentoResolutivo" placeholder="Documento resolutivo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaDocumentoR" class="col-3 col-form-label">Fecha Documento Resolutivo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDocumentoR" name="txtFechaDocumentoR" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNotificacion" class="col-3 col-form-label">Fecha de Notificación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNotificacion" name="txtFechaNotificacion" required>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarRecursosApelacionReconsideracion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoe" name="txtDocumentoe" placeholder="Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDe" name="txtFechaDe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia / domicilio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha de Ingreso del Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado/Grupoocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoe" name="cbGradoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoRecurso" class="col-3 col-form-label">Tipo de recurso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoRecursoe" name="txtTipoRecursoe" data-placeholder="Seleccione ...">
                            <option value="Reconsideración">Reconsideración</option>
                            <option value="Apelación">Apelación</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Asunto" class="col-3 col-form-label"><a href="~/AsuntoApelacionReconsideracion">Asunto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAsuntoe" name="cbAsuntoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcione" name="txtDescripcione" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Resultado" class="col-3 col-form-label"><a href="~/ResultadoApelacionReconsideracion">Resultado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbResultadoe" name="cbResultadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoResolutivo" class="col-3 col-form-label">Documento resolutivo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoResolutivoe" name="txtDocumentoResolutivoe" placeholder="Documento resolutivo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaDocumentoR" class="col-3 col-form-label">Fecha Documento Resolutivo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDocumentoRe" name="txtFechaDocumentoRe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNotificacion" class="col-3 col-form-label">Fecha de Notificación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNotificacione" name="txtFechaNotificacione" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarRecursosApelacionReconsideracion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DipermarRecursosApelacionReconsideracion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDipermarRecursosApelacionReconsideracion()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDipermarRecursosApelacionReconsideracion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Documento</th>
                <th>Fecha Documento</th>
                <th>Dependencia / domicilio</th>
                <th>Fecha de Ingreso del Documento</th>
                <th>Grado/Grupoocupacional</th>
                <th>Tipo de recurso</th>
                <th>Asunto</th>
                <th>Descripción</th>
                <th>Resultado</th>
                <th>Documento resolutivo</th>
                <th>Fecha Documento Resolutivo</th>
                <th>Fecha de Notificación</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dipermar/dipermar-recursosapelacionreconsideracion.js" asp-append-version="true"></script>

}
