@{
    ViewData["Title"] = "Repuesto Buque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiabasteRepuestoBuque/Individual" style="text-decoration:none;">Repuestos para Buques (REBA)</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Años</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Años" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Area" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Area Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbArea" name="cbArea"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label"><a href="~/Condicion">Condicion</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCondicion" name="cbCondicion" data-placeholder="Seleccione ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Producto" class="col-3 col-form-label">Producto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtProducto" name="txtProducto" placeholder="Producto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidad" name="txtCantidad" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngreso" name="txtFechaIngreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha de Salida</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSalida" name="txtFechaSalida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tiempo" class="col-3 col-form-label">Tiempo de Custodia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempo" name="txtTiempo" placeholder="Tiempo de Custodia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiabasteRepuestoBuque">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Años</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Años" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Area" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Area Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreae" name="cbAreae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label"><a href="~/Condicion">Condicion</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCondicione" name="cbCondicione" data-placeholder="Seleccione ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Producto" class="col-3 col-form-label">Producto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtProductoe" name="txtProductoe" placeholder="Producto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidade" name="txtCantidade" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngresoe" name="txtFechaIngresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha de Salida</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSalidae" name="txtFechaSalidae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tiempo" class="col-3 col-form-label">Tiempo de Custodia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTiempoe" name="txtTiempoe" placeholder="Tiempo de Custodia" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-danger" href="~/DiabasteRepuestoBuque">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiabasteRepuestoBuque" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiabasteRepuestoBuque()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDiabasteRepuestoBuque" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Años</th>
                <th>Mes</th>
                <th>Area Usuaria</th>
                <th>Condicion</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha de Ingreso</th>
                <th>Fecha de Salida</th>
                <th>Tiempo de Custodia</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diabaste/diabaste-repuestobuque.js" asp-append-version="true"></script>
}
