@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/CombasnaiAlistCombustibleLubricante" style="text-decoration:none;">Situación de Combustibles Y Lubricantes (ACL)</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/CombasnaiAlistCombustibleLubricante/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/CombasnaiAlistCombustibleLubricante/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                        </div>
                        <div class="col-sm-2">
                            <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6 text-center">
                            <button class="btn btn-warning" onclick="mostrarDatos()">Previsualizar Datos</button>
                        </div>
                        <div class="col-sm-6 text-center">
                            <button class="btn btn-success" onclick="enviarDatos()">Grabar Formato</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table class="table table-striped" id="tbData" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">
                                    <th>Código</th>
                                    <th>Unidad</th>
                                    <th>Alistamiento Combustible Lubricante</th>
                                    <th>Articulo</th>
                                    <th>Equipo</th>
                                    <th>UnidadMedida</th>
                                    <th>Cargo</th>
                                    <th>Aumento</th>
                                    <th>Consuo</th>
                                    <th>Existencia</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/combasnai/combasnai-alistcombustiblelubricante.js" asp-append-version="true"></script>
}