@{
    ViewData["Title"] = "ServiciosPúblicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DibinfraterServicioPublico/Individual" style="text-decoration:none;">Servicios Públicos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioPagoServicio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPagoServicio" name="txtAnioPagoServicio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FuenteFinanciamiento" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFuenteFinanciamiento" name="cbFuenteFinanciamiento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoServicioPublico" class="col-3 col-form-label"><a href="~/TipoServicioPublico">Tipo Servicio Publico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoServicioPublico" name="cbTipoServicioPublico"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SuministroUnico" class="col-3 col-form-label">Suministro</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtSuministroUnico" name="txtSuministroUnico" placeholder="Suministro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AsignacionMensual" class="col-3 col-form-label">Asignación Mensual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignacionMensual" name="txtAsignacionMensual" placeholder="Asignación Mensual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoMensual" class="col-3 col-form-label">Consumo Mensual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoMensual" name="txtConsumoMensual" placeholder="Consumo Mensual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoUnidadMedida" class="col-3 col-form-label">Consumo por Unidad de Medida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoUnidadMedida" name="txtConsumoUnidadMedida" placeholder="Consumo por Unidad de Medida" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DibinfraterServicioPublico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioPagoServicio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioPagoServicioe" name="txtAnioPagoServicioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FuenteFinanciamiento" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFuenteFinanciamientoe" name="cbFuenteFinanciamientoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoServicioPublico" class="col-3 col-form-label"><a href="~/TipoServicioPublico">Tipo Servicio Publico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoServicioPublicoe" name="cbTipoServicioPublicoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SuministroUnico" class="col-3 col-form-label">Suministro</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtSuministroUnicoe" name="txtSuministroUnicoe" placeholder="Suministro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AsignacionMensual" class="col-3 col-form-label">Asignación Mensual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAsignacionMensuale" name="txtAsignacionMensuale" placeholder="Asignación Mensual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoMensual" class="col-3 col-form-label">Consumo Mensual</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoMensuale" name="txtConsumoMensuale" placeholder="Consumo Mensual" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoUnidadMedida" class="col-3 col-form-label">Consumo por Unidad de Medida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoUnidadMedidae" name="txtConsumoUnidadMedidae" placeholder="Consumo por Unidad de Medida" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DibinfraterServicioPublico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DibinfraterServicioPublico" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDibinfraterServicioPublico()" />
    <div class="row align-items-start mb-4">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDibinfraterServicioPublico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Fuente Financiamiento</th>
                <th>Zona Naval</th>
                <th>Dependencias</th>
                <th>Tipo Servicio Publico</th>
                <th>Suministro</th>
                <th>Asignación Mensual</th>
                <th>Consumo Mensual</th>
                <th>Consumo por Unidad de Medida</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dibinfrater/dibinfrater-serviciopublico.js" asp-append-version="true"></script>
}
