@{
    ViewData["Title"] = "AlistamientosCombustiblesLubricantes2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/AlistamientoCombustibleLubricante2" style="text-decoration:none;">Alistamientos Combustibles Lubricantes 2</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodigoCo" class="col-3 col-form-label">Código</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoCo" name="txtCodigoCo" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtArticulo" class="col-3 col-form-label">Artículo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticulo" name="txtArticulo" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipo" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipo" name="txtEquipo" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbUnidadMedida" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad Medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedida" name="cbUnidadMedida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargo" name="txtCargo" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAumento" class="col-3 col-form-label">Aumento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAumento" name="txtAumento" placeholder="Aumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtConsumo" class="col-3 col-form-label">Consumo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumo" name="txtConsumo" placeholder="Consumo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistencia" name="txtExistencia" placeholder="Existencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoCombustibleLubricante2">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodigoCo" class="col-3 col-form-label">Código</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoCoe" name="txtCodigoCoe" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtArticuloe" class="col-3 col-form-label">Artículo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticuloe" name="txtArticuloe" placeholder="Artículo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipoe" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoe" name="txtEquipoe" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbUnidadMedidae" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad Medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedidae" name="cbUnidadMedidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargoe" name="txtCargoe" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAumento" class="col-3 col-form-label">Aumento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAumentoe" name="txtAumentoe" placeholder="Aumento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtConsumo" class="col-3 col-form-label">Consumo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoe" name="txtConsumoe" placeholder="Consumo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistenciae" name="txtExistenciae" placeholder="Existencia" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoCombustibleLubricante2">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>


<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaAlistamientoCombustibleLubricante2()" />
    <table class="table table-striped" id="tblAlistamientoCombustibleLubricante2s" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Código Combustible Lubricante 2</th>
                <th>Artículo</th>
                <th>Equipo</th>
                <th>Unidad Medida</th>
                <th>Cargo</th>
                <th>Aumento</th>
                <th>Consumo</th>
                <th>Existencia</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/alistamientocombustiblelubricante2.js" asp-append-version="true"></script>
}