@{
    ViewData["Title"] ="AperturayCierredePuertos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardAperturaCierrePuertos/Individual" style="text-decoration:none;">Apertura y Cierre de Puertos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicion" name="txtCondicion" data-placeholder="Seleccione ...">
                            <option value="1">Abierto</option>
                            <option value="2">Cerrado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPuertoPeru" class="col-3 col-form-label"><a href="~/TipoPuertoPeru">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPuertoPeru" name="cbTipoPuertoPeru"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResolucionCapitania" class="col-3 col-form-label">Resolución De Capitanía</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResolucionCapitania" name="txtResolucionCapitania" placeholder="Resolución De Capitanía" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaResolucion" class="col-3 col-form-label">Fecha De Resolución</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaResolucion" name="txtFechaResolucion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GFHMensajeNaval" class="col-3 col-form-label">Gfh Mensaje Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGFHMensajeNaval" name="txtGFHMensajeNaval" placeholder="Gfh Mensaje Naval" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardAperturaCierrePuertos">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicion" name="txtCondicion" data-placeholder="Seleccione ...">
                            <option value="1">Abierto</option>
                            <option value="2">Cerrado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPuertoPeru" class="col-3 col-form-label"><a href="~/TipoPuertoPeru">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPuertoPerue" name="cbTipoPuertoPerue"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResolucionCapitania" class="col-3 col-form-label">Resolución De Capitanía</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResolucionCapitaniae" name="txtResolucionCapitaniae" placeholder="Resolución De Capitanía" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaResolucion" class="col-3 col-form-label">Fecha De Resolución</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaResolucione" name="txtFechaResolucione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GFHMensajeNaval" class="col-3 col-form-label">Gfh Mensaje Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtGFHMensajeNavale" name="txtGFHMensajeNavale" placeholder="Gfh Mensaje Naval" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardAperturaCierrePuertos">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardAperturaCierrePuertos()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardAperturaCierrePuertos">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardAperturaCierrePuertos/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardAperturaCierrePuertos" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania de Puerto</th>
                <th>Condicion</th>
                <th>Zona</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Resolución De Capitanía</th>
                <th>Fecha De Resolución</th>
                <th>Gfh Mensaje Naval</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-aperturacierrepuertos.js" asp-append-version="true"></script>
}
