@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/ComoperguardFalloResueltoSiniestroAcuatico" style="text-decoration:none;">Fallos Resueltos por Siniestros Acuáticos</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/ComoperguardFalloResueltoSiniestroAcuatico/Individual" class="btn btn-primary">Ir Carga Individual</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Jefatura De Distrito De Capitanias</th>
                                    <th>Capitania De Puerto</th>
                                    <th>Hora</th>
                                    <th>Dia</th>
                                    <th>Mes</th>
                                    <th>Año</th>
                                    <th>Tipo Nave/Persona</th>
                                    <th>Nombre</th>
                                    <th>Matrícula / Indicativo / Dni</th>
                                    <th>AB. / Edad</th>
                                    <th>Nacionalidad/Bandera</th>
                                    <th>Tipo De Siniestro Y/O Incidente</th>
                                    <th>Personas Rescatados Con Vida</th>
                                    <th>Personas Fallecidas</th>
                                    <th>Personas Desaparecidas</th>
                                    <th>Personas Evacuadas</th>
                                    <th>Total</th>
                                    <th>Referencia Del Documento</th>
                                    <th>Fecha</th>
                                    <th>Resumen del Fallo</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/comoperguard/comoperguard-falloresueltosiniestroacuatico.js" asp-append-version="true"></script>
}