@{
    ViewData["Title"] = "PostulantesEscueladeGrumetes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresgrumPostulanteEscuelaGrumetes/Individual" style="text-decoration:none;">Postulantes a la Escuela de Grumetes</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGenero" name="txtGenero" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarNacimiento" class="col-3 col-form-label"><a href="~/">Lugar Nacimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarNacimiento" name="cbLugarNacimiento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimiento" name="txtFechaNacimiento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarDomicilio" class="col-3 col-form-label"><a href="~/">Lugar Domicilio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarDomicilio" name="cbLugarDomicilio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarPresento" class="col-3 col-form-label"><a href="~/">Lugar donde se Presentó</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarPresento" name="cbLugarPresento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudios" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado">Nivel de Estudios Alcanzados</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbNivelEstudios" name="cbNivelEstudios"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudio" class="col-3 col-form-label"><a href="~/GradoEstudioEspecif">Especificación Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEstudio" name="cbGradoEstudio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroContingente" class="col-3 col-form-label">Número Contingente</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroContingente" name="txtNumeroContingente" placeholder="Número Contingente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoPostular" class="col-3 col-form-label">Resultado de Postular</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoPostular" name="txtResultadoPostular" data-placeholder="Seleccione ...">
                            <option value="1">Ingresó</option>
                            <option value="2">No ingresó</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresgrumPostulanteEscuelaGrumetes">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGeneroe" name="txtGeneroe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarNacimiento" class="col-3 col-form-label"><a href="~/">Lugar Nacimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarNacimientoe" name="cbLugarNacimientoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimientoe" name="txtFechaNacimientoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarDomicilio" class="col-3 col-form-label"><a href="~/">Lugar Domicilio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarDomicilioe" name="cbLugarDomicilioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarPresento" class="col-3 col-form-label"><a href="~/">Lugar donde se Presentó</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbLugarPresentoe" name="cbLugarPresentoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudios" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado">Nivel de Estudios Alcanzados</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbNivelEstudiose" name="cbNivelEstudiose"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudio" class="col-3 col-form-label"><a href="~/GradoEstudioEspecif">Especificación Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEstudioe" name="cbGradoEstudioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroContingente" class="col-3 col-form-label">Número Contingente</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroContingentee" name="txtNumeroContingentee" placeholder="Número Contingente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoPostular" class="col-3 col-form-label">Resultado de Postular</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoPostulare" name="txtResultadoPostulare" data-placeholder="Seleccione ...">
                            <option value="1">Ingresó</option>
                            <option value="2">No ingresó</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresgrumPostulanteEscuelaGrumetes">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresgrumPostulanteEscuelaGrumetes()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/DiresgrumPostulanteEscuelaGrumetes">Masiva</a>
            <a class="dropdown-item" href="~/DiresgrumPostulanteEscuelaGrumetes/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblDiresgrumPostulanteEscuelaGrumetes" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Género</th>
                <th>Lugar Nacimiento</th>
                <th>Fecha Nacimiento</th>
                <th>Lugar Domicilio</th>
                <th>Lugar donde se Presentó</th>
                <th>Zona Naval</th>
                <th>Nivel de Estudios Alcanzados</th>
                <th>Especificación Grado</th>
                <th>Número Contingente</th>
                <th>Resultado de Postular</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresgrum/diresgrum-postulanteescuelagrumetes.js" asp-append-version="true"></script>
}
