@{
    ViewData["Title"] = "Presupuesto Comfasub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComfasubPresupuestoComfasub/Individual" style="text-decoration:none;">Presupuesto</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidad" name="cbUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sistema" class="col-3 col-form-label"><a href="~/SistemaPropulsion">Sistema</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSistema" name="cbSistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubSistema" class="col-3 col-form-label"><a href="~/SubSistemaPropulsion">SubSistema</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSubSistema" name="cbSubSistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Presupuesto" class="col-3 col-form-label">Presupuesto Asignado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPresupuesto" name="txtPresupuesto" placeholder="Presupuesto Asignado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fuente" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente de Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFuente" name="cbFuente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubUnidad" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">Sub Unidad Ejecutora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSubUnidad" name="cbSubUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Centro" class="col-3 col-form-label"><a href="~/CentroGasto">Centro de Gasto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCentro" name="cbCentro"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Partida" class="col-3 col-form-label"><a href="~/Partida">Partida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPartida" name="cbPartida"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasubPresupuestoComfasub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidade" name="cbUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sistema" class="col-3 col-form-label"><a href="~/SistemaPropulsion">Sistema</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSistemae" name="cbSistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubSistema" class="col-3 col-form-label"><a href="~/SubSistemaPropulsion">SubSistema</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSubSistemae" name="cbSubSistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Presupuesto" class="col-3 col-form-label">Presupuesto Asignado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPresupuestoe" name="txtPresupuestoe" placeholder="Presupuesto Asignado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fuente" class="col-3 col-form-label"><a href="~/FuenteFinanciamiento">Fuente de Financiamiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFuentee" name="cbFuentee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SubUnidad" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">Sub Unidad Ejecutora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSubUnidade" name="cbSubUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Centro" class="col-3 col-form-label"><a href="~/CentroGasto">Centro de Gasto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCentroe" name="cbCentroe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Partida" class="col-3 col-form-label"><a href="~/Partida">Partida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPartidae" name="cbPartidae"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasubPresupuestoComfasub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComfasubPresupuestoComfasub" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasubPresupuestoComfasub()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasubPresupuestoComfasub" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Sistema</th>
                <th>SubSistema</th>
                <th>Presupuesto Asignado</th>
                <th>Fuente de Financiamiento</th>
                <th>Sub Unidad Ejecutora</th>
                <th>Centro de Gasto</th>
                <th>Partida</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfasub/comfasub-presupuestocomfasub.js" asp-append-version="true"></script>
}
