@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/ComoperguardOperacionesBusquedasSalvamento" style="text-decoration:none;">Operaciones de Busqueda y Salvamento RSC</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/ComoperguardOperacionesBusquedasSalvamento/Individual" class="btn btn-primary">Ir Carga Individual</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Jefatura De Distriro De Capitanias</th>
                                    <th>Capitania Y/O Patrullera Maritima</th>
                                    <th>Hora Del Siniestro</th>
                                    <th>Fecha Del Siniestro</th>
                                    <th>Tipo De Siniestro Y/O Incidente</th>
                                    <th>Mensaje De Referencia Activación Rsc</th>
                                    <th>Mensaje De Referencia Desactivación Rsc</th>
                                    <th>Nombre De Nave Y/O Persona Siniestrada</th>
                                    <th>Matricula / Indicativo/ Documento De Identidad</th>
                                    <th>A.B/Edad</th>
                                    <th>Nacionalida D/Bandera</th>
                                    <th>Personas Rescatadas Con Vida</th>
                                    <th>Personas Fallecida</th>
                                    <th>Personas Desaparecida</th>
                                    <th>Personas Evacuadas</th>
                                    <th>Latitud (Del Siniestro)</th>
                                    <th>Longitud (Del Siniestro Y/O Incidente)</th>
                                    <th>Zona (Del Siniestro Y/O Incidente)</th>
                                    <th>Distrito</th>
                                    <th>Provincia</th>
                                    <th>Departamento</th>
                                    <th>Ambito (Del Siniestro Y/O Incidente)</th>
                                    <th>Unidad Guardacostas Y/O Navales Que Participa En Rescate</th>
                                    <th>Unidades Terrestresque Participan En Rescate</th>
                                    <th>Marca Vehiculo</th>
                                    <th>Millas</th>
                                    <th>KM</th>
                                    <th>Galones</th>
                                    <th>Resultado Al Termino De Las Operaciones</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/comoperguard/comoperguard-operacionesbusquedassalvamento.js" asp-append-version="true"></script>
}