@{
    ViewData["Title"] = "OperacionesdeBusquedaySalvamentoRSC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardOperacionesBusquedasSalvamento/Individual" style="text-decoration:none;">Operaciones de Busqueda y Salvamento RSC</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania Y/O Patrullera Maritima</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraSiniestro" class="col-3 col-form-label">Hora Del Siniestro</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraSiniestro" name="txtHoraSiniestro" placeholder="Hora Del Siniestro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSiniestro" class="col-3 col-form-label">Fecha Del Siniestro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSiniestro" name="txtFechaSiniestro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoSiniestro" class="col-3 col-form-label"><a href="~/TipoSiniestro">Tipo De Siniestro Y/O Incidente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoSiniestro" name="cbTipoSiniestro"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeActivacionRSC" class="col-3 col-form-label">Mensaje De Referencia Activación Rsc</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeActivacionRSC" name="txtMensajeActivacionRSC" placeholder="Mensaje De Referencia Activación Rsc" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeDesactivacionRSC" class="col-3 col-form-label">Mensaje De Referencia Desactivación Rsc</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeDesactivacionRSC" name="txtMensajeDesactivacionRSC" placeholder="Mensaje De Referencia Desactivación Rsc" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="EmbarcacionPersona" class="col-3 col-form-label"> Embarcación/ Persona Siniestrada</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveSiniestrada" class="col-3 col-form-label">Nombre De Nave Y/O Persona Siniestrada</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveSiniestrada" name="txtNombreNaveSiniestrada" placeholder="Nombre De Nave Y/O Persona Siniestrada" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveSiniestrada" class="col-3 col-form-label">Matricula / Indicativo/ Documento De Identidad</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveSiniestrada" name="txtMatriculaNaveSiniestrada" placeholder="Matricula / Indicativo/ Documento De Identidad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ABEdad" class="col-3 col-form-label">A.B/Edad</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtABEdad" name="txtABEdad" placeholder="A.B/Edad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalida D/Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="PersonasRescatadasVida" class="col-3 col-form-label">Personas Rescatadas Con Vida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasRescatadasVida" name="txtPersonasRescatadasVida" placeholder="Personas Rescatadas Con Vida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasFallecidas" class="col-3 col-form-label">Personas Fallecida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasFallecidas" name="txtPersonasFallecidas" placeholder="Personas Fallecida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasDesaparecidas" class="col-3 col-form-label">Personas Desaparecida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasDesaparecidas" name="txtPersonasDesaparecidas" placeholder="Personas Desaparecida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasEvacuadas" class="col-3 col-form-label">Personas Evacuadas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasEvacuadas" name="txtPersonasEvacuadas" placeholder="Personas Evacuadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LatitudUbicacionNave" class="col-3 col-form-label">Latitud (Del Siniestro)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionNave" name="txtLatitudUbicacionNave" placeholder="Latitud (Del Siniestro)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LongitudUbicacionNave" class="col-3 col-form-label">Longitud (Del Siniestro Y/O Incidente)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionNave" name="txtLongitudUbicacionNave" placeholder="Longitud (Del Siniestro Y/O Incidente)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaSiniestro" class="col-3 col-form-label">Zona (Del Siniestro Y/O Incidente)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtZonaSiniestro" name="txtZonaSiniestro" placeholder="Zona (Del Siniestro Y/O Incidente)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeo" name="cbDistritoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeo" name="cbProvinciaUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeo" name="cbDepartamentoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito (Del Siniestro Y/O Incidente)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Guardacostas Y/O Navales Que Participa En Rescate</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoMovil" class="col-3 col-form-label"><a href="~/TipoVehiculoMovil">Unidades Terrestresque Participan En Rescate</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoVehiculoMovil" name="cbTipoVehiculoMovil"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculo" name="cbMarcaVehiculo"></select>
                    </div>
                </div>

                <div class="divseccion">
                    <div class="card-header">
                        <label for="DistanciaRecorridaYConsumo" class="col-3 col-form-label"> Distancia Recorrida Y Consumo De Combustible</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Millas" class="col-3 col-form-label">Millas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtMillas" name="txtMillas" placeholder="Millas" required>
                        </div>
                         </div>
                    <div class="form-group row col-md-6">
                        <label for="Kilometro" class="col-3 col-form-label">KM</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtKilometro" name="txtKilometro" placeholder="KM" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Galones" class="col-3 col-form-label">Galones</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtGalones" name="txtGalones" placeholder="Galones" required>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="ResultadoTerminoO" class="col-3 col-form-label">Resultado Al Termino De Las Operaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResultadoTerminoO" name="txtResultadoTerminoO" placeholder="Resultado Al Termino De Las Operaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObservacionesSiniestro" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionesSiniestro" name="txtObservacionesSiniestro" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardOperacionesBusquedasSalvamento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania Y/O Patrullera Maritima</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraSiniestro" class="col-3 col-form-label">Hora Del Siniestro</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraSiniestroe" name="txtHoraSiniestroe" placeholder="Hora Del Siniestro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSiniestro" class="col-3 col-form-label">Fecha Del Siniestro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSiniestroe" name="txtFechaSiniestroe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoSiniestro" class="col-3 col-form-label"><a href="~/TipoSiniestro">Tipo De Siniestro Y/O Incidente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoSiniestroe" name="cbTipoSiniestroe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeActivacionRSC" class="col-3 col-form-label">Mensaje De Referencia Activación Rsc</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeActivacionRSCe" name="txtMensajeActivacionRSCe" placeholder="Mensaje De Referencia Activación Rsc" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensajeDesactivacionRSC" class="col-3 col-form-label">Mensaje De Referencia Desactivación Rsc</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensajeDesactivacionRSCe" name="txtMensajeDesactivacionRSCe" placeholder="Mensaje De Referencia Desactivación Rsc" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="EmbarcacionPersona" class="col-3 col-form-label"> Embarcación/ Persona Siniestrada</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNaveSiniestrada" class="col-3 col-form-label">Nombre De Nave Y/O Persona Siniestrada</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNaveSiniestradae" name="txtNombreNaveSiniestradae" placeholder="Nombre De Nave Y/O Persona Siniestrada" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveSiniestrada" class="col-3 col-form-label">Matricula / Indicativo/ Documento De Identidad</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveSiniestradae" name="txtMatriculaNaveSiniestradae" placeholder="Matricula / Indicativo/ Documento De Identidad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ABEdad" class="col-3 col-form-label">A.B/Edad</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtABEdade" name="txtABEdade" placeholder="A.B/Edad" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalida D/Bandera</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasRescatadasVida" class="col-3 col-form-label">Personas Rescatadas Con Vida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasRescatadasVidae" name="txtPersonasRescatadasVidae" placeholder="Personas Rescatadas Con Vida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasFallecidas" class="col-3 col-form-label">Personas Fallecida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasFallecidase" name="txtPersonasFallecidase" placeholder="Personas Fallecida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasDesaparecidas" class="col-3 col-form-label">Personas Desaparecida</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasDesaparecidase" name="txtPersonasDesaparecidase" placeholder="Personas Desaparecida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonasEvacuadas" class="col-3 col-form-label">Personas Evacuadas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersonasEvacuadase" name="txtPersonasEvacuadase" placeholder="Personas Evacuadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LatitudUbicacionNave" class="col-3 col-form-label">Latitud (Del Siniestro)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionNavee" name="txtLatitudUbicacionNavee" placeholder="Latitud (Del Siniestro)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LongitudUbicacionNave" class="col-3 col-form-label">Longitud (Del Siniestro Y/O Incidente)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionNavee" name="txtLongitudUbicacionNavee" placeholder="Longitud (Del Siniestro Y/O Incidente)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaSiniestro" class="col-3 col-form-label">Zona (Del Siniestro Y/O Incidente)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtZonaSiniestroe" name="txtZonaSiniestroe" placeholder="Zona (Del Siniestro Y/O Incidente)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeoe" name="cbDistritoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeoe" name="cbProvinciaUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeoe" name="cbDepartamentoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito (Del Siniestro Y/O Incidente)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAmbitoNavee" name="cbAmbitoNavee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Guardacostas Y/O Navales Que Participa En Rescate</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoMovil" class="col-3 col-form-label"><a href="~/TipoVehiculoMovil">Unidades Terrestresque Participan En Rescate</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoVehiculoMovile" name="cbTipoVehiculoMovile"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculoe" name="cbMarcaVehiculoe"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="DistanciaRecorridaYConsumo" class="col-3 col-form-label"> Distancia Recorrida Y Consumo De Combustible</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Millas" class="col-3 col-form-label">Millas</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtMillase" name="txtMillase" placeholder="Millas" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Kilometro" class="col-3 col-form-label">KM</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtKilometroe" name="txtKilometroe" placeholder="KM" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Galones" class="col-3 col-form-label">Galones</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtGalonese" name="txtGalonese" placeholder="Galones" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoTerminoO" class="col-3 col-form-label">Resultado Al Termino De Las Operaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResultadoTerminoOe" name="txtResultadoTerminoOe" placeholder="Resultado Al Termino De Las Operaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ObservacionesSiniestro" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionesSiniestroe" name="txtObservacionesSiniestroe" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardOperacionesBusquedasSalvamento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardOperacionesBusquedasSalvamento()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardOperacionesBusquedasSalvamento">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardOperacionesBusquedasSalvamento/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardOperacionesBusquedasSalvamento" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania Y/O Patrullera Maritima</th>
                <th>Hora Del Siniestro</th>
                <th>Fecha Del Siniestro</th>
                <th>Tipo De Siniestro Y/O Incidente</th>
                <th>Mensaje De Referencia Activación Rsc</th>
                <th>Mensaje De Referencia Desactivación Rsc</th>
                <th>Nombre De Nave Y/O Persona Siniestrada</th>
                <th>Matricula / Indicativo/ Documento De Identidad</th>
                <th>A.B/Edad</th>
                <th>Nacionalida D/Bandera</th>
                <th>Personas Rescatadas Con Vida</th>
                <th>Personas Fallecida</th>
                <th>Personas Desaparecida</th>
                <th>Personas Evacuadas</th>
                <th>Latitud (Del Siniestro)</th>
                <th>Longitud (Del Siniestro Y/O Incidente)</th>
                <th>Zona (Del Siniestro Y/O Incidente)</th>
                <th>Distrito</th>
                <th>Provincia</th>
                <th>Departamento</th>
                <th>Ambito (Del Siniestro Y/O Incidente)</th>
                <th>Unidad Guardacostas Y/O Navales Que Participa En Rescate</th>
                <th>Unidades Terrestresque Participan En Rescate</th>
                <th>Marca Vehiculo</th>
                <th>Millas</th>
                <th>KM</th>
                <th>Galones</th>
                <th>Resultado Al Termino De Las Operaciones</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-operacionesbusquedassalvamento.js" asp-append-version="true"></script>
}
