@{
    ViewData["Title"] = "AlistamientosMaterialesRequeridosComescuama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/AlistamientoMaterialRequeridoComescuama" style="text-decoration:none;">Alistamientos Materiales Requeridos Comescuama</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodigoAlistMaterialRequeridoC" class="col-3 col-form-label">Codigo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoAlistMaterialRequeridoC" name="txtCodigoAlistMaterialRequeridoC" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbFK" class="col-3 col-form-label">Alistamiento Material Requerido 3N</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFK" name="cbFK"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRequerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequerido" name="txtRequerido" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtOperativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOperativo" name="txtOperativo" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperatividad" name="txtPorcentajeOperatividad" placeholder="Porcentaje Operatividad" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoMaterialRequeridoComescuama">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCodigoAlistMaterialRequeridoC" class="col-3 col-form-label">Codigo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCodigoAlistMaterialRequeridoCe" name="txtCodigoAlistMaterialRequeridoCe" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbFKe" class="col-3 col-form-label">Alistamiento Material Requerido 3N</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFKe" name="cbFKe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRequerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequeridoe" name="txtRequeridoe" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtOperativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOperativoe" name="txtOperativoe" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperatividade" name="txtPorcentajeOperatividade" placeholder="Porcentaje Operatividad" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoMaterialRequeridoComescuama">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaAlistamientoMaterialRequeridoComescuama()" />
    <table class="table table-striped" id="tblAlistamientoMaterialRequeridoComescuamas" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>AlistamientoMaterialRequerido3N</th>
                <th>Código Alistamiento Material Requerido Comescuama</th>
                <th>Requerido</th>
                <th>Operativo</th>
                <th>Porcentaje Operatividad</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/alistamientomaterialrequeridocomescuama.js" asp-append-version="true"></script>
}
