@{
    ViewData["Title"] = "Formato para el ingreso de datos del servicio de apoyo con movilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/ComesguardIngresoDatoServicioApoyoMovilidad/Individual" style="text-decoration:none;">
        Formato para el ingreso de datos del servicio de apoyo con movilidad
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha de inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha de término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia/Oficina</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClaseVehiculo" class="col-3 col-form-label"><a href="~/ClaseVehiculo">Clase de vehículo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClaseVehiculo" name="cbClaseVehiculo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculo" name="cbMarcaVehiculo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlacaVehiculo" class="col-3 col-form-label">Placa rodaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlacaVehiculo" name="txtPlacaVehiculo" placeholder="Placa rodaje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoOperativo" class="col-3 col-form-label"><a href="~/EstadoOperativo">Estado de operatividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstadoOperativo" name="cbEstadoOperativo"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesguardIngresoDatoServicioApoyoMovilidad">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha de inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha de término</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia/Oficina</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClaseVehiculo" class="col-3 col-form-label"><a href="~/ClaseVehiculo">Clase de vehículo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClaseVehiculoe" name="cbClaseVehiculoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MarcaVehiculo" class="col-3 col-form-label"><a href="~/MarcaVehiculo">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMarcaVehiculoe" name="cbMarcaVehiculoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlacaVehiculo" class="col-3 col-form-label">Placa rodaje</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlacaVehiculoe" name="txtPlacaVehiculoe" placeholder="Placa rodaje" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoOperativo" class="col-3 col-form-label"><a href="~/EstadoOperativo">Estado de operatividad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstadoOperativoe" name="cbEstadoOperativoe"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComesguardIngresoDatoServicioApoyoMovilidad/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComesguardIngresoDatoServicioApoyoMovilidad" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComesguardIngresoDatoServicioApoyoMovilidad()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblComesguardIngresoDatoServicioApoyoMovilidad" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha de inicio</th>
                <th>Fecha de término</th>
                <th>Dependencia/Oficina</th>
                <th>Clase de vehículo</th>
                <th>Marca</th>
                <th>Placa rodaje</th>
                <th>Estado de operatividad</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comesguard/comesguard-ingresodatoservicioapoyomovilidad.js" asp-append-version="true"></script>
}
