@{
    ViewData["Title"] = "Información Docentes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DircitenInformacionDocente/Individual" style="text-decoration:none;">Información Docentes</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDocente" class="col-3 col-form-label">Tipo Docente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoDocente" name="txtTipoDocente" data-placeholder="Seleccione ...">
                            <option value="1">Militar</option>
                            <option value="2">Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralDocente" style="text-decoration:none;">Condición Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCondicionLaboral" name="cbCondicionLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral" style="text-decoration:none;">Régimen Laboral </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbRegimenLaboral" name="cbRegimenLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionDocente" class="col-3 col-form-label">Dedicación Docente </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionDocente" name="txtDedicacionDocente" data-placeholder="Seleccione ...">
                            <option value="1">Tiempo parcia</option>
                            <option value="2">Tiempo completo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudio" class="col-3 col-form-label"><a href="~/NivelEstudio" style="text-decoration:none;">Nivel Estudio</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivelEstudio" name="cbNivelEstudio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraEducacion" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad" style="text-decoration:none;">Carrera Educación</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCarreraEducacion" name="cbCarreraEducacion"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircitenInformacionDocente">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDocente" class="col-3 col-form-label">Tipo Docente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoDocentee" name="txtTipoDocentee" data-placeholder="Seleccione ...">
                            <option value="1">Militar</option>
                            <option value="2">Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralDocente" style="text-decoration:none;">Condición Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCondicionLaborale" name="cbCondicionLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral" style="text-decoration:none;">Régimen Laboral </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbRegimenLaborale" name="cbRegimenLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionDocente" class="col-3 col-form-label">Dedicación Docente </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionDocentee" name="txtDedicacionDocentee" data-placeholder="Seleccione ...">
                            <option value="1">Tiempo parcia</option>
                            <option value="2">Tiempo completo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudio" class="col-3 col-form-label"><a href="~/NivelEstudio" style="text-decoration:none;">Nivel Estudio</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbNivelEstudioe" name="cbNivelEstudioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraEducacion" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad" style="text-decoration:none;">Carrera Educación</a> </label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCarreraEducacione" name="cbCarreraEducacione"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DircitenInformacionDocente">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DircitenInformacionDocente" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDircitenInformacionDocente()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDircitenInformacionDocente" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Tipo Docente</th>
                <th>Condición Laboral</th>
                <th>Régimen Laboral</th>
                <th>Dedicación Docente</th>
                <th>Nivel Estudio</th>
                <th>Carrera Educación </th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dirciten/dirciten-informaciondocente.js" asp-append-version="true"></script>

}
