@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/ComzocuatroSituacionOperatividadNave" style="text-decoration:none;">Situacion de Operatividad de Naves</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/ComzocuatroSituacionOperatividadNave/Individual" class="btn btn-primary">Ir Carga Individual</a>
                     <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ventanaModal">Reportes</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                  @*  <th>Código</th>*@
                                    <th>Nave</th>
                                    <th>N° Casco</th>
                                    <th>Tipo de Plataforma</th>
                                    <th>Dependencia</th>
                                    <th>Ubicacion</th>
                                    <th>Departamento</th>
                                    <th>Provincia</th>
                                    <th>Distrito</th>
                                    <th>Capacidad Operacional Requerida</th>
                                    <th>Condicion</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

@*<div class="modal fade" id="ventanaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
                    <div class="card" style="width: 100%;">
                        <div class="card-header nuevo">
                            <h4>Reportes - COMCIBERDEF</h4>
                           
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onclick="optReporte(1)">
                            <label class="form-check-label" for="flexRadioDefault1">
                                CIBERATAQUES
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onclick="optReporte(2)">
                            <label class="form-check-label" for="flexRadioDefault2">
                                CANT. CIBERATAQUE POR SEVERIDAD SEGUN ACCION
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onclick="optReporte(3)">
                            <label class="form-check-label" for="flexRadioDefault2">
                                CANT. CIBERATQUE POR TIPO ACCION SEGUN TIPOS CIBERATAQUES
                            </label>
                        </div>
                        <div class="form-group row col-md-6">
                            <label for="carga" class="col-3 col-form-label">Carga</label>
                            <div class="form-group row col-md-6">
                                <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group row col-md-6" id="accionAnteCiberataque">
                                <label for="text1" class="col-3 col-form-label">Acción Ante Ciberataque</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" id="txtAccionAnteCiberA" name="txtAccionAnteCiberA" placeholder="Acción Ante Ciberataque" required>
                                </div>
                            </div>
                            <div class="form-group row col-md-6" id="tipoCiberataque">
                                <label for="text2" class="col-3 col-form-label">Tipo Ciberataque</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control form-control-sm" id="txtCiberAtaque" name="txtCiberAtaque" placeholder="Tipo Ciberataque" required>
                                </div>
                            </div>
                            <div class="form-group row col-md-6" id="fechaInicio">
                                <label for="AnioAlistamiento" class="col-3 col-form-label">Fecha Inicio </label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" placeholder="Año " required>
                                </div>
                            </div>
                            <div class="form-group row col-md-6" id="fechaTermino">
                                <label for="SemestreAlistamiento" class="col-3 col-form-label">Fecha Fin </label>
                                <div class="col-md-9">
                                    <input type="date" class="form-control form-control-sm" id="txtFechaFin" name="txtFechaFin" placeholder="Semestre " required>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 text-center">
                                <input type='button' id="btnReportView" value="Ver" class="btn btn-primary align-self-end">
                                <button type="button" class="btn btn-danger align-self-end" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal1-footer">
            <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>
*@
@section Scripts{
    <script src="/js/comzocuatro/comzocuatro-situacionoperatividadnave.js" asp-append-version="true"></script>
}