@{
    ViewData["Title"] = "Servicio de Vivienda Prestado de la Dirección de Bienestar (Asignación de Viviendas)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/BienestarServicioViviendaPrestada/Individual" style="text-decoration:none;">Servicio de Vivienda Prestado de la Dirección de Bienestar (Asignación de Viviendas)</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="CIPBeneficiario" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPBeneficiario" name="txtCIPBeneficiario" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIBeneficiario" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIBeneficiario" name="txtDNIBeneficiario" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Beneficiado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalM" name="cbGradoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSolicitud" class="col-3 col-form-label">Fecha de Solicitud </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitud" name="txtFechaSolicitud" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoSolicitud" class="col-3 col-form-label">Estado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoSolicitud" name="txtEstadoSolicitud" data-placeholder="Seleccione ...">
                            <option value="Obtuvo vacante">Obtuvo vacante</option>
                            <option value="No obtuvo vacante">No obtuvo vacante</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VillaNaval" class="col-3 col-form-label"><a href="~/VillaNaval">Villa Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVillaNaval" name="cbVillaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BlockVillaNaval" class="col-3 col-form-label"><a href="~/BlockVillaNaval">Block de Vivienda</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbBlockVillaNaval" name="cbBlockVillaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroDepartamento" class="col-3 col-form-label">Número Departamento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroDepartamento" name="txtNumeroDepartamento" placeholder="Número Departamento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEntregaVivienda" class="col-3 col-form-label">Fecha Entrega Vivienda</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEntregaVivienda" name="txtFechaEntregaVivienda" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAsignacionCasaS" class="col-3 col-form-label"><a href="~/TipoAsignacionCasaServicio">Tipo Asignación Casas de Servicio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAsignacionCasaS" name="cbTipoAsignacionCasaS"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PeriodoPermanencia" class="col-3 col-form-label">Periodo de Permanencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtPeriodoPermanencia" name="txtPeriodoPermanencia" data-placeholder="Seleccione ...">
                            <option value="Cuatro años">Cuatro años</option>
                            <option value="Un año">Un año</option>
                            <option value="Tiempo pendiente de habitar">Tiempo pendiente de habitar</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarServicioViviendaPrestada">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIPBeneficiario" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPBeneficiarioe" name="txtCIPBeneficiarioe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIBeneficiario" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIBeneficiarioe" name="txtDNIBeneficiarioe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Beneficiado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMe" name="cbGradoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSolicitud" class="col-3 col-form-label">Fecha de Solicitud </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitude" name="txtFechaSolicitude" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoSolicitud" class="col-3 col-form-label">Estado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoSolicitude" name="txtEstadoSolicitude" data-placeholder="Seleccione ...">
                            <option value="Obtuvo vacante">Obtuvo vacante</option>
                            <option value="No obtuvo vacante">No obtuvo vacante</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VillaNaval" class="col-3 col-form-label"><a href="~/VillaNaval">Villa Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVillaNavale" name="cbVillaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BlockVillaNaval" class="col-3 col-form-label"><a href="~/BlockVillaNaval">Block de Vivienda</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbBlockVillaNavale" name="cbBlockVillaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroDepartamento" class="col-3 col-form-label">Número Departamento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroDepartamentoe" name="txtNumeroDepartamentoe" placeholder="Número Departamento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEntregaVivienda" class="col-3 col-form-label">Fecha Entrega Vivienda</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEntregaViviendae" name="txtFechaEntregaViviendae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoAsignacionCasaS" class="col-3 col-form-label"><a href="~/TipoAsignacionCasaServicio">Tipo Asignación Casas de Servicio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoAsignacionCasaSe" name="cbTipoAsignacionCasaSe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PeriodoPermanencia" class="col-3 col-form-label">Periodo de Permanencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtPeriodoPermanenciae" name="txtPeriodoPermanenciae" data-placeholder="Seleccione ...">
                            <option value="Cuatro años">Cuatro años</option>
                            <option value="Un año">Un año</option>
                            <option value="Tiempo pendiente de habitar">Tiempo pendiente de habitar</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarServicioViviendaPrestada">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarServicioViviendaPrestada" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarServicioViviendaPrestada()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblBienestarServicioViviendaPrestada" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>CIP</th>
                <th>DNI</th>
                <th>Grado Beneficiado</th>
                <th>Fecha de Solicitud </th>
                <th>Estado de Solicitud</th>
                <th>Villa Naval</th>
                <th>Block de Vivienda</th>
                <th>Número Departamento</th>
                <th>Fecha Entrega Vivienda</th>
                <th>Tipo Asignación Casas de Servicio</th>
                <th>Periodo de Permanencia</th>
                <th>CodigoCarga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-servicioviviendaprestada.js" asp-append-version="true"></script>
}
