@{
    ViewData["Title"] = "Junta Permanente Tecnico Legal del Personal Superior y Subalterno de la Marina de Guerra del Perú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DipermarJuntaPermanenteTecnicoLegal/Individual" style="text-decoration:none;">Junta Permanente Tecnico Legal del Personal Superior y Subalterno de la Marina de Guerra del Perú</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NDocumento" class="col-3 col-form-label">N° Documento </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNDocumento" name="txtNDocumento" placeholder="N° Documento " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaD" name="txtFechaD" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentacionC" class="col-3 col-form-label">Documentación Completa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDocumentacionC" name="txtDocumentacionC" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonal" name="cbTipoPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGrado" name="cbGrado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGenero" name="txtGenero" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Afeccion" class="col-3 col-form-label"><a href="~/Afeccion">Afección</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAfeccion" name="cbAfeccion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionActual" class="col-3 col-form-label">Situación Actual de la Junta técnico permanente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionActual" name="txtSituacionActual" data-placeholder="Seleccione ...">
                            <option value="En evaluación">En evaluación</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Concluido">Concluido</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroActa" class="col-3 col-form-label">N° de Acta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroActa" name="txtNroActa" placeholder="N° de Acta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaActa" class="col-3 col-form-label">Fecha de Acta</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaActa" name="txtFechaActa" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Conclusion" class="col-3 col-form-label">Conclusión de la Junta</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConclusion" name="txtConclusion" data-placeholder="Seleccione ...">
                            <option value="En acción de armas">En acción de armas</option>
                            <option value="En acto de servicio">En acto de servicio</option>
                            <option value="A consecuencia de servicio">A consecuencia de servicio</option>
                            <option value="Con ocasión deservicio">Con ocasión deservicio</option>
                            <option value="Fuera de servicio">Fuera de servicio</option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarJuntaPermanenteTecnicoLegal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NDocumento" class="col-3 col-form-label">N° Documento </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNDocumentoe" name="txtNDocumentoe" placeholder="N° Documento " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha Documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDe" name="txtFechaDe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentacionC" class="col-3 col-form-label">Documentación Completa</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDocumentacionCe" name="txtDocumentacionCe" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo de Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoPersonale" name="txtTipoPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Grado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtGradoe" name="txtGradoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGeneroe" name="txtGeneroe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Afeccion" class="col-3 col-form-label"><a href="~/Afeccion">Afección</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtAfeccione" name="txtAfeccione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionActual" class="col-3 col-form-label">Situación Actual de la Junta técnico permanente</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionActuale" name="txtSituacionActuale" data-placeholder="Seleccione ...">
                            <option value="En evaluación">En evaluación</option>
                            <option value="En proceso">En proceso</option>
                            <option value="Concluido">Concluido</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroActa" class="col-3 col-form-label">N° de Acta</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroActae" name="txtNroActae" placeholder="N° de Acta" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaActa" class="col-3 col-form-label">Fecha de Acta</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaActae" name="txtFechaActae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Conclusion" class="col-3 col-form-label">Conclusión de la Junta</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConclusione" name="txtConclusione" data-placeholder="Seleccione ...">
                            <option value="En acción de armas">En acción de armas</option>
                            <option value="En acto de servicio">En acto de servicio</option>
                            <option value="A consecuencia de servicio">A consecuencia de servicio</option>
                            <option value="Con ocasión deservicio">Con ocasión deservicio</option>
                            <option value="Fuera de servicio">Fuera de servicio</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarJuntaPermanenteTecnicoLegal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">

    <p><a href="~/DipermarJuntaPermanenteTecnicoLegal" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDipermarJuntaPermanenteTecnicoLegal()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDipermarJuntaPermanenteTecnicoLegal" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>N° Documento </th>
                <th>Fecha Documento</th>
                <th>Documentación Completa</th>
                <th>Fecha Ingreso</th>
                <th>Tipo de Personal</th>
                <th>Grado</th>
                <th>Género</th>
                <th>Afección</th>
                <th>Situación Actual de la Junta técnico permanente</th>
                <th>N° de Acta</th>
                <th>Fecha de Acta</th>
                <th>Conclusión de la Junta</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dipermar/dipermar-juntapermanentetecnicolegaldto.js" asp-append-version="true"></script>

}
