@{
    ViewData["Title"] = "Alistamiento de combustibles y lubricantes (ACL)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/JesehinAlistamientoCombustibleLubricanteJesehin/Individual" style="text-decoration:none;">
        Alistamiento de combustibles y lubricantes (ACL)
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbAlistamientoCombustibleLubricante2" class="col-3 col-form-label"><a href="~/AlistamientoCombustibleLubricante2">Alistamiento Combustible Lubricante 2</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoCombustibleLubricante2" name="cbAlistamientoCombustibleLubricante2"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ArticuloAlistamiento" class="col-3 col-form-label">ARTICULO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticuloAlistamiento" name="txtArticuloAlistamiento" placeholder="ARTICULO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EquipoAlistamiento" class="col-3 col-form-label">EQUIPO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoAlistamiento" name="txtEquipoAlistamiento" placeholder="EQUIPO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedidaAlistamiento" class="col-3 col-form-label">UNIDAD DE MEDIDA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUnidadMedidaAlistamiento" name="txtUnidadMedidaAlistamiento" placeholder="UNIDAD DE MEDIDA" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CargoAlistamiento" class="col-3 col-form-label">CARGO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargoAlistamiento" name="txtCargoAlistamiento" placeholder="CARGO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AumentoAlistamiento" class="col-3 col-form-label">AUMENTO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAumentoAlistamiento" name="txtAumentoAlistamiento" placeholder="AUMENTO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoAlistamiento" class="col-3 col-form-label">CONSUMO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoAlistamiento" name="txtConsumoAlistamiento" placeholder="CONSUMO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ExistenciaAlistamiento" class="col-3 col-form-label">EXISTENCIA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistenciaAlistamiento" name="txtExistenciaAlistamiento" placeholder="EXISTENCIA" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPromedioPonderado" class="col-3 col-form-label">Promedio ponderado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPromedioPonderado" name="txtPromedioPonderado" placeholder="promedio ponderado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtSubPromedioParcial" class="col-3 col-form-label">Sub promedio parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubPromedioParcial" name="txtSubPromedioParcial" placeholder="sub promedio parcial" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JesehinAlistamientoCombustibleLubricanteJesehin">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbAlistamientoCombustibleLubricante2" class="col-3 col-form-label"><a href="~/AlistamientoCombustibleLubricante2">Alistamiento Combustible Lubricante 2</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoCombustibleLubricante2e" name="cbAlistamientoCombustibleLubricante2e"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ArticuloAlistamiento" class="col-3 col-form-label">ARTICULO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticuloAlistamientoe" name="txtArticuloAlistamientoe" placeholder="ARTICULO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EquipoAlistamiento" class="col-3 col-form-label">EQUIPO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoAlistamientoe" name="txtEquipoAlistamientoe" placeholder="EQUIPO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedidaAlistamiento" class="col-3 col-form-label">UNIDAD DE MEDIDA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUnidadMedidaAlistamientoe" name="txtUnidadMedidaAlistamientoe" placeholder="UNIDAD DE MEDIDA" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CargoAlistamiento" class="col-3 col-form-label">CARGO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargoAlistamientoe" name="txtCargoAlistamientoe" placeholder="CARGO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AumentoAlistamiento" class="col-3 col-form-label">AUMENTO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAumentoAlistamientoe" name="txtAumentoAlistamientoe" placeholder="AUMENTO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConsumoAlistamiento" class="col-3 col-form-label">CONSUMO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtConsumoAlistamientoe" name="txtConsumoAlistamientoe" placeholder="CONSUMO" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ExistenciaAlistamiento" class="col-3 col-form-label">EXISTENCIA</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistenciaAlistamientoe" name="txtExistenciaAlistamientoe" placeholder="EXISTENCIA" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPromedioPonderado" class="col-3 col-form-label">Promedio ponderado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPromedioPonderadoe" name="txtPromedioPonderadoe" placeholder="promedio ponderado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtSubPromedioParcial" class="col-3 col-form-label">Sub promedio parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubPromedioParciale" name="txtSubPromedioParciale" placeholder="sub promedio parcial" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JesehinAlistamientoCombustibleLubricanteJesehin/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaJesehinAlistamientoCombustibleLubricanteJesehin()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/JesehinAlistamientoCombustibleLubricanteJesehin">Masiva</a>
            <a class="dropdown-item" href="~/JesehinAlistamientoCombustibleLubricanteJesehin/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblJesehinAlistamientoCombustibleLubricanteJesehin" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Artículo</th>
                <th>Equipo</th>
                <th>Unidad de medida</th>
                <th>Cargo</th>
                <th>Aumento</th>
                <th>Consumo</th>
                <th>Existencia</th>
                <th>Promedio ponderado</th>
                <th>Sub promedio parcial</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/jesehin/jesehin-alistamientocombustiblelubricantejesehin.js" asp-append-version="true"></script>
}
