@{
    ViewData["Title"] = "Lista de Formatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><a href="/FormatoReporte" style="text-decoration:none;">Formatos / Mantenimiento</a></h3>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nombre del Menu</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtFormatoReporte" name="txtFormatoReporte" placeholder="Formato / Reporte" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Controlador</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtControlador" name="txtControlador" placeholder="/Controlador" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Periodo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPeriodo" name="cbPeriodo" data-placeholder="Periodo ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Flag</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="flag" name="flag" data-placeholder="Seleccione ...">
                            <option value="1">Formato</option>
                            <option value="2">Mantenimiento</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nivel Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" onchange="mostrarCombo();" id="cbNivel" name="cbNivel" data-placeholder="Dependencia ...">
                            <option value="0">Ninguno</option>
                            <option value="1">2do Nivel</option>
                            <option value="2">3do Nivel</option>
                        </select>
                    </div>
                </div>               
                <div class="form-group row col-md-6" id="2do" style="display:none;">
                    <label class="col-3 col-form-label">Dependencia 2do Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia" data-placeholder="Dependencia ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="3ro" style="display:none;">
                    <label class="col-3 col-form-label">Subordinada 3er Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciaSubordinado" name="cbDependenciaSubordinado" data-placeholder="Dependencia Subordinado ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/FormatoReporte">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nombre del Menu</label>
                    <div class="col-md-9">
                        <input type="hidden" id="txtCodigo" name="txtCodigo">
                        <input type="text" class="form-control form-control-sm" id="txtFormatoReportee" name="txtFormatoReportee" placeholder="Formato / Reporte" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Controlador</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtControladore" name="txtControladore" placeholder="Formato / Reporte" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Periodo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPeriodoe" name="cbPeriodoe" data-placeholder="Periodo ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Flag</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="flage" name="flage" data-placeholder="Seleccione ...">
                            <option value="1">Formato</option>
                            <option value="2">Mantenimiento</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label class="col-3 col-form-label">Nivel Dependencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" onchange="mostrarCombo();" id="cbNivele" name="cbNivele" data-placeholder="Nivel Dependencia ...">
                            <option value="0">Ninguno</option>
                            <option value="1">2do Nivel</option>
                            <option value="2">3do Nivel</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="2do2" style="display:none;">
                    <label class="col-3 col-form-label">Dependencia 2do Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae" data-placeholder="Dependencia ..."></select>
                    </div>
                </div>
                <div class="form-group row col-md-6" id="3ro2" style="display:none;">
                    <label class="col-3 col-form-label">Subordinada 3er Nivel</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciaSubordinadoe" name="cbDependenciaSubordinadoe" data-placeholder="Dependencia Subordinado ..."></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/FormatoReporte">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaFormatoReporte()" />
    <table class="table table-striped" id="tblFormatoReporte" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Codigo</th>
                <th>Enlace</th>    
                <th>Menu</th>
                <th>Periodo</th>
                <th>Dependencia 2do Nivel</th>
                <th>Dependencia 3er Nivel</th>
                <th>Flag</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@section Scripts{
    <script src="/js/seguridad/formatoreporte.js" asp-append-version="true"></script>
}