@{
    ViewData["Title"] = "Personal Civil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiperadmonPersonalCivil/Individual" style="text-decoration:none;">Personal Civil</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbMes" name="cbMes"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbAnio" name="cbAnio"></select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoDocumento" class="col-3 col-form-label">Tipo Documento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoDocumento" name="txtTipoDocumento" data-placeholder="Seleccione ...">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralCivil">Condición laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionLaboral" name="txtCondicionLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoOcupaci" class="col-3 col-form-label"><a href="~/GrupoOcupacionalCivil">Grupo ocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGrupoOcupaci" name="txtGrupoOcupaci"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelCargo" class="col-3 col-form-label">Nivel de cargo </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelCargo" name="txtNivelCargo" placeholder="Nivel de cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoRemunerativo" class="col-3 col-form-label"><a href="~/GrupoRemunerativo" style="text-decoration:none;">Grupo Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGrupoRemunerativo" name="cbGrupoRemunerativo">
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoRemunerativo" class="col-3 col-form-label"><a href="~/GradoRemunerativo" style="text-decoration:none;">Grado Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoRemunerativo" name="cbGradoRemunerativo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral" style="text-decoration:none;">Regimen Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbRegimenLaboral" name="cbRegimenLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUnivEspe" class="col-3 col-form-label"><a href="~/CarreraUniversidadEspecialidad" style="text-decoration:none;">Carrera Universitaria Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCarreraUnivEspe" name="cbCarreraUnivEspe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SistemaPension" class="col-3 col-form-label"><a href="~/SistemaPension" style="text-decoration:none;">Sistema Pension</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistemaPension" name="cbSistemaPension"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIinst" class="col-3 col-form-label">Fecha Ingreso Instituto</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIinst" name="txtFechaIinst" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarLabora" class="col-3 col-form-label"> Lugar donde Labora </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoLabora" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoLabora" name="cbDepartamentoLabora"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaLabora" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaLabora" name="cbProvinciaLabora"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoLaboraPCivil" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoLaboraPCivil" name="cbDistritoLaboraPCivil"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaN" name="txtFechaN" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimineto" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimiento" name="cbDepartamentoNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimiento" name="cbProvinciaNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimientoPCivil" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimientoPCivil" name="cbDistritoNacimientoPCivil"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoCivil" class="col-3 col-form-label">Estado Civil</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoCivil" name="txtEstadoCivil" data-placeholder="Seleccione ...">
                            <option value="Conviviente">Conviviente</option>
                            <option value="Separado">Separado(a)</option>
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Viudo(a)">Viudo(a)</option>
                            <option value="Divorciado(a)">Divorciado(a)</option>
                            <option value="Soltero(a)">Soltero(a)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudioA" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado" style="text-decoration:none;">Grado Estudio Alcanzado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoEstudioA" name="cbGradoEstudioA"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEducacion" class="col-3 col-form-label">Grado de educación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoEducacion" name="txtGradoEducacion" data-placeholder="Seleccione ...">
                            <option value="Primer">Primer</option>
                            <option value="Segundo">Segundo</option>
                            <option value="Tercer">Tercer</option>
                            <option value="Cuarto">Cuarto</option>
                            <option value="Quinto">Quinto</option>
                            <option value="Sexto">Sexto</option>
                            <option value="OTRO">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioServicio" class="col-3 col-form-label">Año Servicio </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAnioServicio" name="txtAnioServicio" placeholder="Año Servicio" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiperadmonPersonalCivil">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoDocumento" class="col-3 col-form-label">Tipo Documento</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoDocumentoe" name="txtTipoDocumentoe" data-placeholder="Seleccione ...">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralCivil">Condición laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionLaborale" name="txtCondicionLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoOcupaci" class="col-3 col-form-label"><a href="~/GrupoOcupacionalCivil">Grupo ocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGrupoOcupacie" name="txtGrupoOcupacie"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelCargo" class="col-3 col-form-label">Nivel de cargo </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelCargoe" name="txtNivelCargoe" placeholder="Nivel de cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoRemunerativo" class="col-3 col-form-label"><a href="~/GrupoRemunerativo" style="text-decoration:none;">Grupo Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGrupoRemunerativoe" name="cbGrupoRemunerativoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoRemunerativo" class="col-3 col-form-label"><a href="~/GradoRemunerativo" style="text-decoration:none;">Grado Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoRemunerativoe" name="cbGradoRemunerativoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RegimenLaboral" class="col-3 col-form-label"><a href="~/RegimenLaboral" style="text-decoration:none;">Regimen Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbRegimenLaborale" name="cbRegimenLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUnivEspe" class="col-3 col-form-label"><a href="~/CarreraUniversidadEspecialidad" style="text-decoration:none;">Carrera Universitaria Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCarreraUnivEspee" name="cbCarreraUnivEspee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SistemaPension" class="col-3 col-form-label"><a href="~/SistemaPension" style="text-decoration:none;">Sistema Pension</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistemaPensione" name="cbSistemaPensione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIinst" class="col-3 col-form-label">Fecha Ingreso Instituto</label>
                    <div class="col-md-9">
                       <input type="date" class="form-control form-control-sm" id="txtFechaIinste" name="txtFechaIinste" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarLabora" class="col-3 col-form-label"> Lugar donde Labora </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoLabora" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoLaborae" name="cbDepartamentoLaborae"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaLabora" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaLaborae" name="cbProvinciaLaborae"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoLaboraPCivil" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoLaboraPCivile" name="cbDistritoLaboraPCivile"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNe" name="txtFechaNe" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimineto" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimientoe" name="cbDepartamentoNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimientoe" name="cbProvinciaNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimientoPCivil" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimientoPCivile" name="cbDistritoNacimientoPCivile"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoCivil" class="col-3 col-form-label">Estado Civil</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEstadoCivile" name="txtEstadoCivile" data-placeholder="Seleccione ...">
                            <option value="Conviviente">Conviviente</option>
                            <option value="Separado">Separado(a)</option>
                            <option value="Casado(a)">Casado(a)</option>
                            <option value="Viudo(a)">Viudo(a)</option>
                            <option value="Divorciado(a)">Divorciado(a)</option>
                            <option value="Soltero(a)">Soltero(a)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEstudioA" class="col-3 col-form-label"><a href="~/GradoEstudioAlcanzado" style="text-decoration:none;">Grado Estudio Alcanzado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoEstudioAe" name="cbGradoEstudioAe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEducacion" class="col-3 col-form-label">Grado de educación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoEducacione" name="txtGradoEducacione" data-placeholder="Seleccione ...">
                            <option value="Primer">Primer</option>
                            <option value="Segundo">Segundo</option>
                            <option value="Tercer">Tercer</option>
                            <option value="Cuarto">Cuarto</option>
                            <option value="Quinto">Quinto</option>
                            <option value="Sexto">Sexto</option>
                            <option value="OTRO">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioServicio" class="col-3 col-form-label">Año Servicio </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAnioServicioe" name="txtAnioServicioe" placeholder="Año Servicio" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiperadmonPersonalCivil">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiperadmonPersonalCivil" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiperadmonPersonalCivil()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDiperadmonPersonalCivil" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Document</th>
                <th>DNI</th>
                <th>Sexo</th>
                <th>Condición laboral</th>
                <th>Grupo ocupacional</th>
                <th>Nivel de cargo</th>
                <th>Grupo Remunerativo</th>
                <th>Grado Remunerativo</th>
                <th>Regimen Laboral </th>
                <th>Carrera Universitaria Especialidad</th>
                <th>Sistema Pensión</th>
                <th>Fecha Ingreso Instituto</th>
                <th>Dependencia</th>
                <th>Lugar donde Labora </th>
                <th>Fecha Ingreso</th>
                <th>Fecha Nacimiento </th>
                <th>Lugar Nacimiento</th>
                <th>Estado Civil</th>
                <th>Grado Estudio Alcanzado</th>
                <th>Grado de educación</th>
                <th>Año Servicio</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diperadmon/diperadmon-personalcivil.js" asp-append-version="true"></script>
}
