@{
    ViewData["Title"] = "Alistamiento de munición (AMU)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/ComfoeAlistamientoMunicionComfoe/Individual" style="text-decoration:none;">
        Alistamiento de munición (AMU)
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbAlistamientoMunicion" class="col-3 col-form-label"><a href="~/AlistamientoMunicion">Alistamiento Munición</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMunicion" name="cbAlistamientoMunicion"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfoeAlistamientoMunicionComfoe">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbAlistamientoMunicion" class="col-3 col-form-label"><a href="~/AlistamientoMunicion">Alistamiento Munición</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMunicione" name="cbAlistamientoMunicione"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfoeAlistamientoMunicionComfoe/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComfoeAlistamientoMunicionComfoe" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfoeAlistamientoMunicionComfoe()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComfoeAlistamientoMunicionComfoe" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Codigo Alistamiento Municion</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfoe/comfoe-alistamientomunicioncomfoe.js" asp-append-version="true"></script>
}
