@{
    ViewData["Title"] = "Visita Registrada a los Museos Navales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DirintemarVisitaArchivoHistorico/Individual" style="text-decoration:none;">Visita Registrada a los Museos Navales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaV" class="col-3 col-form-label">Fecha Visita</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaV" name="txtFechaV" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Visitante" class="col-3 col-form-label">Visitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVisitante" name="txtVisitante" placeholder="Visitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoI" class="col-3 col-form-label">Documento Identidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoI" name="txtDocumentoI" placeholder="Documento Identidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVisitaG" class="col-3 col-form-label"><a href="~/TipoVisitaGeneral">Tipo Visita General</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoVisitaG" name="cbTipoVisitaG" ></select>                    
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Entidad" class="col-3 col-form-label">Entidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEntidad" name="txtEntidad" placeholder="Entidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tema" class="col-3 col-form-label">Tema</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTema" name="txtTema" placeholder="Tema" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NacionalidadV" class="col-3 col-form-label">Nacionalidad Visitante</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNacionalidadV" name="txtNacionalidadV" data-placeholder="Seleccione ...">
                            <option value="Interés Marítimo">Interés Marítimo</option>
                            <option value="Realidad Marítima">Realidad Marítima</option>
                        </select>
                    </div>
                </div>              
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarVisitaArchivoHistorico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaV" class="col-3 col-form-label">Fecha Visita</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaVe" name="txtFechaVe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Visitante" class="col-3 col-form-label">Visitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVisitantee" name="txtVisitantee" placeholder="Visitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoI" class="col-3 col-form-label">Documento Identidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoIe" name="txtDocumentoIe" placeholder="Documento Identidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVisitaG" class="col-3 col-form-label"><a href="~/TipoVisitaGeneral">Tipo Visita General</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoVisitaGe" name="cbTipoVisitaGe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Entidad" class="col-3 col-form-label">Entidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEntidade" name="txtEntidade" placeholder="Entidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tema" class="col-3 col-form-label">Tema</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTemae" name="txtTemae" placeholder="Tema" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NacionalidadV" class="col-3 col-form-label">Nacionalidad Visitante</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNacionalidadVe" name="txtNacionalidadVe" data-placeholder="Seleccione ...">
                            <option value="Interés Marítimo">Interés Marítimo</option>
                            <option value="Realidad Marítima">Realidad Marítima</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarVisitaArchivoHistorico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarVisitaArchivoHistorico" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarVisitaArchivoHistorico()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarVisitaArchivoHistorico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha Visita</th>
                <th>Visitante</th>
                <th>Documento Identidad</th>
                <th>Tipo Visita General</th>
                <th>Entidad </th>
                <th>Tema</th>
                <th>Nacionalidad Visitante</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dirintemar/dirintemar-visitaarchivohistorico.js" asp-append-version="true"></script>
}
