@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>
            <a href="~/DisamarRegistroEgresoHospitalario" style="text-decoration:none;">
                Registro de Egresos Hospitalarios
            </a>
        </h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/DisamarRegistroEgresoHospitalario/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/DisamarRegistroEgresoHospitalario/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table class="table table-striped" id="tbData" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">
                                    <th>II AA</th>
                                    <th>Zona</th>
                                    <th>Establecimiento</th>
                                    <th>Dpto</th>
                                    <th>Prov</th>
                                    <th>Dist</th>
                                    <th>Especialidad</th>
                                    <th>Responsable del registro</th>
                                    <th>NSA/CIP</th>
                                    <th>N° de dni</th>
                                    <th>Historia clinica</th>
                                    <th>Dni</th>
                                    <th>Unidad de procedencia</th>
                                    <th>Distrito</th>
                                    <th>Grupo poblacional</th>
                                    <th>Grado o parentesco</th>
                                    <th>Situación</th>
                                    <th>Condición</th>
                                    <th></th>
                                    <th>Edad</th>
                                    <th>Tipo edad</th>
                                    <th>Sexo</th>
                                    <th>Diagnóstico de egreso1</th>
                                    <th>Tipo de dx1</th>
                                    <th>CIE101</th>
                                    <th>Diagnóstico de egreso2</th>
                                    <th>Tipo de dx2</th>
                                    <th>CIE102</th>
                                    <th>Diagnóstico de egreso3</th>
                                    <th>Tipo de dx3</th>
                                    <th>CIE103</th>
                                    <th>Diagnóstico de egreso4</th>
                                    <th>Tipo de dx4</th>
                                    <th>CIE104</th>
                                    <th>Diagnóstico de egreso5</th>
                                    <th>Tipo de dx5</th>
                                    <th>CIE105</th>
                                    <th>Diagnóstico de egreso6</th>
                                    <th>Tipo de dx6</th>
                                    <th>CIE106</th>
                                    <th>Condición de egreso</th>
                                    <th>Fecha de ingreso</th>
                                    <th>Hora de ingreso</th>
                                    <th>Fecha de egreso</th>
                                    <th>Hora de egreso</th>
                                    <th>Especialidad del medico tratante(ingreso)</th>
                                    <th>Nombre medico de ingreso</th>
                                    <th>Diagnóstico de ingreso</th>
                                    <th>Especialidad médico tratante (egreso)</th>
                                    <th>Nombre médico de egreso</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/disamar/disamar-registroegresohospitalario.js" asp-append-version="true"></script>
}