@{
    ViewData["Title"] = "Registro de Egresos Hospitalarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DisamarRegistroEgresoHospitalario/Individual" style="text-decoration:none;">
        Registro de Egresos Hospitalarios
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">II AA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitar" name="cbEntidadMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Establecimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGP" name="cbEstablecimientoSaludMGP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeo" name="cbDepartamentoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeo" name="cbProvinciaUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeo" name="cbDistritoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicaNoMedica" class="col-3 col-form-label"><a href="~/EspecialidadMedicaNoMedica">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadMedicaNoMedica" name="cbEspecialidadMedicaNoMedica"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResponsableRegistro" class="col-3 col-form-label">Responsable del registro</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResponsableRegistro" name="txtResponsableRegistro" placeholder="Responsable del registro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NSACIP" class="col-3 col-form-label">NSA/CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNSACIP" name="txtNSACIP" placeholder="NSA/CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIResponsableSalud" class="col-3 col-form-label">N° de dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIResponsableSalud" name="txtDNIResponsableSalud" placeholder="N° de dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HistoriaClinica" class="col-3 col-form-label">Historia clinica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHistoriaClinica" name="txtHistoriaClinica" placeholder="Historia clinica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPaciente" class="col-3 col-form-label">Dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIPaciente" name="txtDNIPaciente" placeholder="Dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoUnidadNaval" class="col-3 col-form-label"><a href="~/CodigoUnidadNaval">Unidad de procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadDependencia" name="cbUnidadDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoPaciente" class="col-3 col-form-label">Distrito</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtDistritoPaciente" name="txtDistritoPaciente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Grupo poblacional</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitar" name="cbTipoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado o parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPaciente" class="col-3 col-form-label">Situación</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtSituacionPaciente" name="txtSituacionPaciente">
                            <option value="A">ACTIVIDAD</option>
                            <option value="R">RETIRO</option>
                            <option value="N">NINGUNO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPaciente" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicionPaciente" name="txtCondicionPaciente">
                            <option value="E">EXCOMBATIENTE</option>
                            <option value="D">DISCAPACITADO</option>
                            <option value="O">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrigenPaciente" class="col-3 col-form-label"></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtOrigenPaciente" name="txtOrigenPaciente">
                            <option value="E">EMERGENCIA</option>
                            <option value="C">CONSULTORIO EXTERNO</option>
                            <option value="R">REFERIDO</option>
                            <option value="O">OBSERVACIÓN EMERGENCIA</option>
                            <option value="T">TRAUMA SHOCK</option>
                            <option value="U">UCI</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadPaciente" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadPaciente" name="txtEdadPaciente" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEdad" class="col-3 col-form-label">Tipo edad</label>
                    <div class="col-md-9">
                        <select class="form-control form-control-sm" id="txtTipoEdad" name="txtTipoEdad">
                            <option value="D">DIA</option>
                            <option value="M">MES</option>
                            <option value="A">AÑO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoPaciente" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-control form-control-sm" id="txtSexoPaciente" name="txtSexoPaciente">
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMENINO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion1" class="col-3 col-form-label">Diagnóstico de egreso1</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion1" name="txtDiagnosticoMotivoAtencion1" placeholder="Diagnóstico de egreso1" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX1" class="col-3 col-form-label">Tipo de dx1</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX1" name="txtTipoDX1">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE101" class="col-3 col-form-label">CIE101</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE101" name="txtCIE101" placeholder="CIE101" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion2" class="col-3 col-form-label">Diagnóstico de egreso2</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion2" name="txtDiagnosticoMotivoAtencion2" placeholder="Diagnóstico de egreso2" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX2" class="col-3 col-form-label">Tipo de dx2</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX2" name="txtTipoDX2">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_2" class="col-3 col-form-label">CIE102</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_2" name="txtCIE10_2" placeholder="CIE102" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion3" class="col-3 col-form-label">Diagnóstico de egreso3</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion3" name="txtDiagnosticoMotivoAtencion3" placeholder="Diagnóstico de egreso3" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX3" class="col-3 col-form-label">Tipo de dx3</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX3" name="txtTipoDX3">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_3" class="col-3 col-form-label">CIE103</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_3" name="txtCIE10_3" placeholder="CIE103" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion4" class="col-3 col-form-label">Diagnóstico de egreso4</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion4" name="txtDiagnosticoMotivoAtencion4" placeholder="Diagnóstico de egreso4" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX4" class="col-3 col-form-label">Tipo de dx4</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX4" name="txtTipoDX4">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_4" class="col-3 col-form-label">CIE104</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_4" name="txtCIE10_4" placeholder="CIE104" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion5" class="col-3 col-form-label">Diagnóstico de egreso5</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion5" name="txtDiagnosticoMotivoAtencion5" placeholder="Diagnóstico de egreso5" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX5" class="col-3 col-form-label">Tipo de dx5</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX5" name="txtTipoDX5">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_5" class="col-3 col-form-label">CIE105</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_5" name="txtCIE10_5" placeholder="CIE105" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion6" class="col-3 col-form-label">Diagnóstico de egreso6</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion6" name="txtDiagnosticoMotivoAtencion6" placeholder="Diagnóstico de egreso6" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX6" class="col-3 col-form-label">Tipo de dx6</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX6" name="txtTipoDX6">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_6" class="col-3 col-form-label">CIE106</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_6" name="txtCIE10_6" placeholder="CIE106" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionEgresoHospitalizacion" class="col-3 col-form-label"><a href="~/CondicionEgresoHospitalizacion">Condición de egreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionEgresoHospitalizacion" name="cbCondicionEgresoHospitalizacion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngreso" name="txtFechaIngreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraIngreso" class="col-3 col-form-label">Hora de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraIngreso" name="txtHoraIngreso" placeholder="Hora de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEgreso" class="col-3 col-form-label">Fecha de egreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEgreso" name="txtFechaEgreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraEgreso" class="col-3 col-form-label">Hora de egreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraEgreso" name="txtHoraEgreso" placeholder="Hora de egreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicoTratanteIngreso" class="col-3 col-form-label">Especialidad del medico tratante(ingreso)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedicoTratanteIngreso" name="txtEspecialidadMedicoTratanteIngreso" placeholder="Especialidad del medico tratante(ingreso)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoIngreso" class="col-3 col-form-label">Nombre medico de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoIngreso" name="txtNombreMedicoIngreso" placeholder="Nombre medico de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoIngreso" class="col-3 col-form-label">Diagnóstico de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDiagnosticoIngreso" name="txtDiagnosticoIngreso" placeholder="Diagnóstico de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicoTratanteEgreso" class="col-3 col-form-label">Especialidad médico tratante (egreso)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedicoTratanteEgreso" name="txtEspecialidadMedicoTratanteEgreso" placeholder="Especialidad médico tratante (egreso)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoEgreso" class="col-3 col-form-label">Nombre médico de egreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoEgreso" name="txtNombreMedicoEgreso" placeholder="Nombre médico de egreso" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroEgresoHospitalario">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">II AA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitare" name="cbEntidadMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Establecimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGPe" name="cbEstablecimientoSaludMGPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeoe" name="cbDepartamentoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeoe" name="cbProvinciaUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeoe" name="cbDistritoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicaNoMedica" class="col-3 col-form-label"><a href="~/EspecialidadMedicaNoMedica">Especialidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadMedicaNoMedicae" name="cbEspecialidadMedicaNoMedicae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResponsableRegistro" class="col-3 col-form-label">Responsable del registro</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResponsableRegistroe" name="txtResponsableRegistroe" placeholder="Responsable del registro" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NSACIP" class="col-3 col-form-label">NSA/CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNSACIPe" name="txtNSACIPe" placeholder="NSA/CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIResponsableSalud" class="col-3 col-form-label">N° de dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIResponsableSalude" name="txtDNIResponsableSalude" placeholder="N° de dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HistoriaClinica" class="col-3 col-form-label">Historia clinica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHistoriaClinicae" name="txtHistoriaClinicae" placeholder="Historia clinica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPaciente" class="col-3 col-form-label">Dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIPacientee" name="txtDNIPacientee" placeholder="Dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoUnidadNaval" class="col-3 col-form-label"><a href="~/CodigoUnidadNaval">Unidad de procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadDependenciae" name="cbUnidadDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoPaciente" class="col-3 col-form-label">Distrito</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtDistritoPacientee" name="txtDistritoPacientee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Grupo poblacional</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitare" name="cbTipoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado o parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPaciente" class="col-3 col-form-label">Situación</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtSituacionPacientee" name="txtSituacionPacientee">
                            <option value="A">ACTIVIDAD</option>
                            <option value="R">RETIRO</option>
                            <option value="N">NINGUNO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPaciente" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicionPacientee" name="txtCondicionPacientee">
                            <option value="E">EXCOMBATIENTE</option>
                            <option value="D">DISCAPACITADO</option>
                            <option value="O">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrigenPaciente" class="col-3 col-form-label">Origen de paciente hospitalizado</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtOrigenPacientee" name="txtOrigenPacientee">
                            <option value="E">EMERGENCIA</option>
                            <option value="C">CONSULTORIO EXTERNO</option>
                            <option value="R">REFERIDO</option>
                            <option value="O">OBSERVACIÓN EMERGENCIA</option>
                            <option value="T">TRAUMA SHOCK</option>
                            <option value="U">UCI</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadPaciente" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadPacientee" name="txtEdadPacientee" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEdad" class="col-3 col-form-label">Tipo edad</label>
                    <div class="col-md-9">
                        <select class="form-control form-control-sm" id="txtTipoEdade" name="txtTipoEdade">
                            <option value="D">DIA</option>
                            <option value="M">MES</option>
                            <option value="A">AÑO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoPaciente" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-control form-control-sm" id="txtSexoPacientee" name="txtSexoPacientee">
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMENINO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion1" class="col-3 col-form-label">Diagnóstico de egreso1</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion1e" name="txtDiagnosticoMotivoAtencion1e" placeholder="Diagnóstico de egreso1" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX1" class="col-3 col-form-label">Tipo de dx1</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX1e" name="txtTipoDX1e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE101" class="col-3 col-form-label">CIE101</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE101e" name="txtCIE101e" placeholder="CIE101" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion2" class="col-3 col-form-label">Diagnóstico de egreso2</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion2e" name="txtDiagnosticoMotivoAtencion2e" placeholder="Diagnóstico de egreso2" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX2" class="col-3 col-form-label">Tipo de dx2</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX2e" name="txtTipoDX2e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_2" class="col-3 col-form-label">CIE102</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_2e" name="txtCIE10_2e" placeholder="CIE102" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion3" class="col-3 col-form-label">Diagnóstico de egreso3</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion3e" name="txtDiagnosticoMotivoAtencion3e" placeholder="Diagnóstico de egreso3" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX3" class="col-3 col-form-label">Tipo de dx3</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX3e" name="txtTipoDX3e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_3" class="col-3 col-form-label">CIE103</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_3e" name="txtCIE10_3e" placeholder="CIE103" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion4" class="col-3 col-form-label">Diagnóstico de egreso4</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion4e" name="txtDiagnosticoMotivoAtencion4e" placeholder="Diagnóstico de egreso4" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX4" class="col-3 col-form-label">Tipo de dx4</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX4e" name="txtTipoDX4e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_4" class="col-3 col-form-label">CIE104</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_4e" name="txtCIE10_4e" placeholder="CIE104" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion5" class="col-3 col-form-label">Diagnóstico de egreso5</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion5e" name="txtDiagnosticoMotivoAtencion5e" placeholder="Diagnóstico de egreso5" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX5" class="col-3 col-form-label">Tipo de dx5</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX5e" name="txtTipoDX5e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_5" class="col-3 col-form-label">CIE105</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_5e" name="txtCIE10_5e" placeholder="CIE105" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion6" class="col-3 col-form-label">Diagnóstico de egreso6</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion6e" name="txtDiagnosticoMotivoAtencion6e" placeholder="Diagnóstico de egreso6" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX6" class="col-3 col-form-label">Tipo de dx6</label>
                    <div class="col-md-9">
                        <select type="text" class="form-control form-select-sm" id="txtTipoDX6e" name="txtTipoDX6e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETIDO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_6" class="col-3 col-form-label">CIE106</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_6e" name="txtCIE10_6e" placeholder="CIE106" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionEgresoHospitalizacion" class="col-3 col-form-label"><a href="~/CondicionEgresoHospitalizacion">Condición de egreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionEgresoHospitalizacione" name="cbCondicionEgresoHospitalizacione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngresoe" name="txtFechaIngresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraIngreso" class="col-3 col-form-label">Hora de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraIngresoe" name="txtHoraIngresoe" placeholder="Hora de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaEgreso" class="col-3 col-form-label">Fecha de egreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaEgresoe" name="txtFechaEgresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraEgreso" class="col-3 col-form-label">Hora de egreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraEgresoe" name="txtHoraEgresoe" placeholder="Hora de egreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicoTratanteIngreso" class="col-3 col-form-label">Especialidad del medico tratante(ingreso)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedicoTratanteIngresoe" name="txtEspecialidadMedicoTratanteIngresoe" placeholder="Especialidad del medico tratante(ingreso)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoIngreso" class="col-3 col-form-label">Nombre medico de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoIngresoe" name="txtNombreMedicoIngresoe" placeholder="Nombre medico de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoIngreso" class="col-3 col-form-label">Diagnóstico de ingreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDiagnosticoIngresoe" name="txtDiagnosticoIngresoe" placeholder="Diagnóstico de ingreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedicoTratanteEgreso" class="col-3 col-form-label">Especialidad médico tratante (egreso)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedicoTratanteEgresoe" name="txtEspecialidadMedicoTratanteEgresoe" placeholder="Especialidad médico tratante (egreso)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoEgreso" class="col-3 col-form-label">Nombre médico de egreso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoEgresoe" name="txtNombreMedicoEgresoe" placeholder="Nombre médico de egreso" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroEgresoHospitalario/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DisamarRegistroEgresoHospitalario" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDisamarRegistroEgresoHospitalario()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>
    <table class="table table-striped" id="tblDisamarRegistroEgresoHospitalario" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>II AA</th>
                <th>Zona</th>
                <th>Establecimiento</th>
                <th>Dpto</th>
                <th>Prov</th>
                <th>Dist</th>
                <th>Especialidad</th>
                <th>Responsable del registro</th>
                <th>NSA/CIP</th>
                <th>N° de dni</th>
                <th>Historia clinica</th>
                <th>Dni</th>
                <th>Unidad de procedencia</th>
                <th>Distrito</th>
                <th>Grupo poblacional</th>
                <th>Grado o parentesco</th>
                <th>Situación</th>
                <th>Condición</th>
                <th>Origen de paciente hospitalizado</th>
                <th>Edad</th>
                <th>Tipo edad</th>
                <th>Sexo</th>
                <th>Diagnóstico de egreso1</th>
                <th>Tipo de dx1</th>
                <th>CIE101</th>
                <th>Diagnóstico de egreso2</th>
                <th>Tipo de dx2</th>
                <th>CIE102</th>
                <th>Diagnóstico de egreso3</th>
                <th>Tipo de dx3</th>
                <th>CIE103</th>
                <th>Diagnóstico de egreso4</th>
                <th>Tipo de dx4</th>
                <th>CIE104</th>
                <th>Diagnóstico de egreso5</th>
                <th>Tipo de dx5</th>
                <th>CIE105</th>
                <th>Diagnóstico de egreso6</th>
                <th>Tipo de dx6</th>
                <th>CIE106</th>
                <th>Condición de egreso</th>
                <th>Fecha de ingreso</th>
                <th>Hora de ingreso</th>
                <th>Fecha de egreso</th>
                <th>Hora de egreso</th>
                <th>Especialidad del medico tratante(ingreso)</th>
                <th>Nombre medico de ingreso</th>
                <th>Diagnóstico de ingreso</th>
                <th>Especialidad médico tratante (egreso)</th>
                <th>Nombre médico de egreso</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/disamar/disamar-registroegresohospitalario.js" asp-append-version="true"></script>
}
