@{
    ViewData["Title"] = "RegistroAtencionCentroQuirurgico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DisamarRegistroAtencionCentroQuirurgico/Individual" style="text-decoration:none;">
        Registro de atención en Centro Quirúrgico
    </a>
</h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>

            <div class="form-group row col-md-12">
                <div class="form-group row col-md-4">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
                <div class="form-group row col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbMess" name="cbMess"></select>
                </div>
                <div class="form-group row col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbAnios" name="cbAnios"></select>
                </div>
            </div>


            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">II AA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitar" name="cbEntidadMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Establecimiento de salud</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGP" name="cbEstablecimientoSaludMGP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeo" name="cbDepartamentoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeo" name="cbProvinciaUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeoId" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeo" name="cbDistritoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SalaOperacion" class="col-3 col-form-label">Sala de operación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSalaOperacion" name="txtSalaOperacion" placeholder="Sala de operación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoIntervencion" class="col-3 col-form-label">Nombre de médico que realiza la intervención</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoIntervencion" name="txtNombreMedicoIntervencion" placeholder="Nombre de médico que realiza la intervención" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NSACIPMedicoIntervencion" class="col-3 col-form-label">NSA/CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNSACIPMedicoIntervencion" name="txtNSACIPMedicoIntervencion" placeholder="NSA/CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CMPMedicoIntervencion" class="col-3 col-form-label">N° de col. prof</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCMPMedicoIntervencion" name="txtCMPMedicoIntervencion" placeholder="N° de col. prof" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedico" class="col-3 col-form-label">Especialidad del medico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedico" name="txtEspecialidadMedico" placeholder="Especialidad del medico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroIntervencion" class="col-3 col-form-label">Número de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroIntervencion" name="txtNumeroIntervencion" placeholder="Número de intervención quirurgica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HistoriaClinica" class="col-3 col-form-label">Historia clinica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHistoriaClinica" name="txtHistoriaClinica" placeholder="Historia clinica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPaciente" class="col-3 col-form-label">Dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIPaciente" name="txtDNIPaciente" placeholder="Dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadDependencia" class="col-3 col-form-label"><a href="~/UnidadDependencia">Unidad /dependecia procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadDependencia" name="cbUnidadDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoPaciente" name="cbDepartamentoPaciente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaPaciente" name="cbProvinciaPaciente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeoId" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtDistritoPaciente" name="txtDistritoPaciente"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Grupo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitar" name="cbTipoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado o parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPaciente" class="col-3 col-form-label">Situación</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtSituacionPaciente" name="txtSituacionPaciente">
                            <option value="A">ACTIVIDAD</option>
                            <option value="R">RETIRO</option>
                            <option value="N">NINGUNO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPaciente" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicionPaciente" name="txtCondicionPaciente">
                            <option value="E">EXCOMBATIENTE</option>
                            <option value="D">DISCAPACITADO</option>
                            <option value="O">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadPaciente" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadPaciente" name="txtEdadPaciente" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEdad" class="col-3 col-form-label">Tipo de edad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoEdad" name="txtTipoEdad" placeholder="Tipo de edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoPaciente" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSexoPaciente" name="txtSexoPaciente" placeholder="Sexo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrigenPacienteIntervenido" class="col-3 col-form-label"><a href="~/OrigenPacienteIntervenido">Origen del paciente intervenido</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbOrigenPacienteIntervenido" name="cbOrigenPacienteIntervenido"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion1" class="col-3 col-form-label">Diagnóstico post operatorio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion1" name="txtDiagnosticoMotivoAtencion1" placeholder="Diagnóstico post operatorio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX1" class="col-3 col-form-label">Tipo de dx1</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX1" name="txtTipoDX1">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_1" class="col-3 col-form-label">CIE101</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_1" name="txtCIE10_1" placeholder="CIE101" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion2" class="col-3 col-form-label">Diagnóstico post operatorio2</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion2" name="txtDiagnosticoMotivoAtencion2" placeholder="Diagnóstico post operatorio2" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX2" class="col-3 col-form-label">Tipo de dx2</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX2" name="txtTipoDX2">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIE10_2" class="col-3 col-form-label">CIE102</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_2" name="txtCIE10_2" placeholder="CIE102" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion3" class="col-3 col-form-label">Diagnóstico post operatorio3</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion3" name="txtDiagnosticoMotivoAtencion3" placeholder="Diagnóstico post operatorio3" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX3" class="col-3 col-form-label">Tipo de dx3</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX3" name="txtTipoDX3">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_3" class="col-3 col-form-label">CIE103</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_3" name="txtCIE10_3" placeholder="CIE103" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IntervencionQuirurgicaEfectuada" class="col-3 col-form-label">Intervención quirurgica efectuada</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionEfectuada" name="txtCodigoIntervencionEfectuada" placeholder="Intervención quirurgica efectuada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoIntervencionEfectuada" class="col-3 col-form-label">Codigo de intervención quirurgica efectuada</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionEfectuada" name="txtCodigoIntervencionEfectuada" placeholder="Codigo de intervención quirurgica efectuada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IntervencionQuirurgicaAdicional" class="col-3 col-form-label">Intervención quirurgica adicional</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIntervencionQuirurgicaAdicional" name="txtIntervencionQuirurgicaAdicional" placeholder="Intervención quirurgica adicional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoIntervencionAdicional" class="col-3 col-form-label">Codigo de intervención quirurgica adicional</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionAdicional" name="txtCodigoIntervencionAdicional" placeholder="Codigo de intervención quirurgica adicional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraInicio" class="col-3 col-form-label">Fecha /hora de incio de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraInicio" name="txtFechaHoraInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraFin" class="col-3 col-form-label">Fecha /hora fin de incio de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraFin" name="txtFechaHoraFin" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoIntervencion" class="col-3 col-form-label">Tipo de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoIntervencion" name="txtTipoIntervencion" placeholder="Tipo de intervención quirurgica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoPaciente" class="col-3 col-form-label">Estado del paciente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstadoPaciente" name="txtEstadoPaciente" placeholder="Estado del paciente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DestinoPaciente" class="col-3 col-form-label"><a href="~/DestinoPaciente">Condición - destino del paciente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDestinoPaciente" name="cbDestinoPaciente"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroAtencionCentroQuirurgico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">II AA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitare" name="cbEntidadMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Establecimiento de salud</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGPe" name="cbEstablecimientoSaludMGPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeoe" name="cbDepartamentoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeoe" name="cbProvinciaUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeoe" name="cbDistritoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SalaOperacion" class="col-3 col-form-label">Sala de operación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSalaOperacione" name="txtSalaOperacione" placeholder="Sala de operación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreMedicoIntervencion" class="col-3 col-form-label">Nombre de médico que realiza la intervención</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreMedicoIntervencione" name="txtNombreMedicoIntervencione" placeholder="Nombre de médico que realiza la intervención" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NSACIPMedicoIntervencion" class="col-3 col-form-label">NSA/CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNSACIPMedicoIntervencione" name="txtNSACIPMedicoIntervencione" placeholder="NSA/CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CMPMedicoIntervencion" class="col-3 col-form-label">N° de col. prof</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCMPMedicoIntervencione" name="txtCMPMedicoIntervencione" placeholder="N° de col. prof" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadMedico" class="col-3 col-form-label">Especialidad del medico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidadMedicoe" name="txtEspecialidadMedicoe" placeholder="Especialidad del medico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroIntervencion" class="col-3 col-form-label">Número de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroIntervencione" name="txtNumeroIntervencione" placeholder="Número de intervención quirurgica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HistoriaClinica" class="col-3 col-form-label">Historia clinica</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHistoriaClinicae" name="txtHistoriaClinicae" placeholder="Historia clinica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPaciente" class="col-3 col-form-label">Dni</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIPacientee" name="txtDNIPacientee" placeholder="Dni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadDependencia" class="col-3 col-form-label"><a href="~/UnidadDependencia">Unidad /dependecia procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadDependenciae" name="cbUnidadDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoPacientee" name="cbDepartamentoPacientee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaPacientee" name="cbProvinciaPacientee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeoId" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtDistritoPacientee" name="txtDistritoPacientee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Grupo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitare" name="cbTipoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado o parentesco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPaciente" class="col-3 col-form-label">Situación</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtSituacionPacientee" name="txtSituacionPacientee">
                            <option value="A">ACTIVIDAD</option>
                            <option value="R">RETIRO</option>
                            <option value="N">NINGUNO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionPaciente" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicionPacientee" name="txtCondicionPacientee">
                            <option value="E">EXCOMBATIENTE</option>
                            <option value="D">DISCAPACITADO</option>
                            <option value="O">OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EdadPaciente" class="col-3 col-form-label">Edad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEdadPacientee" name="txtEdadPacientee" placeholder="Edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEdad" class="col-3 col-form-label">Tipo de edad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoEdade" name="txtTipoEdade" placeholder="Tipo de edad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SexoPaciente" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSexoPacientee" name="txtSexoPacientee" placeholder="Sexo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="OrigenPacienteIntervenido" class="col-3 col-form-label"><a href="~/OrigenPacienteIntervenido">Origen del paciente intervenido</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbOrigenPacienteIntervenidoe" name="cbOrigenPacienteIntervenidoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion1" class="col-3 col-form-label">Diagnóstico post operatorio</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion1e" name="txtDiagnosticoMotivoAtencion1e" placeholder="Diagnóstico post operatorio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX1" class="col-3 col-form-label">Tipo de dx1</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX1e" name="txtTipoDX1e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_1" class="col-3 col-form-label">CIE101</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_1e" name="txtCIE10_1e" placeholder="CIE101" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion2" class="col-3 col-form-label">Diagnóstico post operatorio2</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion2e" name="txtDiagnosticoMotivoAtencion2e" placeholder="Diagnóstico post operatorio2" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX2" class="col-3 col-form-label">Tipo de dx2</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX2e" name="txtTipoDX2e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_2" class="col-3 col-form-label">CIE102</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_2e" name="txtCIE10_2e" placeholder="CIE102" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiagnosticoMotivoAtencion3" class="col-3 col-form-label">Diagnóstico post operatorio3</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiagnosticoMotivoAtencion3e" name="txtDiagnosticoMotivoAtencion3e" placeholder="Diagnóstico post operatorio3" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoDX3" class="col-3 col-form-label">Tipo de dx3</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoDX3e" name="txtTipoDX3e">
                            <option value="P">PRESUNTIVO</option>
                            <option value="D">DEFINITIVO</option>
                            <option value="R">REPETITIVO</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CIE10_3" class="col-3 col-form-label">CIE103</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIE10_3e" name="txtCIE10_3e" placeholder="CIE103" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IntervencionQuirurgicaEfectuada" class="col-3 col-form-label">Intervención quirurgica efectuada</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionEfectuada" name="txtCodigoIntervencionEfectuadae" placeholder="Intervención quirurgica efectuada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoIntervencionEfectuada" class="col-3 col-form-label">Codigo de intervención quirurgica efectuada</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionEfectuadae" name="txtCodigoIntervencionEfectuadae" placeholder="Codigo de intervención quirurgica efectuada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IntervencionQuirurgicaAdicional" class="col-3 col-form-label">Intervención quirurgica adicional</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIntervencionQuirurgicaAdicionale" name="txtIntervencionQuirurgicaAdicionale" placeholder="Intervención quirurgica adicional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoIntervencionAdicional" class="col-3 col-form-label">Codigo de intervención quirurgica adicional</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCodigoIntervencionAdicionale" name="txtCodigoIntervencionAdicionale" placeholder="Codigo de intervención quirurgica adicional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraInicio" class="col-3 col-form-label">Fecha /hora de incio de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraInicioe" name="txtFechaHoraInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraFin" class="col-3 col-form-label">Fecha /hora fin de incio de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaHoraFine" name="txtFechaHoraFine" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoIntervencion" class="col-3 col-form-label">Tipo de intervención quirurgica</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoIntervencione" name="txtTipoIntervencione" placeholder="Tipo de intervención quirurgica" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoPaciente" class="col-3 col-form-label">Estado del paciente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstadoPacientee" name="txtEstadoPacientee" placeholder="Estado del paciente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DestinoPaciente" class="col-3 col-form-label"><a href="~/DestinoPaciente">Condición - destino del paciente</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDestinoPacientee" name="cbDestinoPacientee"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroAtencionCentroQuirurgico/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DisamarRegistroAtencionCentroQuirurgico" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDisamarRegistroAtencionCentroQuirurgico()" />
    <div class="row align-items-start mb-4">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDisamarRegistroAtencionCentroQuirurgico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>II AA</th>
                <th>Zona</th>
                <th>Establecimiento de salud</th>
                 <th>Dpto</th>
                <th>Prov</th>
                <th>Dist</th>
                <th>Sala de operación</th>
                <th>Nombre de médico que realiza la intervención</th>
                <th>NSA/CIP</th>
                <th>N° de col. prof</th>
                <th>Especialidad del medico</th>
                <th>Número de intervención quirurgica</th>
                <th>Historia clinica</th>
                <th>Dni</th>
                <th>Unidad /dependecia procedencia</th>
                <th>Distrito</th>
                <th>Grupo</th>
                <th>Grado o parentesco</th>
                <th>Situación</th>
                <th>Condición</th>
                <th>Edad</th>
                <th>Tipo de edad</th>
                <th>Sexo</th>
                <th>Origen del paciente intervenido</th>
                <th>Diagnóstico post operatorio</th>
                <th>Tipo de dx1</th>
                <th>CIE101</th>
                <th>Diagnóstico post operatorio2</th>
                <th>Tipo de dx2</th>
                <th>CIE102</th>
                <th>Diagnóstico post operatorio3</th>
                <th>Tipo de dx3</th>
                <th>CIE103</th>
                <th>Intervención quirurgica efectuada</th>
                <th>Codigo de intervención quirurgica efectuada</th>
                <th>Intervención quirurgica adicional</th>
                <th>Codigo de intervención quirurgica adicional</th>
                <th>Fecha /hora de incio de intervención quirurgica</th>
                <th>Fecha /hora fin de incio de intervención quirurgica</th>
                <th>Tipo de intervención quirurgica</th>
                <th>Estado del paciente</th>
                <th>Condición - destino del paciente</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/disamar/disamar-registroatencioncentroquirurgico.js" asp-append-version="true"></script>
}
