@{
    ViewData["Title"] = "Evaluación Expediente Técnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DihidronavEvaluacionExpedienteTecnico/Individual" style="text-decoration:none;">Evaluación de Expediente Técnico</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>


            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Orden" class="col-3 col-form-label">N° Orden</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrden" name="txtOrden" placeholder="N° Orden" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Estudio" class="col-3 col-form-label"><a href="~/TipoEstudio">Tipo de Estudio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstudio" name="cbEstudio"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripcion del Estudio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" name="txtDescripcion" placeholder="Descripcion del Estudio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">N° de Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumento" name="txtDocumento" placeholder="N° de Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha de Termino de la Evaluacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTer" name="txtFechaTer" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Solicitante" class="col-3 col-form-label">Empresa Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitante" name="txtSolicitante" placeholder="Empresa Solicitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Realiza" class="col-3 col-form-label">Empresa que Realiza el Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRealiza" name="txtRealiza" placeholder="Empresa que Realiza el Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamento" name="cbDepartamento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvincia" name="cbProvincia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistrito" name="cbDistrito"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condicion de la Evaluacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicion" name="txtCondicion" data-placeholder="Seleccione ...">
                            <option value="Conforme">Conforme</option>
                            <option value="No conforme">No conforme</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DihidronavEvaluacionExpedienteTecnico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Orden" class="col-3 col-form-label">N° Orden</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOrdene" name="txtOrdene" placeholder="N° Orden" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Estudio" class="col-3 col-form-label"><a href="~/TipoEstudio">Tipo de Estudio</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstudioe" name="cbEstudioe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Descripcion" class="col-3 col-form-label">Descripcion del Estudio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcione" name="txtDescripcione" placeholder="Descripcion del Estudio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Documento" class="col-3 col-form-label">N° de Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoe" name="txtDocumentoe" placeholder="N° de Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha de Termino de la Evaluacion</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTere" name="txtFechaTere" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Solicitante" class="col-3 col-form-label">Empresa Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitantee" name="txtSolicitantee" placeholder="Empresa Solicitante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Realiza" class="col-3 col-form-label">Empresa que Realiza el Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRealizae" name="txtRealizae" placeholder="Empresa que Realiza el Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoe" name="cbDepartamentoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciae" name="cbProvinciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoe" name="cbDistritoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condicion de la Evaluacion</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicione" name="txtCondicione" data-placeholder="Seleccione ...">
                            <option value="Conforme">Conforme</option>
                            <option value="No conforme">No conforme</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DihidronavEvaluacionExpedienteTecnico">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DihidronavEvaluacionExpedienteTecnico" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDihidronavEvaluacionExpedienteTecnico()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>
    <table class="table table-striped" id="tblDihidronavEvaluacionExpedienteTecnico" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>N° Orden</th>
                <th>Tipo de Estudio</th>
                <th>Descripcion del Estudio</th>
                <th>N° de Documento</th>
                <th>Fecha de Termino de la Evaluacion</th>
                <th>Empresa Solicitante</th>
                <th>Empresa que Realiza el Trabajo</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Condicion de la Evaluacion</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dihidronav/dihidronav-evaluacionexpedientetecnico.js" asp-append-version="true"></script>
}
