@{
    ViewData["Title"] = "VehiculosTransporteEmpleadoComisiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DitranavVehiculoEmpleadoComision/Individual" style="text-decoration:none;">Vehículo de Transporte Empleados en Comisiones a las Unidades y Dependencias</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="PlacaVehiculo" class="col-3 col-form-label">Placa Vehiculo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlacaVehiculo" name="txtPlacaVehiculo" placeholder="Placa Vehiculo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClasificacionFlota" class="col-3 col-form-label">Clasificación Flota</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtClasificacionFlotaV" name="txtClasificacionFlotaV" data-placeholder="Seleccione ...">
                            <option value="Liviana">Liviana</option>
                            <option value="Pesada">Pesada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Marca" class="col-3 col-form-label"><a href="~/MarcaVehiculo" style="text-decoration:none;">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMarca" name="cbMarca"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaComision" class="col-3 col-form-label">Fecha Comisión</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaComision" name="txtFechaComision" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoTransporte" class="col-3 col-form-label"><a href="~/TipoVehiculoTransporte" style="text-decoration:none;">Tipo Vehiculo Transporte</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoVehiculoTransporte" name="cbTipoVehiculoTransporte"></select>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="DependenciaSol" class="col-3 col-form-label">Dependencia Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDependenciaSol" name="txtDependenciaSol" placeholder="Dependencia Solicitante" required>
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DitranavVehiculoEmpleadoComision">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="PlacaVehiculo" class="col-3 col-form-label">Placa Vehiculo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPlacaVehiculoe" name="txtPlacaVehiculoe" placeholder="Placa Vehiculo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ClasificacionFlota" class="col-3 col-form-label">Clasificación Flota</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtClasificacionFlotaVe" name="txtClasificacionFlotaVe" data-placeholder="Seleccione ...">
                            <option value="Liviana">Liviana</option>
                            <option value="Pesada">Pesada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Marca" class="col-3 col-form-label"><a href="~/MarcaVehiculo" style="text-decoration:none;">Marca</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMarcae" name="cbMarcae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaComision" class="col-3 col-form-label">Fecha Comisión</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaComisione" name="txtFechaComisione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoVehiculoTransporte" class="col-3 col-form-label"><a href="~/TipoVehiculoTransporte" style="text-decoration:none;">Tipo Vehiculo Transporte</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoVehiculoTransportee" name="cbTipoVehiculoTransportee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DependenciaSol" class="col-3 col-form-label">Dependencia Solicitante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDependenciaSole" name="txtDependenciaSole" placeholder="Dependencia Solicitante" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DitranavVehiculoEmpleadoComision">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DitranavVehiculoEmpleadoComision" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDitranavVehiculoEmpleadoComision()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDitranavVehiculoEmpleadoComision" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Placa Vehículo</th>
                <th>Clasificación Flota</th>
                <th>Marca </th>
                <th>Fecha Comisión</th>
                <th>Tipo Vehiculo Transporte</th>
                <th>Dependencia Solicitante</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/ditranav/ditranav-vehiculoempleadocomision.js" asp-append-version="true"></script>
}
