@{
    ViewData["Title"] = "Efectivos por Unidades Operativas en Tiempo de Paz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperamaEfectivoUnidadOperativaPaz/Individual" style="text-decoration:none;">Efectivos por Unidades Operativas en Tiempo de Paz</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="ComandanciaDependencia" class="col-3 col-form-label"><a href="~/ComandanciaDependencia">Comandancia General</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComandanciaDependencia" name="cbComandanciaDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonal">Jerarquía</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonal" name="cbGradoPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivosRequeridos" class="col-3 col-form-label">Número efectivos Requeridos </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivosRequeridos" name="txtNumeroEfectivosRequeridos" placeholder="Número efectivos Requeridos " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivosAsignados" class="col-3 col-form-label">Número efectivos Asignados</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivosAsignados" name="txtNumeroEfectivosAsignados" placeholder="Número efectivos Asignados" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperamaEfectivoUnidadOperativaPaz">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ComandanciaDependencia" class="col-3 col-form-label"><a href="~/ComandanciaDependencia">Comandancia General</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComandanciaDependenciae" name="cbComandanciaDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonal">Jerarquía</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonale" name="cbGradoPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivosRequeridos" class="col-3 col-form-label">Número efectivos Requeridos </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivosRequeridose" name="txtNumeroEfectivosRequeridose" placeholder="Número efectivos Requeridos " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroEfectivosAsignados" class="col-3 col-form-label">Número efectivos Asignados</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroEfectivosAsignadose" name="txtNumeroEfectivosAsignadose" placeholder="Número efectivos Asignados" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperamaEfectivoUnidadOperativaPaz">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComoperamaEfectivoUnidadOperativaPaz" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperamaEfectivoUnidadOperativaPaz()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>
    <table class="table table-striped" id="tblComoperamaEfectivoUnidadOperativaPaz" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Comandancia General</th>
                <th>Dependencia</th>
                <th>Jerarquía</th>
                <th>Número efectivos Requeridos </th>
                <th>Número efectivos Asignados</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperama/comoperama-efectivounidadoperativapaz.js" asp-append-version="true"></script>
}
