@{
    ViewData["Title"] = "Producion Documento Frente Extremo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DintemarDocumentoIntelFrenteExterno/Individual" style="text-decoration:none;">Producción Documentos Inteligencia para el Frente Externo de la Marina</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanaval" name="cbZonanaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Pais" class="col-3 col-form-label"><a href="~/PaisUbigeo">País</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPais" name="cbPais"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaInfoProd" class="col-3 col-form-label"> Nota de Información Producidas </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotaInfoProd" name="txtNotaInfoProd" placeholder="Nota de Información Producidas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaIntelig" class="col-3 col-form-label">Nota de inteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotaIntelig" name="txtNotaIntelig" placeholder=" Nota de inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionIntel" class="col-3 col-form-label"> Apreciación de inteligencia  </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionIntel" name="txtApreciacionIntel" placeholder=" Apreciación de inteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInfoContra" class="col-3 col-form-label">Notas Información Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInfoContra" name="txtNotasInfoContra" placeholder="Notas Información Contrainteligencia" required>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="ResMensualI" class="col-3 col-form-label"> Resumen mensual de inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtResMensualI" name="txtResMensualI" placeholder=" Resumen mensual de inteligencia " required>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="BoletinI" class="col-3 col-form-label"> Boletines de información</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtBoletinI" name="txtBoletinI" placeholder=" Boletines de información" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Otros" class="col-3 col-form-label">Otros</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOtros" name="txtOtros" placeholder="Otros" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DintemarDocumentoIntelFrenteExterno">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanavale" name="cbZonanavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Pais" class="col-3 col-form-label"><a href="~/PaisUbigeo">País</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbPaise" name="cbPaise"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaInfoProd" class="col-3 col-form-label"> Nota de Información Producidas </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotaInfoProde" name="txtNotaInfoProde" placeholder="Nota de Información Producidas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotaIntelig" class="col-3 col-form-label">Nota de inteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotaIntelige" name="txtNotaIntelige" placeholder=" Nota de inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionIntel" class="col-3 col-form-label"> Apreciación de inteligencia  </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionIntele" name="txtApreciacionIntele" placeholder=" Apreciación de inteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInfoContra" class="col-3 col-form-label">Notas Información Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInfoContrae" name="txtNotasInfoContrae" placeholder="Notas Información Contrainteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResMensualI" class="col-3 col-form-label"> Resumen mensual de inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtResMensualIe" name="txtResMensualIe" placeholder=" Resumen mensual de inteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="BoletinI" class="col-3 col-form-label"> Boletines de información</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtBoletinIe" name="txtBoletinIe" placeholder=" Boletines de información" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Otros" class="col-3 col-form-label">Otros</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOtrose" name="txtOtrose" placeholder="Otros" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DintemarDocumentoIntelFrenteExterno">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/DintemarDocumentoIntelFrenteExterno" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDintemarDocumentoIntelFrenteExterno()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDintemarDocumentoIntelFrenteExterno" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Dependencia </th>
                <th>Zona Naval</th>
                <th>País</th>
                <th>Nota de Información Producidas</th>
                <th>Nota de inteligencia</th>
                <th>Apreciación de inteligencia </th>
                <th>Notas Información Contrainteligencia</th>
                <th>Resumen mensual de inteligencia</th>
                <th>Boletines de información</th>
                <th>Otros</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dintemar/dintemar-documentointelfrenteexterno.js" asp-append-version="true"></script>

}
