@{
    ViewData["Title"] = "Naves Peruanas Capturadas en Aguas Internacionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardNavePeruanaCapturadaInternacional/Individual" style="text-decoration:none;">Naves Peruanas Capturadas en Aguas Internacionales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label">Fecha De la Captura</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraCaptura" name="txtHoraCaptura" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCaptura" name="txtDiaCaptura" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCaptura" name="txtAnioCaptura" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label"> Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNave" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNave" name="txtNombreNave" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNave" name="txtMatriculaNave" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CantidadTripulantes" class="col-3 col-form-label">Cantidad Tripulantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadTripulantes" name="txtCantidadTripulantes" placeholder="Cantidad Tripulantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadPasajeros" class="col-3 col-form-label">Cantidad Pasajeros </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadPasajeros" name="txtCantidadPasajeros" placeholder="Cantidad Pasajeros " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AutoridadEmiteZarpe" class="col-3 col-form-label"><a href="~/AutoridadEmiteZarpe">Autoridad Interventora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAutoridadEmiteZarpe" name="cbAutoridadEmiteZarpe"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="CoordenadasbicaciionGeografica" class="col-3 col-form-label"> Coordenadas Y Ubicación Geografica</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Latitud" class="col-3 col-form-label">Latitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitud" name="txtLatitud" placeholder="Latitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Longitud" class="col-3 col-form-label">Longitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitud" name="txtLongitud" placeholder="Longitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LaNavePeruanaFue" class="col-3 col-form-label"> La Nave Peruana Fue Conducida A:</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPeru" name="cbPuertoPeru"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisDestino" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisDestino" name="cbPaisDestino"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNavePeruanaCapturadaInternacional">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distriro De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FechaCaptura" class="col-3 col-form-label">Fecha De la Captura</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraCaptura" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraCapturae" name="txtHoraCapturae" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaCaptura" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaCapturae" name="txtDiaCapturae" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioCaptura" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioCapturae" name="txtAnioCapturae" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenida" class="col-3 col-form-label"> Nave Intervenida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNave" class="col-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNavee" name="txtNombreNavee" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNave" class="col-3 col-form-label">Matricula</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNavee" name="txtMatriculaNavee" placeholder="Matricula" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CantidadTripulantes" class="col-3 col-form-label">Cantidad Tripulantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadTripulantese" name="txtCantidadTripulantese" placeholder="Cantidad Tripulantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadPasajeros" class="col-3 col-form-label">Cantidad Pasajeros </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadPasajerose" name="txtCantidadPasajerose" placeholder="Cantidad Pasajeros " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AutoridadEmiteZarpe" class="col-3 col-form-label"><a href="~/AutoridadEmiteZarpe">Autoridad Interventora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAutoridadEmiteZarpee" name="cbAutoridadEmiteZarpee"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="CoordenadasbicaciionGeografica" class="col-3 col-form-label"> Coordenadas Y Ubicación Geografica</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Latitud" class="col-3 col-form-label">Latitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitude" name="txtLatitude" placeholder="Latitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Longitud" class="col-3 col-form-label">Longitud</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitude" name="txtLongitude" placeholder="Longitud" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNavee" name="cbAmbitoNavee"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LaNavePeruanaFue" class="col-3 col-form-label"> La Nave Peruana Fue Conducida A:</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPuertoPerue" name="cbPuertoPerue"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisDestino" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisDestinoe" name="cbPaisDestinoe"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNavePeruanaCapturadaInternacional">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardNavePeruanaCapturadaInternacional()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardNavePeruanaCapturadaInternacional">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardNavePeruanaCapturadaInternacional/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardNavePeruanaCapturadaInternacional" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distriro De Capitanias</th>
                <th>Capitania de Puerto</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Nombre</th>
                <th>Matricula</th>
                <th>Tipo</th>
                <th>Cantidad Tripulantes</th>
                <th>Cantidad Pasajeros </th>
                <th>Autoridad Interventora</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Ambito</th>
                <th>Puerto</th>
                <th>Pais</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-naveperuanacapturadainternacional.js" asp-append-version="true"></script>
}
