@{
    ViewData["Title"] = "Exp Documento Nave Artefacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DicapiExpDocumentoNaveArtefacto/Individual" style="text-decoration:none;">Expedición de Documentos de Naves y Artefactos Navales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Numero" class="col-3 col-form-label">N° Documento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumero" name="txtNumero" placeholder="N° Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de Ingreso Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngreso" name="txtFechaIngreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DptoMaterial" class="col-3 col-form-label"><a href="~/DptoMaterialAcuatico">Codigo Procedimiento TUPAM</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDptoMaterial" name="cbDptoMaterial"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre de la Nave o Artefacto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombre" name="txtNombre" placeholder="Nombre de la Nave o Artefacto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Propietario" class="col-3 col-form-label">Propietario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPropietario" name="txtPropietario" placeholder="Propietario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Razon" class="col-3 col-form-label">Razon Social</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRazon" name="txtRazon" placeholder="Razon Social" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tipo" class="col-3 col-form-label"><a href="~/ClaseNave">Tipo de Nave o Artefacto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipo" name="cbTipo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Matricula" class="col-3 col-form-label">Matricula</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMatricula" name="txtMatricula" placeholder="Matricula" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nacionalidad" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbNacionalidad" name="cbNacionalidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaAtencion" class="col-3 col-form-label">Fecha de Atencion Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAtencion" name="txtFechaAtencion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacion" name="txtObservacion" placeholder="Observaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Responsable" class="col-3 col-form-label">Responsable</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResponsable" name="txtResponsable" placeholder="Responsable" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DicapiExpDocumentoNaveArtefacto">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Numero" class="col-3 col-form-label">N° Documento</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNumeroe" name="txtNumeroe" placeholder="N° Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha de Ingreso Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngresoe" name="txtFechaIngresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DptoMaterial" class="col-3 col-form-label"><a href="~/DptoMaterialAcuatico">Codigo Procedimiento TUPAM</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDptoMateriale" name="cbDptoMateriale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nombre" class="col-3 col-form-label">Nombre de la Nave o Artefacto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombree" name="txtNombree" placeholder="Nombre de la Nave o Artefacto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Propietario" class="col-3 col-form-label">Propietario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPropietarioe" name="txtPropietarioe" placeholder="Propietario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Razon" class="col-3 col-form-label">Razon Social</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRazone" name="txtRazone" placeholder="Razon Social" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tipo" class="col-3 col-form-label"><a href="~/ClaseNave">Tipo de Nave o Artefacto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoe" name="cbTipoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Matricula" class="col-3 col-form-label">Matricula</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMatriculae" name="txtMatriculae" placeholder="Matricula" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Nacionalidad" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbNacionalidade" name="cbNacionalidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaAtencion" class="col-3 col-form-label">Fecha de Atencion Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAtencione" name="txtFechaAtencione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacione" name="txtObservacione" placeholder="Observaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Responsable" class="col-3 col-form-label">Responsable</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtResponsablee" name="txtResponsablee" placeholder="Responsable" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania de Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-danger" href="~/DicapiExpDocumentoNaveArtefacto">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DicapiExpDocumentoNaveArtefacto" class="btn btn-primary">Ir Carga Masiva</a></p>
<input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDicapiExpDocumentoNaveArtefacto()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDicapiExpDocumentoNaveArtefacto" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>N° Documento</th>
                <th>Fecha de Ingreso Solicitud</th>
                <th>Codigo Procedimiento TUPAM</th>
                <th>Documento Expedido</th>
                <th>Nombre de la Nave o Artefacto</th>
                <th>Propietario</th>
                <th>Razon Social</th>
                <th>Tipo de Nave o Artefacto</th>
                <th>Matricula</th>
                <th>Nacionalidad</th>
                <th>Fecha de Atencion Solicitud</th>
                <th>Observaciones</th>
                <th>Responsable</th>
                <th>Capitania de Puerto</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dicapi/dicapi-expdocumentonaveartefacto.js" asp-append-version="true"></script>
}
