@{
    ViewData["Title"] = "IndicesValoraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/IndiceValoracion" style="text-decoration:none;">Índices Valoraciones</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtDescripcion" class="col-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcion" name="txtDescripcion" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCriterio" class="col-3 col-form-label">Criterio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCriterio" name="txtCriterio" placeholder="Criterio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCod" class="col-3 col-form-label">Código Dependencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCod" name="txtCod" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtSI" class="col-3 col-form-label">SI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSI" name="txtSI" placeholder="SI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNO" class="col-3 col-form-label">NO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNO" name="txtNO" placeholder="NO" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IndiceValoracion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtDescripcione" class="col-3 col-form-label">Descripción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDescripcione" name="txtDescripcione" placeholder="Descripción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCriterioe" class="col-3 col-form-label">Criterio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCriterioe" name="txtCriterioe" placeholder="Criterio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCode" class="col-3 col-form-label">Código Dependencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCode" name="txtCode" placeholder="Código" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtSIe" class="col-3 col-form-label">SI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSIe" name="txtSIe" placeholder="SI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNOe" class="col-3 col-form-label">NO</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNOe" name="txtNOe" placeholder="NO" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IndiceValoracion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaIndiceValoracion()" />
    <table class="table table-striped" id="tblIndiceValoracions" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Descripción</th>
                <th>Criterio</th>
                <th>Código Dependencia</th>
                <th>SI</th>
                <th>NO</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/indicevaloracion.js" asp-append-version="true"></script>
}
