@{
    ViewData["Title"] = "ActosDisposiciónFinal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DibinfraterActosDisposicionFinal/Individual" style="text-decoration:none;">Actos Disposición Final</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioActoDisposicionF" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioActoDisposicionF" name="txtAnioActoDisposicionF" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IdentificacionDisposicionF" class="col-3 col-form-label">Identificación Disposición Final</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIdentificacionDisposicionF" name="txtIdentificacionDisposicionF" placeholder="Identificación Disposición Final" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaDiperadmon" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Área Usuaria (UUDD)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreaDiperadmon" name="cbAreaDiperadmon"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoTramiteS" class="col-3 col-form-label">Estado tramite Solicitud Disposición Final</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstadoTramiteS" name="txtEstadoTramiteS" placeholder="Estado tramite Solicitud Disposición Final" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoBien" class="col-3 col-form-label"><a href="~/TipoBien">Tipo de Bien</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoBien" name="cbTipoBien"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MedidaAdaptadaDF" class="col-3 col-form-label"><a href="~/MedidaAdaptadaDisposicionFinal">Medida Adoptada Disposición Final</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMedidaAdaptadaDF" name="cbMedidaAdaptadaDF"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadBienes" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadBienes" name="txtCantidadBienes" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Monto" class="col-3 col-form-label">Monto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMonto" name="txtMonto" placeholder="Monto" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DibinfraterActosDisposicionFinal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AnioActoDisposicionF" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioActoDisposicionFe" name="txtAnioActoDisposicionFe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IdentificacionDisposicionF" class="col-3 col-form-label">Identificación Disposición Final</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIdentificacionDisposicionFe" name="txtIdentificacionDisposicionFe" placeholder="Identificación Disposición Final" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaDiperadmon" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Área Usuaria (UUDD)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreaDiperadmone" name="cbAreaDiperadmone"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstadoTramiteS" class="col-3 col-form-label">Estado tramite Solicitud Disposición Final</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEstadoTramiteSe" name="txtEstadoTramiteSe" placeholder="Estado tramite Solicitud Disposición Final" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoBien" class="col-3 col-form-label"><a href="~/TipoBien">Tipo de Bien</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoBiene" name="cbTipoBiene"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MedidaAdaptadaDF" class="col-3 col-form-label"><a href="~/MedidaAdaptadaDisposicionFinal">Medida Adoptada Disposición Final</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMedidaAdaptadaDFe" name="cbMedidaAdaptadaDFe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadBienes" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadBienese" name="txtCantidadBienese" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Monto" class="col-3 col-form-label">Monto</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMontoe" name="txtMontoe" placeholder="Monto" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DibinfraterActosDisposicionFinal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DibinfraterActosDisposicionFinal" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDibinfraterActosDisposicionFinal()" />
    <div class="row align-items-start mb-4" >
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDibinfraterActosDisposicionFinal" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Identificación Disposición Final</th>
                <th>Área Usuaria (UUDD)</th>
                <th>Zona Naval</th>
                <th>Estado tramite Solicitud Disposición Final</th>
                <th>Tipo de Bien</th>
                <th>Medida Adoptada Disposición Final</th>
                <th>Cantidad</th>
                <th>Monto</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dibinfrater/dibinfrater-actosdisposicionfinal.js" asp-append-version="true"></script>
}
