@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1>
            <a href="~/DisamarRegistroAtencionConsultaExterna" style="text-decoration:none;">
                Registro de Atenciones en Consulta Externa
            </a>
        </h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/DisamarRegistroAtencionConsultaExterna/Individual" class="btn btn-primary">Ir Carga Individual</a>
                    <a href="~/DisamarRegistroAtencionConsultaExterna/DownloadFile" class="btn btn-primary">Descargar Formato</a>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
                            <thead>
                                <tr class="colorbg">
                                    <th>II AA</th>
                                    <th>Zona</th>
                                    <th>Establecimiento</th>
                                    <th>Fecha</th>
                                    <th>DPTO</th>
                                    <th>PROV</th>
                                    <th>DIST</th>
                                    <th>Especialidad</th>
                                    <th>Profesional responsable de la atención</th>
                                    <th>NSA/CIP </th>
                                    <th>Nº de Col. Prof (Identificación de Personal de Salud)</th>
                                    <th>Turno</th>
                                    <th>Hora de inicio</th>
                                    <th>Hora de término</th>
                                    <th>Historia clínica</th>
                                    <th>DNI</th>
                                    <th>UNIDAD/DEPENDENCIA</th>
                                    <th>Distrito</th>
                                    <th>Grupo</th>
                                    <th>Grado o parentesco</th>
                                    <th>Situación</th>
                                    <th>Condición</th>
                                    <th>Edad</th>
                                    <th>Tipo edad</th>
                                    <th>Sexo</th>
                                    <th>Al Establecimiento</th>
                                    <th>Al Servicio</th>
                                    <th>Diagnóstico o Motivo de atención</th>
                                    <th>Tipo de DX1</th>
                                    <th>Lab1</th>
                                    <th>CIE101</th>
                                    <th>Diagnóstico o Motivo de atención2</th>
                                    <th>Tipo de DX2</th>
                                    <th>Lab2</th>
                                    <th>CIE102</th>
                                    <th>Diagnóstico o Motivo de atención3</th>
                                    <th>Tipo de DX3</th>
                                    <th>Lab3</th>
                                    <th>CIE103</th>
                                    <th>Diagnóstico o Motivo de atención4</th>
                                    <th>Tipo de DX4</th>
                                    <th>Lab4</th>
                                    <th>CIE104</th>
                                    <th>Diagnóstico o Motivo de atención5</th>
                                    <th>Tipo de DX5</th>
                                    <th>Lab5</th>
                                    <th>CIE105</th>
                                    <th>Diagnóstico o Motivo de atención6</th>
                                    <th>Tipo de DX6</th>
                                    <th>Lab6</th>
                                    <th>CIE106</th>
                                    <th>Interconsulta</th>
                                    <th>Especialidad de interconsulta</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/disamar/disamar-registroatencionconsultaexterna.js" asp-append-version="true"></script>
}