@{
    ViewData["Title"] = "Visita Registrada a los Museos Navales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirintemarTrabajoRestConserv" style="text-decoration:none;">Visita Registrada a los Museos Navales</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TrabajoBienH" class="col-3 col-form-label"><a href="~/TrabajoRealizadoBienHistorico">Trabajo bien Histórico</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTrabajoBienH" name="cbTrabajoBienH"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="tNTrabajo" class="col-3 col-form-label">N° Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNTrabajo" name="txtNTrabajo" placeholder="N° Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NPiezaT" class="col-3 col-form-label">N° Pieza Tratada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNPiezaT" name="txtNPiezaT" placeholder="N° Pieza Tratada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonaRealizaT" class="col-3 col-form-label">N° Persona Realiza Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPersonaRealizaT" name="txtPersonaRealizaT" placeholder="N° Persona Realiza Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaT" name="txtFechaT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NParticipantes" class="col-3 col-form-label">Encargado Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtencargado" name="txtencargado" placeholder="Encargado Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Descripción Trabajo Realizado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtdescripcion" name="txtdescripcion" placeholder="Descripción Trabajo Realizado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Inversión Trabajo </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversion" name="txtInversion" placeholder="Inversión Trabajo" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarTrabajoRestauracionConservacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TrabajoBienH" class="col-3 col-form-label"><a href="~/TrabajoRealizadoBienHistorico">Trabajo bien Histórico</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTrabajoBienHe" name="cbTrabajoBienHe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NTrabajo" class="col-3 col-form-label">N° Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNTrabajoe" name="txtNTrabajoe" placeholder="N° Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NPiezaT" class="col-3 col-form-label">N° Pieza Tratada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNPiezaTe" name="txtNPiezaTe" placeholder="N° Pieza Tratada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonaRealizaT" class="col-3 col-form-label">N° Persona Realiza Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPersonaRealizaTe" name="txtPersonaRealizaTe" placeholder="N° Persona Realiza Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha Inicio</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Fecha Termino</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTe" name="txtFechaTe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NParticipantes" class="col-3 col-form-label">Encargado Trabajo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtencargadoe" name="txtencargadoe" placeholder="Encargado Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Descripción Trabajo Realizado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtdescripcione" name="txtdescripcione" placeholder="Descripción Trabajo Realizado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Inversion" class="col-3 col-form-label">Inversión Trabajo </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversione" name="txtInversione" placeholder="Inversión Trabajo" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-danger" href="~/DirintemarEstInvHistoricasNavales">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarTrabajoRestConserv" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarTrabajoRestauracionConservacion()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarTrabajoRestauracionConservacion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Trabajo bien Histórico</th>
                <th>N° Trabajo</th>
                <th>N° Pieza Tratada</th>
                <th>N° Persona Realiza Trabajo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Encargado Trabajo</th>
                <th>Descripción Trabajo Realizado</th>
                <th>Inversión Trabajo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/dirintemar/dirintemar-trabajorestconserv.js" asp-append-version="true"></script>
}
