@{
    ViewData["Title"] = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h1><a href="~/Combima1EvaluacionAlistEntrenamiento" style="text-decoration:none;">Evaluación del Alistamiento del Entrenamiento</a></h1>
        <div class="card">
            <div class="card-header">
                <div class="card-header">
                    <a href="~/Combima1EvaluacionAlistEntrenamiento/Individual" class="btn btn-primary">Ir Carga Individual</a>
                </div>
            </div>
            <div class="card-body" >

                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-control-file" type="file" id="inputExcel" />
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-warning" onclick="mostrarDatos()">Mostrar Datos"</button>
                        <button class="btn btn-success" onclick="enviarDatos()">Enviar Datos a BD</button>
                        <label>Numero de Registros : </label><span id="NumRegistros"></span>
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow:scroll">
                    <div class="col-sm-12">
                        <table id="tbData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Identificación Unidad Naval De Entrenamiento</th>
                                    <th>Nivel De Entrenamiento</th>
                                    <th>Capacidad Operativa</th>
                                    <th>Tipo De Capacidad Operativa</th>
                                    <th>Código De Ejercicio </th>
                                    <th>Ejercicios(Descripción)</th>
                                    <th>Sub-Ejercicio(Aspectos Especificos A Evaluar)</th>
                                    <th>Peso De Cada Sub-Ejercicio</th>
                                    <th>Calificativo</th>
                                    <th>Puntaje Obtenido Por Ejercicio</th>
                                    <th>Fecha Del Periodo A Evaluar El Ejercicio</th>
                                    <th>Fecha De Realización Del Ejercicio</th>
                                    <th>Tiempo De Vigencia(Días) </th>
                                    <th>Fecha De Caducidad Del Ejercicio </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="/js/combima1/combima1-evaluacionalistentrenamiento.js" asp-append-version="true"></script>
}