@{
    ViewData["Title"] = "Programa Diqueo Comfasub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComfasubProgramaDiqueoComfasub/Individual" style="text-decoration:none;">Programa de Diqueo</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterial2N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido2N">Codigo Alistamiento Material 2N</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlis2" name="cbAlis2"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidad" name="cbUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngreso" name="txtFechaIngreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha Salida</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSalida" name="txtFechaSalida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Permanencia" class="col-3 col-form-label">Permanencia en Dias</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPermanencia" name="txtPermanencia" placeholder="Permanencia en Dias" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasubProgramaDiqueoComfasub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidade" name="cbUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterial2N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido2N">Codigo Alistamiento Material 2N</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlis2e" name="cbAlis2e"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngresoe" name="txtFechaIngresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha Salida</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSalidae" name="txtFechaSalidae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Permanencia" class="col-3 col-form-label">Permanencia en Dias</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPermanenciae" name="txtPermanenciae" placeholder="Permanencia en Dias" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComfasubProgramaDiqueoComfasub">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComfasubProgramaDiqueoComfasub" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComfasubProgramaDiqueoComfasub()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComfasubProgramaDiqueoComfasub" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Material Requerido 2N</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Salida</th>
                <th>Permanencia en Dias</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comfasub/comfasub-programadiqueocomfasub.js" asp-append-version="true"></script>
}
