@{
    ViewData["Title"] = "Apoyo Actividades Difusión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirintemarApoyoActividadesDifusion/Individual" style="text-decoration:none;">Apoyo Actividades Difusión</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoActDifusion" class="col-3 col-form-label"><a href="~/TipoActividadDifusion">Tipo Actividad Difusión</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoActDifusion" name="cbTipoActDifusion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreApoyo" class="col-3 col-form-label">Nombre Apoyo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreApoyo" name="txtNombreApoyo" placeholder="Nombre Apoyo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarApoyo" class="col-3 col-form-label">Lugar Apoyo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugarApoyo" name="txtLugarApoyo" placeholder="Lugar Apoyo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoU" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento Ubigeo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDepartamentoU" name="cbDepartamentoU"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DirigidoApoyo" class="col-3 col-form-label"><a href="~/DirigidoA">Dirigido Apoyo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDirigidoApoyo" name="cbDirigidoApoyo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Inicio Apoyo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Termino Apoyo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaT" name="txtFechaT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtInversion" class="col-3 col-form-label">Inversión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversion" name="txtInversion" placeholder="Inversión" required>
                    </div>
                </div>
                
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarApoyoActividadesDifusion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoActDifusion" class="col-3 col-form-label"><a href="~/TipoActividadDifusion" >Tipo Actividad Difusión</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoActDifusione" name="cbTipoActDifusione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreApoyo" class="col-3 col-form-label">Nombre Apoyo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreApoyoe" name="txtNombreApoyoe" placeholder="Nombre Apoyo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="LugarApoyo" class="col-3 col-form-label">Lugar Apoyo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugarApoyoe" name="txtLugarApoyoe" placeholder="Lugar Apoyo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoU" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo" >Departamento Ubigeo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDepartamentoUe" name="cbDepartamentoUe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DirigidoApoyo" class="col-3 col-form-label"><a href="~/DirigidoA" >Dirigido Apoyo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDirigidoApoyoe" name="cbDirigidoApoyoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Inicio Apoyo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Termino Apoyo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTe" name="txtFechaTe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtInversion" class="col-3 col-form-label">Inversión</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtInversione" name="txtInversione" placeholder="Inversión" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirintemarApoyoActividadesDifusion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirintemarApoyoActividadesDifusion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirintemarApoyoActividadesDifusion()" />
    <div class="dropdown">
        <input type='text' readonly id='buscar_inicio' class="datepicker" placeholder='Fecha Inicio' class="form-control form-control-sm">
        <input type='text' readonly id='buscar_fin' class="datepicker" placeholder='Fecha fin' class="form-control form-control-sm">
        <input type='button' id="btn_search" value="Buscar" class="btn btn-primary btn-sm">
        @*<input type='button' id="btnLimpiar" value="Limpiar" class="btn btn-danger btn-sm">*@
    </div>
    <table class="table table-striped" id="tblDirintemarApoyoActividadesDifusion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Actividad Difusion</th>
                <th>Nombre Apoyo</th>
                <th>Lugar Apoyo</th>
                <th>Departamento Ubigeo</th>
                <th>Dirigido Apoyo</th>
                <th>Inicio Apoyo</th>
                <th>Termino Apoyo</th>
                <th>Inversión</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/dirintemar/dirintemar-apoyoactivdifusion.js" asp-append-version="true"></script>
}
