@{
    ViewData["Title"] = "Revistas Institucionales “El Monitor” y el “Grumete”";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DimarRevistaInstitucionalMonitorGrumete/Individual" style="text-decoration:none;">
        Revistas Institucionales “El Monitor” y el “Grumete”
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ProductoDimar" class="col-3 col-form-label"><a href="~/ProductoDimar">Tipo Producto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProductoDimar" name="cbProductoDimar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia de publicación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusion" name="cbFrecuenciaDifusion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPublicacion" class="col-3 col-form-label">Fecha de publicación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPublicacion" name="txtFechaPublicacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroEdicion" class="col-3 col-form-label">N.º de edición</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNroEdicion" name="txtNroEdicion" placeholder="N.º de edición" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tema de información</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitida" name="cbTipoInformacionEmitida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlataformaMedioComunicacion" class="col-3 col-form-label"><a href="~/PlataformaMedioComunicacion">Plataforma y/o medio de comunicación </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPlataformaMedioComunicacion" name="cbPlataformaMedioComunicacion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivo" name="cbPublicoObjetivo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadProducida" class="col-3 col-form-label">Cantidad producida/tiraje</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadProducida" name="txtCantidadProducida" placeholder="Cantidad producida/tiraje" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarRevistaInstitucionalMonitorGrumete">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="ProductoDimar" class="col-3 col-form-label"><a href="~/ProductoDimar">Tipo Producto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProductoDimare" name="cbProductoDimare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia de publicación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusione" name="cbFrecuenciaDifusione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPublicacion" class="col-3 col-form-label">Fecha de publicación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPublicacione" name="txtFechaPublicacione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroEdicion" class="col-3 col-form-label">N.º de edición</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNroEdicione" name="txtNroEdicione" placeholder="N.º de edición" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoInformacionEmitida" class="col-3 col-form-label"><a href="~/TipoInformacionEmitida">Tema de información</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoInformacionEmitidae" name="cbTipoInformacionEmitidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlataformaMedioComunicacion" class="col-3 col-form-label"><a href="~/PlataformaMedioComunicacion">Plataforma y/o medio de comunicación </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPlataformaMedioComunicacione" name="cbPlataformaMedioComunicacione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicoObjetivo" class="col-3 col-form-label"><a href="~/PublicoObjetivo">Público objetivo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicoObjetivoe" name="cbPublicoObjetivoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadProducida" class="col-3 col-form-label">Cantidad producida/tiraje</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadProducidae" name="txtCantidadProducidae" placeholder="Cantidad producida/tiraje" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarRevistaInstitucionalMonitorGrumete/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DimarRevistaInstitucionalMonitorGrumete" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDimarRevistaInstitucionalMonitorGrumete()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDimarRevistaInstitucionalMonitorGrumete" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Producto</th>
                <th>Frecuencia de publicación</th>
                <th>Fecha de publicación</th>
                <th>N.º de edición</th>
                <th>Tema de información</th>
                <th>Plataforma y/o medio de comunicación </th>
                <th>Público objetivo</th>
                <th>Cantidad producida/tiraje</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dimar/dimar-revistainstitucionalmonitorgrumete.js" asp-append-version="true"></script>
}
