@{
    ViewData["Title"] = "Capacitación y Perfeccionamiento Institucional del Personal Militar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiredumarCapacitacionPerfeccionamientoMilitar/Individual" style="text-decoration:none;">Capacitación y Perfeccionamiento Institucional del Personal Militar</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIPCapPerf" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPCapPerf" name="txtCIPCapPerf" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNICapPerf" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNICapPerf" name="txtDNICapPerf" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitar" name="cbTipoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución de Cpacitación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitar" name="cbEntidadMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoEscuela" class="col-3 col-form-label"><a href="~/CodigoEscuela">Escuela</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCodigoEscuela" name="cbCodigoEscuela"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensionCurso" class="col-3 col-form-label">Mención</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensionCurso" name="txtMensionCurso" placeholder="Mención" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HorasCurso" class="col-3 col-form-label">Horas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHorasCurso" name="txtHorasCurso" placeholder="Horas" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiredumarCapacitacionPerfeccionamientoMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="CIPCapPerf" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPCapPerfe" name="txtCIPCapPerfe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNICapPerf" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNICapPerfe" name="txtDNICapPerfe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalMilitar" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Tipo Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMilitare" name="cbTipoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Pais</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EntidadMilitar" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución de Cpacitación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEntidadMilitare" name="cbEntidadMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CodigoEscuela" class="col-3 col-form-label"><a href="~/CodigoEscuela">Escuela</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCodigoEscuelae" name="cbCodigoEscuelae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="MensionCurso" class="col-3 col-form-label">Mención</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtMensionCursoe" name="txtMensionCursoe" placeholder="Mención" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HorasCurso" class="col-3 col-form-label">Horas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHorasCursoe" name="txtHorasCursoe" placeholder="Horas" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiredumarCapacitacionPerfeccionamientoMilitar">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">           
    <p><a href="~/DiredumarCapacitacionPerfeccionamientoMilitar" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiredumarCapacitacionPerfeccionamientoMilitar()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
   <br />
    <table class="table table-striped" id="tblDiredumarCapacitacionPerfeccionamientoMilitar" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>CIP</th>
                <th>DNI</th>
                <th>Tipo Personal</th>
                <th>Grado Código</th>
                <th>Pais</th>
                <th>Institución de Capacitación</th>
                <th>Escuela</th>
                <th>Mención</th>
                <th>Horas</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{
    <script src="/js/diredumar/diredumar-capacitacionperfeccionamientomilitar.js" asp-append-version="true"></script>
}
