@{
    ViewData["Title"] = "AvisosdeInfracciónImpuestosporlaAutoridadMaritima";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardAvisoInfraccionImpuesto/Individual" style="text-decoration:none;">Avisos de Infracción Impuestos por la Autoridad Maritima</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura de Distritos de Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania y/o Patrulla Maritima</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraInfraccion" class="col-3 col-form-label">Hora</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraInfraccion" name="txtHoraInfraccion" placeholder="Hora" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInfraccion" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInfraccion" name="txtFechaInfraccion" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenidanida" class="col-3 col-form-label"> Nave Intervenidanida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNoveInfractora" class="col-3 col-form-label">Nombre de la Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNoveInfractora" name="txtNombreNoveInfractora" placeholder="Nombre de la Nave Infractor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveInfractora" class="col-3 col-form-label">Matriculo de Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveInfractora" name="txtMatriculaNaveInfractora" placeholder="Matriculo de Nave Infractor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo de Nave Infractor</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad /Bandera Nave Infrator</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PropietarioNave" class="col-3 col-form-label">Propietario de Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtPropietarioNave" name="txtPropietarioNave" placeholder="Propietario de Nave Infractor" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="CoordenadasUbicacion" class="col-3 col-form-label"> Coordenadas Y Ubicación</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacion" class="col-3 col-form-label">LAT</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacion" name="txtLatitudUbicacion" placeholder="LAT" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacion" class="col-3 col-form-label">LONG</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacion" name="txtLongitudUbicacion" placeholder="LONG" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AreaIntervencion" class="col-3 col-form-label">Área DE Intervención (Ubicación)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtAreaIntervencion" name="txtAreaIntervencion" placeholder="Área DE Intervención (Ubicación)" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNave" name="cbAmbitoNave"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="SectorExtrainstitucional" class="col-3 col-form-label">Sector Extrainstitucional Participante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSectorExtrainstitucional" name="txtSectorExtrainstitucional" placeholder="Sector Extrainstitucional Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tenor" class="col-3 col-form-label">Tenor</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTenor" name="txtTenor" placeholder="Tenor" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Articulo" class="col-3 col-form-label">Articulo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticulo" name="txtArticulo" placeholder="Articulo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AvisosInfraccion" class="col-3 col-form-label">N° de Aviso de Infracción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAvisosInfraccion" name="txtAvisosInfraccion" placeholder="N° de Aviso de Infracción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardAvisoInfraccionImpuesto">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura de Distritos de Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania y/o Patrulla Maritima</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraInfraccion" class="col-3 col-form-label">Hora</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraInfraccione" name="txtHoraInfraccione" placeholder="Hora" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInfraccion" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaInfraccione" name="txtFechaInfraccione" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="NaveIntervenidanida" class="col-3 col-form-label"> Nave Intervenidanida</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="NombreNoveInfractora" class="col-3 col-form-label">Nombre de la Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtNombreNoveInfractorae" name="txtNombreNoveInfractorae" placeholder="Nombre de la Nave Infractor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="MatriculaNaveInfractora" class="col-3 col-form-label">Matriculo de Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtMatriculaNaveInfractorae" name="txtMatriculaNaveInfractorae" placeholder="Matriculo de Nave Infractor" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo de Nave Infractor</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">Nacionalidad /Bandera Nave Infrator</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="PropietarioNave" class="col-3 col-form-label">Propietario de Nave Infractor</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtPropietarioNavee" name="txtPropietarioNavee" placeholder="Propietario de Nave Infractor" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="CoordenadasUbicacion" class="col-3 col-form-label"> Coordenadas Y Ubicación</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacion" class="col-3 col-form-label">LAT</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacione" name="txtLatitudUbicacione" placeholder="LAT" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacion" class="col-3 col-form-label">LONG</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacione" name="txtLongitudUbicacione" placeholder="LONG" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AreaIntervencion" class="col-3 col-form-label">Área DE Intervención (Ubicación)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtAreaIntervencione" name="txtAreaIntervencione" placeholder="Área DE Intervención (Ubicación)" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AmbitoNave" class="col-3 col-form-label"><a href="~/AmbitoNave">Ambito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbAmbitoNavee" name="cbAmbitoNavee"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SectorExtrainstitucional" class="col-3 col-form-label">Sector Extrainstitucional Participante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSectorExtrainstitucionale" name="txtSectorExtrainstitucionale" placeholder="Sector Extrainstitucional Participante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Tenor" class="col-3 col-form-label">Tenor</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTenore" name="txtTenore" placeholder="Tenor" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Articulo" class="col-3 col-form-label">Articulo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtArticuloe" name="txtArticuloe" placeholder="Articulo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AvisosInfraccion" class="col-3 col-form-label">N° de Aviso de Infracción</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAvisosInfraccione" name="txtAvisosInfraccione" placeholder="N° de Aviso de Infracción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardAvisoInfraccionImpuesto">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardAvisoInfraccionImpuesto()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardAvisoInfraccionImpuesto">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardAvisoInfraccionImpuesto/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardAvisoInfraccionImpuesto" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura de Distritos de Capitanias</th>
                <th>Capitania y/o Patrulla Maritima</th>
                <th>Hora</th>
                <th>Fecha</th>
                <th>Nombre de la Nave Infractor</th>
                <th>Matriculo de Nave Infractor</th>
                <th>Tipo de Nave Infractor</th>
                <th>Nacionalidad /Bandera Nave Infrator</th>
                <th>Propietario de Nave Infractor</th>
                <th>LAT</th>
                <th>LONG</th>
                <th>Área DE Intervención (Ubicación)</th>
                <th>Ambito</th>
                <th>Sector Extrainstitucional Participante</th>
                <th>Tenor</th>
                <th>Articulo</th>
                <th>N° de Aviso de Infracción</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-avisoinfraccionimpuesto.js" asp-append-version="true"></script>
}
