@{
    ViewData["Title"] = "Archivo para Personal en Ciencia y Tecnología";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DincydetArchivoPersonalCTecnologia/Individual" style="text-decoration:none;">Archivo para Personal en Ciencia y Tecnología</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioTrabajo" class="col-3 col-form-label">Año de Trabajo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioTrabajo" name="txtAnioTrabajo" placeholder="Año de Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FormacionAcademica" class="col-3 col-form-label"><a href="~/FormacionAcademica" style="text-decoration:none;">Formación Academica </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFormacionAcademica" name="cbFormacionAcademica"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonalM" name="cbGradoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TituloProfesionalO" class="col-3 col-form-label"><a href="~/TituloProfesionalObtenido" style="text-decoration:none;">Titulo Profesional Obtenido </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTituloProfesionalO" name="cbTituloProfesionalO"></select>
                    </div>
                </div>
                 <div class="form-group row col-md-6">
                    <label for="NaturalezaTrabajo" class="col-3 col-form-label">Naturaleza Trabajo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNaturalezaTrabajo" name="txtNaturalezaTrabajo" data-placeholder="Seleccione ...">
                            <option value="D">DIRECTO</option>
                            <option value="I">INDIRECTO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especializacion" class="col-3 col-form-label">Especialización</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEspecializacion" name="txtEspecializacion" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasCT" class="col-3 col-form-label"><a href="~/AreaCT" style="text-decoration:none;">Áreas CT </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreasCT" name="cbAreasCT"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionT" class="col-3 col-form-label">Dedicación Tiempo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionT" name="txtDedicacionT" data-placeholder="Seleccione ...">
                            <option value="TC">Tiempo Completo</option>
                            <option value="TP">Tiempo Parcial</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ParticipacionProg" class="col-3 col-form-label">Participación Programas</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtParticipacionProg" name="txtParticipacionProg" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoPersonalCTecnologia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AnioTrabajo" class="col-3 col-form-label">Año de Trabajo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioTrabajoe" name="txtAnioTrabajoe" placeholder="Año de Trabajo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                   <label for="FormacionAcademica" class="col-3 col-form-label"><a href="~/FormacionAcademica" style="text-decoration:none;">Formación Academica </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbFormacionAcademicae" name="cbFormacionAcademicae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalM" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar" style="text-decoration:none;">Grado Personal Militar </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonalMe" name="cbGradoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                     <label for="TituloProfesionalO" class="col-3 col-form-label"><a href="~/TituloProfesionalObtenido" style="text-decoration:none;">Titulo Profesional Obtenido </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTituloProfesionalOe" name="cbTituloProfesionalOe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NaturalezaTrabajo" class="col-3 col-form-label">Naturaleza Trabajo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNaturalezaTrabajoe" name="txtNaturalezaTrabajoe" data-placeholder="Seleccione ...">
                            <option value="D">DIRECTO</option>
                            <option value="I">INDIRECTO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especializacion" class="col-3 col-form-label">Especialización</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtEspecializacione" name="txtEspecializacione" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreasCT" class="col-3 col-form-label"><a href="~/AreaCT" style="text-decoration:none;">Áreas CT </a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAreasCTe" name="cbAreasCTe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DedicacionT" class="col-3 col-form-label">Dedicación Tiempo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDedicacionTe" name="txtDedicacionTe" data-placeholder="Seleccione ...">
                            <option value="TC">Tiempo Completo</option>
                            <option value="TP">Tiempo Parcial</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ParticipacionProg" class="col-3 col-form-label">Participación Programas</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtParticipacionProge" name="txtParticipacionProge" data-placeholder="Seleccione ...">
                            <option value="S">SI</option>
                            <option value="N">NO</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DincydetArchivoPersonalCTecnologia">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DincydetArchivoPersonalCTecnologia" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDincydetArchivoPersonalCTecnologia()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDincydetArchivoPersonalCTecnologia" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Año de Trabajo</th>
                <th>Sexo </th>
                <th>Formación Academica</th>
                <th>Grado Personal Militar</th>
                <th>Titulo Profesional Obtenido</th>
                <th>Naturaleza Trabajo</th>
                <th>Especialización </th>
                <th>Áreas</th>
                <th>Dedicación Tiempo</th>
                <th>Participación Programas</th>
                <th>Código Cargo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dincydet/dincydet-archivopersonalctecnologia.js" asp-append-version="true"></script>
}
