@{
    ViewData["Title"] = "Distribución de vestuario a las unidades y dependencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiabasteDistribucionVestuario/Individual" style="text-decoration:none;">Distribución de vestuario a las unidades y dependencias</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Area" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Area Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbArea" name="cbArea"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Prenda" class="col-3 col-form-label"><a href="~/TipoPrenda">Tipo de Prenda</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPrenda" name="cbPrenda"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de Medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidad" name="cbUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad de prendas entregadas por tipo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidad" name="txtCantidad" placeholder="Cantidad de Material Entregado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha de Entrega</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiabasteDistribucionVestuario">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Area" class="col-3 col-form-label"><a href="~/AreaDiperadmon">Area Usuaria</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAreae" name="cbAreae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Prenda" class="col-3 col-form-label"><a href="~/TipoPrenda">Tipo de Prenda</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPrendae" name="cbPrendae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de Medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidade" name="cbUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad de prendas entregadas por tipo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidade" name="txtCantidade" placeholder="Cantidad de Material Entregado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha de Entrega</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechae" name="txtFechae" required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-danger" href="~/DiabasteDistribucionVestuario">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiabasteDistribucionVestuario" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiabasteDistribucionVestuario()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDiabasteDistribucionVestuario" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Area Usuaria</th>
                <th>Tipo de Material</th>
                <th>Unidad de Medida</th>
                <th>Cantidad de Material Entregado</th>
                <th>Fecha de Entrega</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diabaste/diabaste-distribucionvestuario.js" asp-append-version="true"></script>
}
