    @{
    ViewData["Title"] = "Procedimiento Administrativo Disciplinario del Personal Civil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DipermarProcedimientoAdministrativoCivil/Individual" style="text-decoration:none;">Procedimiento Administrativo Disciplinario del Personal Civil</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NumeroDocumento" class="col-3 col-form-label">Número documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroDocumento" name="txtNumeroDocumento" placeholder="Número documento" required >
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaD" name="txtFechaD" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralCivil"> Condición Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionLaboral" name="txtCondicionLaboral" data-placeholder="Seleccione ...">
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoOcupacional" class="col-3 col-form-label"><a href="~/GrupoOcupacionalCivil"> Grupo Ocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGrupoOcupacional" name="cbGrupoOcupacional"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargodesempe" class="col-3 col-form-label"><a href="~/Cargo">Cargo que desempeña</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoDesem" name="txtCargoDesem"></select>
                    </div>
                </div>
                   <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Unidad o Dependencia de procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InfracionD" class="col-3 col-form-label"><a href="~/InfraccionDisciplinariaCivil">Infracción disciplinaria Personal civil</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbInfracionD" name="cbInfracionD"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SolicitanteS" class="col-3 col-form-label">Solicitante de Sanción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitanteS" name="txtSolicitanteS" placeholder="Solicitante de Sanción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonal" name="cbGradoPersonal"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CargoD" class="col-3 col-form-label"><a href="~/Cargo">Cargo que Desempeña Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoDesempenioS" name="txtCargoDesempenioS"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del que impone sanción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoImponeS" name="txtGradoImponeS"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CargoD" class="col-3 col-form-label"><a href="~/Cargo">Cargo que desempeña el que impone sanción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoImponesancion" name="txtCargoImponesancion"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SancionDisc" class="col-3 col-form-label"><a href="~/SancionDisciplinariaNaval">Sanción Disciplinaria Aplicada</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSancionDisc" name="cbSancionDisc"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InicioS" class="col-3 col-form-label">Inicio de sanción </label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtInicioS" name="txtInicioS" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TerminoS" class="col-3 col-form-label">Termino de sanción</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtTerminoS" name="txtTerminoS" required>

                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarProcedimientoAdministrativoCivil">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="NumeroDocumento" class="col-3 col-form-label">Número documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroDocumentoe" name="txtNumeroDocumentoe" placeholder="Número documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaD" class="col-3 col-form-label">Fecha documento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaDe" name="txtFechaDe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboralCivil"> Condición Laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCondicionLaborale" name="txtCondicionLaborale" data-placeholder="Seleccione ...">
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GrupoOcupacional" class="col-3 col-form-label"><a href="~/GrupoOcupacionalCivil"> Grupo Ocupacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGrupoOcupacionale" name="cbGrupoOcupacionale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Cargo">Cargo que desempeña</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoDeseme" name="txtCargoDeseme"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Unidad o Dependencia de procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InfracionD" class="col-3 col-form-label"><a href="~/InfraccionDisciplinariaCivil">Infracción disciplinaria Personal civil</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbInfracionDe" name="cbInfracionDe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SolicitanteS" class="col-3 col-form-label">Solicitante de Sanción</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSolicitanteSe" name="txtSolicitanteSe" placeholder="Solicitante de Sanción" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonale" name="cbGradoPersonale"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="CargoD" class="col-3 col-form-label"><a href="~/Cargo">Cargo que Desempeña Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoDesempenioSe" name="txtCargoDesempenioSe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del que impone sanción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGradoImponeSe" name="txtGradoImponeSe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CargoD" class="col-3 col-form-label"><a href="~/Cargo">Cargo que desempeña el que impone sanción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtCargoImponesancione" name="txtCargoImponesancione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SancionDisc" class="col-3 col-form-label"><a href="~/SancionDisciplinariaNaval">Sanción Disciplinaria Aplicada</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSancionDisce" name="cbSancionDisce"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InicioS" class="col-3 col-form-label">Inicio de sanción </label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtInicioSe" name="txtInicioSe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TerminoS" class="col-3 col-form-label">Termino de sanción</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtTerminoSe" name="TerminoSe" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DipermarProcedimientoAdministrativoCivil">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DipermarProcedimientoAdministrativoCivil" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDipermarProcedimientoAdministrativoCivil()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDipermarProcedimientoAdministrativoCivil" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Número documento</th>
                <th>Fecha documento</th>
                <th>Condición Laboral</th>
                <th>Grupo Ocupacional</th>
                <th>Cargo que desempeña</th>
                <th>Unidad o Dependencia de procedencia</th>
                <th>Infracción disciplinaria Personal civil</th>
                <th>Solicitante de Sanción</th>
                <th>Grado del Solicitante</th>
                <th>Cargo que Desempeña Solicitante</th>
                <th>Grado del que impone sanción</th>
                <th>Cargo que desempeña el que impone sanción</th>
                <th>Sanción Disciplinaria Aplicada</th>
                <th>Inicio de sanción</th>
                <th>Termino de sanción</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dipermar/dipermar-procedimientoadministrativocivil.js" asp-append-version="true"></script>

}
