@{
    ViewData["Title"] = "Situación de operatividad de naves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/ComflotfluSituacionOperativaNaveComflotflu/Individual" style="text-decoration:none;">
        Situación de operatividad de naves
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Nave</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">N° de casco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCascoUnidadNaval" name="cbCascoUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPlataforma" class="col-3 col-form-label">Tipo de plataforma</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoPlataforma" name="txtTipoPlataforma" placeholder="Tipo de plataforma" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ubicacion" class="col-3 col-form-label">Ubicación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUbicacion" name="txtUbicacion" placeholder="Ubicación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeo" name="cbDepartamentoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeo" name="cbProvinciaUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeo" name="cbDistritoUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad operacional requerida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativa" name="cbCapacidadOperativa"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicion" name="txtCondicion">
                            <option value="OC">Operativo Completamente Listo (76(%) al 100%).</option>
                            <option value="OL">
                                OPERATIVO Sustancialmente Listo (51(%) al 75%).
                                Marginalmente Listo (26(%) al 50%).
                                Operativo Con Limitaciones (10(%) al 25%).
                            </option>
                            <option value="NO">No Operativo (0(%) al 9%).</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluSituacionOperativaNaveComflotflu">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Nave</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">N° de casco</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCascoUnidadNavale" name="cbCascoUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPlataforma" class="col-3 col-form-label">Tipo de plataforma</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoPlataformae" name="txtTipoPlataformae" placeholder="Tipo de plataforma" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ubicacion" class="col-3 col-form-label">Ubicación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUbicacione" name="txtUbicacione" placeholder="Ubicación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoUbigeo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoUbigeoe" name="cbDepartamentoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaUbigeo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaUbigeoe" name="cbProvinciaUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoUbigeo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoUbigeoe" name="cbDistritoUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad operacional requerida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativae" name="cbCapacidadOperativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Condicion" class="col-3 col-form-label">Condición</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtCondicione" name="txtCondicione">
                            <option value="OC">Operativo Completamente Listo (76(%) al 100%).</option>
                            <option value="OL">
                                OPERATIVO Sustancialmente Listo (51(%) al 75%).
                                Marginalmente Listo (26(%) al 50%).
                                Operativo Con Limitaciones (10(%) al 25%).
                            </option>
                            <option value="NO">No Operativo (0(%) al 9%).</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluSituacionOperativaNaveComflotflu/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComflotfluSituacionOperativaNaveComflotflu()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComflotfluSituacionOperativaNaveComflotflu">Masiva</a>
            <a class="dropdown-item" href="~/ComflotfluSituacionOperativaNaveComflotflu/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComflotfluSituacionOperativaNaveComflotflu" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Nave</th>
                <th>N° de casco</th>
                <th>Tipo de plataforma</th>
                <th>Dependencia</th>
                <th>Ubicación</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Capacidad operacional requerida</th>
                <th>Condición</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comflotflu/comflotflu-situacionoperativanavecomflotflu.js" asp-append-version="true"></script>
}
