@{
    ViewData["Title"] = "Produccion Documento Inteligencia y Contrainteligencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DintemarInteligenciaContraintelAmenaza/Individual" style="text-decoration:none;">Producción Documentos Inteligencia y Contrainteligencia por Amenaza</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>            
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="carga" class="col-3 col-form-label">Carga</label>
                    <div class="form-group row col-md-6">
                        <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AmenazasSN" class="col-3 col-form-label"><a href="~/AmenazaSeguridadNacional">Amenazas a la Seguridad Nacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAmenazasSN" name="cbAmenazasSN" ></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInteligencia" class="col-3 col-form-label">Notas Inteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInteligencia" name="txtNotasInteligencia" placeholder="Notas Inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiosInteligencia" class="col-3 col-form-label">Estudios Inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEstudiosInteligencia" name="txtEstudiosInteligencia" placeholder="Estudios Inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionesI" class="col-3 col-form-label">Apreciaciones Inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionesI" name="txtApreciacionesI" placeholder="Apreciaciones Inteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasI" class="col-3 col-form-label">Notas Información  </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasI" name="txtNotasI" placeholder="Notas Información" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasContraI" class="col-3 col-form-label">Notas Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasContraI" name="txtNotasContraI" placeholder="Notas Contrainteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiosContra" class="col-3 col-form-label">Estudios Contrainteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEstudiosContra" name="txtEstudiosContra" placeholder="Estudios Contrainteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionesContra" class="col-3 col-form-label">Apreciaciones Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionesContra" name="txtApreciacionesContra" placeholder="Apreciaciones Contrainteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInfoContra" class="col-3 col-form-label">Notas Información Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInfoContra" name="txtNotasInfoContra" placeholder="Notas Información Contrainteligencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DintemarInteligenciaContraintelAmenaza">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="AmenazasSN" class="col-3 col-form-label"><a href="~/AmenazaSeguridadNacional">Amenazas a la Seguridad Nacional</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbAmenazasSNe" name="cbAmenazasSNe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInteligencia" class="col-3 col-form-label">Notas Inteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInteligenciae" name="txtNotasInteligenciae" placeholder="Notas Inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiosInteligencia" class="col-3 col-form-label">Estudios Inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEstudiosInteligenciae" name="txtEstudiosInteligenciae" placeholder="Estudios Inteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionesI" class="col-3 col-form-label">Apreciaciones Inteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionesIe" name="txtApreciacionesIe" placeholder="Apreciaciones Inteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasI" class="col-3 col-form-label">Notas Información  </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasIe" name="txtNotasIe" placeholder="Notas Información" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasContraI" class="col-3 col-form-label">Notas Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasContraIe" name="txtNotasContraIe" placeholder="Notas Contrainteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstudiosContra" class="col-3 col-form-label">Estudios Contrainteligencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtEstudiosContrae" name="txtEstudiosContrae" placeholder="Estudios Contrainteligencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ApreciacionesContra" class="col-3 col-form-label">Apreciaciones Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtApreciacionesContrae" name="txtApreciacionesContrae" placeholder="Apreciaciones Contrainteligencia " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NotasInfoContra" class="col-3 col-form-label">Notas Información Contrainteligencia </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNotasInfoContrae" name="txtNotasInfoContrae" placeholder="Notas Información Contrainteligencia" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DintemarInteligenciaContraintelAmenaza">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/DintemarInteligenciaContraintelAmenaza" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDintemarInteligenciaContraintelAmenaza()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblDintemarInteligenciaContraintelAmenaza" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Amenazas a la Seguridad Nacional</th>
                <th>Notas Inteligencia</th>
                <th>Estudios Inteligencia </th>
                <th>Apreciaciones Inteligencia</th>
                <th>Notas Información</th>
                <th>Notas Contrainteligencia</th>
                <th>Estudios Contrainteligencia</th>
                <th>Apreciaciones Contrainteligencia</th>
                <th>Notas Información Contrainteligencia</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section Scripts{

    <script src="/js/dintemar/dintemar-inteligenciacontraintelamenaza.js" asp-append-version="true"></script>

}
