@{
    ViewData["Title"] = "Convenios con Universidades e Institutos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/BienestarConvenioUniversidadInstituto/Individual" style="text-decoration:none;">Convenios con Universidades e Institutos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbMes" name="cbMes"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbAnio" name="cbAnio"></select>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="FechaSolicitud" class="col-3 col-form-label">Fecha Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitud" name="txtFechaSolicitud" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitante" name="txtDNISolicitante" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalSolicitante" class="col-3 col-form-label"><a href="~/PersonalSolicitante">Personal Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalSolicitante" name="cbPersonalSolicitante"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionSolicitante" class="col-3 col-form-label"><a href="~/CondicionSolicitante">Condición del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionSolicitante" name="cbCondicionSolicitante"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalBeneficiado" class="col-3 col-form-label"><a href="~/PersonalBeneficiado">Beneficiarios</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalBeneficiado" name="cbPersonalBeneficiado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudioConvenio" class="col-3 col-form-label">Nivel de Estudio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNivelEstudioConvenio" name="txtNivelEstudioConvenio" data-placeholder="Seleccione ...">
                            <option value="Pre grado">Pre grado</option>
                            <option value="Post grado">Post grado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEntidadAcademica" class="col-3 col-form-label">Tipo de Entidad Académica</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoEntidadAcademica" name="txtTipoEntidadAcademica" data-placeholder="Seleccione ...">
                            <option value="Universidad">Universidad</option>
                            <option value="Instituto">Instituto</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEducativaS" class="col-3 col-form-label"><a href="~/InstitucionEducativaSuperior">Entidad Académico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEducativaS" name="cbInstitucionEducativaS"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoSolicitud" class="col-3 col-form-label">Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoSolicitud" name="txtResultadoSolicitud" data-placeholder="Seleccione ...">
                            <option value="Aprobada">Aprobada</option>
                            <option value="Desaprobada">Desaprobada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaResultadoS" class="col-3 col-form-label">Fecha Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaResultadoS" name="txtFechaResultadoS" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarConvenioUniversidadInstituto">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaSolicitud" class="col-3 col-form-label">Fecha Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolicitude" name="txtFechaSolicitude" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNISolicitante" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNISolicitantee" name="txtDNISolicitantee" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalSolicitante" class="col-3 col-form-label"><a href="~/PersonalSolicitante">Personal Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalSolicitantee" name="cbPersonalSolicitantee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionSolicitante" class="col-3 col-form-label"><a href="~/CondicionSolicitante">Condición del Personal</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionSolicitantee" name="cbCondicionSolicitantee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PersonalBeneficiado" class="col-3 col-form-label"><a href="~/PersonalBeneficiado">Beneficiarios</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPersonalBeneficiadoe" name="cbPersonalBeneficiadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelEstudioConvenio" class="col-3 col-form-label">Nivel de Estudio</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtNivelEstudioConvenioe" name="txtNivelEstudioConvenioe" data-placeholder="Seleccione ...">
                            <option value="Pre grado">Pre grado</option>
                            <option value="Post grado">Post grado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoEntidadAcademica" class="col-3 col-form-label">Tipo de Entidad Académica</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoEntidadAcademicae" name="txtTipoEntidadAcademicae" data-placeholder="Seleccione ...">
                            <option value="Universidad">Universidad</option>
                            <option value="Instituto">Instituto</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEducativaS" class="col-3 col-form-label"><a href="~/InstitucionEducativaSuperior">Entidad Académico</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEducativaSe" name="cbInstitucionEducativaSe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadoSolicitud" class="col-3 col-form-label">Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtResultadoSolicitude" name="txtResultadoSolicitude" data-placeholder="Seleccione ...">
                            <option value="Aprobada">Aprobada</option>
                            <option value="Desaprobada">Desaprobada</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaResultadoS" class="col-3 col-form-label">Fecha Resultado de Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaResultadoSe" name="txtFechaResultadoSe" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/BienestarConvenioUniversidadInstituto">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/BienestarConvenioUniversidadInstituto" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaBienestarConvenioUniversidadInstituto()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>

    </div>
    <table class="table table-striped" id="tblBienestarConvenioUniversidadInstituto" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha Solicitud</th>
                <th>DNI</th>
                <th>Personal Solicitante</th>
                <th>Condición del Personal</th>
                <th>Grado del Solicitante</th>
                <th>Beneficiarios</th>
                <th>Nivel de Estudio</th>
                <th>Tipo de Entidad Académica</th>
                <th>Entidad Académico</th>
                <th>Resultado de Solicitud</th>
                <th>Fecha Resultado de Solicitud</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/bienestar/bienestar-conveniosuniversidadesinstituto.js" asp-append-version="true"></script>
}
