@{
    ViewData["Title"] = "CoeficientesPonderadosACLFFMMs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/CoeficientePonderadoACLFFMM" style="text-decoration:none;">Coeficientes Ponderados ACLFFMM</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCombustible" class="col-3 col-form-label">Combustible Lubricante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustible" name="txtCombustible" placeholder="Combustible" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficiente" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficiente" name="txtCoeficiente" placeholder="Coeficiente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistencia" class="col-3 col-form-label">CLExistente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistencia" name="txtExistencia" placeholder="CLExistente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRequerida" class="col-3 col-form-label">CLRequeridoa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequerida" name="txtRequerida" placeholder="CLRequerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPorcentaje" class="col-3 col-form-label">Total</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentaje" name="txtPorcentaje" placeholder="Total" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/CoeficientePonderadoACLFFMM">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCombustiblee" class="col-3 col-form-label">Combustible Lubricante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustiblee" name="txtCombustiblee" placeholder="Combustible" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficientee" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficientee" name="txtCoeficientee" placeholder="Coeficiente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistenciae" class="col-3 col-form-label">CLExistente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistenciae" name="txtExistenciae" placeholder="CLExistente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtRequeridae" class="col-3 col-form-label">CLRequerido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequeridae" name="txtRequeridae" placeholder="CLRequeridoa" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPorcentajee" class="col-3 col-form-label">Total</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajee" name="txtPorcentajee" placeholder="Total" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/CoeficientePonderadoACLFFMM">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaCoeficientePonderadoACLFFMM()" />
    <table class="table table-striped" id="tblCoeficientePonderadoACLFFMMs" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Combustible Lubricante</th>
                <th>Coeficiente Ponderación</th>
                <th>CLExistente</th>
                <th>CLRequerido</th>
                <th>Total</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/coeficienteponderadoACLFFMM.js" asp-append-version="true"></script>
}
