@{
    ViewData["Title"] = "Banda Musico Comzotres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComzotresBandaMusicoComzotres/Individual" style="text-decoration:none;">Banda de Musicos</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Comision" class="col-3 col-form-label"><a href="~/TipoComision">Tipo de Comision</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComision" name="cbComision"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label"><a href="~/Evento">Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEvento" name="cbEvento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Comisionado" class="col-3 col-form-label"><a href="~/GrupoComisionado">Grupo Comisionado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComisionado" name="cbComisionado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vestimenta" class="col-3 col-form-label"><a href="~/VestimentaUniforme">Vestimenta</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVestimenta" name="cbVestimenta"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label">Nombre del Evento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEvento" name="txtEvento" placeholder="Nombre del Evento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugar" name="txtLugar" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha y Hora de Salida</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaSalida" name="txtFechaSalida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha y Hora de Inicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaInicio" name="txtFechaInicio" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha y Hora de Termino</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaTermino" name="txtFechaTermino" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerimiento" class="col-3 col-form-label">Requerimiento de Movilidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtRequerimiento" name="txtRequerimiento" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacion" name="txtObservacion" placeholder="Observaciones" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzotresBandaMusicoComzotres">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Comision" class="col-3 col-form-label"><a href="~/TipoComision">Tipo de Comision</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComisione" name="cbComisione"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label"><a href="~/Evento">Evento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEventoe" name="cbEventoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Comisionado" class="col-3 col-form-label"><a href="~/GrupoComisionado">Grupo Comisionado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbComisionadoe" name="cbComisionadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vestimenta" class="col-3 col-form-label"><a href="~/VestimentaUniforme">Vestimenta</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVestimentae" name="cbVestimentae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Evento" class="col-3 col-form-label">Nombre del Evento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEventoe" name="txtEventoe" placeholder="Nombre del Evento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugare" name="txtLugare" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaSalida" class="col-3 col-form-label">Fecha y Hora de Salida</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaSalidae" name="txtFechaSalidae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaInicio" class="col-3 col-form-label">Fecha y Hora de Inicio</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaInicioe" name="txtFechaInicioe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTermino" class="col-3 col-form-label">Fecha y Hora de Termino</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaTerminoe" name="txtFechaTerminoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerimiento" class="col-3 col-form-label">Requerimiento de Movilidad</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtRequerimientoe" name="txtRequerimientoe" data-placeholder="Seleccione ...">
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacione" name="txtObservacione" placeholder="Observaciones" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzotresBandaMusicoComzotres">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComzotresBandaMusicoComzotres" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzotresBandaMusicoComzotres()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComzotresBandaMusicoComzotres" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo de Comision</th>
                <th>Evento</th>
                <th>Grupo Comisionado</th>
                <th>Vestimenta</th>
                <th>Nombre del Evento</th>
                <th>Lugar</th>
                <th>Fecha y Hora de Salida</th>
                <th>Fecha y Hora de Inicio</th>
                <th>Fecha y Hora de Termino</th>
                <th>Requerimiento de Movilidad</th>
                <th>Observaciones</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzotres/comzotres-bandamusicocomzotres.js" asp-append-version="true"></script>
}
