@{
    ViewData["Title"] = "MineríaIlegal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardMineriaIlegal/Individual" style="text-decoration:none;">Minería Ilegal</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanía </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitanía De Puerto </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaIntervenida" class="col-3 col-form-label">Area Intervenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAreaIntervenida" name="txtAreaIntervenida" placeholder="Area Intervenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RefMensajeNaval" class="col-3 col-form-label">Ref Mensaje Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRefMensajeNaval" name="txtRefMensajeNaval" placeholder="Ref Mensaje Naval" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FehcaIntervencion" class="col-3 col-form-label"> Fecha de Intervención</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraIntervencion" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraIntervencion" name="txtHoraIntervencion" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaIntervencion" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaIntervencion" name="txtDiaIntervencion" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioIntervencion" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioIntervencion" name="txtAnioIntervencion" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="UbicacionCoordenadasGeográficas " class="col-3 col-form-label"> Ubicación / Coordenadas Geográficas </label>
                    </div>     
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacionN" class="col-3 col-form-label">Latitud(Ubicación De Minería Ilegal)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionN" name="txtLatitudUbicacionN" placeholder="Latitud(Ubicación De Minería Ilegal)" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacionN" class="col-3 col-form-label">Longitud(Ubicación De Minería Ilegal ) </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionN" name="txtLongitudUbicacionN" placeholder="Longitud(Ubicación De Minería Ilegal ) " required>
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre De Unidad Interventora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label">Casco Unidad Naval</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCascoUnidadNaval" name="txtCascoUnidadNaval" placeholder="Casco Unidad Naval" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SectorExtraInstitucional" class="col-3 col-form-label"><a href="~/SectorExtraInstitucional">Sectores Extrainstitucionales Participantes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSectorExtraInstitucional" name="cbSectorExtraInstitucional"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoMaterialDestruido" class="col-3 col-form-label"><a href="~/TipoMaterialDestruido">Tipo De Material Destruidos</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoMaterialDestruido" name="cbTipoMaterialDestruido"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadPersonasDetenidas" class="col-3 col-form-label">Cantidad De Personas Detenidas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadPersonasDetenidas" name="txtCantidadPersonasDetenidas" placeholder="Cantidad De Personas Detenidas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardMineriaIlegal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanía </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitanía De Puerto </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AreaIntervenida" class="col-3 col-form-label">Area Intervenida</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAreaIntervenidae" name="txtAreaIntervenidae" placeholder="Area Intervenida" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="RefMensajeNaval" class="col-3 col-form-label">Ref Mensaje Naval</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRefMensajeNavale" name="txtRefMensajeNavale" placeholder="Ref Mensaje Naval" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="FehcaIntervencion" class="col-3 col-form-label"> Fecha de Intervención</label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="HoraIntervencion" class="col-3 col-form-label">Hora</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtHoraIntervencione" name="txtHoraIntervencione" placeholder="Hora" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DiaIntervencion" class="col-3 col-form-label">Dia</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtDiaIntervencione" name="txtDiaIntervencione" placeholder="Dia" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="AnioIntervencion" class="col-3 col-form-label">Año</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control form-control-sm" id="txtAnioIntervencione" name="txtAnioIntervencione" placeholder="Año" required>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="UbicacionCoordenadasGeográficas " class="col-3 col-form-label"> Ubicación / Coordenadas Geográficas </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LatitudUbicacionN" class="col-3 col-form-label">Latitud(Ubicación De Minería Ilegal)</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLatitudUbicacionNe" name="txtLatitudUbicacionNe" placeholder="Latitud(Ubicación De Minería Ilegal)" required>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="LongitudUbicacionN" class="col-3 col-form-label">Longitud(Ubicación De Minería Ilegal ) </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control form-control-sm" id="txtLongitudUbicacionNe" name="txtLongitudUbicacionNe" placeholder="Longitud(Ubicación De Minería Ilegal ) " required>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Nombre De Unidad Interventora</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CascoUnidadNaval" class="col-3 col-form-label">Casco Unidad Naval</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCascoUnidadNavale" name="txtCascoUnidadNavale" placeholder="Casco Unidad Naval" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SectorExtraInstitucional" class="col-3 col-form-label"><a href="~/SectorExtraInstitucional">Sectores Extrainstitucionales Participantes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSectorExtraInstitucionale" name="cbSectorExtraInstitucionale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoMaterialDestruido" class="col-3 col-form-label"><a href="~/TipoMaterialDestruido">Tipo De Material Destruidos</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoMaterialDestruidoe" name="cbTipoMaterialDestruidoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CantidadPersonasDetenidas" class="col-3 col-form-label">Cantidad De Personas Detenidas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidadPersonasDetenidase" name="txtCantidadPersonasDetenidase" placeholder="Cantidad De Personas Detenidas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardMineriaIlegal">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardMineriaIlegal()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardMineriaIlegal">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardMineriaIlegal/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardMineriaIlegal" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distrito De Capitanía </th>
                <th>Capitanía De Puerto </th>
                <th>Area Intervenida</th>
                <th>Ref Mensaje Naval</th>
                <th>Hora</th>
                <th>Dia</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Latitud(Ubicación De Minería Ilegal)</th>
                <th>Longitud(Ubicación De Minería Ilegal ) </th>
                <th>Nombre De Unidad Interventora</th>
                <th>Casco Unidad Naval</th>
                <th>Sectores Extrainstitucionales Participantes</th>
                <th>Tipo De Material Destruidos</th>
                <th>Cantidad De Personas Detenidas</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-mineriailegal.js" asp-append-version="true"></script>
}
