@{
    ViewData["Title"] = "Apotaciones Fondo Seguro Retiro y Cesacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DifosereceAportFondoRetiroCesacion/Individual" style="text-decoration:none;">Aportaciones al Fondo de Seguro Retiro y Cesación del Personal Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo Personal Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoPersonalM" name="cbTipoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexo" name="txtSexo" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoRemunerativo" class="col-3 col-form-label"><a href="~/GradoRemunerativo" style="text-decoration:none;">Grado Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoRemunerativo" name="cbGradoRemunerativo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPersonalN" class="col-3 col-form-label"><a href="~/SituacionPersonalNaval" style="text-decoration:none;">Situación Personal Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionPersonalN" name="cbSituacionPersonalN"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaN" name="txtFechaN" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngreso" name="txtFechaIngreso" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNombramiento" class="col-3 col-form-label">Fecha Nombramiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNombramiento" name="txtFechaNombramiento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPaseR" class="col-3 col-form-label">Fecha Pase Retiro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPaseR" name="txtFechaPaseR" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaReinconr" class="col-3 col-form-label">Fecha Reincorporación </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaReinconr" name="txtFechaReinconr" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPrimerA" class="col-3 col-form-label">Fecha Primer Aporte</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPrimerA" name="txtFechaPrimerA" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaUltimoA" class="col-3 col-form-label">Fecha Ultimo Aporte</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaUltimoA" name="txtFechaUltimoA" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NCuotasAport" class="col-3 col-form-label">Número Cuotas Aportadas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNCuotasAport" name="txtNCuotasAport" placeholder="Número Cuotas Aportadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AporteMensualU" class="col-3 col-form-label">Aporte Mensual Último</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAporteMensualU" name="txtAporteMensualU" placeholder="Aporte Mensual Último" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoLiquidacion" class="col-3 col-form-label">Tipo Liquidación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoLiquidacion" name="txtTipoLiquidacion" placeholder="Tipo Liquidación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DevolucionA" class="col-3 col-form-label">Devolución Aporte </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDevolucionA" name="txtDevolucionA" placeholder="Devolución Aporte " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaLiqidacion" class="col-3 col-form-label">Fecha Liquidación </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaLiqidacion" name="txtFechaLiqidacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CausalLiquidacion" class="col-3 col-form-label"><a href="~/CausalLiquidacion" style="text-decoration:none;">Causal Liquidación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCausalLiquidacion" name="cbCausalLiquidacion"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DifosereceAportFondoRetiroCesacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar" style="text-decoration:none;">Tipo Personal Militar</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbTipoPersonalMe" name="cbTipoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Sexo" class="col-3 col-form-label">Sexo</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSexoe" name="txtSexoe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia" style="text-decoration:none;">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoRemunerativo" class="col-3 col-form-label"><a href="~/GradoRemunerativo" style="text-decoration:none;">Grado Remunerativo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoRemunerativoe" name="cbGradoRemunerativoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionPersonalN" class="col-3 col-form-label"><a href="~/SituacionPersonalNaval" style="text-decoration:none;">Situación Personal Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSituacionPersonalNe" name="cbSituacionPersonalNe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaN" class="col-3 col-form-label">Fecha Nacimiento </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNe" name="txtFechaNe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIngreso" class="col-3 col-form-label">Fecha Ingreso</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIngresoe" name="txtFechaIngresoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNombramiento" class="col-3 col-form-label">Fecha Nombramiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNombramientoe" name="txtFechaNombramientoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPaseR" class="col-3 col-form-label">Fecha Pase Retiro</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPaseRe" name="txtFechaPaseRe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaReinconr" class="col-3 col-form-label">Fecha Reincorporación </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaReinconre" name="txtFechaReinconre" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaPrimerA" class="col-3 col-form-label">Fecha Primer Aporte</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaPrimerAe" name="txtFechaPrimerAe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaUltimoA" class="col-3 col-form-label">Fecha Ultimo Aporte</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaUltimoAe" name="txtFechaUltimoAe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NCuotasAport" class="col-3 col-form-label">Número Cuotas Aportadas</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNCuotasAporte" name="txtNCuotasAporte" placeholder="Número Cuotas Aportadas" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AporteMensualU" class="col-3 col-form-label">Aporte Mensual Último</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAporteMensualUe" name="txtAporteMensualUe" placeholder="Aporte Mensual Último" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoLiquidacion" class="col-3 col-form-label">Tipo Liquidación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTipoLiquidacione" name="txtTipoLiquidacione" placeholder="Tipo Liquidación" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DevolucionA" class="col-3 col-form-label">Devolución Aporte </label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDevolucionAe" name="txtDevolucionAe" placeholder="Devolución Aporte " required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaLiqidacion" class="col-3 col-form-label">Fecha Liquidación </label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaLiqidacione" name="txtFechaLiqidacione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CausalLiquidacion" class="col-3 col-form-label"><a href="~/CausalLiquidacion" style="text-decoration:none;">Causal Liquidación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCausalLiquidacione" name="cbCausalLiquidacione"></select>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DifosereceAportFondoRetiroCesacion">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DifosereceAportFondoRetiroCesacion" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDifosereceAportFondoRetiroCesacion()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDifosereceAportFondoRetiroCesacion" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Tipo Personal Militar</th>
                <th>DNI</th>
                <th>Sexo</th>
                <th>Dependencia</th>
                <th>Grado Remunerativo</th>
                <th>Situación Personal Naval</th>
                <th>Fecha Nacimiento</th>
                <th>Fecha Ingreso</th>
                <th>Fecha Nombramiento</th>
                <th>Fecha Pase Retiro</th>
                <th>Fecha Reincorporación</th>
                <th>Fecha Primer Aporte</th>
                <th>Fecha Ultimo Aporte</th>
                <th>Número Cuotas Aportadas</th>
                <th>Aporte Mensual Último</th>
                <th>Tipo Liquidación</th>
                <th>Devolución Aporte</th>
                <th>Fecha Liquidación</th>
                <th>Causal Liquidación</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/difoserece/difoserece-aportfondoretirocesacion.js" asp-append-version="true"></script>
}
