@{
    ViewData["Title"] = "AlistamientosCombustiblesLubricantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/AlistamientoCombustibleLubricante" style="text-decoration:none;">Alistamientos Combustibles Lubricantes</a></h1>

<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCombus" class="col-3 col-form-label">Código Combustible Lubricante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombus" name="txtCombus" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistema" class="col-3 col-form-label"><a href="~/SistemaCombustibleLubricante" style="text-decoration:none;">Sistema Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistema" name="cbSistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistema" class="col-3 col-form-label"><a href="~/SubsistemaCombustibleLubricante" style="text-decoration:none;">Subsistema Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubsistema" name="cbSubsistema"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipo" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipo" name="txtEquipo" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCombustible" class="col-3 col-form-label">Combustible</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustible" name="txtCombustible" placeholder="Combustible" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistente" class="col-3 col-form-label">Existente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistente" name="txtExistente" placeholder="Existente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNecesaria" class="col-3 col-form-label">Necesario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNecesaria" name="txtNecesaria" placeholder="Necesario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficiente" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficiente" name="txtCoeficiente" placeholder="Coeficiente" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoCombustibleLubricante">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>

<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="txtCombus" class="col-3 col-form-label">Código Combustible Lubricante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombuse" name="txtCombuse" placeholder="Codigo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistema" class="col-3 col-form-label"><a href="~/SistemaCombustibleLubricante" style="text-decoration:none;">Sistema Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSistemae" name="cbSistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbSistema" class="col-3 col-form-label"><a href="~/SubsistemaCombustibleLubricante" style="text-decoration:none;">Subsistema Combustible Lubricante</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbSubsistemae" name="cbSubsistemae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtEquipoe" class="col-3 col-form-label">Equipo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEquipoe" name="txtEquipoe" placeholder="Equipo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCombustiblee" class="col-3 col-form-label">Combustible</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCombustiblee" name="txtCombustiblee" placeholder="Munición" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtExistentee" class="col-3 col-form-label">Existente</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtExistentee" name="txtExistentee" placeholder="Existente" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtNecesariae" class="col-3 col-form-label">NecesariasGLS</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNecesariae" name="txtNecesariae" placeholder="NecesariasGLS" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtCoeficientee" class="col-3 col-form-label">Coeficiente Ponderación</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCoeficientee" name="txtCoeficientee" placeholder="Coeficiente" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/AlistamientoCombustibleLubricante">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>


<div id="listar">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaAlistamientoCombustibleLubricante()" />
    <table class="table table-striped" id="tblAlistamientoCombustibleLubricantes" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Código Combustible Lubricante</th>
                <th>Sistema Combustible Lubricante</th>
                <th>Subsistema Combustible Lubricante</th>
                <th>Equipo</th>
                <th>Combustible</th>
                <th>Existente</th>
                <th>NecesariasGLS</th>
                <th>Coeficiente Ponderación</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/alistamientocombustiblelubricante.js" asp-append-version="true"></script>
}