@{
    ViewData["Title"] = "Alistamiento de material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComzotresAlistamientoMaterialComzotres/Individual" style="text-decoration:none;">Alistamiento de material</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad/Batallón</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbCapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativa" name="cbCapacidadOperativa"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtAlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Alistamiento Material Requerido 3N</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtAlistamientoMaterialRequerido3N" name="txtAlistamientoMaterialRequerido3N"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequerido" name="txtRequerido" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativo" name="txtOperativo" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperativo" class="col-3 col-form-label">(%) de operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperativo" name="txtPorcentajeOperativo" placeholder="(%) de operatividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PonderadoFuncional" class="col-3 col-form-label">Ponderado funcional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderadoFuncional" name="txtPonderadoFuncional" placeholder="Ponderado funcional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamiento" class="col-3 col-form-label">Nivel de alistamiento parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamiento" name="txtNivelAlistamiento" placeholder="Nivel de alistamiento parcial" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzotresAlistamientoMaterialComzotres">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad/Batallón</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="cbCapacidadOperativa" class="col-3 col-form-label"><a href="~/CapacidadOperativa">Capacidad Operativa</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapacidadOperativae" name="cbCapacidadOperativae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtAlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Alistamiento Material Requerido 3N</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtAlistamientoMaterialRequerido3Ne" name="txtAlistamientoMaterialRequerido3Ne"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequeridoe" name="txtRequeridoe" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativoe" name="txtOperativoe" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperativo" class="col-3 col-form-label">(%) de operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperativoe" name="txtPorcentajeOperativoe" placeholder="(%) de operatividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PonderadoFuncional" class="col-3 col-form-label">Ponderado funcional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderadoFuncionale" name="txtPonderadoFuncionale" placeholder="Ponderado funcional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamiento" class="col-3 col-form-label">Nivel de alistamiento parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamientoe" name="txtNivelAlistamientoe" placeholder="Nivel de alistamiento parcial" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzotresAlistamientoMaterialComzotres/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComzotresAlistamientoMaterialComzotres" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzotresAlistamientoMaterialComzotres()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComzotresAlistamientoMaterialComzotres" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad/Batallón</th>
                <th>Capacidad operativa</th>
                <th>Capacidad Intrínseca (I Nivel)</th>
                <th>Ponderado (I Nivel)</th>
                <th>Sub Clasificación (II Nivel)</th>
                <th>Ponderado (II Nivel)</th>
                <th>Sub Clasificación (III Nivel)</th>
                <th>Ponderado (III Nivel)</th>
                <th>Requerido</th>
                <th>Operativo</th>
                <th>(%) de operatividad</th>
                <th>Ponderado funcional</th>
                <th>Nivel de alistamiento parcial</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzotres/comzotres-alistamientomaterialcomzotres.js" asp-append-version="true"></script>
}
