@{
    ViewData["Title"] = "Consumo Combustible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DiabasteConsumoCombustible/Individual" style="text-decoration:none;">Consumo de Combustible, Aceites y Grasas de las Unidades y Dependencias</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/ClaseCombustible">Clase de Combustible</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClaseCombustible" name="cbClaseCombustible"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VehiculoGrupo" class="col-3 col-form-label"><a href="~/VehiculoServicioGrupo">Medio de Transporte</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVehiculoGrupo" name="cbVehiculoGrupo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Punto" class="col-3 col-form-label"><a href="~/PuntoDistribucionCombustible">Punto de Distribucion</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPunto" name="cbPunto"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VehiculoTipo" class="col-3 col-form-label"><a href="~/VehiculoServicioTipo">Tipo de Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVehiculoTipo" name="cbVehiculoTipo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Presopuesto" class="col-3 col-form-label"><a href="~/TipoPresupuesto">Presopuesto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPresopuesto" name="cbPresopuesto"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Combustible" class="col-3 col-form-label"><a href="~/CombustibleEspecificacion">Tipo de Combustible</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCombustible" name="cbCombustible"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad Consumida (Galones/Libras)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidad" name="txtCantidad" placeholder="Cantidad Consumida (Galones/Libras)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Valor" class="col-3 col-form-label">Valor de la Cantidad Consumida (Soles) </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtValor" name="txtValor" placeholder="Valor de la Cantidad Consumida (Soles) " required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiabasteConsumoCombustible">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/ClaseCombustible">Clase de Combustible</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbClaseCombustible" name="cbClaseCombustible"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VehiculoGrupo" class="col-3 col-form-label"><a href="~/VehiculoServicioGrupo">Medio de Transporte</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVehiculoGrupoe" name="cbVehiculoGrupoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Punto" class="col-3 col-form-label"><a href="~/PuntoDistribucionCombustible">Punto de Distribucion</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuntoe" name="cbPuntoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="VehiculoTipo" class="col-3 col-form-label"><a href="~/VehiculoServicioTipo">Tipo de Vehiculo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbVehiculoTipoe" name="cbVehiculoTipoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Presopuesto" class="col-3 col-form-label"><a href="~/TipoPresupuesto">Presopuesto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPresopuestoe" name="cbPresopuestoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Combustible" class="col-3 col-form-label"><a href="~/CombustibleEspecificacion">Tipo de Combustible</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCombustiblee" name="cbCombustiblee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad Consumida (Galones/Libras)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidade" name="txtCantidade" placeholder="Cantidad Consumida (Galones/Libras)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Valor" class="col-3 col-form-label">Valor de la Cantidad Consumida (Soles) </label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtValore" name="txtValore" placeholder="Valor de la Cantidad Consumida (Soles) " required>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn btn-primary">Grabar</button>
                    </div>
                    <div class="col-md-6 text-center">
                        <a class="btn btn-danger" href="~/DiabasteConsumoCombustible">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DiabasteConsumoCombustible" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiabasteConsumoCombustible()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <br />
    <table class="table table-striped" id="tblDiabasteConsumoCombustible" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Clase de Combustible</th>
                <th>Medio de Transporte</th>
                <th>Punto de Distribucion</th>
                <th>Tipo de Vehiculo</th>
                <th>Presupuesto</th>
                <th>Tipo de Combustible</th>
                <th>Cantidad Consumida (Galones/Libras)</th>
                <th>Valor de la Cantidad Consumida (Soles) </th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diabaste/diabaste-consumocombustible.js" asp-append-version="true"></script>
}
