@{
    ViewData["Title"] = "Postulantes a la Escuela Naval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/DiresnaPostulantesEscuelaNaval/Individual" style="text-decoration:none;">Postulantes a la Escuela Naval</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGenero" name="txtGenero" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimiento" name="txtFechaNacimiento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Talla" class="col-3 col-form-label">Talla</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTalla" name="txtTalla" placeholder="Talla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPeso" name="txtPeso" placeholder="Peso" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimiento" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimiento" name="cbDepartamentoNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimiento" name="cbProvinciaNacimiento"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimiento" name="cbDistritoNacimiento"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDomicilio" class="col-3 col-form-label"> Lugar Domicilio Actual </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoDomicilio" name="cbDepartamentoDomicilio"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaDomicilio" name="cbProvinciaDomicilio"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoDomicilio" name="cbDistritoDomicilio"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoinstitucionEP" class="col-3 col-form-label">Tipo institución Educativa de Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoinstitucionEP" name="txtTipoinstitucionEP" data-placeholder="Seleccione ...">
                            <option value="1">Pública</option>
                            <option value="2">Privado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEP" class="col-3 col-form-label"><a href="~/InstitucionEducativa">Institución Educativa de Procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEP" name="cbInstitucionEP"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarInstitucion" class="col-3 col-form-label">Ubicación de Institución Educativa </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoInstitucion" name="cbDepartamentoInstitucion"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaInstitucion" name="cbProvinciaInstitucion"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoInstitucion" name="cbDistritoInstitucion"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PadresPertenecen" class="col-3 col-form-label">Padres pertenece/ perteneció FF.AA y PNP</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtPadresPertenecen" name="txtPadresPertenecen" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionPertenecePP" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución Pertenece/ Perteneció el Padre</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionPertenecePP" name="cbInstitucionPertenecePP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Nivel del Grado del Padre </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalM" name="cbTipoPersonalM"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUni" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad">Ocupación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCarreraUni" name="cbCarreraUni"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcursoAdmision" class="col-3 col-form-label">Concurso de Admisión</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcursoAdmision" name="txtConcursoAdmision" data-placeholder="Seleccione ...">
                            <option value="1">Regular</option>
                            <option value="2">Anticipado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadIngreso" class="col-3 col-form-label"><a href="~/ModalidadIngresoEsna">Modalidad de Ingreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbModalidadIngreso" name="cbModalidadIngreso"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPreparacion" class="col-3 col-form-label">Tipo de Preparación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoPreparacion" name="txtTipoPreparacion" data-placeholder="Seleccione ...">
                            <option value="1">Pre-ESNA</option>
                            <option value="2">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DeportistaCalificado" class="col-3 col-form-label">Deportista Calificado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDeportistaCalificado" name="txtDeportistaCalificado" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval Donde Postuló</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNaval" name="cbZonaNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="QVecesPostulo" class="col-3 col-form-label">Número de veces que Postula a la Institución</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtQVecesPostulo" name="txtQVecesPostulo" placeholder="Número de veces que Postula a la Institución" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicidadEs" class="col-3 col-form-label"><a href="~/PublicidadEsna">Como se enteró del Proceso de Admisión ESNA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicidadEs" name="cbPublicidadEs"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionIngreso" class="col-3 col-form-label">Situación Ingreso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionIngreso" name="txtSituacionIngreso" data-placeholder="Seleccione ...">
                            <option value="1">Ingresó</option>
                            <option value="2">No ingresó</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresnaPostulantesEscuelaNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Genero" class="col-3 col-form-label">Género</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtGeneroe" name="txtGeneroe" data-placeholder="Seleccione ...">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaNacimiento" class="col-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaNacimientoe" name="txtFechaNacimientoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Talla" class="col-3 col-form-label">Talla</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTallae" name="txtTallae" placeholder="Talla" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Peso" class="col-3 col-form-label">Peso</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPesoe" name="txtPesoe" placeholder="Peso" required>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarNacimiento" class="col-3 col-form-label"> Lugar Nacimiento </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoNacimientoe" name="cbDepartamentoNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaNacimientoe" name="cbProvinciaNacimientoe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoNacimientoe" name="cbDistritoNacimientoe"></select>
                        </div>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarDomicilio" class="col-3 col-form-label"> Lugar Domicilio Actual </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoDomicilioe" name="cbDepartamentoDomicilioe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaDomicilioe" name="cbProvinciaDomicilioe"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoDomicilioe" name="cbDistritoDomicilioe"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoinstitucionEP" class="col-3 col-form-label">Tipo institución Educativa de Procedencia</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoinstitucionEPe" name="txtTipoinstitucionEPe" data-placeholder="Seleccione ...">
                            <option value="1">Pública</option>
                            <option value="2">Privado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionEP" class="col-3 col-form-label"><a href="~/InstitucionEducativa">Institución Educativa de Procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionEPe" name="cbInstitucionEPe"></select>
                    </div>
                </div>
                <div class="divseccion">
                    <div class="card-header">
                        <label for="LugarInstitucion" class="col-3 col-form-label">Ubicación de Institución Educativa </label>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DepartamentoNacimiento" class="col-3 col-form-label"><a href="/DepartamentoUbigeo">Departamento</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDepartamentoInstitucione" name="cbDepartamentoInstitucione"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="ProvinciaNacimiento" class="col-3 col-form-label"><a href="/ProvinciaUbigeo">Provincia </a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbProvinciaInstitucione" name="cbProvinciaInstitucione"></select>
                        </div>
                    </div>
                    <div class="form-group row col-md-6">
                        <label for="DistritoNacimiento" class="col-3 col-form-label"><a href="/DistritoUbigeo">Distrito</a></label>
                        <div class="col-md-9">
                            <select class="form-control form-select-sm" id="cbDistritoInstitucione" name="cbDistritoInstitucione"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PadresPertenecen" class="col-3 col-form-label">Padres pertenece/ perteneció FF.AA y PNP</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtPadresPertenecene" name="txtPadresPertenecene" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="InstitucionPertenecePP" class="col-3 col-form-label"><a href="~/EntidadMilitar">Institución Pertenece/ Perteneció el Padre</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbInstitucionPertenecePPe" name="cbInstitucionPertenecePPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonalM" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Nivel del Grado del Padre </a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPersonalMe" name="cbTipoPersonalMe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CarreraUni" class="col-3 col-form-label"><a href="~/CarreraUniversitariaEspecialidad">Ocupación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCarreraUnie" name="cbCarreraUnie"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ConcursoAdmision" class="col-3 col-form-label">Concurso de Admisión</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtConcursoAdmisione" name="txtConcursoAdmisione" data-placeholder="Seleccione ...">
                            <option value="1">Regular</option>
                            <option value="2">Anticipado</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ModalidadIngreso" class="col-3 col-form-label"><a href="~/ModalidadIngresoEsna">Modalidad de Ingreso</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbModalidadIngresoe" name="cbModalidadIngresoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPreparacion" class="col-3 col-form-label">Tipo de Preparación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtTipoPreparacione" name="txtTipoPreparacione" data-placeholder="Seleccione ...">
                            <option value="1">Pre-ESNA</option>
                            <option value="2">Otros</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DeportistaCalificado" class="col-3 col-form-label">Deportista Calificado</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtDeportistaCalificadoe" name="txtDeportistaCalificadoe" data-placeholder="Seleccione ...">
                            <option value="1">Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ZonaNaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval Donde Postuló</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonaNavale" name="cbZonaNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="QVecesPostulo" class="col-3 col-form-label">Número de veces que Postula a la Institución</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtQVecesPostuloe" name="txtQVecesPostuloe" placeholder="Número de veces que Postula a la Institución" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PublicidadEs" class="col-3 col-form-label"><a href="~/PublicidadEsna">Como se enteró del Proceso de Admisión ESNA</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPublicidadEse" name="cbPublicidadEse"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionIngreso" class="col-3 col-form-label">Situación Ingreso</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionIngresoe" name="txtSituacionIngresoe" data-placeholder="Seleccione ...">
                            <option value="1">Ingresó</option>
                            <option value="2">No ingresó</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DiresnaPostulantesEscuelaNaval">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="/DiresnaPostulantesEscuelaNaval" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDiresnaPostulantesEscuelaNaval()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDiresnaPostulantesEscuelaNaval" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>DNI</th>
                <th>Género</th>
                <th>Fecha Nacimiento</th>
                <th>Talla</th>
                <th>Peso</th>
                <th>Lugar de Nacimiento</th>
                <th>Lugar Domicilio Actual</th>
                <th>Tipo institución Educativa de Procedencia</th>
                <th>Institución Educativa de Procedencia</th>
                <th>Ubicación de Institución Educativa</th>
                <th>Padres pertenece/ perteneció FF.AA y PNP</th>
                <th>Institución Pertenece/ Perteneció el Padre</th>
                <th>Nivel del Grado del Padre </th>
                <th>Ocupación</th>
                <th>Concurso de Admisión</th>
                <th>Modalidad de Ingreso</th>
                <th>Tipo de Preparación</th>
                <th>Deportista Calificado</th>
                <th>Zona Naval Donde Postuló</th>
                <th>Número de veces que Postula a la Institución</th>
                <th>Como se enteró del Proceso de Admisión ESNA</th>
                <th>Situación Ingreso</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/diresna/diresna-postulantesescuelanaval.js" asp-append-version="true"></script>
}
