@{
    ViewData["Title"] = "Emisión de notas de prensa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/JesernavimarServicioPrestado/Individual" style="text-decoration:none;">
        Servicios prestados
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbMes" name="cbMes"></select>
                </div>
                <div class="col-md-4">
                    <select class="form-select form-select-sm" data-placeholder="Seleccione ..." id="cbAnio" name="cbAnio"></select>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoServicio" class="col-3 col-form-label">Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoServicio" name="txtDocumentoServicio" placeholder="Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaServicioPrestado" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaServicioPrestado" name="txtFechaServicioPrestado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadAuxiliarNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Auxiliar</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadAuxiliarNaval" name="cbUnidadAuxiliarNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroViajeComercial" class="col-3 col-form-label">N° viaje comercial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroViajeComercial" name="txtNroViajeComercial" placeholder="N° viaje comercial" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeruZarpe" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto de zarpe</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPeruZarpe" name="cbPuertoPeruZarpe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoZarpe" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoZarpe" name="cbDepartamentoZarpe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaZarpe" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaZarpe" name="cbProvinciaZarpe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoZarpe" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoZarpe" name="cbDistritoZarpe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraZarpe" class="col-3 col-form-label">Fecha y hora de zarpe</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaHoraZarpe" name="txtFechaHoraZarpe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ocurrencia" class="col-3 col-form-label">Ocurrencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOcurrencia" name="txtOcurrencia" placeholder="Ocurrencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeruArribo" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto de arribo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPeruArribo" name="cbPuertoPeruArribo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoArribo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoArribo" name="cbDepartamentoArribo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaArribo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaArribo" name="cbProvinciaArribo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoArribo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoArribo" name="cbDistritoArribo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraArribo" class="col-3 col-form-label">Fecha y hora de arribo</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaHoraArribo" name="txtFechaHoraArribo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EmpresaReceptoraServicio" class="col-3 col-form-label">Empresa a la cual se brinda el servicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEmpresaReceptoraServicio" name="txtEmpresaReceptoraServicio" placeholder="Empresa a la cual se brinda el servicio" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JesernavimarServicioPrestado">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">UNIDAD</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DocumentoServicio" class="col-3 col-form-label">Documento</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDocumentoServicioe" name="txtDocumentoServicioe" placeholder="Documento" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaServicioPrestado" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaServicioPrestadoe" name="txtFechaServicioPrestadoe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadAuxiliarNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad Auxiliar</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadAuxiliarNavale" name="cbUnidadAuxiliarNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NroViajeComercial" class="col-3 col-form-label">N° viaje comercial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNroViajeComerciale" name="txtNroViajeComerciale" placeholder="N° viaje comercial" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeruZarpe" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto de zarpe</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPeruZarpee" name="cbPuertoPeruZarpee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoZarpe" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoZarpee" name="cbDepartamentoZarpee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaZarpe" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaZarpee" name="cbProvinciaZarpee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoZarpe" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoZarpee" name="cbDistritoZarpee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraZarpe" class="col-3 col-form-label">Fecha y hora de zarpe</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaHoraZarpee" name="txtFechaHoraZarpee" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Ocurrencia" class="col-3 col-form-label">Ocurrencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOcurrenciae" name="txtOcurrenciae" placeholder="Ocurrencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeruArribo" class="col-3 col-form-label"><a href="~/PuertoPeru">Puerto de arribo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPeruArriboe" name="cbPuertoPeruArriboe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DepartamentoArribo" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoArriboe" name="cbDepartamentoArriboe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProvinciaArribo" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciaArriboe" name="cbProvinciaArriboe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DistritoArribo" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoArriboe" name="cbDistritoArriboe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaHoraArribo" class="col-3 col-form-label">Fecha y hora de arribo</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaHoraArriboe" name="txtFechaHoraArriboe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EmpresaReceptoraServicio" class="col-3 col-form-label">Empresa a la cual se brinda el servicio</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEmpresaReceptoraServicioe" name="txtEmpresaReceptoraServicioe" placeholder="Empresa a la cual se brinda el servicio" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/JesernavimarServicioPrestado/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaJesernavimarServicioPrestado()" />
    <div class="row align-items-start mb-4">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblJesernavimarServicioPrestado" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad que presta servicio</th>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Unidad Auxiliar</th>
                <th>N° viaje comercial</th>
                <th>Puerto de zarpe</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Fecha y hora de zarpe</th>
                <th>Ocurrencia</th>
                <th>Puerto de arribo</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Fecha y hora de arribo</th>
                <th>Empresa a la cual se brinda el servicio</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/jesernavimar/jesernavimar-servicioprestado.js" asp-append-version="true"></script>
}
