@{
    ViewData["Title"] = "Servicio Dispositivo Seguridad Prestado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComzodosServicioDispositivoSeguridadPrestado/Individual" style="text-decoration:none;">Servicios de Dispositivos de Seguridad Prestados</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaSoli" class="col-3 col-form-label">Fecha de Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSoli" name="txtFechaSoli" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zona" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Militar Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZona" name="cbZona"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIni" class="col-3 col-form-label">Fecha y Hora Inicio Comision</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaIni" name="txtFechaIni" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha y Hora Termino Comision</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaTer" name="txtFechaTer" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Participante" class="col-3 col-form-label">Efectivos Participantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtParticipante" name="txtParticipante" placeholder="Efectivos Participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugar" name="txtLugar" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamento" name="cbDepartamento"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvincia" name="cbProvincia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistrito" name="cbDistrito"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observacion</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacion" name="txtObservacion" placeholder="Observacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Comision" class="col-3 col-form-label">Comisiones por mes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtComision" name="txtComision" placeholder="Comisiones por mes" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzodosServicioDispositivoSeguridadPrestado">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaSoli" class="col-3 col-form-label">Fecha de Solicitud</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaSolie" name="txtFechaSolie" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zona" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Militar Solicitante</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbZonae" name="cbZonae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaIni" class="col-3 col-form-label">Fecha y Hora Inicio Comision</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaInie" name="txtFechaInie" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaTer" class="col-3 col-form-label">Fecha y Hora Termino Comision</label>
                    <div class="col-md-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="txtFechaTere" name="txtFechaTere" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Participante" class="col-3 col-form-label">Efectivos Participantes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtParticipantee" name="txtParticipantee" placeholder="Efectivos Participantes" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Lugar" class="col-3 col-form-label">Lugar</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtLugare" name="txtLugare" placeholder="Lugar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Departamento" class="col-3 col-form-label"><a href="~/DepartamentoUbigeo">Departamento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDepartamentoe" name="cbDepartamentoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Provincia" class="col-3 col-form-label"><a href="~/ProvinciaUbigeo">Provincia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbProvinciae" name="cbProvinciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Distrito" class="col-3 col-form-label"><a href="~/DistritoUbigeo">Distrito</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDistritoe" name="cbDistritoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observacion" class="col-3 col-form-label">Observacion</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacione" name="txtObservacione" placeholder="Observacion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Comision" class="col-3 col-form-label">Comisiones por mes</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtComisione" name="txtComisione" placeholder="Comisiones por mes" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComzodosServicioDispositivoSeguridadPrestado">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/ComzodosServicioDispositivoSeguridadPrestado" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComzodosServicioDispositivoSeguridadPrestado()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblComzodosServicioDispositivoSeguridadPrestado" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Fecha de Solicitud</th>
                <th>Zona Militar Solicitante</th>
                <th>Dependencia</th>
                <th>Fecha y Hora Inicio Comision</th>
                <th>Fecha y Hora Termino Comision</th>
                <th>Efectivos Participantes</th>
                <th>Lugar</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Observacion</th>
                <th>Comisiones por mes</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comzodos/comzodos-serviciodispositivoseguridadprestado.js" asp-append-version="true"></script>
}
