@{
    ViewData["Title"] = "Alistamiento de material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/ComflotfluAlistamientoMaterialComflotflu/Individual" style="text-decoration:none;">
        Alistamiento de material
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad/Batallón</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
          
                 <div class="form-group row col-md-6">
                    <label for="txtAlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Sub-clasificación (III nivel)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtAlistamientoMaterialRequerido3N" name="txtAlistamientoMaterialRequerido3N"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtCapacidadIntrinseca" class="col-3 col-form-label">Capacidad intrínseca (I nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadIntrinseca" name="txtCapacidadIntrinseca" placeholder="Capacidad intrínseca (I nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtPonderado1N" class="col-3 col-form-label">Ponderación de capacidad intrínseca (I nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado1N" name="txtPonderado1N" placeholder="Ponderación de capacidad intrínseca (I nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtSubclasificacion2" class="col-3 col-form-label">Sub-clasificación (II nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion2" name="txtSubclasificacion2" placeholder="Sub-clasificación (II nivel)" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPonderado2Nivel" class="col-3 col-form-label">Ponderación de capacidad intrínseca (II nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado2Nivel" name="txtPonderado2Nivel" placeholder="Ponderación de capacidad intrínseca (II nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtPonderado3Nivel" class="col-3 col-form-label">Ponderación de capacidad intrínseca (III nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado3Nivel" name="txtPonderado3Nivel" placeholder="Ponderación de capacidad intrínseca (III nivel)" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequerido" name="txtRequerido" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOperativo" name="txtOperativo" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperativo" class="col-3 col-form-label">(%) de operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperativo" name="txtPorcentajeOperativo" placeholder="(%) de operatividad" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluAlistamientoMaterialComflotflu">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad/Batallón</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtAlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Sub-clasificación (III nivel)</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtAlistamientoMaterialRequerido3Ne" name="txtAlistamientoMaterialRequerido3Ne"></select>
                    </div>
                </div>


                <div class="form-group row col-md-6">
                    <label for="txtCapacidadIntrinseca" class="col-3 col-form-label">Capacidad intrínseca (I nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadIntrinsecae" name="txtCapacidadIntrinsecae" placeholder="Capacidad intrínseca (I nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtPonderado1N" class="col-3 col-form-label">Ponderación de capacidad intrínseca (I nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado1Ne" name="txtPonderado1Ne" placeholder="Ponderación de capacidad intrínseca (I nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtSubclasificacion2" class="col-3 col-form-label">Sub-clasificación (II nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtSubclasificacion2e" name="txtSubclasificacion2e" placeholder="Sub-clasificación (II nivel)" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="txtPonderado2Nivel" class="col-3 col-form-label">Ponderación de capacidad intrínseca (II nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado2Nivele" name="txtPonderado2Nivele" placeholder="Ponderación de capacidad intrínseca (II nivel)" disabled>
                    </div>
                </div>

                <div class="form-group row col-md-6">
                    <label for="txtPonderado3Nivel" class="col-3 col-form-label">Ponderación de capacidad intrínseca (III nivel)</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderado3Nivele" name="txtPonderado3Nivele" placeholder="Ponderación de capacidad intrínseca (III nivel)" disabled>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtRequeridoe" name="txtRequeridoe" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtOperativoe" name="txtOperativoe" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperativo" class="col-3 col-form-label">(%) de operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperativoe" name="txtPorcentajeOperativoe" placeholder="(%) de operatividad" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComflotfluAlistamientoMaterialComflotflu/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComflotfluAlistamientoMaterialComflotflu()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComflotfluAlistamientoMaterialComflotflu">Masiva</a>
            <a class="dropdown-item" href="~/ComflotfluAlistamientoMaterialComflotflu/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComflotfluAlistamientoMaterialComflotflu" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad/Batallón</th>
                <th>Capacidad intrínseca (I nivel)</th>
                <th>Ponderación de capacidad intrínseca (I nivel)</th>
                <th>Sub-clasificación (II nivel)</th>
                <th>Ponderación de capacidad intrínseca (II nivel)</th>
                <th>Sub-clasificación (III nivel)</th>
                <th>Ponderación de capacidad intrínseca (III nivel)</th>
                <th>Requerido</th>
                <th>Operativo</th>
                <th>(%) de operatividad</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comflotflu/comflotflu-alistamientomaterialcomflotflu.js" asp-append-version="true"></script>
}
