header.linea {
    height: 1px;
    background: #C88800;
}

.header-distributed .header-left, .header-distributed .header-center, .header-distributed .header-right {
    display: inline-block;
    vertical-align: top;
}

.header-distributed {
    background-color: #001E38;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 30px 19px 70px;
}
/* Header left */
.imgheader1 {
    height: 80px;
}

.header-distributed .header-left {
    width: 30%;
}

/* header Center */
.header-distributed .header-center {
    width: 35%;
}

.p2 {
    position: absolute;
    width: 354px;
    height: 25px;
    left: 163px;
    top: 60px;
    font-family: 'Century-Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #C88800;
}

.p1 {
    position: absolute;
    width: 354px;
    height: 25px;
    left: 163px;
    top: 39px;
    font-family: 'Century-Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #FEFEFE;
}

.p3 {
    position: absolute;
    width: 354px;
    height: 25px;
    left: 163px;
    top: 85px;
    font-family: 'Century-Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FEFEFE;
}

/* header Right */
.header-distributed .header-right {
    width: 30%;
    text-align: right;
}

header.cabecera {
    display: flex;
    height: 30px;
    align-items: center;
    top: 113px;
    background: #C88800;
}

body {
    font-family: 'Century-Gothic';
}

.p4 {
    background: #001E38;
    border: #001E38;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    color: #337ab7;
    width: auto;
    margin: auto;
}

.ayuda {
    justify-content: right;
    margin-top: 19px;
}

.modal-header {
    background: #001E38;
    color: #C88800;
}

.modal-footer {
    background: #001E38;
    color: #C88800;
}

section.cajaazul-mc {
    justify-self: center;
    background: #001E38;
    display: flex;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    color: #C88800;
}

section.cajablanca {
    justify-self: center;
    display: flex;
    justify-content: center;
}

.IS-mc {
    margin: 22px;
}

.logo1-mc {
    padding:15px;
    width: 180px;
}

.cajadorada-mc {
    justify-self: center;
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    justify-content: center;
    background: #C88800;
    height: 70px;
}

.boton-mc {
    background: #001E38;
    color: #C88800;
    width: auto;
    height: 30px;
    margin: auto;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed {
    background-color: #001E38;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 70px 19px 70px;
}
/* Footer left */

.imgfooter {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed .footer-di-name {
    color: #c88800;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #c88800;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

    .footer-distributed .footer-company-about span {
        display: block;
        color: #54697E;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #c88800;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

    .footer-distributed .footer-company-about span {
        display: block;
        color: #54697E;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}

.lineaf {
    height: 1px;
    background: #DDDDDD;
}

.footerfinal {
    background: #C88800;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
