@{
    ViewData["Title"] = "Atenciones protocolares VIP y facilidades protocolares aduaneros en el Aeropuerto Internacional Jorge Chavez";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DimarAtencionProtocolarAeropuertoCallao/Individual" style="text-decoration:none;">Atenciones protocolares VIP y facilidades protocolares aduaneros en el Aeropuerto Internacional Jorge Chavez</a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="FechaAdquisicion" class="col-3 col-form-label">Fecha de adquisición</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAdquisicion" name="txtFechaAdquisicion" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPresenteProtocolar" class="col-3 col-form-label"><a href="~/TipoPresenteProtocolar">Tipo de presente protocolar</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPresenteProtocolar" name="cbTipoPresenteProtocolar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidad" name="txtCantidad" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedida" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedida" name="cbUnidadMedida"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CostoUnitario" class="col-3 col-form-label">Costo unitario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCostoUnitario" name="txtCostoUnitario" placeholder="Costo unitario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusion" name="cbFrecuenciaDifusion"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarAtencionProtocolarAeropuertoCallao">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">

                <div class="form-group row col-md-6">
                    <label for="FechaAdquisicion" class="col-3 col-form-label">Fecha de adquisición</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaAdquisicione" name="txtFechaAdquisicione" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPresenteProtocolar" class="col-3 col-form-label"><a href="~/TipoPresenteProtocolar">Tipo de presente protocolar</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoPresenteProtocolare" name="cbTipoPresenteProtocolare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cantidad" class="col-3 col-form-label">Cantidad</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCantidade" name="txtCantidade" placeholder="Cantidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="UnidadMedida" class="col-3 col-form-label"><a href="~/UnidadMedida">Unidad de medida</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadMedidae" name="cbUnidadMedidae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CostoUnitario" class="col-3 col-form-label">Costo unitario</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCostoUnitarioe" name="txtCostoUnitarioe" placeholder="Costo unitario" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FrecuenciaDifusion" class="col-3 col-form-label"><a href="~/FrecuenciaDifusion">Frecuencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbFrecuenciaDifusione" name="cbFrecuenciaDifusione"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DimarAtencionProtocolarAeropuertoCallao/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DimarAtencionProtocolarAeropuertoCallao" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDimarAtencionProtocolarAeropuertoCallao()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>
    </div>
    <table class="table table-striped" id="tblDimarAtencionProtocolarAeropuertoCallao" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Fecha de adquisición</th>
                <th>Tipo de presente protocolar</th>
                <th>Cantidad</th>
                <th>Unidad de medida</th>
                <th>Costo unitario</th>
                <th>Frecuencia</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/dimar/dimar-atencionprotocolaraeropuertocallao.js" asp-append-version="true"></script>
}
