@{
    ViewData["Title"] = "MineríaIlegal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/ComoperguardNavePuertoRETRAM/Individual" style="text-decoration:none;">Naves en Puerto – RETRAM</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitania" name="cbJefaturaDistritoCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania De Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitania" name="cbCapitania"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IndicativoLlamada" class="col-3 col-form-label">Indicativo De Llamada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIndicativoLlamada" name="txtIndicativoLlamada" placeholder="Indicativo De Llamada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreBuque" class="col-3 col-form-label">Buque</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreBuque" name="txtNombreBuque" placeholder="Buque" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">MNAC/Bandera</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisUbigeo" name="cbPaisUbigeo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo Nave</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoNave" name="cbTipoNave"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroOMI" class="col-3 col-form-label">N° OMI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroOMI" name="txtNumeroOMI" placeholder="N° OMI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AB" class="col-3 col-form-label">AB</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtAB" name="txtAB" placeholder="AB" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisProcedencia" class="col-3 col-form-label"><a href="~/PaisUbigeo">Procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisProcedencia" name="cbPaisProcedencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaArribo" class="col-3 col-form-label">Fecha Arribo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaArribo" name="txtFechaArribo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraArribo" class="col-3 col-form-label">Hora Arribo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraArribo" name="txtHoraArribo" placeholder="Hora Arribo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Ubicación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPeru" name="cbPuertoPeru"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoPermanencia" class="col-3 col-form-label">Tiempo Permanencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTiempoPermanencia" name="txtTiempoPermanencia" placeholder="Tiempo Permanencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProximosPuertos" class="col-3 col-form-label">Próximo Puerto</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtProximosPuertos" name="txtProximosPuertos" placeholder="Próximo Puerto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TripulantesChilenos" class="col-3 col-form-label">Tripulantes Chilenos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTripulantesChilenos" name="txtTripulantesChilenos" placeholder="Tripulantes Chilenos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TripulantesEcuatorianos" class="col-3 col-form-label">Tripulantes Ecuatorianos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTripulantesEcuatorianos" name="txtTripulantesEcuatorianos" placeholder="Tripulantes Ecuatorianos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservaciones" name="txtObservaciones" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNavePuertoRETRAM">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="JefaturaDistritoCapitania" class="col-3 col-form-label"><a href="~/JefaturaDistritoCapitania">Jefatura De Distrito De Capitanias</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbJefaturaDistritoCapitaniae" name="cbJefaturaDistritoCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Capitania" class="col-3 col-form-label"><a href="~/Capitania">Capitania De Puerto</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCapitaniae" name="cbCapitaniae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="IndicativoLlamada" class="col-3 col-form-label">Indicativo De Llamada</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtIndicativoLlamadae" name="txtIndicativoLlamadae" placeholder="Indicativo De Llamada" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreBuque" class="col-3 col-form-label">Buque</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreBuquee" name="txtNombreBuquee" placeholder="Buque" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisUbigeo" class="col-3 col-form-label"><a href="~/PaisUbigeo">MNAC/Bandera</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisUbigeoe" name="cbPaisUbigeoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoNave" class="col-3 col-form-label"><a href="~/TipoNave">Tipo</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbTipoNavee" name="cbTipoNavee"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroOMI" class="col-3 col-form-label">N° OMI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroOMIe" name="txtNumeroOMIe" placeholder="N° OMI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AB" class="col-3 col-form-label">AB</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtABe" name="txtABe" placeholder="AB" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PaisProcedencia" class="col-3 col-form-label"><a href="~/PaisUbigeo">Procedencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPaisProcedenciae" name="cbPaisProcedenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaArribo" class="col-3 col-form-label">Fecha Arribo</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaArriboe" name="txtFechaArriboe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="HoraArribo" class="col-3 col-form-label">Hora Arribo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtHoraArriboe" name="txtHoraArriboe" placeholder="Hora Arribo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PuertoPeru" class="col-3 col-form-label"><a href="~/PuertoPeru">Ubicación</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbPuertoPerue" name="cbPuertoPerue"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TiempoPermanencia" class="col-3 col-form-label">Tiempo Permanencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtTiempoPermanenciae" name="txtTiempoPermanenciae" placeholder="Tiempo Permanencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ProximosPuertos" class="col-3 col-form-label">Próximo Puerto</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtProximosPuertose" name="txtProximosPuertose" placeholder="Próximo Puerto" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TripulantesChilenos" class="col-3 col-form-label">Tripulantes Chilenos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTripulantesChilenose" name="txtTripulantesChilenose" placeholder="Tripulantes Chilenos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TripulantesEcuatorianos" class="col-3 col-form-label">Tripulantes Ecuatorianos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtTripulantesEcuatorianose" name="txtTripulantesEcuatorianose" placeholder="Tripulantes Ecuatorianos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Observaciones" class="col-3 col-form-label">Observaciones</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtObservacionese" name="txtObservacionese" placeholder="Observaciones" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComoperguardNavePuertoRETRAM">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComoperguardNavePuertoRETRAM()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComoperguardNavePuertoRETRAM">Masiva</a>
            <a class="dropdown-item" href="~/ComoperguardNavePuertoRETRAM/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComoperguardNavePuertoRETRAM" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Jefatura De Distrito De Capitanias</th>
                <th>Capitania De Puerto</th>
                <th>Indicativo De Llamada</th>
                <th>Buque</th>
                <th>MNAC/Bandera</th>
                <th>Tipo</th>
                <th>N° OMI</th>
                <th>AB</th>
                <th>Procedencia</th>
                <th>Fecha Arribo</th>
                <th>Hora Arribo</th>
                <th>Ubicación</th>
                <th>Tiempo Permanencia</th>
                <th>Próximo Puerto</th>
                <th>Tripulantes Chilenos</th>
                <th>Tripulantes Ecuatorianos</th>
                <th>Observaciones</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comoperguard/comoperguard-navepuertoretram.js" asp-append-version="true"></script>
}
