@{
    ViewData["Title"] = "AsuntosDisciplinario(InvestigacionesEtapaPreliminar)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1><a href="~/IpecamarAsuntosDisciplinarios/Individual" style="text-decoration:none;">Asuntos Disciplinarios (Investigaciones en Etapa Preliminar)</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="form-group row col-md-6">
                <label for="carga" class="col-3 col-form-label">Carga</label>
                <div class="form-group row col-md-6">
                    <div class="col"><select class="form-select-sm form-control-sm" id="cargasR" name="cargasR"></select></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UUDDConvocante" class="col-3 col-form-label">UU/DD convocante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUUDDConvocante" name="txtUUDDConvocante" placeholder="UU/DD convocante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label"><a href="~/MotivoInvestigacion">Motivo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivo" name="cbMotivo"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DetalleI" class="col-3 col-form-label"><a href="~/DetalleInfraccion">Detalle de la Infracción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDetalleI" name="cbDetalleI"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha inicio investigación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaI" name="txtFechaI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Fecha término investigación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaT" name="txtFechaT" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlazoInv" class="col-3 col-form-label">Plazo de la investigación (días hábiles)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPlazoInv" name="txtPlazoInv" placeholder="Plazo de la investigación (días hábiles)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanaval" name="cbZonanaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CartegoriaPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Categoría del personal investigado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCartegoriaPersonal" name="cbCartegoriaPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del personal investigado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonal" name="cbGradoPersonal"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionInv" class="col-3 col-form-label">Situación de la investigación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionInv" name="txtSituacionInv" data-placeholder="Seleccione ...">
                            <option value="En proceso">En proceso </option>
                            <option value="Concluido">Concluido</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadiInv" class="col-3 col-form-label"><a href="~/ResultadoInvestigacion">Resultado de la investigación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbResultadiInv" name="cbResultadiInv"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IpecamarAsuntosDisciplinarios">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UUDDConvocante" class="col-3 col-form-label">UU/DD convocante</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtUUDDConvocantee" name="txtUUDDConvocantee" placeholder="UU/DD convocante" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Motivo" class="col-3 col-form-label"><a href="~/MotivoInvestigacion">Motivo</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbMotivoe" name="cbMotivoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DetalleI" class="col-3 col-form-label"><a href="~/DetalleInfraccion">Detalle de la Infracción</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbDetalleIe" name="cbDetalleIe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaI" class="col-3 col-form-label">Fecha inicio investigación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaIe" name="txtFechaIe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="FechaT" class="col-3 col-form-label">Fecha término investigación</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechaTe" name="txtFechaTe" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PlazoInv" class="col-3 col-form-label">Plazo de la investigación (días hábiles)</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPlazoInve" name="txtPlazoInve" placeholder="Plazo de la investigación (días hábiles)" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Zonanaval" class="col-3 col-form-label"><a href="~/ZonaNaval">Zona Naval</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbZonanavale" name="cbZonanavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CartegoriaPersonal" class="col-3 col-form-label"><a href="~/TipoPersonalMilitar">Categoría del personal investigado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbCartegoriaPersonale" name="cbCartegoriaPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonal" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado del personal investigado</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbGradoPersonale" name="cbGradoPersonale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SituacionInv" class="col-3 col-form-label">Situación de la investigación</label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="txtSituacionInve" name="txtSituacionInve" data-placeholder="Seleccione ...">
                            <option value="En proceso">En proceso </option>
                            <option value="Concluido">Concluido</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ResultadiInv" class="col-3 col-form-label"><a href="~/ResultadoInvestigacion">Resultado de la investigación</a></label>
                    <div class="col-md-9">
                        <select class="form-select form-select-sm" id="cbResultadiInve" name="cbResultadiInve"></select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/IpecamarAsuntosDisciplinarios">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar">
    <p><a href="~/IpecamarAsuntosDisciplinarios" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaIpecamarAsuntosDisciplinarios()" />
    <div class="row align-items-start">
        <div class="col"><select class="form-select form-control-sm" id="cargas" name="cargas"></select></div>
        <div class="col">
            <input type='button' id="btn_search" value="Buscar" class="btn btn-primary">
            <input type='button' id="btn_all" value="Mostrar Todos" class="btn btn-primary">
        </div>

    </div>

    <table class="table table-striped" id="tblIpecamarAsuntosDisciplinarios" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>UU/DD convocante</th>
                <th>Motivo</th>
                <th>Detalle de la Infracción </th>
                <th>Fecha inicio investigación </th>
                <th>Fecha término investigación</th>
                <th>Plazo de la investigación (días hábiles) </th>
                <th>Zona naval</th>
                <th>Categoría del personal investigado</th>
                <th>Grado del personal investigado</th>
                <th>Situación de la investigación</th>
                <th>Resultado de la investigación</th>
                <th>Código Cargo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal1-header">
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-si">Si</button>
                <button type="button" class="btn btn-danger" id="modal-btn-no">No</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="/js/ipecamar/ipecamar-asuntosdisciplinarios.js" asp-append-version="true"></script>

}
