@{
    ViewData["Title"] = "Plan Anual de Adquisiciones Contrataciones SubUnidad Ejecutora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/DirecomarPlanAnualAdquisicionContratacionesSUE/Individual" style="text-decoration:none;">Plan Anual de Adquisiciones y Contrataciones por Sub Unidad Ejecutora</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <br>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnio" name="txtAnio" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SUE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">SUE</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSUE" name="cbSUE"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Incluidos" class="col-3 col-form-label">Incluidos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIncluidos" name="txtIncluidos" placeholder="Incluidos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteIncluido" class="col-3 col-form-label">Importe Incluido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteIncluido" name="txtImporteIncluido" placeholder="Importe Incluido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Convocado" class="col-3 col-form-label">Convocado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConvocado" name="txtConvocado" placeholder="Convocado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteConvocado" class="col-3 col-form-label">Importe Convocado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteConvocado" name="txtImporteConvocado" placeholder="Importe Convocado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Excluido" class="col-3 col-form-label">Excluido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExcluido" name="txtExcluido" placeholder="Excluido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteExcluido" class="col-3 col-form-label">Importe Excluido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteExcluido" name="txtImporteExcluido" placeholder="Importe Excluido" required>
                    </div>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirecomarPlanAnualAdquisicionContratacionesSUE">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Anio" class="col-3 col-form-label">Año</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtAnioe" name="txtAnioe" placeholder="Año" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="SUE" class="col-3 col-form-label"><a href="~/SubUnidadEjecutora">SUE</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbSUEe" name="cbSUEe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Incluidos" class="col-3 col-form-label">Incluidos</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtIncluidose" name="txtIncluidose"  placeholder="Incluidos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteIncluido" class="col-3 col-form-label">Importe Incluido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteIncluidoe" name="txtImporteIncluidoe" placeholder="Importe Incluido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Convocado" class="col-3 col-form-label">Convocado</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtConvocadoe" name="txtConvocadoe" placeholder="Convocado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteConvocado" class="col-3 col-form-label">Importe Convocado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteConvocadoe" name="txtImporteConvocadoe" placeholder="Importe Convocado" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Excluido" class="col-3 col-form-label">Excluido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExcluidoe" name="txtExcluidoe" placeholder="Excluido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="ImporteExcluido" class="col-3 col-form-label">Importe Excluido</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtImporteExcluidoe" name="txtImporteExcluidoe" placeholder="Importe Excluido" required>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DirecomarPlanAnualAdquisicionContratacionesSUE">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DirecomarPlanAnualAdquisicionContratacionesSUE" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDirecomarPlanAnualAdquisicionContratacionesSUE()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDirecomarPlanAnualAdquisicionContratacionesSUE" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Año</th>
                <th>Mes</th>
                <th>SUE</th>
                <th>Incluidos</th>
                <th>Importe Incluido</th>
                <th>Convocado</th>
                <th>Importe Convocado</th>
                <th>Excluido</th>
                <th>Importe Excluido</th>
                <th>Codigo Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/direcomar/direcomar-plananualadquisicioncontratacionsue.js" asp-append-version="true"></script>
}
