@{
    ViewData["Title"] = "Alistamiento de Material";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/Combima1AlistamientoMaterial/Individual" style="text-decoration:none;">Alistamiento de Material</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNaval" name="cbUnidadNaval"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label">Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadOperativa" name="txtCapacidadOperativa" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Ponderación Capacidad Intrínseca III Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMaterialRequerido3N" name="cbAlistamientoMaterialRequerido3N"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequerido" name="txtRequerido" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativo" name="txtOperativo" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Existencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExistencia" name="txtExistencia" placeholder="Existencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperatividad" name="txtPorcentajeOperatividad" placeholder="Porcentaje Operatividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeFuncional" class="col-3 col-form-label">Ponderado Funcional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderadoFuncional" name="txtPonderadoFuncional" placeholder="Porcentaje Funcional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamientoParcial" class="col-3 col-form-label">Nivel De Alistamiento Parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamientoParcial" name="txtNivelAlistamientoParcial" placeholder="Nivel de Alistamiento Parcial" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/Combima1AlistamientoMaterial">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="UnidadNaval" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidadNavale" name="cbUnidadNavale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CapacidadOperativa" class="col-3 col-form-label">Capacidad Operativa</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCapacidadOperativae" name="txtCapacidadOperativae" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="AlistamientoMaterialRequerido3N" class="col-3 col-form-label"><a href="~/AlistamientoMaterialRequerido3N">Ponderación Capacidad Intrínseca III Nivel</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbAlistamientoMaterialRequerido3Ne" name="cbAlistamientoMaterialRequerido3Ne"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Requerido" class="col-3 col-form-label">Requerido</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRequeridoe" name="txtRequeridoe" placeholder="Requerido" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Operativo" class="col-3 col-form-label">Operativo</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtOperativoe" name="txtOperativoe" placeholder="Operativo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Existencia" class="col-3 col-form-label">Existencia</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtExistenciae" name="txtExistenciae" placeholder="Existencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeOperatividad" class="col-3 col-form-label">Porcentaje Operatividad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPorcentajeOperatividade" name="txtPorcentajeOperatividade" placeholder="Porcentaje Operatividad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="PorcentajeFuncional" class="col-3 col-form-label">Ponderado Funcional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPonderadoFuncionale" name="txtPonderadoFuncionale" placeholder="Porcentaje Funcional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NivelAlistamientoParcial" class="col-3 col-form-label">Nivel De Alistamiento Parcial</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNivelAlistamientoParciale" name="txtNivelAlistamientoParciale" placeholder="Nivel de Alistamiento Parcial" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/Combima1AlistamientoMaterial">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/Combima1AlistamientoMaterial" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaCombima1AlistamientoMaterial()" />
    <div class="row align-items-start">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <table class="table table-striped" id="tblCombima1AlistamientoMaterial" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Capacidad Operativa</th>
                <th>Material Requerido 3N</th>
                <th>Requerido</th>
                <th>Operativo</th>
                <th>Existencia</th>
                <th>Porcentaje Operatividad</th>
                <th>Ponderado Funcional</th>
                <th>Nivel De Alistamiento Parcial</th>
                <th>Código Carga</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/combima1/combima1-alistamientomaterial.js" asp-append-version="true"></script>
}
