@{
    ViewData["Title"] = "Servicio Alimentacion Comestre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComestreServicioAlimentacionComestre/Individual" style="text-decoration:none;">Servicio de Alimentacion</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Racion" class="col-3 col-form-label">Numero de Raciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRacion" name="txtRacion" placeholder="Numero de Raciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMes" name="cbMes"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Periodo" class="col-3 col-form-label">Periodo Dias</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPeriodo" name="txtPeriodo" placeholder="Periodo Dias" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependencia" name="cbDependencia"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Persube" class="col-3 col-form-label">Persube</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersube" name="txtPersube" placeholder="Persube" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Persuba" class="col-3 col-form-label">Persuba</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersuba" name="txtPersuba" placeholder="Persuba" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Permar" class="col-3 col-form-label">Permar</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPermar" name="txtPermar" placeholder="Permar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vacacion" class="col-3 col-form-label">Vacaciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtVacacion" name="txtVacacion" placeholder="Vacaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Habiles" class="col-3 col-form-label">Total Personal Dias Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHabiles" name="txtHabiles" placeholder="Total Personal Dias Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NoHabiles" class="col-3 col-form-label">Total Personal Dias No Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNoHabiles" name="txtNoHabiles" placeholder="Total Personal Dias No Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiaHabi" class="col-3 col-form-label">Dias Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiaHabi" name="txtDiaHabi" placeholder="Dias Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiaNoHabi" class="col-3 col-form-label">Dias No Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiaNoHabi" name="txtDiaNoHabi" placeholder="Dias No Habiles" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreServicioAlimentacionComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="" class="col-3 col-form-label"><a href="~/"></a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbe" name="cbe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Racion" class="col-3 col-form-label">Numero de Raciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtRacione" name="txtRacione" placeholder="Numero de Raciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Mes" class="col-3 col-form-label"><a href="~/Mes">Mes</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbMese" name="cbMese"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Periodo" class="col-3 col-form-label">Periodo Dias</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPeriodoe" name="txtPeriodoe" placeholder="Periodo Dias" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Dependencia" class="col-3 col-form-label"><a href="~/Dependencia">Dependencia</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbDependenciae" name="cbDependenciae"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Persube" class="col-3 col-form-label">Persube</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersubee" name="txtPersubee" placeholder="Persube" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Persuba" class="col-3 col-form-label">Persuba</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPersubae" name="txtPersubae" placeholder="Persuba" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Permar" class="col-3 col-form-label">Permar</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtPermare" name="txtPermare" placeholder="Permar" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vacacion" class="col-3 col-form-label">Vacaciones</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtVacacione" name="txtVacacione" placeholder="Vacaciones" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Habiles" class="col-3 col-form-label">Total Personal Dias Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtHabilese" name="txtHabilese" placeholder="Total Personal Dias Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NoHabiles" class="col-3 col-form-label">Total Personal Dias No Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtNoHabilese" name="txtNoHabilese" placeholder="Total Personal Dias No Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiaHabi" class="col-3 col-form-label">Dias Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiaHabie" name="txtDiaHabie" placeholder="Dias Habiles" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DiaNoHabi" class="col-3 col-form-label">Dias No Habiles</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDiaNoHabie" name="txtDiaNoHabie" placeholder="Dias No Habiles" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreServicioAlimentacionComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComestreServicioAlimentacionComestre()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComestreServicioAlimentacionComestre">Masiva</a>
            <a class="dropdown-item" href="~/ComestreServicioAlimentacionComestre/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComestreServicioAlimentacionComestre" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Numero de Raciones</th>
                <th>Mes</th>
                <th>Periodo Dias</th>
                <th>Dependencia</th>
                <th>Persube</th>
                <th>Persuba</th>
                <th>Permar</th>
                <th>Vacaciones</th>
                <th>Total Personal Dias Habiles</th>
                <th>Total Personal Dias No Habiles</th>
                <th>Dias Habiles</th>
                <th>Dias No Habiles</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comestre/comestre-servicioalimentacioncomestre.js" asp-append-version="true"></script>
}
