@{
    ViewData["Title"] = "Evaluacion Alistamiento Personal Comestre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><a href="~/ComestreEvaluacionAlistamientoPersonalComestre/Individual" style="text-decoration:none;">Evaluacion del Alistamiento de Personal</a></h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidad" name="cbUnidad"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNI" name="txtDNI" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIP" name="txtCIP" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargo" name="txtCargo" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEsperado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEsperado" name="cbGradoEsperado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadEsperado" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadEsperado" name="cbEspecialidadEsperado"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoActual" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoActual" name="cbGradoActual"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadActual" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadActual" name="cbEspecialidadActual"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Jerarquico" class="col-3 col-form-label">Grado Jerarquico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtJerarquico" name="txtJerarquico" placeholder="Grado Jerarquico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicio" class="col-3 col-form-label">Servicio o Experiencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtServicio" name="txtServicio" placeholder="Servicio o Experiencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especializacion" class="col-3 col-form-label">Especializacion Profesional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecializacion" name="txtEspecializacion" placeholder="Especializacion Profesional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vigencia" class="col-3 col-form-label">Cursos Profesionales Requeridos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVigencia" name="txtVigencia" placeholder="Cursos Profesionales Requeridos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Puntaje" class="col-3 col-form-label">Puntaje Total Personal Evaluado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPuntaje" name="txtPuntaje" placeholder="Puntaje Total Personal Evaluado" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreEvaluacionAlistamientoPersonalComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="Unidad" class="col-3 col-form-label"><a href="~/UnidadNaval">Unidad</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbUnidade" name="cbUnidade"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Fecha" class="col-3 col-form-label">Fecha</label>
                    <div class="col-md-9">
                        <input type="date" class="form-control form-control-sm" id="txtFechae" name="txtFechae" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNI" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtDNIe" name="txtDNIe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIP" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control form-control-sm" id="txtCIPe" name="txtCIPe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Cargo" class="col-3 col-form-label">Cargo</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCargoe" name="txtCargoe" placeholder="Cargo" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoEsperado" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoEsperadoe" name="cbGradoEsperadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadEsperado" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad Esperado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadEsperadoe" name="cbEspecialidadEsperadoe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoActual" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoActuale" name="cbGradoActuale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EspecialidadActual" class="col-3 col-form-label"><a href="~/EspecialidadGenericaPersonal">Especialidad Actual</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEspecialidadActuale" name="cbEspecialidadActuale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Jerarquico" class="col-3 col-form-label">Grado Jerarquico</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtJerarquicoe" name="txtJerarquicoe" placeholder="Grado Jerarquico" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Servicio" class="col-3 col-form-label">Servicio o Experiencia</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtServicioe" name="txtServicioe" placeholder="Servicio o Experiencia" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especializacion" class="col-3 col-form-label">Especializacion Profesional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecializacione" name="txtEspecializacione" placeholder="Especializacion Profesional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Vigencia" class="col-3 col-form-label">Cursos Profesionales Requeridos</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtVigenciae" name="txtVigenciae" placeholder="Cursos Profesionales Requeridos" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Puntaje" class="col-3 col-form-label">Puntaje Total Personal Evaluado</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtPuntajee" name="txtPuntajee" placeholder="Puntaje Total Personal Evaluado" required>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/ComestreEvaluacionAlistamientoPersonalComestre">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaComestreEvaluacionAlistamientoPersonalComestre()" />
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modos de Carga :
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="~/ComestreEvaluacionAlistamientoPersonalComestre">Masiva</a>
            <a class="dropdown-item" href="~/ComestreEvaluacionAlistamientoPersonalComestre/Individual">Individual</a>
        </div>
    </div>
    <table class="table table-striped" id="tblComestreEvaluacionAlistamientoPersonalComestre" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Unidad</th>
                <th>Fecha</th>
                <th>DNI</th>
                <th>CIP</th>
                <th>Cargo</th>
                <th>Grado Esperado</th>
                <th>Especialidad Esperado</th>
                <th>Grado Actual</th>
                <th>Especialidad Actual</th>
                <th>Grado Jerarquico</th>
                <th>Servicio o Experiencia</th>
                <th>Especializacion Profesional</th>
                <th>Cursos Profesionales Requeridos</th>
                <th>Puntaje Total Personal Evaluado</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/comestre/comestre-evaluacionalistamientopersonalcomestre.js" asp-append-version="true"></script>
}
