@{
    ViewData["Title"] = "RegistroPersonalSaludEstablecimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <a href="~/DisamarRegistroPersonalSaludEstablecimiento/Individual" style="text-decoration:none;">
        Registro del Personal de la Salud de los Establecimientos de Salud
    </a>
</h1>
<div id="nuevo" style="display:none;">
    <form class="needs-validation" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Nuevo</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <select class="form-select form-control-sm" id="cargasR" name="cargasR"></select>
                </div>
                <div class="col-sm-2">
                    <input type="date" class="form-control form-control-sm" id="txtFecha" name="txtFecha" required>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ApellidosNombresPersonalMedico" class="col-3 col-form-label">Apellidos Y Nombres</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtApellidosNombresPersonalMedico" name="txtApellidosNombresPersonalMedico" placeholder="Apellidos Y Nombres" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonalMedico" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPPersonalMedico" name="txtCIPPersonalMedico" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalMedico" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalMedico" name="txtDNIPersonalMedico" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label">Tipo Personal</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoPersonal" name="txtTipoPersonal">
                            <option value="1">Militar</option>
                            <option value="2">Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitar" name="cbGradoPersonalMilitar"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreColegioProfesional" class="col-3 col-form-label">Nombre de colegio profesional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreColegioProfesional" name="txtNombreColegioProfesional" placeholder="Nombre de colegio profesional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroColegiatura" class="col-3 col-form-label">Número de colegiatura</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroColegiatura" name="txtNumeroColegiatura" placeholder="Número de colegiatura" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especialidad" class="col-3 col-form-label">Especialidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidad" name="txtEspecialidad" placeholder="Especialidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Nombre de establecimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGP" name="cbEstablecimientoSaludMGP"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboral">Condición laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionLaboral" name="cbCondicionLaboral"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoLaborRealizar" class="col-3 col-form-label">Tipo de labor a realizar</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoLaborRealizar" name="txtTipoLaborRealizar">
                            <option value="A">Asistencial</option>
                            <option value="B">Administrativa</option>
                            <option value="C">Asistencial y Administrativa</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroPersonalSaludEstablecimiento">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="editar" style="display:none;">
    <form class="form-actualizacion" novalidate style="font-family: 'Century Gothic'; font-size:14px;">
        <input type="hidden" id="txtCodigo" />
        <div class="card" style="width: 100%;">
            <div class="card-header nuevo">
                <h4>Editar</h4>
            </div>
            <div class="row mt-2">
                <div class="form-group row col-md-6">
                    <label for="ApellidosNombresPersonalMedico" class="col-3 col-form-label">Apellidos Y Nombres</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtApellidosNombresPersonalMedicoe" name="txtApellidosNombresPersonalMedicoe" placeholder="Apellidos Y Nombres" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CIPPersonalMedico" class="col-3 col-form-label">CIP</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtCIPPersonalMedicoe" name="txtCIPPersonalMedicoe" placeholder="CIP" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="DNIPersonalMedico" class="col-3 col-form-label">DNI</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtDNIPersonalMedicoe" name="txtDNIPersonalMedicoe" placeholder="DNI" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoPersonal" class="col-3 col-form-label">Tipo Personal</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoPersonale" name="txtTipoPersonale">
                            <option value="1">Militar</option>
                            <option value="2">Civil</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="GradoPersonalMilitar" class="col-3 col-form-label"><a href="~/GradoPersonalMilitar">Grado</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbGradoPersonalMilitare" name="cbGradoPersonalMilitare"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NombreColegioProfesional" class="col-3 col-form-label">Nombre de colegio profesional</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNombreColegioProfesionale" name="txtNombreColegioProfesionale" placeholder="Nombre de colegio profesional" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="NumeroColegiatura" class="col-3 col-form-label">Número de colegiatura</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtNumeroColegiaturae" name="txtNumeroColegiaturae" placeholder="Número de colegiatura" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="Especialidad" class="col-3 col-form-label">Especialidad</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" id="txtEspecialidade" name="txtEspecialidade" placeholder="Especialidad" required>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="EstablecimientoSaludMGP" class="col-3 col-form-label"><a href="~/EstablecimientoSaludMGP">Nombre de establecimiento</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbEstablecimientoSaludMGPe" name="cbEstablecimientoSaludMGPe"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="CondicionLaboral" class="col-3 col-form-label"><a href="~/CondicionLaboral">Condición laboral</a></label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="cbCondicionLaborale" name="cbCondicionLaborale"></select>
                    </div>
                </div>
                <div class="form-group row col-md-6">
                    <label for="TipoLaborRealizar" class="col-3 col-form-label">Tipo de labor a realizar</label>
                    <div class="col-md-9">
                        <select class="form-control form-select-sm" id="txtTipoLaborRealizare" name="txtTipoLaborRealizare">
                            <option value="A">Asistencial</option>
                            <option value="B">Administrativa</option>
                            <option value="C">Asistencial y Administrativa</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-md-6 text-center">
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-danger" href="~/DisamarRegistroPersonalSaludEstablecimiento/Individual">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
    <div class="loader" id="loader-6" style="display:none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div id="listar" style="overflow:scroll">
    <p><a href="~/DisamarRegistroPersonalSaludEstablecimiento" class="btn btn-primary">Ir Carga Masiva</a></p>
    <input type="button" value="NUEVO REGISTRO" class="nuevo" onclick="nuevaDisamarRegistroPersonalSaludEstablecimiento()" />
    <div class="row align-items-start mb-4">
        <div class="col">
            <select class="form-select form-control-sm" id="cargas" name="cargas"></select>
        </div>
        <div class="col">
            <button class="btn btn-primary" id="btn_search">Buscar</button>
            <button class="btn btn-primary" id="btn_all">Mostrar Todos</button>
            <button class="btn btn-danger" onclick="eliminarCarga()">Eliminar Carga</button>
        </div>
    </div>
    <hr />
    <table class="table table-striped" id="tblDisamarRegistroPersonalSaludEstablecimiento" cellspacing="0" width="100%" style="font-family: Century Gothic; font-size:14px;overflow:scroll">
        <thead>
            <tr class="colorbg">
                <th>Código</th>
                <th>Apellidos Y Nombres</th>
                <th>CIP</th>
                <th>DNI</th>
                <th>Tipo Personal</th>
                <th>Grado</th>
                <th>Nombre de colegio profesional</th>
                <th>Número de colegiatura</th>
                <th>Especialidad</th>
                <th>Código de establecimiento</th>
                <th>Condición laboral</th>
                <th>Tipo de labor a realizar</th>
                <th>Código Cargo</th>
                <th colspan="2" class="text-center">Acciones</th>
                <th class="ocultar"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script src="/js/disamar/disamar-registropersonalsaludestablecimiento.js" asp-append-version="true"></script>
}
